shared/ojb-resources-common/src/main/resources/service-specifications/CJIS_Hawaii_Interface/cjis-hawaii.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net" xmlns:impl="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net" xmlns:intf="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><!--WSDL created by Apache Axis version: 1.2
Built on Nov 14, 2006 (04:15:46 CST)-->
  <wsdl:message name="getHijisRapRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getHijisNameListRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getHijisRapResponse">
    <wsdl:part name="getHijisRapReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getHijisNameListResponse">
    <wsdl:part name="getHijisNameListReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="OBTSSessionBeans_CJISServiceSession3">
    <wsdl:operation name="getHijisNameList" parameterOrder="in0">
      <wsdl:input name="getHijisNameListRequest" message="impl:getHijisNameListRequest"/>
      <wsdl:output name="getHijisNameListResponse" message="impl:getHijisNameListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getHijisRap" parameterOrder="in0">
      <wsdl:input name="getHijisRapRequest" message="impl:getHijisRapRequest"/>
      <wsdl:output name="getHijisRapResponse" message="impl:getHijisRapResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CJISServiceSession3" type="impl:OBTSSessionBeans_CJISServiceSession3">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHijisNameList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getHijisNameListRequest">
        <wsdlsoap:body use="literal" namespace="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net"/>
      </wsdl:input>
      <wsdl:output name="getHijisNameListResponse">
        <wsdlsoap:body use="literal" namespace="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHijisRap">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getHijisRapRequest">
        <wsdlsoap:body use="literal" namespace="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net"/>
      </wsdl:input>
      <wsdl:output name="getHijisRapResponse">
        <wsdlsoap:body use="literal" namespace="http://cjisservicesession3.stateless.session.ejb.obts.isdi.net"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OBTSSessionBeans_CJISServiceSession3">
    <wsdl:port name="OBTSSessionBeans_CJISServiceSession3" binding="impl:CJISServiceSession3">
      <wsdlsoap:address location="tbd"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
