shared/ojb-resources-common/src/main/resources/ssp/Vehicle_Search_Results/artifacts/service_model/information_model/Vehicle_Search_Results_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ojbc.org/IEPD/Extensions/VehicleSearchResults/1.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0"
	xmlns:vsres-ext="http://ojbc.org/IEPD/Extensions/VehicleSearchResults/1.0"
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" elementFormDefault="qualified"
	xmlns:intel="http://niem.gov/niem/domains/intelligence/2.1"
	xmlns:vehicleCodes="http://ojbc.org/IEPD/Extensions/VehicleCodes/1.0"
	xmlns:iad="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" 
	xmlns:srm="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0"
	xmlns:srer="http://ojbc.org/IEPD/Extensions/SearchRequestErrorReporting/1.0">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/VehicleCodes/1.0"
		schemaLocation="vehicle_codes.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/intelligence/2.1"
		schemaLocation="Subset/niem/domains/intelligence/2.1/intelligence.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0" schemaLocation="search-results-metadata.xsd"/>
	<xsd:element name="VehicleSearchResults" type="vsres-ext:VehicleSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A set of details representing returned results
				based on vehicle criteria.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type representing a set of results returned
				based on vehicle criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="vsres-ext:VehicleSearchResult" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A data type representing a set of results returned
				based on vehicle criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="vsres-ext:Vehicle" />
					<xsd:element ref="vsres-ext:SourceSystemNameText" minOccurs="0"/>
				<xsd:element ref="intel:SystemIdentifier" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleSearchResult" type="vsres-ext:VehicleSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A single returned record about a vehicle.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleType">
		<xsd:complexContent>
			<xsd:extension base="nc:VehicleType">
				<xsd:sequence>
					<xsd:element ref="nc:ConveyanceRegistration" minOccurs="0"/>
					<xsd:element ref="vsres-ext:VehicleMakeCode" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Vehicle" type="vsres-ext:VehicleType">
		<xsd:annotation>
			<xsd:documentation>
				A vehicle.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleMakeCode" type="vehicleCodes:VehicleMakeCodeType">
		<xsd:annotation>
			<xsd:documentation>A range of dates for a given vehicle.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>