shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Filing_Service/artifacts/service_model/information_model/Court_Case_Filing-IEPD/xsd/casetype/ECF-4.0-CitationCase-110609.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CitationCase-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CitationCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>CitationCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:complexType name="SubjectType">
		<xsd:annotation>
			<xsd:documentation>Additional information about a person alleged to have violated a statute or ordinance.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ecf:SubjectType">
				<xsd:sequence>
					<xsd:element ref="PersonBloodAlcoholNumber" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CitationCaseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A charge issued by a law enforcement officer for a "violation" requiring the person charged to plead guilty to the charge or to appear in court to contest the charge. A citation is issued in lieu of an arrest and booking. "Violations" are a subset of "charges" for which a law enforcement officer is authorized to issue a citation in lieu of arrest and booking. Examples: traffic ticket, parking ticket or ticket issued for some other ordinance violation such as barking dog or illegal dumping. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Citation"/>
					<xsd:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ViolatedStatuteAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:CourtAppearance" minOccurs="0"/>
					<xsd:element ref="CitationSubject" minOccurs="0"/>
					<xsd:element ref="Vehicle" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:choice minOccurs="0">
						<xsd:element ref="DrivingIncident"/>
						<xsd:element ref="ParkingViolation"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CitationCaseType">
		<xsd:annotation>
			<xsd:documentation>A charge issued by a law enforcement officer for a "violation" requiring the person charged to plead guilty to the charge or to appear in court to contest the charge. A citation is issued in lieu of an arrest and booking. "Violations" are a subset of "charges" for which a law enforcement officer is authorized to issue a citation in lieu of arrest and booking. Examples: traffic ticket, parking ticket or ticket issued for some other ordinance violation such as barking dog or illegal dumping. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="CitationCaseAugmentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DrivingIncidentType">
		<xsd:annotation>
			<xsd:documentation>The incident from which a traffic ticket arose..</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:DrivingIncidentType">
				<xsd:sequence>
					<xsd:element ref="j:IncidentAugmentation" minOccurs="0"/>
					<xsd:element ref="nc:IncidentVehicleAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="RedLightCameraIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParkingViolationType">
		<xsd:annotation>
			<xsd:documentation>Information about a parking violation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="j:IncidentAugmentation" minOccurs="0"/>
					<xsd:element ref="nc:IncidentVehicleAssociation" minOccurs="0"/>
					<xsd:element ref="ParkingFacilityName" minOccurs="0"/>
					<xsd:element ref="ParkingMeterSpaceNumber" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleType">
		<xsd:annotation>
			<xsd:documentation>Information describing a motor vehicle.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:VehicleType">
				<xsd:sequence>
					<xsd:element ref="VehicleOwnerInsuranceCoverage" minOccurs="0"/>
					<xsd:element ref="VehicleOperatorInsuranceCoverage" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CitationCaseAugmentation" type="CitationCaseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A charge issued by a law enforcement officer for a "violation" requiring the person charged to plead guilty to the charge or to appear in court to contest the charge. A citation is issued in lieu of an arrest and booking. "Violations" are a subset of "charges" for which a law enforcement officer is authorized to issue a citation in lieu of arrest and booking. Examples: traffic ticket, parking ticket or ticket issued for some other ordinance violation such as barking dog or illegal dumping. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitationCase" type="CitationCaseType" substitutionGroup="nc:Case">
		<xsd:annotation>
			<xsd:documentation>A charge issued by a law enforcement officer for a "violation" requiring the person charged to plead guilty to the charge or to appear in court to contest the charge. A citation is issued in lieu of an arrest and booking. "Violations" are a subset of "charges" for which a law enforcement officer is authorized to issue a citation in lieu of arrest and booking. Examples: traffic ticket, parking ticket or ticket issued for some other ordinance violation such as barking dog or illegal dumping. </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitationSubject" type="SubjectType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:info>
					<i:Base i:namespace="http://www.it.ojp.gov/jxdm/3.0.3" i:name="CitationSubject"/>
				</i:info>
			</xsd:appinfo>
			<xsd:documentation>A person named in a citation alleged to have violated a statute or ordinance</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vehicle" type="VehicleType">
		<xsd:annotation>
			<xsd:documentation>Information describing a motor vehicle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DrivingIncident" type="DrivingIncidentType">
		<xsd:annotation>
			<xsd:documentation>The incident from which this traffic ticket arose.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBloodAlcoholNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A blood-alcohol percentage reading from a Blood Alcohol Test (BAC Test). A blank value represents not tested.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParkingFacilityName" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a parking facility/lot..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParkingMeterSpaceNumber" type="nc:NumericType">
		<xsd:annotation>
			<xsd:documentation>An identifier for a parking space or meter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParkingViolation" type="ParkingViolationType">
		<xsd:annotation>
			<xsd:documentation>An identifier for a parking space or meter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RedLightCameraIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>An indicator that a automated camera was used to detect traffic signal violations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleOwnerInsuranceCoverage" type="ecf:InsuranceType">
		<xsd:annotation>
			<xsd:documentation>Information concerning whether an owner of a motor vehicle possesses proof of insurance coverage required by law.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleOperatorInsuranceCoverage" type="ecf:InsuranceType">
		<xsd:annotation>
			<xsd:documentation>Information concerning whether a driver of a motor vehicle possesses proof of insurance coverage required by law.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
