shared/ojb-resources-common/src/main/resources/service-specifications/Arrest_Reporting_Service/artifacts/service_model/information_model/Arrest_Report_IEPD/xsd/extension_schema/access-denial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" xmlns:iad="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:s="http://niem.gov/niem/structures/2.0"
	xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" elementFormDefault="qualified">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="../NIEM_2.0/niem-core/2.0/niem-core.xsd" />
		<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="../NIEM_2.0/structures/2.0/structures.xsd" />
		<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../NIEM_2.0/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:element name="InformationAccessDenial" type="iad:InformationAccessDenialType">
		<xsd:annotation>
			<xsd:documentation>An explanation of a persons inability to access
				requested information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InformationAccessDenialType">
		<xsd:annotation>
			<xsd:documentation>A data type for an explanation of a persons
				inability to access requested information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="iad:InformationAccessDenialIndicator" />
					<xsd:element ref="iad:InformationAccessDenyingSystemNameText" />
					<xsd:element ref="iad:InformationAccessDenialReasonText"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="InformationAccessDenialIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a user request access to a system is
				denied access, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InformationAccessDenyingSystemNameText"
		type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the system that has denied access.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InformationAccessDenialReasonText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>An explanation about why access was denied.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>