shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Filing/artifacts/service_model/information_model/IEPD/xsd/casetype/ECF-4.0-JuvenileCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:JuvenileCase-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:JuvenileCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>JuvenileCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="../common/ECF-4.0-AppInfo.xsd"/>
	<xsd:complexType name="DelinquentActType">
		<xsd:annotation>
			<xsd:documentation>The statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="DelinquentActStatute"/>
					<xsd:element ref="DelinquentActSeverityCode" minOccurs="0"/>
					<xsd:element ref="DelinquentActDegreeCode" minOccurs="0"/>
					<xsd:element ref="DelinquentActApplicabilityCode" minOccurs="0"/>
					<xsd:element ref="DelinquentActSpecialAllegationCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DependencyAllegationType">
		<xsd:annotation>
			<xsd:documentation>The grounds for declaring a minor child to be a ward of the state because of the neglect or abuse of the minor child's parents or guardians.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="DependencyAllegationCode" minOccurs="0"/>
					<xsd:element ref="DependencyAllegationText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GuardianAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the juvenile's parent(s) or guardian(s).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:GuardianAssociationType">
				<xsd:sequence>
					<xsd:element ref="GuardianAssociationTypeCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JuvenileCaseType">
		<xsd:annotation>
			<xsd:documentation>A delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="JuvenileCaseJuvenile"/>
					<xsd:element ref="CaseArrest" minOccurs="0"/>
					<xsd:element ref="DependencyAllegation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="DelinquentAct"/>
						<xsd:element ref="StatusOffenseAct"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JuvenileType">
		<xsd:annotation>
			<xsd:documentation>A minor who is the subject of a delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ecf:SubjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonGangAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:RegisteredSexOffender" minOccurs="0"/>
					<xsd:element ref="GuardianAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PersonEmancipatedIndicator"/>
					<xsd:element ref="PlacementAssociation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PlacementAssociationType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization orther than parent or guardian with whom the juvenile lives. Examples: Foster home, foster parents, state institution, hospital, shelter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="PlacementTypeCode" minOccurs="0"/>
					<xsd:element ref="PlacementStartDate" minOccurs="0"/>
					<xsd:element ref="PlacementEntity" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusOffenseActType">
		<xsd:annotation>
			<xsd:documentation>An act or behavior that would not constitute a crime if committed by an adult, which will subject a juvenile to adjudication as a delinquent by a court. Examples include truancy and refusal to abide by a parent's orders or direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="StatusOffenseActStatute"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseArrest" type="j:ArrestType">
		<xsd:annotation>
			<xsd:documentation>Arrest of a minor for commission of an act subjecting the minor to adjudication as a delinquent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentAct" type="DelinquentActType">
		<xsd:annotation>
			<xsd:documentation>An action or behavior of a juvenile that makes the juvenile potentially subject to adjudication by the juvenile court as a delinquent. The statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActStatute" type="j:StatuteType">
		<xsd:annotation>
			<xsd:documentation>Code designating the statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActSeverityCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code identifying the level of the offense as defined in state law. Allowable values set forth in Court Policy. Example: Felony, Misdemeanor, Infraction, Ordinance Violation.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActDegreeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the degree of an offense as defined in state law. Allowable values set forth in Court Policy. Examples: First Degree Murder, Felony Type A/B/C.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActApplicabilityCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the general category of the offense as set forth in state law. Allowable values set forth in Court Policy. Examples: Attempt, Conspiracy, Accessory before the fact, Accessory after the fact. </xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DelinquentActSpecialAllegationCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the existence of a factor that, under state law, heightens the seriousness of the charge and would subject an adult to increase punishment. Allowable values set forth in Court Policy. Examples: Use of deadly weapon, use of gun.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegation" type="DependencyAllegationType">
		<xsd:annotation>
			<xsd:documentation>The grounds for declaring a minor child to be a ward of the state because of the neglect or abuse of the minor child's parents or guardians.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegationCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code identifying a specific ground sufficient in law for declaring the minor child a ward of the state. Allowable values set forth in Court Policy. </xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependencyAllegationText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Legal term used to describe the ground on which the minor child can be declared a ward of the state.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GuardianAssociation" type="GuardianAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the juvenile's parent(s) or guardian(s).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GuardianAssociationTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code describing the parent or guardian's relationship to the juvenile. Allowable values are set forth in court filing policy. Examples: Father, Mother, Guardian</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:GuardianAssociationTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:GuardianAssociationTypeCode-4.0" a:LocationURI="../../gc/ECF-4.0-GuardianAssociationTypeCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileCase" type="JuvenileCaseType">
		<xsd:annotation>
			<xsd:documentation>A delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileCaseJuvenile" type="JuvenileType">
		<xsd:annotation>
			<xsd:documentation>The minor who is the subject of this delinquency or dependency case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEmancipatedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicator whether a minor has been adjudicated an emancipated person by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementAssociation" type="PlacementAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization with whom the juvenile lives.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementEntity" type="nc:EntityType">
		<xsd:annotation>
			<xsd:documentation>Information about the person or organization with whom the juvenile lives.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the type of placement. Allowable values set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlacementStartDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date on which the placement commenced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusOffenseAct" type="StatusOffenseActType">
		<xsd:annotation>
			<xsd:documentation>An action or behavior of a juvenile that makes the juvenile potentially subject to adjudication by the juvenile court as a delinquent. but would not constitute a crime if committed by an adult.  Examples include truancy and refusal to abide by a parent's orders or direction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusOffenseActStatute" type="j:StatuteType">
		<xsd:annotation>
			<xsd:documentation>Code designating the statutory or ordinance section, the violation of which would not constitute a crime if committed by an adult (only if a juvenile).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectICEIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>Identifier assigned by the Immigration and Customs Enforcement Bureau of the U.S. Department of Homeland Security.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
