shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Filing/artifacts/service_model/information_model/IEPD/xsd/casetype/ECF-4.0-CivilCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CivilCase-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:fips_10-4="http://niem.gov/niem/fips_10-4/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CivilCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>CivilCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fips_10-4/2.0" schemaLocation="../constraint/niem/fips_10-4/2.0/fips_10-4.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="../common/ECF-4.0-AppInfo.xsd"/>
	<xsd:complexType name="CivilCaseType">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new civil case in a court. "Civil" includes conservatorships, guardianships, mental health and probate.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="ecf:CauseOfActionCode" maxOccurs="unbounded"/>
					<xsd:element ref="AmountInControversy" minOccurs="0"/>
					<xsd:element ref="ClassActionIndicator"/>
					<xsd:element ref="JurisdictionalGroundsCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="JuryDemandIndicator"/>
					<xsd:element ref="ReliefTypeCode" maxOccurs="unbounded"/>
					<xsd:choice minOccurs="0">
						<xsd:element ref="FiduciaryCase"/>
						<xsd:element ref="DecedentEstateCase"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DecedentEstateCaseType">
		<xsd:annotation>
			<xsd:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonFullName"/>
					<xsd:element ref="nc:PersonDeathDate"/>
					<xsd:element ref="WillFilingDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FiduciaryCaseType">
		<xsd:annotation>
			<xsd:documentation>Information about a guardianship, conservatorship, trust, or mental health case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="FiduciaryTypeCode"/>
					<xsd:element ref="PersonFiduciaryAssociationTypeText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonFiduciaryAssociationType">
		<xsd:annotation>
			<xsd:documentation>Description of a person's relationship to the fiduciary (e.g., the initiating party).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonAssociationType">
				<xsd:sequence>
					<xsd:element ref="PersonFiduciaryAssociationTypeText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AmountInControversy" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>The amount set forth in an ad damnum clause in a complaint, counter claim, or cross complaint.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClassActionIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether the filer is requesting that this case proceed as a class action.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CivilCase" type="CivilCaseType" substitutionGroup="nc:Case">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new civil case in a court. "Civil" includes conservatorships, guardianships, mental health and probate.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DecedentEstateCase" type="DecedentEstateCaseType">
		<xsd:annotation>
			<xsd:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FiduciaryCase" type="FiduciaryCaseType">
		<xsd:annotation>
			<xsd:documentation>Information about a guardianship, conservatorship, trust, or mental health case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FiduciaryTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Legal description of the role of the fiduciary. This is needed in addition to the Case Role Code (in the Review Filing message structure) because that code only defines the roles of other actors and other parties; the fiduciary per the specification is the initiating party. Examples: guardian, trustee, conservator of the person, conservator of the estate.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:FiduciaryTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:FiduciaryTypeCode-4.0" a:LocationURI="../../ECF-4.0-FiduciaryTypeCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JurisdictionalGroundsCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The grounds for invoking the jurisdiction of a limited jurisdiction court. Allowed values set forth in Court policy. Not used in general jurisdiction courts.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuryDemandIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether filer invokes the right to trial by jury.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFiduciaryAssociation" type="PersonFiduciaryAssociationType">
		<xsd:annotation>
			<xsd:documentation>Description of this person's relationship to the fiduciary (i.e., the initiating party).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFiduciaryAssociationTypeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of this person's relationship to the fiduciary (i.e., the initiating party).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReliefTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Indicator of the type of relief requested in the case, e.g., damages, equitable relief (injunction). Allowable values defined in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WillFilingDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date on which the deceased person's will was filed in the court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
