shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Filing/artifacts/service_model/information_model/IEPD/xsd/casetype/ECF-4.0-DomesticCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:DomesticCase-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:scr="http://niem.gov/niem/domains/screening/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:DomesticCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>DomesticCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/screening/2.0" schemaLocation="../constraint/niem/domains/screening/2.0/screening.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="../common/ECF-4.0-AppInfo.xsd"/>
	<xsd:complexType name="DomesticCaseType">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new domestic case in a court. "Domestic" includes divorces, legal separations, annulment, child custody and visitation, paternity, child support, and domestic violence cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:CaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="nc:ImmediateFamilyAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ecf:CauseOfActionCode"/>
					<xsd:element ref="CaseContestedIndicator"/>
					<xsd:element ref="DomesticCasePerson" maxOccurs="unbounded"/>
					<xsd:element ref="DomesticCaseViolencePetition" minOccurs="0"/>
					<xsd:element ref="DomesticCaseChildSupportPetition" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DomesticCaseOrder" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="MarriageAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseChildSupportPetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for child support.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ImmediateFamilyAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="JurisdictionReasonText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseObligationType">
		<xsd:annotation>
			<xsd:documentation>A responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ObligationRecurrenceType">
				<xsd:sequence>
					<xsd:element ref="FinancialObligation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseOrderType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a court order in a domestic case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CourtOrderType">
				<xsd:sequence>
					<xsd:element ref="DomesticCaseOrderTypeText" minOccurs="0"/>
					<xsd:element ref="CourtFindingsText" minOccurs="0"/>
					<xsd:element ref="DomesticCaseObligation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomesticCaseViolencePetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for domestic violence restraining or protective order.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="RequestToVacateCode"/>
					<xsd:element ref="RequestToVacateText"/>
					<xsd:element ref="StayawayDistanceText"/>
					<xsd:element ref="NoContactCode"/>
					<xsd:element ref="CustodyDescriptionText"/>
					<xsd:element ref="ChildSupportText"/>
					<xsd:element ref="RespondentDangerAlertIndicator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FinancialObligationType">
		<xsd:annotation>
			<xsd:documentation>A financial responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ObligationType">
				<xsd:sequence>
					<xsd:element ref="ObligationPaymentAmount" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ObligationIncomeAttachedIndicator" minOccurs="0"/>
					<xsd:element ref="ObligationStateDisbursementIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about a marriage, civil domestic union, or other domestic relationship defined by law.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonUnionAssociationType">
				<xsd:sequence>
					<xsd:element ref="scr:MarriageAssociationAugmentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseContestedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether a divorce is contested.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChildSupportText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of temporary child support award that the court is being asked to order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtFindingsText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the findings of the court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustodyDescriptionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of temporary custody award that court is being asked to include in the order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DivorcePendingIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates if there is an ongoing divorce case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseChildSupportPetition" type="DomesticCaseChildSupportPetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a  petition for child support.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseOrder" type="DomesticCaseOrderType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a court order in a domestic case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseOrderTypeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Category of order, including Establish, Modify, Enforce, Modify and Enforce, and Vacate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCase" type="DomesticCaseType" substitutionGroup="nc:Case">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new domestic case in a court. "Domestic" includes divorces, legal separations, annulment, child custody and visitation, paternity, child support, and domestic violence cases.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Fingerprint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCasePerson" type="ecf:PersonType">
		<xsd:annotation>
			<xsd:documentation>Information about persons in a domestic case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseViolencePetition" type="DomesticCaseViolencePetitionType">
		<xsd:annotation>
			<xsd:documentation>Information concerning a petition for domestic violence restraining or protective order</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DomesticCaseObligation" type="DomesticCaseObligationType">
		<xsd:annotation>
			<xsd:documentation>A responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FinancialObligation" type="FinancialObligationType">
		<xsd:annotation>
			<xsd:documentation>A financial responsibility of a party in a case ordered by a court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JurisdictionReasonText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Text that extablishes jurisdiction to award custody in a case (e.g. addresses of petitioner and child for the last five years, identification of related and ongoing cases, the home state of the child, and who has current custody).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MarriageAssociation" type="MarriageAssociationType">
		<xsd:annotation>
			<xsd:documentation>Information about a marriage, civil domestic union, or other domestic relationship defined by law.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NoContactCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Means of communication with initiating party that the court is being asked to prohibit. Allowed values to be set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NoContactCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NoContactCode-4.0" a:LocationURI="../../gc/ECF-4.0-NoContactCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationIncomeAttachedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the responsible party's income should be attached.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationPaymentAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>An amount owed each payment period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ObligationStateDisbursementIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the obligation will be collected and disbursed by a state agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestToVacateCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Designation of place that abuser will be ordered to vacate. Allowable values to be set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestToVacateText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Open text designation of place that abuser will be ordered to vacate. This should contain a description of the place, and its location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RespondentDangerAlertIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Whether the person against whom a proposed order would be entered should be considered a danger to others, including law enforcement officers responding to a domestic disturbance call.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StayawayDistanceText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Description of the distance abuser must maintain from abused person(s).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
