shared/ojb-resources-common/src/main/resources/service-specifications/Access_Control_Response_Service/artifacts/service_model/information_model/Access_Control_Response_IEPD/xsd/access-control-request-error-reporting.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:acrer="http://ojbc.org/IEPD/Extensions/AccessControlRequestErrorReporting/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:exchange="http://ojbc.org/IEPD/Extensions/AccessControlRequestErrorReporting/1.0" xmlns:ext="http://ojbc.org/IEPD/Extensions/AccessControlResponse/1.0" targetNamespace="http://ojbc.org/IEPD/Extensions/AccessControlRequestErrorReporting/1.0">
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/AccessControlResponse/1.0" schemaLocation="./extension_schema.xsd"/>
	<xsd:complexType name="AccessControlRequestErrorType">
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="acrer:ErrorText" minOccurs="0"/>
					<xsd:element ref="nc:SystemName" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessControlRequestError" type="acrer:AccessControlRequestErrorType"/>
	<xsd:element name="ErrorText" type="nc:TextType"/>
</xsd:schema>
