shared/ojb-resources-common/src/main/resources/service-specifications/Probation_Event_Handler_Service/schema/SIP_WS_1.2/Probation_Event_Handler_Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:pci="http://ojbc.org/IEPD/Exchange/ProbationCaseInitiation/1.0"
	xmlns:pct="http://ojbc.org/IEPD/Exchange/ProbationCaseTermination/1.0" 
	xmlns:pcoc="http://ojbc.org/IEPD/Exchange/ProbationCaseOfficerChange/1.0" 
	xmlns:tns="http://ojbc.org/Services/WSDL/Probation_Event_Handler_Service/1.0" 
	targetNamespace="http://ojbc.org/Services/WSDL/Probation_Event_Handler_Service/1.0">
    <wsdl:types>
        <xsd:schema>
        	<xsd:import namespace="http://ojbc.org/IEPD/Exchange/ProbationCaseInitiation/1.0" schemaLocation="../../artifacts/service_model/information_model/Probation_Case-IEPD/xsd/Probation_Case_Initiation.xsd"/>
            <xsd:import namespace="http://ojbc.org/IEPD/Exchange/ProbationCaseTermination/1.0" schemaLocation="../../artifacts/service_model/information_model/Probation_Case-IEPD/xsd/Probation_Case_Termination.xsd"/>
            <xsd:import namespace="http://ojbc.org/IEPD/Exchange/ProbationCaseOfficerChange/1.0" schemaLocation="../../artifacts/service_model/information_model/Probation_Case-IEPD/xsd/Probation_Officer_Change.xsd"/>
        </xsd:schema>
 	</wsdl:types>
    <wsdl:message name="Probation-Case-Initiation">
        <wsdl:part name="Probation-Case-Initiation-Message" element="pci:ProbationCaseInitiation"/>
    </wsdl:message>
    <wsdl:message name="Probation-Officer-Change">
        <wsdl:part name="Probation-Officer-Change-Message" element="pcoc:ProbationCaseOfficerChange"/>
    </wsdl:message>
    <wsdl:message name="Probation-Case-Termination">
        <wsdl:part name="Probation-Case-Termination-Message" element="pct:ProbationCaseTermination"/>
    </wsdl:message>
    <wsdl:portType name="Probation-Event-Handler-Service">
        <wsdl:operation name="Report-Probation-Case-Initiation">
            <wsdl:input name="Probation-Case-Initiation-Message" message="tns:Probation-Case-Initiation"/>
        </wsdl:operation>
        <wsdl:operation name="Report-Probation-Officer-Change">
            <wsdl:input name="Probation-Officer-Change-Message" message="tns:Probation-Officer-Change"/>
        </wsdl:operation>
        <wsdl:operation name="Report-Probation-Case-Termination">
            <wsdl:input name="Probation-Case-Termination-Message" message="tns:Probation-Case-Termination"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Probation-Event-Handler-ServiceSOAPBinding" type="tns:Probation-Event-Handler-Service">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Report-Probation-Case-Initiation">
            <soap:operation soapAction="Report-Probation-Case-Initiation" style="document"/>
            <wsdl:input name="Probation-Case-Initiation-Message">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Report-Probation-Officer-Change">
            <soap:operation soapAction="Report-Probation-Officer-Change" style="document"/>
            <wsdl:input name="Probation-Officer-Change-Message">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Report-Probation-Case-Termination">
            <soap:operation soapAction="Report-Probation-Case-Termination" style="document"/>
            <wsdl:input name="Probation-Case-Termination-Message">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Probation-Event-Handler-ServiceService">
        <wsdl:port name="Probation-Event-Handler-Service" binding="tns:Probation-Event-Handler-ServiceSOAPBinding">
            <soap:address location="localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>