shared/ojb-resources-common/src/main/resources/service-specifications/Criminal_History_Query_Results_Service/artifacts/service_model/information_model/Criminal_History-IEPD/Criminal_History-IEPD/xsd/NIEM_2.1/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ansi-nist="http://niem.gov/niem/ansi-nist/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/ansi-nist/2.0" schemaLocation="../../ansi-nist/2.0/ansi-nist.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/usps_states/2.0" schemaLocation="../../usps_states/2.0/usps_states.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../fbi/2.0/fbi.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/unece_rec20-misc/2.0" schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd"/>
	<xsd:complexType name="ActivityOrganizationAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActivityType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityDisposition" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:BinaryAvailableIndicator" minOccurs="0"/>
					<xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryCaptureDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryCapturer" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryFormatID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryLocationURI" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinarySizeValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BinaryCategoryText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BiometricType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:BiometricValueText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BiometricEncodingMethodText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BiometricDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BiometricImage" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BiometricCapturer" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:BiometricCaptureDate" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseType">
		<xsd:annotation>
			<xsd:documentation>A data type for an aggregation of information about a set of related activities and events.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DNALocusType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DNALocusCategoryText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:DNALocusValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DNAType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DisciplinaryActionType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="nc:DisciplinaryActionRestitution" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DispositionType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:DispositionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DriverLicenseBaseType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DriverLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DriverLicenseType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="DriverLicenseBaseType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DriverLicenseBaseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EntityType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FingerprintSetType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:Fingerprint" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FullTelephoneNumberType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ImageType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="BinaryType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BinaryType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JurisdictionType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LengthMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of length.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType">
				<xsd:sequence>
					<xsd:element ref="nc:LengthUnitCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationContactInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure point value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
				<xsd:attribute ref="nc:pointValueMargin" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MedicalConditionType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MedicalConditionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MetadataType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:MetadataType">
				<xsd:sequence>
					<xsd:element ref="nc:CommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ReportedDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ReportingOrganizationText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:SourceIDText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="NonNegativeDecimalSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NonNegativeDecimalType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:NonNegativeDecimalSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ObligationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ObligationTotal" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationAbbreviationText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationSubUnitName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonEmploymentAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:EmployeeReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:Employer" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:EmployeeOccupation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:EmploymentLocationReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonLocationAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonResidenceAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PersonLocationAssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonLocationAssociationType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonBloodType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonDeathDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonLivingIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonMaritalStatusText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonMedicalCondition" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonReligionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSkinTone" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PhysicalFeatureType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PhysicalFeatureDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PhysicalFeatureImage" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PhysicalFeatureLocationText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ReleaseType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StreetType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SupervisionType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:SupervisionCustodyStatus" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:SupervisionRelease" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:SupervisionSupervisor" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="WeightMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType">
				<xsd:sequence>
					<xsd:element ref="nc:WeightUnitCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:attribute name="pointValueMargin" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>A margin of error of a measurement point value.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="ActivityReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityCategoryText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ActivityDateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityDateRepresentation" abstract="true"/>
	<xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ActivityDisposition" type="nc:DispositionType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A result or outcome of an activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true"/>
	<xsd:element name="AddressDeliveryPoint" abstract="true"/>
	<xsd:element name="AddressDeliveryPointText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressRepresentation" abstract="true"/>
	<xsd:element name="AddressSecondaryUnitText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryAvailableIndicator" type="niem-xsd:boolean" nillable="true"/>
	<xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="BinaryObject"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryCaptureDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="BinaryCapturer" type="nc:EntityType" nillable="true"/>
	<xsd:element name="BinaryCategoryText" type="nc:TextType" nillable="true"/>
	<xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="BinaryFormatID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="BinaryLocationURI" type="niem-xsd:anyURI" nillable="true"/>
	<xsd:element name="BinaryObject" abstract="true"/>
	<xsd:element name="BinarySizeValue" type="nc:NonNegativeDecimalType" nillable="true"/>
	<xsd:element name="Biometric" type="nc:BiometricType" nillable="true"/>
	<xsd:element name="BiometricCaptureDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="BiometricCapturer" type="nc:EntityType" nillable="true"/>
	<xsd:element name="BiometricDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="BiometricEncodingMethodText" type="nc:TextType" nillable="true"/>
	<xsd:element name="BiometricImage" type="nc:ImageType" nillable="true"/>
	<xsd:element name="BiometricValueText" type="nc:TextType" nillable="true"/>
	<xsd:element name="CaveatText" type="nc:TextType" nillable="true"/>
	<xsd:element name="CommentText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactEntity" type="nc:EntityType" nillable="true"/>
	<xsd:element name="ContactFaxNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactTelephoneNumber" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ContactTelephoneNumber"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ContactMeans" abstract="true"/>
	<xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DNALocusCategoryText" type="nc:TextType" nillable="true"/>
	<xsd:element name="DNALocusValue" type="nc:TextType" nillable="true"/>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true"/>
	<xsd:element name="DisciplinaryActionRestitution" type="nc:ObligationType" nillable="true"/>
	<xsd:element name="DispositionDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="DispositionDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="DriverLicense" type="nc:DriverLicenseType" nillable="true"/>
	<xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="EmployeeReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeOccupation" abstract="true"/>
	<xsd:element name="EmployeeOccupationText" type="nc:TextType" substitutionGroup="nc:EmployeeOccupation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="EmployeeOccupation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Employer" type="nc:EntityType" nillable="true"/>
	<xsd:element name="EmploymentLocationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="LocationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityOrganizationReference" type="s:ReferenceType" substitutionGroup="nc:EntityRepresentation">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityRepresentation" abstract="true"/>
	<xsd:element name="Fingerprint" type="ansi-nist:FingerprintType" nillable="true"/>
	<xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationCategory" abstract="true"/>
	<xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="IdentificationJurisdiction" abstract="true"/>
	<xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationJurisdiction"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Incident" type="nc:IncidentType" nillable="true"/>
	<xsd:element name="IncidentEvent" type="nc:ActivityType" nillable="true"/>
	<xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unit of measure of a length value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="LocationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Location" type="nc:LocationType" nillable="true"/>
	<xsd:element name="LocationAddress" type="nc:AddressType" nillable="true"/>
	<xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationContactInformation" type="nc:ContactInformationType" nillable="true"/>
	<xsd:element name="LocationCountry" abstract="true"/>
	<xsd:element name="LocationCountryName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCountry" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCountry"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationCounty" abstract="true"/>
	<xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCounty"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="LocationPostalExtensionCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="LocationState" abstract="true"/>
	<xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureText" type="nc:TextType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true"/>
	<xsd:element name="MedicalConditionDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="MedicalConditionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="Metadata" type="nc:MetadataType" nillable="true"/>
	<xsd:element name="ObligationTotal" abstract="true"/>
	<xsd:element name="ObligationTotalAmount" type="nc:AmountType" substitutionGroup="nc:ObligationTotal" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ObligationTotal"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationAbbreviationText" type="nc:TextType" nillable="true"/>
	<xsd:element name="OrganizationLocation" type="nc:LocationType" nillable="true"/>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true"/>
	<xsd:element name="OrganizationSubUnitName" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Person" type="nc:PersonType" nillable="true"/>
	<xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true"/>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="PersonBirthLocation" type="nc:LocationType" nillable="true"/>
	<xsd:element name="PersonBloodType" abstract="true"/>
	<xsd:element name="PersonCitizenship" abstract="true"/>
	<xsd:element name="PersonCitizenshipText" type="nc:TextType" substitutionGroup="nc:PersonCitizenship" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PersonCitizenship"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonDNA" type="nc:DNAType" nillable="true"/>
	<xsd:element name="PersonDeathDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="PersonDigitalImage" type="nc:ImageType" nillable="true"/>
	<xsd:element name="PersonDigitizedSignatureImage" type="nc:ImageType" nillable="true"/>
	<xsd:element name="PersonEmploymentAssociation" type="nc:PersonEmploymentAssociationType" nillable="true"/>
	<xsd:element name="PersonEthnicity" abstract="true"/>
	<xsd:element name="PersonEyeColor" abstract="true"/>
	<xsd:element name="PersonFingerprintSet" type="nc:FingerprintSetType" nillable="true"/>
	<xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonHairColor" abstract="true"/>
	<xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true"/>
	<xsd:element name="PersonLivingIndicator" type="niem-xsd:boolean" nillable="true"/>
	<xsd:element name="PersonMaritalStatusText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonMedicalCondition" type="nc:MedicalConditionType" nillable="true"/>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true"/>
	<xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true"/>
	<xsd:element name="PersonRace" abstract="true"/>
	<xsd:element name="PersonRaceCode" type="fbi:RACCodeType" substitutionGroup="nc:PersonRace" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonRace"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonReligionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="PersonSex" abstract="true"/>
	<xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSkinTone" abstract="true"/>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true"/>
	<xsd:element name="PhysicalFeatureCategory" abstract="true"/>
	<xsd:element name="PhysicalFeatureCategoryCode" type="fbi:SMTCodeType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PhysicalFeatureCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhysicalFeatureCategoryText" type="nc:TextType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PhysicalFeatureCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhysicalFeatureDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PhysicalFeatureImage" type="nc:ImageType" nillable="true"/>
	<xsd:element name="PhysicalFeatureLocationText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A location of a physical feature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReportedDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="ReportingOrganizationText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true"/>
	<xsd:element name="SourceIDText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StatusDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StreetFullText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupervisionCustodyStatus" type="nc:StatusType" nillable="true"/>
	<xsd:element name="SupervisionRelease" type="nc:ReleaseType" nillable="true"/>
	<xsd:element name="SupervisionSupervisor" type="nc:EntityType" nillable="true"/>
	<xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="TelephoneNumberRepresentation" abstract="true"/>
	<xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="WeightUnitCode" type="unece:MassCodeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unit of measure of the weight value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
