shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Search_Request/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/4.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateRangeType">
    <xs:annotation>
      <xs:documentation>A data type for a range of dates.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:EndDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DispositionType">
    <xs:annotation>
      <xs:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MetadataType">
    <xs:annotation>
      <xs:documentation>A data type for information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:MetadataType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="ActivityDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRange" type="nc:DateRangeType" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A time period measured by a starting and ending point.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disposition" type="nc:DispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or outcome that is the product of handling, processing, or finalizing something.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a disposition occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>An end date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Metadata" type="nc:MetadataType" nillable="true" appinfo:appliesToTypes="structures:AssociationType structures:ObjectType">
    <xs:annotation>
      <xs:documentation>Information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOfAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which something begins.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
