shared/ojb-resources-common/src/main/resources/service-specifications/Firearm_Search_Results_Service/artifacts/service_model/information_model/Firearm_Search_Results_IEPD/xsd/access-denial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" xmlns:iad="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:s="http://niem.gov/niem/structures/2.0"
	xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" elementFormDefault="qualified">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd" />
		<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
		<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="Subset/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:element name="InformationAccessDenial" type="iad:InformationAccessDenialType">
		<xsd:annotation>
			<xsd:documentation>An explanation of a persons inability to access
				requested information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InformationAccessDenialType">
		<xsd:annotation>
			<xsd:documentation>A data type for an explanation of a persons
				inability to access requested information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="iad:InformationAccessDenialIndicator" />
					<xsd:element ref="iad:InformationAccessDenyingSystemNameText" />
					<xsd:element ref="iad:InformationAccessDenialReasonText"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="InformationAccessDenialIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a user request access to a system is
				denied access, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InformationAccessDenyingSystemNameText"
		type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the system that has denied access.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InformationAccessDenialReasonText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>An explanation about why access was denied.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>