shared/ojb-resources-common/src/main/resources/ssp/Firearm_Registration_Query_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd" namespace="http://niem.gov/niem/unece_rec20-misc/2.0"/>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a driver license and a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseBaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization issued to a driver granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a license issued to a person granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseBaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DriverLicenseBaseType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FirearmType">
    <xsd:annotation>
      <xsd:documentation>A data type for a weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:FirearmCategoryCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:FirearmCategoryDescription" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:FirearmBarrelLengthMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:FirearmCaliber" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:FirearmGaugeText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a property item, a registration, and an entity to whom the registration is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemRegistrationReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemRegistrationHolderReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a property item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RegistrationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RegistrationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemSerialIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:LengthUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MetadataType">
    <xsd:annotation>
      <xsd:documentation>A data type for information that further qualifies primary data; data about data.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="MetadataType"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactInformationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonEmploymentAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and an employment.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:EmployeeReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:EmployeeOccupation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonResidenceAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and a location where that person lives.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonLocationAssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonLocationAssociationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonComplexionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StatusDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemModelName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:WeightUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPointText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation">
    <xsd:annotation>
      <xsd:documentation>A complete address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEntity" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity that may be contacted by using the given contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ContactInformationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformation" type="nc:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="DriverLicenseType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicense" type="nc:DriverLicenseType">
    <xsd:annotation>
      <xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a driver license identifier or driver license permit identifier, including the number and state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A person who works for a business or a person.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeContactInformationAssociation" type="nc:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and the business contact information for that person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupationText" type="nc:TextType" substitutionGroup="nc:EmployeeOccupation">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xsd:annotation>
      <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xsd:annotation>
      <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Firearm" type="nc:FirearmType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmBarrelLengthMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the length of the tube of a firearm from which a projectile is expelled.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliber" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliberCode" type="fbi:CALCodeType" substitutionGroup="nc:FirearmCaliber" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCaliber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliberText" type="nc:TextType" substitutionGroup="nc:FirearmCaliber">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCaliber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryCode" type="fbi:TYPCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryDescription" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A description of a kind of firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryDescriptionCode" type="fbi:TYPDescriptionCodeType" substitutionGroup="nc:FirearmCategoryDescription">
    <xsd:annotation>
      <xsd:documentation>A description of a kind of firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCategoryDescription"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmGaugeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A caliber or diameter of the inside of a barrel of a firearm, particularly a shotgun.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or locale which issues an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemModelName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a specific design or kind of item made by a manufacturer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistrationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A registration of an item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemRegistrationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistration" type="nc:ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A registration of an item with an authority.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistrationHolderReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An entity to whom a registration is issued for a property item.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="EntityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemSerialIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification inscribed on or attached to a part, collection of parts, or complete unit by the manufacturer. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of a length value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Location" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureText" type="nc:TextType" substitutionGroup="nc:MeasureValue">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the age of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location where a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenship" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenshipText" type="nc:TextType" substitutionGroup="nc:PersonCitizenship">
    <xsd:annotation>
      <xsd:documentation>A county that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonCitizenship"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonComplexionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An appearance or condition of the skin of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonContactInformationAssociation" type="nc:PersonContactInformationAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEmploymentAssociation" type="nc:PersonEmploymentAssociationType">
    <xsd:annotation>
      <xsd:documentation>An employment of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColorCode" type="fbi:EYECodeType" substitutionGroup="nc:PersonEyeColor">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEyeColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColorCode" type="fbi:HAICodeType" substitutionGroup="nc:PersonHairColor">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonHairColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonLocationAssociation" type="nc:PersonLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRace" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRaceCode" type="fbi:RACCodeType" substitutionGroup="nc:PersonRace">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a person based on a state-issued ID card.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PropertyRegistrationAssociation" type="nc:ItemRegistrationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a property and its registration information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RegistrationEffectiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date the current registration takes effect.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a registration certificate or document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and a location where that person lives.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOf" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A property of a role object. This specifies the base object, of which the role object is a function.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
    <xsd:annotation>
      <xsd:documentation>A person of whom the role object is a function.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
        <i:Base i:name="RoleOf"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a status was set, effected, or reported.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TangibleItem" type="nc:TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A physical object.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WeightUnitCode" type="unece:MassCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of the weight value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
