shared/ojb-resources-common/src/main/resources/service-specifications/Incident_Search_Request_Service/artifacts/service_model/information_model/Incident_Search_Request_IEPD/xsd/exchange_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Exchange/IncidentSearchRequest/1.0"
	elementFormDefault="qualified"
	xmlns:exchange="http://ojbc.org/IEPD/Exchange/IncidentSearchRequest/1.0"
	xmlns:incext="http://ojbc.org/IEPD/Extensions/IncidentSearchRequest/1.0"
	xmlns:perext="http://ojbc.org/IEPD/Extensions/IncidentPersonSearchRequest/1.0"
	xmlns:vehext="http://ojbc.org/IEPD/Extensions/IncidentVehicleSearchRequest/1.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/IncidentSearchRequest/1.0"
		schemaLocation="incident_extension_schema.xsd" />
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/IncidentPersonSearchRequest/1.0"
		schemaLocation="person_extension_schema.xsd" />
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/IncidentVehicleSearchRequest/1.0"
		schemaLocation="vehicle_extension_schema.xsd" />

	<xsd:element name="IncidentSearchRequest" type="incext:IncidentSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A request for a list of incidents based on incident criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentPersonSearchRequest" type="perext:IncidentPersonSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A request for a list of incidents based on person criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentVehicleSearchRequest" type="vehext:IncidentVehicleSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A request for a list of incidents based on vehicle criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>