shared/ojb-resources-common/src/main/resources/service-specifications/Subscription_Notification_Service/information_model/Subscription_Document-IEPD/xsd/SubscriptionExtensions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:submsg-ext="http://ojbc.org/IEPD/Extensions/Subscription/1.0"
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" 
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:intel="http://niem.gov/niem/domains/intelligence/2.1" xmlns:s="http://niem.gov/niem/structures/2.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Extensions/Subscription/1.0">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="../../Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1"
		schemaLocation="../../Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/intelligence/2.1"
		schemaLocation="../../Subset/niem/domains/intelligence/2.1/intelligence.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="../../Subset/niem/structures/2.0/structures.xsd" />

	<xsd:complexType name="SubscriptionType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="submsg-ext:SubscriptionRelatedCaseIdentification" minOccurs="0"/>
					<xsd:element maxOccurs="1" minOccurs="1" ref="submsg-ext:Subject" />
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						ref="nc:ContactEmailID">
						<xsd:annotation>
							<xsd:documentation>An electronic mailing address by which a
								person or organization may be contacted.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" ref="submsg-ext:SystemName" />
					<xsd:element maxOccurs="1" minOccurs="0" ref="nc:Case">
						<xsd:annotation>
							<xsd:documentation>An aggrxegation of information about a set of
								related activities and events.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="submsg-ext:SubscriptionQualifierIdentification"
						minOccurs="0" />
					<xsd:element ref="nc:DateRange" minOccurs="0" />
					<xsd:element ref="submsg-ext:SubscriptionIdentification" minOccurs="0" />
					<xsd:element ref="submsg-ext:SubscriptionFBIIdentification" minOccurs="0" />
					<xsd:element ref="submsg-ext:SubscriptionReasonRepresentation" minOccurs="0"/>
					<xsd:element ref="submsg-ext:RelatedFBISubscription" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UnsubscriptionType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<!-- We need the choice here because unsubscriptions happen differently 
					for automatic and manual subscriptions -->
				<xsd:choice>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" ref="submsg-ext:Subject" />
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							ref="nc:ContactEmailID">
							<xsd:annotation>
								<xsd:documentation>An electronic mailing address by which a
									person
									or organization may be contacted.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" ref="submsg-ext:SystemName" />
						<xsd:element maxOccurs="1" minOccurs="0" ref="nc:Case">
							<xsd:annotation>
								<xsd:documentation>An aggregation of information about a set of
									related activities and events.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="submsg-ext:SubscriptionQualifierIdentification"
							minOccurs="0" />
						<xsd:element ref="nc:DateRange" minOccurs="0" />
						<xsd:element ref="submsg-ext:SubscriptionFBIIdentification" minOccurs="0" />
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="submsg-ext:SubscriptionIdentification" />
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubscriptionValidationType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="submsg-ext:SubscriptionIdentification" />
					<xsd:element ref="submsg-ext:SubscriptionFBIIdentification" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubscriptionIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier assigned to a subscription.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionFBIIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier assigned to a subscription with the Federal Bureau of Investigation (FBI).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Subject" type="j:PersonType" />
	<xsd:element name="SystemName" type="nc:TextType" />
	<xsd:element name="SubscriptionQualifierIdentification"
		type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identifier for a subscription, provided by the
				subscribing system.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionReasonRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>The reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalSubscriptionReasonCode" type="submsg-ext:CriminalSubscriptionReasonCodeType" substitutionGroup="submsg-ext:SubscriptionReasonRepresentation">
		<xsd:annotation>
			<xsd:documentation>A code value for the reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CriminalSubscriptionReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="submsg-ext:CriminalSubscriptionReasonCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CriminalSubscriptionReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CI">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Investigation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CS">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Supervision</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CivilSubscriptionReasonCode" type="submsg-ext:CivilSubscriptionReasonCodeType" substitutionGroup="submsg-ext:SubscriptionReasonRepresentation">
		<xsd:annotation>
			<xsd:documentation>A code value for the reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CivilSubscriptionReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="submsg-ext:CivilSubscriptionReasonCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CivilSubscriptionReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Firearms</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Volunteer, Child Care/School Employee, Non-Criminal Justice Employee and Licensing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Employee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>Security Clearance Information Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SubscriptionRelatedCaseIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identifier assigned to a case related to the subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="RelatedFBISubscription" type="submsg-ext:FBISubscriptionType">
		<xsd:annotation>
			<xsd:documentation>A subscription created by the Federal Bureau of Investigation that is related to a specific State subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FBISubscriptionType">
		<xsd:annotation>
			<xsd:documentation>A data type for a subscription created by the Federal Bureau of Investigation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRange" minOccurs="0"/>
					<xsd:element ref="submsg-ext:SubscriptionFBIIdentification"/>
					<xsd:element ref="submsg-ext:SubscriptionReasonRepresentation"/>
					<xsd:element ref="submsg-ext:SubscriptionTerm" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubscriptionTerm" type="j:TermType">
		<xsd:annotation>
			<xsd:documentation>The term for which a subscription is active.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
