shared/ojb-resources-common/src/main/resources/ssp/Case_Filing_Decision_Reporting/artifacts/service_model/information_model/IEPD/xsd/CaseFilingDecisionReport_Ext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:cfd-ext="http://ojbc.org/IEPD/Extensions/CaseFilingDecisionReportExtension/1.0"
	xmlns:niem-xsd="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:xop="http://www.w3.org/2004/08/xop/include" targetNamespace="http://ojbc.org/IEPD/Extensions/CaseFilingDecisionReportExtension/1.0"
	elementFormDefault="qualified" attributeFormDefault="qualified" version="1">
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.1/" schemaLocation="./Subset/niem/domains/jxdm/5.1/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="./Subset/niem/structures/3.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="Subset/niem/proxy/xsd/3.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/3.0/" schemaLocation="./Subset/niem/appinfo/3.0/appinfo.xsd" />
	<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="./include_schema.xsd" />
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="./xmime_schema.xsd" />
	<xsd:complexType name="CaseFilingDecisionReportType" abstract="false" mixed="false">
		<xsd:annotation>
			<xsd:documentation>A data type for charge filing document.
			</xsd:documentation>
			<xsd:appinfo>
				<appinfo:ConformantIndicator>true</appinfo:ConformantIndicator>
				<xsd:documentation>A data type for a charge filing
				</xsd:documentation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="cfd-ext:VictimRightsAssertionCertificationIndicator" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cfd-ext:VictimRightsAssertionText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Case" />
					<xsd:element ref="nc:Incident" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Booking" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Vehicle" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" maxOccurs="unbounded" />
					<xsd:element ref="nc:Identity" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:JudicialOfficial" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Organization" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:PrimaryDocument" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:SecondaryDocument" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cfd-ext:CaseFilingDecisionAttachment" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:PersonIdentityAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:PersonConveyanceAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:PersonResidenceAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:OffenseArrestAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:OffenseChargeAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:OffenseLocationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ContactInformationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityCaseAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ActivityDocumentAssociation" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AlaskaPublicSafetyInformationNetworkIdentification" type="nc:IdentificationType"
		substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An Alaska APSIN Identifier for a person.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRightsAssertionCertificationIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a victim rights certificate applies; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRightsAssertionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Victim Rights Assertion text.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestTrackingNumberIdentification" type="nc:IdentificationType" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A tracking number associated with an arrest.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OperatorLicenseIdentification" type="nc:IdentificationType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A license to operate a device (e.g., snowmobile, ATC).
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeDomesticViolenceIndicator" type="niem-xs:boolean" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if the charge involves domestic violence; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CDLHolderCode" type="j:CDLHolderCodeType" substitutionGroup="j:DriverLicenseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code indicating whether or not a driver has a CDL/CLP license.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartyIdentification" type="nc:IdentificationType" substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A unique identification for a party.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartyRoleText" type="nc:TextType" substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The role assumed by a party.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartyCategoryText" type="nc:TextType" substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The type of party.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartyConfidentialIndicator" type="niem-xs:boolean" substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if party information is confidential; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonConfidentialIndicator" type="niem-xs:boolean" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if person information is confidential; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonJuvenileIndicator" type="niem-xs:boolean" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if person is a juvenile; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentifiedPersonTrackingIdentification" type="nc:IdentificationType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A unique identifier assigned to a person that has been identified. Some jurisdictions refer to this as an
				OTN.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseConfidentialIndicator" type="niem-xs:boolean" substitutionGroup="nc:CaseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a case is confidential; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DefaultLocationIndicator" type="niem-xs:boolean" substitutionGroup="nc:LocationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a location is the default location; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreferredLocationIndicator" type="niem-xs:boolean" substitutionGroup="nc:LocationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a location is the preferred location; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DriverLicenseCDLIndicator" type="niem-xs:boolean" substitutionGroup="j:DriverLicenseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a driver license is for a commercial vehicle; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleHazmatIndicator" type="niem-xs:boolean" substitutionGroup="nc:VehicleAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a vehicle is carrying hazardous materials; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseInitiationMethodText" type="nc:TextType" substitutionGroup="nc:CaseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A method used for initiation of a case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreviouslyFiledDocketText" type="nc:TextType" substitutionGroup="nc:DocumentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Previously filed docket entries.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentPublicPartyViewingRestrictedIndicator" type="niem-xs:boolean" substitutionGroup="nc:DocumentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if the public and other parties are restricted from viewing the document; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentPublicViewingRestrictedIndicator" type="niem-xs:boolean" substitutionGroup="nc:DocumentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if the public is restricted from viewing the document; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LeadDocumentIndicator" type="niem-xs:boolean" substitutionGroup="nc:DocumentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if the document is the lead document; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseFilingDecisionAttachment" type="nc:DocumentType" substitutionGroup="cfd-ext:CaseFilingDecisionRepresentation">
		<xsd:annotation>
			<xsd:documentation>State criminal history record for a person.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseFilingDecisionRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A placeholder for a court case filing document.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Base64BinaryObject" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject"
		xmime:expectedContentType="text/plain" />
</xsd:schema>