shared/ojb-resources-common/src/main/resources/service-specifications/Charge_Referral_Service/artifacts/service_model/information_model/Incident_Report_IEPD/xsd/ndexia/niem-constrained_backup/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:census="http://niem.gov/niem/census/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:fips_10-4="http://niem.gov/niem/fips_10-4/2.0" xmlns:fips_6-4="http://niem.gov/niem/fips_6-4/2.0" xmlns:ut_offender="http://niem.gov/niem/ut_offender-tracking-misc/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:iso_639-3="http://niem.gov/niem/iso_639-3/2.0" xmlns:iso_4217="http://niem.gov/niem/iso_4217/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../census/2.0/census.xsd" namespace="http://niem.gov/niem/census/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../fips_10-4/2.0/fips_10-4.xsd" namespace="http://niem.gov/niem/fips_10-4/2.0"/>
  <xsd:import schemaLocation="../../fips_6-4/2.0/fips_6-4.xsd" namespace="http://niem.gov/niem/fips_6-4/2.0"/>
  <xsd:import schemaLocation="../../iso_4217/2.0/iso_4217.xsd" namespace="http://niem.gov/niem/iso_4217/2.0"/>
  <xsd:import schemaLocation="../../iso_639-3/2.0/iso_639-3.xsd" namespace="http://niem.gov/niem/iso_639-3/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd" namespace="http://niem.gov/niem/unece_rec20-misc/2.0"/>
  <xsd:import schemaLocation="../../usps_states/2.0/usps_states.xsd" namespace="http://niem.gov/niem/usps_states/2.0"/>
  <xsd:import schemaLocation="../../ut_offender-tracking-misc/2.0/ut_offender-tracking-misc.xsd" namespace="http://niem.gov/niem/ut_offender-tracking-misc/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="1" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AircraftType">
    <xsd:annotation>
      <xsd:documentation>A data type for a mode of transportation capable of flying in the air.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation>A data type for an amount of money.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal">
        <xsd:attribute ref="nc:currencyCode" use="optional"/>
        <xsd:attribute ref="nc:currencyText" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AssociationBeginDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:AssociationEndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComputerType">
    <xsd:annotation>
      <xsd:documentation>A data type for a device that processes information based on a set of instructions.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyancePartType">
    <xsd:annotation>
      <xsd:documentation>A data type for a part or component of a conveyance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ConveyancePartBrand" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ConveyancePartCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyanceRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a conveyance with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemRegistrationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemRegistrationType">
        <xsd:sequence>
          <xsd:element ref="nc:ConveyanceRegistrationDecal" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ConveyanceRegistrationPlateCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyanceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DecalType">
    <xsd:annotation>
      <xsd:documentation>A data type for a sticker.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DecalYearDate" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrugType">
    <xsd:annotation>
      <xsd:documentation>A data type for a legal or illegal substance that can be used as a medicine or a narcotic.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="SubstanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:SubstanceType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExplosiveType">
    <xsd:annotation>
      <xsd:documentation>A data type for a device containing a substance or agent that can cause an explosion.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FirearmType">
    <xsd:annotation>
      <xsd:documentation>A data type for a weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HighwayType">
    <xsd:annotation>
      <xsd:documentation>A data type for a major public road.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:HighwayID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:HighwayPositionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InjuryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a form of physical harm or damage sustained by a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:InjuryCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:InjuryLocationText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IntangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an intellectual property item.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IntellectualPropertyType">
    <xsd:annotation>
      <xsd:documentation>A data type for property that results from original thought or creativity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IntangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:IntangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:IntellectualPropertyRegistrationIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IntellectualPropertyCreationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IntellectualPropertyRegistrationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IntellectualPropertyTerminationDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a property item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemOwnerAppliedID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemRFIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for an evaluation of the monetary worth of an item.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemValueAmount" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemValueAssigningMethodText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemValueDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemValueDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JewelryStoneType">
    <xsd:annotation>
      <xsd:documentation>A data type for a stone or a gem.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:JewelryStoneCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:JewelryStoneCaratText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:JewelryStoneColorText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:JewelryStoneCutText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JewelryType">
    <xsd:annotation>
      <xsd:documentation>A data type for an adornment made out of metals, gems, or imitations materials.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:JewelryCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:LengthUnitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationAltitudeMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationHighway" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure point value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
        <xsd:attribute ref="nc:pointValueMargin" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureRangeValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement range.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RangeMinimumValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:RangeMaximumValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MetadataType">
    <xsd:annotation>
      <xsd:documentation>A data type for information that further qualifies primary data; data about data.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="MetadataType"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType">
        <xsd:sequence>
          <xsd:element ref="nc:CommentText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DistributionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EffectiveDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LastUpdatedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LastVerifiedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ReportedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SourceIDText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MilitarySummaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a service of a person in a military.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MilitaryBranchName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MilitaryDischargeDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MilitaryDischargeCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NumericType">
    <xsd:annotation>
      <xsd:documentation>A data type for a number value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationAbbreviationText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between people.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonLanguageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a language capability of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:Language" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonComprehendsSpokenLanguageIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonReadsLanguageIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSpeaksLanguageIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonWritesLanguageIndicator" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute ref="nc:personNameCommentText" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonBuildText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonEducationLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonEyewearDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonFacialHairText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonHairAppearanceText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonHairLengthText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonHairStyleText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonLivingIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMilitarySummary" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonReligionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonResident" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSecondaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSexualOrientationText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSkinTone" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSpeechDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a count or tally.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="NumericType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SecuritiesType">
    <xsd:annotation>
      <xsd:documentation>A data type for a financial instrument showing ownership or credit.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:SecuritiesCollectionEndDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SecuritiesCollectionStartDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SecuritiesDateSeries" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SecuritiesDenomination" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SecuritiesCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StatusDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="2"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubstanceMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a quantity of a substance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:SubstanceUnitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubstanceType">
    <xsd:annotation>
      <xsd:documentation>A data type for the matter or substance of which something consists.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemSizeDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelecommunicationDeviceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a device used for communication over a distance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:DeviceOutgoingTextMessage" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:DeviceIncomingTextMessage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType">
        <xsd:sequence>
          <xsd:element ref="nc:VehicleCMVIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:VehicleMotorCarrierIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VesselType">
    <xsd:annotation>
      <xsd:documentation>A data type for a mode of transportation capable of transport by water.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="currencyCode" type="iso_4217:CurrencyCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A unit of money or exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="currencyText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>A unit of money or exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="personNameCommentText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>A comment about a kind of name for a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="pointValueMargin" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>A margin of error of a measurement point value.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:element name="ActivityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Activity" type="nc:ActivityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A single or set of related actions, events, or process steps.
</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Address" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A postal location to which paper mail can be directed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="AddressDeliveryPointText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Association" type="nc:AssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssociationBeginDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date an association begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssociationEndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date an association ends.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ClothingCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of clothing.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A remark, explanation, or observation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Computer" type="nc:ComputerType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A device that processes information based on a set of instructions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyancePart" type="nc:ConveyancePartType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A part or component of a conveyance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyancePartBrand" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A brand name or manufacturer name of a conveyance part.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ConveyancePartBrand" name="ConveyancePartBrandCode" type="fbi:BRACodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A brand name or manufacturer name of a conveyance part.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyancePartBrand"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ConveyancePartBrand" name="ConveyancePartBrandName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A brand name or manufacturer name of a conveyance part.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyancePartBrand"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyancePartCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of conveyance part.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ConveyancePartCategory" name="ConveyancePartCategoryCode" type="fbi:CATCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of conveyance part.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyancePartCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ConveyancePartCategory" name="ConveyancePartCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of conveyance part.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyancePartCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationDecal" type="nc:DecalType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A sticker attached to a permanent registration plate on a conveyance when it is renewed for the current year.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ConveyanceRegistrationPlateCategory" name="ConveyanceRegistrationPlateCategoryCode" type="fbi:LITCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceRegistrationPlateCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="Date" type="niem-xsd:date" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="DateTime" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date and time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DecalYearDate" type="niem-xsd:gYear" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year displayed on a decal.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeviceIncomingTextMessage" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A text message received by a device.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeviceOutgoingTextMessage" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A text message sent by a device.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a disposition occurred.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DistributionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Allowable recipients of information; dissemination statement or instructions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentPublicationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of the first public dissemination of the content in any media.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentSubjectText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A main topic of a document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentTitleText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name given to a document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Drug" type="nc:DrugType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A legal or illegal substance that can be used as a medicine or a narcotic.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EffectiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date that information take effect.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A general kind of job of an employee.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:EmployeeOccupationCategory" name="EmployeeOccupationCategoryCode" type="census:OccupationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A general kind of job of an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:EmployeeOccupationCategory" name="EmployeeOccupationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A general kind of job of an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which information is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Explosive" type="nc:ExplosiveType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A device containing a substance or agent that can cause an explosion.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Firearm" type="nc:FirearmType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HighwayID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a highway.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HighwayPositionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A designation of a specific place on a highway.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationCategory" name="IdentificationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date an identification takes effect.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionFIPS10-4Code" type="fips_10-4:CountryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or locale which issues an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InjuryCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of harm or injury.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InjuryLocationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A place on the body of a person where an injury occurred.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntellectualProperty" type="nc:IntellectualPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A property that results from original thought or creativity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntellectualPropertyCreationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date that a piece of intellectual property came into existence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntellectualPropertyRegistrationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date when intellectual property rights began for the registered owner.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntellectualPropertyRegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a piece of intellectual property.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntellectualPropertyTerminationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date when intellectual property is destroyed and/or property or registration rights cease to exist.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification assigned to an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemOwnerAppliedID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier applied to an item by the owner.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A count of the individual units which make up an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRFIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of an item based on radio waves.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemSizeDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the size or physical dimensions of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemValue" type="nc:ItemValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An evaluation of the monetary worth of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemValueAmount" type="nc:AmountType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A monetary value of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemValueAssigningMethodText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A method used to assign a value to an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemValueDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date an item value takes effect.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemValueDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the monetary worth of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Jewelry" type="nc:JewelryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An adornment made out of metals, gems, or imitations materials.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryCategoryCode" type="fbi:JWTCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of jewelry.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryStoneCaratText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measure in carats of the weight of a jewelry stone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryStoneCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of jewelry gem or imitation gem.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryStoneColorText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of jewelry stone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryStoneCutText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A shape or cut of a jewelry stone or gem.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JewelryStoneQuantity" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A count of the number of a kind of stone found on a piece of jewelry.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Language" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:Language" name="LanguageCode" type="iso_639-3:LanguageCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Language"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:Language" name="LanguageName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Language"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LastUpdatedDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date information was last modified.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LastVerifiedDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date information was last checked for accuracy.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of a length value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Location" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAltitudeMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height or position of a location above a certain reference.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind or functional description of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCategory" name="LocationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind or functional description of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountry" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCountry" name="LocationCountryFIPS10-4Code" type="fips_10-4:CountryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCounty" name="LocationCountyCode" type="fips_6-4:USCountyCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCounty" name="LocationCountyName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationHighway" type="nc:HighwayType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A major public road.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalExtensionCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationState" name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="LocationStreet" type="nc:StreetType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:MeasureValue" name="MeasurePointValue" type="nc:MeasurePointValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:MeasureValue" name="MeasureRangeValue" type="nc:MeasureRangeValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement specified by a minimum and maximum value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Metadata" type="nc:MetadataType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information that further qualifies primary data; data about data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryBranchName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a military branch in which a person served.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryDischargeCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of discharge a person received from military service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:MilitaryDischargeCategory" name="MilitaryDischargeCategoryCode" type="ut_offender:MilitaryDischargeCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of discharge a person received from military service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MilitaryDischargeCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:MilitaryDischargeCategory" name="MilitaryDischargeCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of discharge a person received from military service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MilitaryDischargeCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryDischargeDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was released from further military obligations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitarySummary" type="nc:MilitarySummaryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A service of a person in a military.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Organization" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationAbbreviationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An abbreviation, acronym, or code for an organization name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind or functional type of organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an organization </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification assigned to an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An alternate name used by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBuildText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A physique or shape of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonComprehendsSpokenLanguageIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is able to grasp and understand the meaning of a language being spoken; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEducationLevelText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The highest level of education a person has obtained.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEthnicity" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A cultural lineage of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonEthnicity" name="PersonEthnicityCode" type="fbi:EthnicityCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A cultural lineage of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEthnicity"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyewearDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of glasses or other eyewear a person wears.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFacialHairText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of facial hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairAppearanceText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An overall appearance of the hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairLengthText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A length of hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairStyleText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A style or cut of hair worn by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonLivingIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is alive, false if a person is dead.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMilitarySummary" type="nc:MilitarySummaryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A service of a person in a military.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A title or honorific used by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of  a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPrimaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A capacity of a person for a language with which that person has the strongest familiarity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReadsLanguageIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is able to read a language; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReligionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A religion to which a person subscribes or believes; a categorization of spiritual beliefs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonResident" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A manner of residence a person has in a city, town, community, or other area..</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonResident" name="PersonResidentCode" type="fbi:ResidentCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A manner of residence a person has in an area such as a city, town, or community.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonResident"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSecondaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A capacity of a person for a language with which that person is not completely fluent.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexualOrientationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A target gender of the sexual interest of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSkinTone" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color or tone of the skin of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonSkinTone" name="PersonSkinToneCode" type="fbi:SKNCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color or tone of the skin of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSkinTone"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSpeaksLanguageIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is able to speak a language; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSpeechDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of any impediments that can affect the speech of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWritesLanguageIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is able to write a language; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PhysicalFeatureCategory" name="PhysicalFeatureCategoryCode" type="fbi:SMTCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PhysicalFeatureCategory" name="PhysicalFeatureCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RangeMaximumValue" type="niem-xsd:decimal" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A maximum value of a range.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RangeMinimumValue" type="niem-xsd:decimal" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A minimum value of a range.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ReportedDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date information was observed, measured, identified, or became known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOf" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A property of a role object. This specifies the base object, of which the role object is a function.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:RoleOf" name="RoleOfItemReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An entity of whom the role object is a function.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemType"/>
        <i:Base i:name="RoleOf"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Securities" type="nc:SecuritiesType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A financial instrument showing ownership or credit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecuritiesCategoryCode" type="fbi:TYPSCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of security.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecuritiesCollectionEndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which a security owner may no longer collect returns from a security.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecuritiesCollectionStartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date when a security owner may collect returns from a security.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecuritiesDateSeries" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A security date or series year.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:SecuritiesDateSeries" name="SecuritiesDateSeriesText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A security date or series year.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="SecuritiesDateSeries"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecuritiesDenomination" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A value within a series of values reflecting the worth of a security note.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:SecuritiesDenomination" name="SecuritiesDenominationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value within a series of values reflecting the worth of a security note.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="SecuritiesDenomination"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SourceIDText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number or string set by a data provider so that information that is sent can be retraced back to its source.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a status was set, effected, or reported.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressRepresentation" name="StructuredAddress" type="nc:StructuredAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubstanceQuantityMeasure" type="nc:SubstanceMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A quantity of a substance being described.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubstanceUnitCode" type="fbi:DrugMeasurementCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure for a quantity of a substance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionPerson" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is being supervised.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelecommunicationDevice" type="nc:TelecommunicationDeviceType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A device used for communication over a distance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="TelephoneNumberType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Vehicle" type="nc:VehicleType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleCMVIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a vehicle is a commercial motor vehicle; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleMotorCarrierIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>US DOT Number</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Vessel" type="nc:VesselType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A mode of transportation capable of transport by water.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="Year" type="niem-xsd:gYear" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="YearMonth" type="niem-xsd:gYearMonth" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year and month.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
