shared/ojb-resources-common/src/main/resources/service-specifications/Parole_Event_Handler_Service/artifacts/service_model/information_model/Parole_Case-IEPD/xsd/Parole_Case_Extensions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:Q1="http://niem.gov/niem/structures/2.0" xmlns:prlcase-ext="http://ojbc.org/IEPD/Extensions/ParoleCase/1.0" xmlns:Q3="http://niem.gov/niem/domains/jxdm/4.1" xmlns:Q4="http://niem.gov/niem/niem-core/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Extensions/ParoleCase/1.0">
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="NIEM_2.1/domains/jxdm/4.1/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="NIEM_2.1/niem-core/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="NIEM_2.1/structures/2.0/structures.xsd"/>
  <xsd:complexType name="ParoleCaseMessageType">
	  <xsd:complexContent>
	      <xsd:extension base="Q1:ComplexObjectType">
	      	<xsd:sequence>
	      		<xsd:element ref="prlcase-ext:ParoleCase"/>
	      		<xsd:element ref="prlcase-ext:SystemName"/>
	      	</xsd:sequence>
	      </xsd:extension>
      </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParoleCase" type="prlcase-ext:ParoleCaseType"/>
  <xsd:element name="SystemName" type="Q4:TextType"/>
  <xsd:complexType name="ParoleCaseType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
        	 <xsd:element ref="prlcase-ext:ParoleCaseIdentification" minOccurs="0"/>
         	 <xsd:element maxOccurs="unbounded" minOccurs="0" ref="prlcase-ext:ParoleeIdentity"/>
         	 <xsd:element maxOccurs="unbounded" minOccurs="0" ref="prlcase-ext:ParoleHearing"/>
         	 <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:Supervision">
            <xsd:annotation>
              <xsd:documentation>Applied augmentation for type nc:SupervisionType</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q4:PersonAliasIdentityAssociation">
            <xsd:annotation>
              <xsd:documentation>An association between a person and an alias identity used by that person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q4:ContactInformation">
            <xsd:annotation>
              <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q4:PersonContactInformationAssociation">
            <xsd:annotation>
              <xsd:documentation>An association between a person and contact information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParoleeIdentity" type="Q4:IdentityType"/>
  <xsd:element name="ParoleHearing" type="Q4:ActivityType"/>
  <xsd:element name="ParoleCaseIdentification" type="Q4:IdentificationType">
  	<xsd:annotation>
  		<xsd:documentation>A unique identification for a parole case.</xsd:documentation>
  	</xsd:annotation>
  </xsd:element>
</xsd:schema>
