shared/ojb-resources-common/src/main/resources/ssp/Simple_Encapsulated_Response/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd http://release.niem.gov/niem/localTerminology/3.0/ ../../localTerminology/3.0/localTerminology.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
    <xs:appinfo>
      <term:LocalTerm term="SSN" literal="Social Security Number"/>
      <term:LocalTerm term="ISO" literal="International Organization for Standardization"/>
      <term:LocalTerm term="MGRS" literal="Military Grid Reference System"/>
      <term:LocalTerm term="Alpha3" definition="Three-letter"/>
      <term:LocalTerm term="Alpha2" definition="Two-letter"/>
      <term:LocalTerm term="2D" literal="Two-dimensional"/>
      <term:LocalTerm term="3D" literal="Three-dimensional"/>
      <term:LocalTerm term="IMEI" literal="International Mobile Equipment Identity"/>
      <term:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <term:LocalTerm term="UTM" literal="Universal Transverse Mercator"/>
      <term:LocalTerm term="ESN" literal="electronic serial number"/>
      <term:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <term:LocalTerm term="NANP" literal="North American Numbering Plan"/>
      <term:LocalTerm term="GENC" literal="Geopolitical Entities, Names, and Codes"/>
      <term:LocalTerm term="MAC" literal="media access control address"/>
      <term:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="../../proxy/xsd/3.0/xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../../structures/3.0/structures.xsd"/>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>A data type for a paper or electronic document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DocumentCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentFileControlID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentFiledDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentFileName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentSource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Document" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>A paper or electronic document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCategoryText" type="nc:TextType" substitutionGroup="nc:DocumentCategory">
    <xs:annotation>
      <xs:documentation>A kind of document; a nature or genre of the content.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a document was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the content of a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentFileControlID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a document to locate it within a file control system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentFiledDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a document was officially filed with an organization or agency.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentFileName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file name of an electronic document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentSource" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that was the source of a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
