shared/ojb-resources-common/src/main/resources/service-specifications/Court_Case_Query_Results_Service/artifacts/service_model/information_model/Court_Case_Query_Results-IEPD/xsd/Subset/niem/domains/jxdm/5.1/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.1/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.1/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="AppellateCaseType">
    <xs:annotation>
      <xs:documentation>A data type for a single case heard by a court to determine if the original case was tried properly and the defendant received a fair trial.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:CaseType">
        <xs:sequence>
          <xs:element ref="j:AppellateCaseBrief" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestType">
    <xs:annotation>
      <xs:documentation>A data type for the apprehension of a subject by a peace official.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestProbableCauseText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BailBondChargeAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association that links a bail bond to a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BailBondChargeAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BailBondType">
    <xs:annotation>
      <xs:documentation>A data type for an agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BailBondAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BailBondIssuerEntity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:BailSetAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CommitDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CommittedToAuthorityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseAmendedCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCapiasDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseContinuanceDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourtEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefendantQuantityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefendantSelfRepresentationIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefendantParty" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefenseAttorney" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDomesticViolenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDrivingImpairedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDrivingIntoxicatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseExhibit" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseHearing" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseInformationAdmissibleIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseInformationAdmissibleText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseInformationInadmissibleText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseInitiatingParty" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseJuror" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseLineageCase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOriginalCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CasePendingCourtEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProceedingCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProsecutionAttorney" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProtectionOrderIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseRestrictionDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseRestrictionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseSecurityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseTerminationStageText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseTerminationCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseTrial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseVerdictGivenIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseVictimNotProsecutingIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseWitness" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseSeverityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseConvictionReportingRequirements" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseRespondentAttorney" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseRespondentParty" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseInitiatingAttorney" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseConvictionReportingRequirementsType">
    <xs:annotation>
      <xs:documentation>A data type for information to alert a court when additional reporting requirements exist.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for an official's involvement in a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:JudicialOfficialType">
        <xs:sequence>
          <xs:element ref="j:CaseOfficialCaseIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialCaseStatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialEndDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialRoleDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialRoleText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialStartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialTerminationIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialTerminationReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeDispositionType">
    <xs:annotation>
      <xs:documentation>A data type for the results or processing of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DispositionType">
        <xs:sequence>
          <xs:element ref="j:ChargeDispositionOtherText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDegreeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeNarrative" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargePlea" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CitationType">
    <xs:annotation>
      <xs:documentation>A data type for an official summons to appear in court or pay a fine.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CitationAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationDismissalConditionIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationDismissalConditionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationFineAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationIssuedLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationIssuingOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationSubject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationViolation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CDLHolder" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommercialVehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a class of vehicle that includes motor vehicles with a gross vehicle weight rating of 26,001 pounds or more.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:VehicleType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a court-related action associated with a court case event.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtActivityCourtOrder" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtActivityScheduleDay" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtCaseStatusText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtAppearanceType">
    <xs:annotation>
      <xs:documentation>A data type for an appearance required of a party in a court of law on a certain date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CourtAppearanceCase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtEventType">
    <xs:annotation>
      <xs:documentation>A data type for a court occurrence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtEventAction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventAppearance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventCase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventMotion" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventSchedule" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventSequenceID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtOrderType">
    <xs:annotation>
      <xs:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtDivisionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtSupervisingAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAdministrativeUnitText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:EnforcementOfficialCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:EnforcementOfficialUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementUnitType">
    <xs:annotation>
      <xs:documentation>A data type for a unit of an agency responsible for enforcing the law and maintaining peace.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:EnforcementUnitName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExhibitType">
    <xs:annotation>
      <xs:documentation>A data type for an item introduced as evidence in a trial.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialBarMembershipType">
    <xs:annotation>
      <xs:documentation>A data type for a legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:JudicialOfficialBarIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in a judicial area of government.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialBarMembership" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialFirm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialPanelIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialRegistrationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JurorType">
    <xs:annotation>
      <xs:documentation>A data type for a person who serves on a jury and listens to a case to determine the guilt or innocence of a person accused of a crime.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonBloodAlcoholContentAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association that links a person to a Blood Alcohol Content (BAC) Test reading, measured due to a related activity such as an arrest or a driving incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:PersonBloodAlcoholContentNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBloodAlcoholContentAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PleaType">
    <xs:annotation>
      <xs:documentation>A data type for an answer which a defendant in an action at law makes to charges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:PleaDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaGuiltyIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaNegotiatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaNoContestIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaRecommendationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceDeferredTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteEnactmentDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteKeywordText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteOffenseEnhanceableIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteRepealDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteOffenseStateCodeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteOffenseCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteOffenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a supervision.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SupervisionCondition" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>A data type for a duration length either in specific terms or as a range.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:TermDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermLifeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermMaximumDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermMinimumDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VerdictType">
    <xs:annotation>
      <xs:documentation>A data type for a finding related to a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:VerdictDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictDispositionDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictDispositionName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictIssuingCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictIssuingJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictIssuingJudgeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictSubject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VerdictAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:VictimSeeksRestitutionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VictimEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VictimIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WarrantType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:CourtOrderType">
        <xs:sequence>
          <xs:element ref="j:WarrantCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:WarrantAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WitnessType">
    <xs:annotation>
      <xs:documentation>A data type for a person who has observed an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AmendedCharge" type="j:ChargeType">
    <xs:annotation>
      <xs:documentation>A charge that has been modified since the original charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppellateCase" type="j:AppellateCaseType">
    <xs:annotation>
      <xs:documentation>A single case heard by the Court of Appeals (Intermediate Court of Appeal) or Supreme Court (The Court of Last Resort). This case does not retry the original case but determines whether the original case was tried properly and the defendant</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppellateCaseBrief" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document written by prosecution or defense summarizing why a lower court acted correctly or incorrectly.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrest" type="j:ArrestType">
    <xs:annotation>
      <xs:documentation>An apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A records management system identification of the originating case agency for an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ArrestType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation of a violation of a statute and/or ordinance in association with an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where a subject was arrested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A peace official who makes an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestProbableCauseText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An observed or reported violation of a law or ordinance, which can be a sufficient cause to arrest a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Attorney" type="j:JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A person admitted to practice law in his or her respective state and authorized to perform both civil and criminal legal functions for clients.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBond" type="j:BailBondType">
    <xs:annotation>
      <xs:documentation>An agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions, including the payment of a certain amount of money and the reappearance of the subject</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BailBondType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondChargeAssociation" type="j:BailBondChargeAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association that links a bail bond to a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondChargeAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BailBondChargeAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondIssuerEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that issues a bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailPostedAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of bail paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailSetAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bail.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailSetAmountText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of bail set for defendant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BookingType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CDLHolder" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a code indicating whether or not the driver held a CDL/CLP at the time of the citation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAmendedCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge different than the original charge a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCapiasDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date where subject proceeds directly to court, without being able to post bond. Similar to a Failure to Appear</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge or accusation a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseContinuanceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a court case is set to resume after being postponed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseConvictionReportingRequirements" type="j:CaseConvictionReportingRequirementsType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of requirements placed on a person convicted in a case to report to a supervising agency.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourtEvent" type="j:CourtEventType">
    <xs:annotation>
      <xs:documentation>A court occurrence related to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantParty" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity being charged or sued in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantQuantityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of defendants being tried at once for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantSelfRepresentationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a defendant waived the right to have a defense attorney and is representing him or her self; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefenseAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who defends a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDomesticViolenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the case involves domestic violence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDrivingImpairedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the case involves a person who was driving with the presence of illegal or unprescribed prescription drugs in his or her system; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDrivingIntoxicatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a case involves a person who was driving with blood alcohol level that is higher than the law allows; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseExhibit" type="j:ExhibitType" nillable="true">
    <xs:annotation>
      <xs:documentation>An item admitted in court as evidence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseHearing" type="j:CourtEventType">
    <xs:annotation>
      <xs:documentation>An appearance before a judicial official conducted in person, by telephone, or by video. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseInformationAdmissibleIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if new trial information may be entered from an appellate ruling/decision; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseInformationAdmissibleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A piece of new trial information that may be admissible in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseInformationInadmissibleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A piece of new trial information that is not admissible in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseInitiatingAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney in a court case representing the party that filed a petition for a court order or writ requiring the respondent to take some action, halt an activity or obey a courts direction. Representative of the party seeking action from the court.  In s</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseInitiatingParty" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that brings charges or a suit against another in a court of law. Can be either a victim in a criminal case or a plaintiff in a civil case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseJudge" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judicial official assigned to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseJuror" type="j:JurorType" nillable="true">
    <xs:annotation>
      <xs:documentation>An empanelled juror or an alternate juror.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseLineageCase" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a case at a previous stage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficial" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A justice official's involvement in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseOfficialType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialCaseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification a justice official uses to identify a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialCaseStatusText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of a justice official's case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialEndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a justice official left a case or a date a case ended.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialRoleDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the role a justice official played in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialRoleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A role a justice official played in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialStartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a justice official became involved in a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialTerminationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a justice official left a case before its conclusion, either by choice or for official reasons; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialTerminationReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason a justice official left a case before its conclusion.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOriginalCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court that originally heard or tried a case before it was transferred or appealed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherEntity" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>A miscellaneous entity involved in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous identification for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherOfficial" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous person or organization involved in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CasePendingCourtEvent" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court event or activity that is postponed or pending.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProceedingCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of case proceeding.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProsecutionAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who prosecutes a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProtectionOrderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a Domestic Violence Protection Order or Antiharassment Order is filed with the Judgment and Sentence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseRespondentAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney in a court case representing the party that is required to answer a petition for a court order or writ requiring the respondent to take some action, halt an activity or obey a courts direction. In such matters the moving party (the one filing</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseRespondentParty" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity in a court case that is required to answer a petition for a court order or writ requiring the respondent to take some action, halt an activity or obey a courts direction. In such matters the moving party (the one filing the petition) is usually called the petitioner. Thus, the respondent is equivalent to a defendant in a lawsuit. On an appeal, the party who must respond to an appeal by the losing party in the trial court (called appellant) in the appeals court. The accused in a domestic violence case or civil action; a person responding to a Request or Petition for Protection filed by a petitioner.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseRestrictionDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a restriction is placed on a person by a court order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseRestrictionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A restriction imposed upon a party.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseSecurityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A level of case security required from low to high</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseSeverityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A severity of a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTerminationCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of termination for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTerminationStageText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A stage of termination for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTrial" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of hearing during which the final disposition of a case is determined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseVerdictGivenIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a verdict is given by judge or jury; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseVictimNotProsecutingIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a victim is not or was not willing to prosecute; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWitness" type="j:WitnessType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person/entity who has information relating to the activity or who testifies in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a crime category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDegreeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A degree of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionOtherText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An additional set of information beyond or separate from the outcome of a charge, such as the processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a charge was filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeNarrative" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document associated with a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargePlea" type="j:PleaType" nillable="true">
    <xs:annotation>
      <xs:documentation>An answer which a defendant in an action at law makes in response to a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeRecommendedBailAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A bail amount on a schedule recommended according to the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequentially assigned identifier for charge tracking purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Citation" type="j:CitationType">
    <xs:annotation>
      <xs:documentation>An official summons to appear in court or pay a fine given to a subject from a peace official due to a subjects violation or infraction of a law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization for whom the citation issuing official is employed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CitationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationDismissalConditionIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a citation can be dismissed if certain conditions are met; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationDismissalConditionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A condition to be met that can make a citation eligible for dismissal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationFineAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money to be paid by the subject receiving the citation if the subject chooses not to dispute the citation in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationIssuedLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A place where a citation is given to a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationIssuingOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A peace official who gives a citation to a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who violates a law and receives a citation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationViolation" type="nc:IncidentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An activity that is a violation of a law or ordinance that results in a subject being given a citation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommercialVehicle" type="j:CommercialVehicleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A class of vehicle that includes motor vehicles with a gross vehicle weight rating of 26,001 pounds or more.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommitDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date when a person is received by the subject committed authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommittedToAuthorityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An authority to which a person is remanded into custody as a part of a judgment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactPersonLanguage" type="nc:PersonLanguageType">
    <xs:annotation>
      <xs:documentation>A language with which the contact person has the strongest familiarity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactPersonLocation" type="nc:LocationType">
    <xs:annotation>
      <xs:documentation>A location for a contact.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactPersonTelephoneNumber" type="nc:TelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A telephone number for a contact.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceColorPrimaryCode" type="ncic:VCOCodeType" substitutionGroup="nc:ItemColor" nillable="true">
    <xs:annotation>
      <xs:documentation>A single, upper-most, front-most, or majority color of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification on a metal plate fixed to a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtActivityCourtOrder" type="j:CourtOrderType" nillable="true">
    <xs:annotation>
      <xs:documentation>A direction of a judge not included in a judgment, which determines some point or directs some step in proceedings.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtActivityScheduleDay" type="nc:ScheduleDayType" nillable="true">
    <xs:annotation>
      <xs:documentation>A schedule on which a court activity is to occur.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAdministrativeUnitText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unit within a court system responsible for record maintenance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearance" type="j:CourtAppearanceType">
    <xs:annotation>
      <xs:documentation>An appearance required of a party in a court of law on a certain date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtAppearanceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCase" type="nc:CaseType">
    <xs:annotation>
      <xs:documentation>A case for which a party must appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of appearance a party is required to make in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court in which a party is required to appear.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which a party must appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity required to appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason a party is required to appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCaseStatusText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A piece of non-dispositional descriptive information regarding activity within a court case; example "failure to appear."</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCostAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of expenses of prosecuting the case that a convicted subject may be ordered to pay as reimbursement.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtDivisionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of case processing and the law governing specific types of matters before the court and governed by distinct court rule and processes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAction" type="j:CourtActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court-related action associated with a court case event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAppearance" type="j:CourtAppearanceType">
    <xs:annotation>
      <xs:documentation>An appearance in court required of a party</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtEventType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventCase" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A case associated with a court event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court in which a court event occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventJudge" type="j:JudicialOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judge associated with a court event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventMotion" type="j:CourtActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A request made to a court for a ruling or an order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventSchedule" type="nc:ScheduleDayType" nillable="true">
    <xs:annotation>
      <xs:documentation>A day for which a court event is scheduled.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier for a court case event record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtSupervisingAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A supervising agency that performs court services for a court unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashVehicleLegalSpeedRateMeasure" type="nc:MeasureType">
    <xs:annotation>
      <xs:documentation>An authorized speed limit for the motor vehicle at the time of the crash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DebtAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A total amount of debt owed to a person or organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DebtTotalAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A total amount of debt represented in this financial compilation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClass" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClassText" type="nc:TextType" substitutionGroup="j:DriverLicenseCommercialClass" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentLegalSpeedRateMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legally designated speed limit in the area where an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentRecordedSpeedRateMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A speed a vehicle was moving at when an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of enforcement official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialUnit" type="j:EnforcementUnitType" nillable="true">
    <xs:annotation>
      <xs:documentation>An enforcement unit to which an enforcement officer is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementUnitName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an enforcement unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinancialAccountPresentBalanceAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An account balance at the time of financial compilation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HearingCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of hearing conducted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HearingDecisionDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the decision resulting from the hearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentTrafficAccidentInvolvedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if an incident involved a traffic accident; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemDetailDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a feature or characteristic of a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for JudicialOfficialType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after meeting the requirement to practice law in a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarMembership" type="j:JudicialOfficialBarMembershipType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of judicial official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court unit to which a judicial official is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialFirm" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency at which a judicial official works.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialPanelIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification or name of a panel or group to which a judicial official is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialRegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after registering within a state or region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JurisdictionDistrictText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A district in a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileOffenderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the legal status of a person is a juvenile; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MotorCarrierHazMatTransportationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a given carrier transports Hazardous Materials (HAZMAT); false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationComputationPaidAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A portion of the total financial obligations paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationComputationTotalAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A total sum of all financial obligations charged/assumed by subject as a part of supervised release.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodAlcoholContentAssociation" type="j:PersonBloodAlcoholContentAssociationType">
    <xs:annotation>
      <xs:documentation>An association that links a person to a Blood Alcohol Content (BAC) Test reading, measured due to a related activity such as an arrest or a driving incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodAlcoholContentAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonBloodAlcoholContentAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodAlcoholContentNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A blood-alcohol percentage reading from a Blood Alcohol Test (BAC Test).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PleaType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of plea.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a plea.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaGuiltyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person admits guilt in relation to a charge; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaNegotiatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a plea is negotiated with the prosecution; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaNoContestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is willing to accept the consequences of a charge without admitting guilt or innocence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaRecommendationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A recommended plea agreement for violent, most serious, or armed offenses.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Probation" type="nc:SupervisionType">
    <xs:annotation>
      <xs:documentation>A judicial requirement that a person fulfill certain conditions of behavior in lieu of jail time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramTitleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A title or name of a class or treatment program a student or patient is participating in.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SentenceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceCondition" type="nc:ConditionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description and duration of a sentence component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was sentenced.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDeferredTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A deferred term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the sentence being imposed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of a sentence. Specified as either a specific term in days-months-years or as a minimum - maximum range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatuteType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number of a set of laws for a particular jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a section or category within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteEnactmentDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a statute was enacted and came into effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area in which a statute applies.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteKeywordText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A brief description of a Statute which makes use of catchwords.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteLevelText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A level of crime a statute applies to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteOffenseCode" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a criminal offense within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteOffenseEnhanceableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a statute refers to an offense that may be made more serious due to circumstances related to the incident; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteOffenseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a criminal offense within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteOffenseStateCodeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A literal description of a criminal offense within a state code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteRepealDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a statute was repealed and no longer applied.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A current status of a statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A full text of a statute or law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionCondition" type="nc:ConditionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A condition that must be met for a person to remain in supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for TermType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific range or duration of a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermLifeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the term is not for a set duration length but for life; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMaximumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMinimumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A minimum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMakeCode" type="ncic:VMACodeType" substitutionGroup="nc:VehicleMake">
    <xs:annotation>
      <xs:documentation>A manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModelCode" type="ncic:VMOCodeType" substitutionGroup="nc:VehicleModel">
    <xs:annotation>
      <xs:documentation>A specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleStyleCode" type="ncic:VSTCodeType" substitutionGroup="nc:ItemStyle" nillable="true">
    <xs:annotation>
      <xs:documentation>A style of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Verdict" type="j:VerdictType">
    <xs:annotation>
      <xs:documentation>A finding related to a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for VerdictType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a verdict was given.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a verdict.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictDispositionDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date of a verdict disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictDispositionName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a disposition of a verdict.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictIssuingCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court which issued a verdict.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictIssuingJudge" type="j:JudicialOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judge which issued a verdict.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictIssuingJudgeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a verdict was issued by a judge or a jury; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VerdictSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who received a verdict.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Victim" type="j:VictimType">
    <xs:annotation>
      <xs:documentation>A person, organization, or other entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimEntity" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number or string identifying a victim.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimPerson" type="nc:PersonType" substitutionGroup="j:VictimEntity">
    <xs:annotation>
      <xs:documentation>An entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimSeeksRestitutionDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the restitution sought by a victim from a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Violation" type="nc:IncidentType">
    <xs:annotation>
      <xs:documentation>A non-conformance with a rule, law, or condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Warrant" type="j:WarrantType">
    <xs:annotation>
      <xs:documentation>An authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for WarrantType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of warrant.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
