shared/ojb-resources-common/src/main/resources/ssp/Notify_Docketing_Complete_Reporting/artifacts/service_model/information_model/IEPD/xsd/casetype/ECF-4.0-AppellateCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!--
OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS's procedures with respect to rights in OASIS specifications can be found at the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementors or users of this specification, can be obtained from the OASIS Executive Director.
 
This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to OASIS, except as needed for the purpose of developing OASIS specifications, in which case the procedures for copyrights defined in the OASIS Intellectual Property Rights document must be followed, or as required to translate it into languages other than English. 

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppellateCase-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppellateCase-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>AppellateCase</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="../common/ECF-4.0-AppInfo.xsd"/>
	<xsd:complexType name="AppellateCaseAddedPartyType">
		<xsd:annotation>
			<xsd:documentation>Party added to the appeal that was not  a party in the original case.  For instance, the attorney in the original case may appeal sanctions against the attorney by the court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="AppellateCasePartyAddedReasonText" minOccurs="0"/>
					<xsd:element ref="AppellateCaseParty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppellateCaseRemovedPartyType">
		<xsd:annotation>
			<xsd:documentation>Party to the original case that is not party to the appeal.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="AppellateCasePartyRemovedReasonText" minOccurs="0"/>
					<xsd:element ref="AppellateCaseParty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppellateCaseType">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new case in an appellate court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:AppellateCaseType">
				<xsd:sequence>
					<xsd:element ref="j:CaseAugmentation"/>
					<xsd:element ref="ecf:CaseAugmentation"/>
					<xsd:element ref="AppellantInCustodyIndicator" minOccurs="0"/>
					<xsd:element ref="AppellateCaseAddedParty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="AppellateCaseJurisdictionBasisText" minOccurs="0"/>
					<xsd:element ref="AppellateCaseSettlementRequestText" minOccurs="0"/>
					<xsd:element ref="AppellateCaseRemovedParty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:choice minOccurs="0">
						<xsd:element ref="AppellateCivilCase"/>
						<xsd:element ref="AppellateCourtRuleCase"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppellateCivilCaseType">
		<xsd:annotation>
			<xsd:documentation>Additional information specific to civil appellate cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="FeesWaivedIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppellateCourtRuleCaseType">
		<xsd:annotation>
			<xsd:documentation>Additional information specific to court rule appellate cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="RuleCollectionText" minOccurs="0"/>
					<xsd:element ref="RuleCollectionNumber" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AppellateCase" type="AppellateCaseType" substitutionGroup="nc:Case">
		<xsd:annotation>
			<xsd:documentation>Information required to initiate a new case in an appellate court.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCaseAddedParty" type="AppellateCaseAddedPartyType">
		<xsd:annotation>
			<xsd:documentation>Party added to the appeal that was not  a party in the original case.  For instance, the attorney in the original case may appeal sanctions against the attorney by the court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCaseJurisdictionBasisText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The basis for the jurisdiction of the appellate court in the case.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCaseParty" type="nc:EntityType">
		<xsd:annotation>
			<xsd:documentation>A party being added or removed an appeal..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCasePartyAddedReasonText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The reason a party is being added to the appeal.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCasePartyRemovedReasonText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The reason a party is being removed from the appeal.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCaseRemovedParty" type="AppellateCaseRemovedPartyType">
		<xsd:annotation>
			<xsd:documentation>Party to the original case that is not party to the appeal.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCaseSettlementRequestText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A request for diversion to a settlement program in the appellate court.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCivilCase" type="AppellateCivilCaseType">
		<xsd:annotation>
			<xsd:documentation>Additional information specific to civil appellate cases.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellateCourtRuleCase" type="AppellateCourtRuleCaseType">
		<xsd:annotation>
			<xsd:documentation>Additional information specific to court rule appellate cases.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppellantInCustodyIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicator that the appellant is currently in custody.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FeesWaivedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicator that filing fees were waived or deferred in the case in the lower court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RuleCollectionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An organized set or book of rules of the court that include the rule(s) in question.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RuleCollectionNumber" type="nc:NumericType">
		<xsd:annotation>
			<xsd:documentation>A rule number (including rule subsection) in question.  Each rule number must refer to a specific rule within the rule collection.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
