shared/ojb-resources-common/src/main/resources/ssp/Custody_Release_Reporting/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:AddressFullText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressSecondaryUnitText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A data type for an amount of money.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseType">
    <xs:annotation>
      <xs:documentation>A data type for an aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:CaseTrackingID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>A data type for a paper or electronic document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FacilityType">
    <xs:annotation>
      <xs:documentation>A data type for a building, place, or structure that provides a particular service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:FacilityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:FacilityName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentityType">
    <xs:annotation>
      <xs:documentation>A data type for a set of known aspects or characteristics by which a person is defined or recognized.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentityPersonRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationAddressAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentityAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:Identity" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonLanguageType">
    <xs:annotation>
      <xs:documentation>A data type for a language capability of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Language" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReleaseType">
    <xs:annotation>
      <xs:documentation>A data type for a freeing or discharging of someone or something from an activity, supervision, or obligation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:ReleasePerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ReleaseToLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StreetType">
    <xs:annotation>
      <xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionType">
    <xs:annotation>
      <xs:documentation>A data type for an act of officially overseeing, supervising, or keeping track in some capacity of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:SupervisionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemIdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a number or code assigned to a system to uniquely identify the system.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:IdentificationType">
        <xs:sequence>
          <xs:element ref="nc:SystemName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Activity" type="nc:ActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason for an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract">
    <xs:annotation>
      <xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressSecondaryUnitText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A particular unit within a larger unit or grouping at a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>An aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDocketID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier used to reference a case docket.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTrackingID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier used to track a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a document was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>An end date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FacilityIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a facility.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FacilityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a facility.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or locale which issues an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identity" type="nc:IdentityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of known aspects, identifiers, and/or characteristics by which a person is defined or recognized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentityPersonRepresentation" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of person characteristics used as an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Language" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a system of words or symbols used for communication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LanguageName" type="nc:TextType" substitutionGroup="nc:Language">
    <xs:annotation>
      <xs:documentation>A name of a system of words or symbols used for communication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAddressAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a city or town.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint">
    <xs:annotation>
      <xs:documentation>A road, thoroughfare or highway.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAliasIdentityAssociation" type="nc:PersonIdentityAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a person and an alias identity used by that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicity" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPrimaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A capacity of a person for a language with which that person has the strongest familiarity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSex" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Release" type="nc:ReleaseType">
    <xs:annotation>
      <xs:documentation>A freeing or discharge of someone or something from an activity, supervision, or obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReleasePerson" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is released from confinement or an obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReleaseToLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location to which someone or something is released.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which something begins.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete reference for a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SupervisionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SystemName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of the kind or the source of a system identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
