shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/jxdm/5.1/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd http://release.niem.gov/niem/localTerminology/3.0/ ../../../localTerminology/3.0/localTerminology.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <term:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <term:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <term:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <term:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <term:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <term:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <term:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <term:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <term:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <term:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <term:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <term:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <term:LocalTerm term="XRay" literal="X-Ray"/>
      <term:LocalTerm term="ISSN" literal="International Standard Serial Number"/>
      <term:LocalTerm term="TYPA" literal="(Article) Type"/>
      <term:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <term:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <term:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <term:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <term:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <term:LocalTerm term="LIS" literal="License Plate State"/>
      <term:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <term:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <term:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <term:LocalTerm term="Brady" literal="Brady Law"/>
      <term:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <term:LocalTerm term="Alpha" definition="Letter(s)"/>
      <term:LocalTerm term="XRays" literal="X-Rays"/>
      <term:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <term:LocalTerm term="DOT" literal="Department of Transportation"/>
      <term:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <term:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <term:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <term:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <term:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <term:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <term:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <term:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <term:LocalTerm term="Multi" literal="Multiple"/>
      <term:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <term:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <term:LocalTerm term="REALID" definition="Public Law 109&#x2013;13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <term:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <term:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <term:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <term:LocalTerm term="LSTA" definition="State/Country Index"/>
      <term:LocalTerm term="FFLID" literal="federal firearms license"/>
      <term:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <term:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <term:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <term:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <term:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <term:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <term:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <term:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <term:LocalTerm term="RES" literal="Registration State"/>
      <term:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <term:LocalTerm term="MO" literal="Modus Operandi"/>
      <term:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <term:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <term:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <term:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" schemaLocation="../../../codes/fbi_ncic/3.1/fbi_ncic.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="../../../niem-core/3.0/niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="../../../proxy/xsd/3.0/xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../../../structures/3.0/structures.xsd"/>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProsecutionAttorney" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for an official's involvement in a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:JudicialOfficialType">
        <xs:sequence>
          <xs:element ref="j:CaseOfficialStartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in a judicial area of government.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonResidenceAssociationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a residence association.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ReleaseResidenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:SubjectIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookingSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is booked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseOfficialType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialStartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a justice official became involved in a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous identification for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProsecutionAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who prosecutes a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A driver license identification or driver license permit identification, including the number and state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JurisdictionDistrictText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A district in a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of service or jurisdiction an organization has over a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file control number (FCN) identification that is often used to link a NCIC record to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceCode" type="ncic:RACCodeType" substitutionGroup="nc:PersonRace">
    <xs:annotation>
      <xs:documentation>A classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexCode" type="ncic:SEXCodeType" substitutionGroup="nc:PersonSex">
    <xs:annotation>
      <xs:documentation>A gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a person by a state identification bureau, generally based on submission of the person's fingerprints to the state's Automated Fingerprint Identification System (AFIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReleaseResidenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if this location was a person's residence after they were released; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ResidenceAssociationAugmentation" type="j:PersonResidenceAssociationAugmentationType" substitutionGroup="nc:PersonResidenceAssociationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a ResidenceAssociation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An assigned identification that identifies a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
