shared/ojb-resources-common/src/main/resources/ssp/Subscription_Search_Request/artifacts/service_model/information_model/IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ojbc.org/IEPD/Extensions/SubscriptionSearchRequest/1.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" 
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:ssreq-ext="http://ojbc.org/IEPD/Extensions/SubscriptionSearchRequest/1.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	
	<xsd:complexType name="SubscriptionSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit a subscription-based search.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="ssreq-ext:FBISubscription" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="FBISubscription" type="ssreq-ext:FBISubscriptionType"/>
	
	<xsd:complexType name="FBISubscriptionType">
		<xsd:annotation>
			<xsd:documentation>A data type for a subscription created by the Federal Bureau of Investigation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="ssreq-ext:SubscriptionSubject" minOccurs="0"/>
					<xsd:element ref="ssreq-ext:SubscriptionReasonRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="SubscriptionSubject" type="j:PersonType">
		<xsd:annotation>
			<xsd:documentation>The human being that is the focus of a subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionReasonRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>The reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalSubscriptionReasonCode" type="ssreq-ext:CriminalSubscriptionReasonCodeType" substitutionGroup="ssreq-ext:SubscriptionReasonRepresentation">
		<xsd:annotation>
			<xsd:documentation>A code value for the reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CriminalSubscriptionReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ssreq-ext:CriminalSubscriptionReasonCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CriminalSubscriptionReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CI">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Investigation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CS">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Supervision</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CivilSubscriptionReasonCode" type="ssreq-ext:CivilSubscriptionReasonCodeType" substitutionGroup="ssreq-ext:SubscriptionReasonRepresentation">
		<xsd:annotation>
			<xsd:documentation>A code value for the reason for creating a subscription</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CivilSubscriptionReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ssreq-ext:CivilSubscriptionReasonCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CivilSubscriptionReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Firearms</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Volunteer, Child Care/School Employee, Non-Criminal Justice Employee and Licensing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Employee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>Security Clearance Information Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>