shared/ojb-resources-common/src/main/resources/ssp/Firearm_Purchase_Prohibition_Query_Results/artifacts/service_model/information_model/IEPD/xsd/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/"
	xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
	xmlns:fppq-res-ext="http://ojbc.org/IEPD/Extensions/FirearmPurchaseProhibitionQueryResultsExtension/1.0"
	xmlns:me-fpp-codes="http://ojbc.org/IEPD/Extensions/Maine/FirearmPurchaseProhibitionCodes/1.0"
	xmlns:qrer="http://ojbc.org/IEPD/Extensions/QueryRequestErrorReporting/1.0"
	xmlns:srm="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0"
	targetNamespace="http://ojbc.org/IEPD/Extensions/FirearmPurchaseProhibitionQueryResultsExtension/1.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
		schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"
		schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="./Subset/niem/structures/3.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.1/"
		schemaLocation="./Subset/niem/domains/jxdm/5.1/jxdm.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0"
		schemaLocation="query-results-metadata.xsd" />
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/QueryRequestErrorReporting/1.0"
		schemaLocation="query-request-error-reporting.xsd" />
	<xsd:complexType name="FirearmPurchaseProhibitionQueryResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for firearm purchase prohibition query
				results.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="fppq-res-ext:FirearmPurchaseProhibitionReport"
						minOccurs="0" />
					<xsd:element ref="srm:QueryResultsMetadata" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FirearmPurchaseProhibitionReportType">
		<xsd:annotation>
			<xsd:documentation>A data type for a firearm purchase prohibition
				report.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="fppq-res-ext:FirearmPurchaseProhibition"
						minOccurs="1" maxOccurs="1" />
					<xsd:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:CourtOrder" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="nc:ActivityPersonAssociation"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityCourtOrderAssociation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FirearmPurchaseProhibitionType">
		<xsd:annotation>
			<xsd:documentation>A data type for a firearm purchase prohibition.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="fppq-res-ext:FirearmPurchaseProhibitionReason"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FirearmPurchaseProhibitionReport"
		type="fppq-res-ext:FirearmPurchaseProhibitionReportType">
		<xsd:annotation>
			<xsd:documentation>A report containing firearm purchase prohibition
				information.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmPurchaseProhibition"
		type="fppq-res-ext:FirearmPurchaseProhibitionType">
		<xsd:annotation>
			<xsd:documentation>A data concept for a firearm purchase prohibition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmPurchaseProhibitionReason"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>A data concept for a firearm purchase prohibition
				reason.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>