shared/ojb-resources-common/src/main/resources/service-specifications/Organization_Identification_Results_Search_Results_Service/artifacts/service_model/information_model/Organization_Identification_Results_Search_Results_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:oirs-res-ext="http://ojbc.org/IEPD/Extensions/OrganizationIdentificationResultsSearchResults/1.0" xmlns:intel="http://release.niem.gov/niem/domains/intelligence/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:srm="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0" xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2" targetNamespace="http://ojbc.org/IEPD/Extensions/OrganizationIdentificationResultsSearchResults/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/" schemaLocation="Subset/niem/domains/jxdm/5.0/jxdm.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/intelligence/3.0/" schemaLocation="Subset/niem/domains/intelligence/3.0/intelligence.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0" schemaLocation="search-results-metadata.xsd"/>
	<xsd:import namespace="http://docs.oasis-open.org/wsn/br-2" schemaLocation="WS-Notification/wsn/br-2.xsd"/>
	<xsd:complexType name="OrganizationIdentificationResultsSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details returned about one or more individuals whose identification has been confirmed.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="oirs-res-ext:OrganizationIdentificationResultsSearchResult" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0"/>
					<xsd:element ref="nc:EntityOrganization" minOccurs="0"/>
					<xsd:element ref="nc:ContactInformationAssociation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OrganizationIdentificationResultsSearchResult" type="oirs-res-ext:OrganizationIdentificationResultsSearchResultType">
		<xsd:annotation>
			<xsd:documentation>An individual Organization Identification Result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrganizationIdentificationResultsSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A data type for an organization's identification result</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="oirs-res-ext:IdentifiedPerson" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="oirs-res-ext:IdentificationResultStatusRepresentation"/>
					<xsd:element ref="oirs-res-ext:Subscription" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SubsequentResultsAvailableIndicator" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:IdentificationReasonRepresentation" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:IdentificationReportedDate" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SourceSystemNameText" minOccurs="0"/>
					<xsd:element ref="intel:SystemIdentification" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SearchResultCategoryText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubscriptionType">
		<xsd:annotation>
			<xsd:documentation>A data type for a subscription.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="wsn-br:Topic"/>
					<xsd:element ref="oirs-res-ext:SubscriptionValidation" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SubscriptionGracePeriod" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SubscriptionIdentification"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Subscription" type="oirs-res-ext:SubscriptionType">
		<xsd:annotation>
			<xsd:documentation>A subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier for a subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionValidation" type="oirs-res-ext:SubscriptionValidationType">
		<xsd:annotation>
			<xsd:documentation>The details about validation requirements for a subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionGracePeriod" type="oirs-res-ext:SubscriptionGracePeriodType">
		<xsd:annotation>
			<xsd:documentation>The details about the grace period of a subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubscriptionValidationType">
		<xsd:annotation>
			<xsd:documentation>A data type for the details about validation requirements for a subscription.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="oirs-res-ext:SubscriptionValidationDueDate" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:SubscriptionValidatedDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubscriptionValidationDueDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date by which a subscription owner is required to confirm the subscription should still be active.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionValidatedDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that a subscription owner last validated the subscriptions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubscriptionGracePeriodType">
		<xsd:annotation>
			<xsd:documentation>A data type for the details about validation requirements for a subscription.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="oirs-res-ext:SubscriptionGracePeriodDateRange"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubscriptionGracePeriodDateRange" type="nc:DateRangeType">
		<xsd:annotation>
			<xsd:documentation>The range of dates that a subscription is in a grace period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionInGracePeriodIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the subscription is currently in a grace period, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IdentifiedPersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonType">
				<xsd:sequence>
					<xsd:element ref="j:PersonAugmentation" minOccurs="0"/>
					<xsd:element ref="oirs-res-ext:IdentifiedPersonTrackingIdentification"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IdentifiedPersonTrackingIdentification" type="nc:IdentificationType"/>
	<xsd:element name="IdentifiedPerson" type="oirs-res-ext:IdentifiedPersonType">
		<xsd:annotation>
			<xsd:documentation>
				A human being.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchResultCategoryText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the kind of search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscribedEntity" type="oirs-res-ext:SubscribedEntityType">
		<xsd:annotation>
			<xsd:documentation>An entity in a subscription that wishes to be notified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubscribedEntityType">
		<xsd:annotation>
			<xsd:documentation>A data type for an entity in a subscription that wishes to be notified.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubscriptionOriginatorType">
		<xsd:annotation>
			<xsd:documentation>A data type for the entity that created the subscription.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="oirs-res-ext:SubscriptionOriginatorIdentification"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubscriptionOriginatorIdentification">
		<xsd:annotation>
			<xsd:documentation>A way of uniquely identifying the originator of a subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionOriginator">
		<xsd:annotation>
			<xsd:documentation>An entity that created the subscription.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationResultStatusRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A state of a specific identifixat</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationResultStatusCode" type="oirs-res-ext:IdentificationResultStatusCodeType" substitutionGroup="oirs-res-ext:IdentificationResultStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>A state of a specific identifixat</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IdentificationResultStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="oirs-res-ext:IdentificationResultStatusCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="IdentificationResultStatusCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Archived"/>
			<xsd:enumeration value="Available for Subscription"/>
			<xsd:enumeration value="Subscribed"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="FingerprintIdentificationIssuedForCivilPurposeIndicator" type="niem-xs:boolean" substitutionGroup="nc:IdentificationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a fingerprint-based identification number was assigned based on fingerprints submitted for a civil background check, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FingerprintIdentificationIssuedForCriminalPurposeIndicator" type="niem-xs:boolean" substitutionGroup="nc:IdentificationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a fingerprint-based identification number was assigned based on fingerprints submitted for an arrest, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubsequentResultsAvailableIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a given identification result has one or more subsequent results related to it, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CivilIdentificationReasonCode" type="oirs-res-ext:CivilIdentificationReasonCodeType" substitutionGroup="oirs-res-ext:IdentificationReasonRepresentation"/>
	
	<xsd:complexType name="CivilIdentificationReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="oirs-res-ext:CivilIdentificationReasonCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="CivilIdentificationReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Firearms</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Volunteer, Child Care/School Employee, Non-Criminal Justice Employee and Licensing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Employee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>Security Clearance Information Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="CriminalIdentificationReasonCode" type="oirs-res-ext:CriminalIdentificationReasonCodeType" substitutionGroup="oirs-res-ext:IdentificationReasonRepresentation"/>
	
	<xsd:complexType name="CriminalIdentificationReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="oirs-res-ext:CriminalIdentificationReasonCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="CriminalIdentificationReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CAR">
				<xsd:annotation>
					<xsd:documentation>Criminal Tenprint Submission</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SOR">
				<xsd:annotation>
					<xsd:documentation>Sex Offender Registry</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="IdentificationReasonRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a reason why someone is being identified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="IdentificationReportedDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that a person's identification was reported by an identifying authority.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
</xsd:schema>
