intermediaries/subscription-notification-service-intermediary/src/test/resources/xmlInstances/dbUnit/rapback.dtd

<!ELEMENT dataset (
   (AGENCY_CONTACT_EMAIL|
    AGENCY_CONTACT_EMAIL_JOINER|
    AGENCY_EMAIL_CATEGORY|
    AGENCY_PROFILE|
    AGENCY_SUPER_USER|
    AGENCY_TRIGGERING_EVENT|
    CIVIL_FINGER_PRINTS|
    CIVIL_INITIAL_RAP_SHEET|
    CIVIL_INITIAL_RESULTS|
    CRIMINAL_INITIAL_RESULTS|
    DEPARTMENT|
    FBI_RAP_BACK_SUBSCRIPTION|
    FINGER_PRINTS_TYPE|
    IDENTIFICATION_CATEGORY|
    IDENTIFICATION_SUBJECT|
    IDENTIFICATION_TRANSACTION|
    JOB_TITLE|
    JOB_TITLE_PRIVILEGE|
    NOTIFICATION_MECHANISM|
    NSOR_DEMOGRAPHICS|
    NSOR_FIVE_YEAR_CHECK|
    NSOR_SEARCH_RESULT|
    OJBC_USER|
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT|
    RAP_BACK_CATEGORY|
    RAP_BACK_SUBSCRIPTION_TERM|
    RESULTS_SENDER|
    SUBSCRIPTION|
    SUBSCRIPTION_CATEGORY|
    SUBSCRIPTION_OWNER|
    SUBSCRIPTION_PROPERTIES|
    SUBSCRIPTION_SUBJECT_IDENTIFIER|
    SUBSEQUENT_RESULTS|
    TRIGGERING_EVENT)*)>

<!ELEMENT AGENCY_CONTACT_EMAIL EMPTY>
<!ATTLIST AGENCY_CONTACT_EMAIL
    AGENCY_CONTACT_EMAIL_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    AGENCY_EMAIL CDATA #REQUIRED
>

<!ELEMENT AGENCY_CONTACT_EMAIL_JOINER EMPTY>
<!ATTLIST AGENCY_CONTACT_EMAIL_JOINER
    AGENCY_CONTACT_EMAIL_JOINER_ID CDATA #REQUIRED
    AGENCY_CONTACT_EMAIL_ID CDATA #REQUIRED
    AGENCY_EMAIL_CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT AGENCY_EMAIL_CATEGORY EMPTY>
<!ATTLIST AGENCY_EMAIL_CATEGORY
    AGENCY_EMAIL_CATEGORY_ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT AGENCY_PROFILE EMPTY>
<!ATTLIST AGENCY_PROFILE
    AGENCY_ID CDATA #REQUIRED
    AGENCY_ORI CDATA #REQUIRED
    AGENCY_NAME CDATA #REQUIRED
    FBI_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    STATE_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    FIREARMS_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    CJ_EMPLOYMENT_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    CIVIL_AGENCY_INDICATOR CDATA #REQUIRED
>

<!ELEMENT AGENCY_SUPER_USER EMPTY>
<!ATTLIST AGENCY_SUPER_USER
    AGENCY_SUPER_USER_ID CDATA #REQUIRED
    SUPERVISED_AGENCY CDATA #REQUIRED
    OJBC_USER_ID CDATA #REQUIRED
>

<!ELEMENT AGENCY_TRIGGERING_EVENT EMPTY>
<!ATTLIST AGENCY_TRIGGERING_EVENT
    AGENCY_TRIGGERING_EVENT_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    TRIGGERING_EVENT_ID CDATA #REQUIRED
>

<!ELEMENT CIVIL_FINGER_PRINTS EMPTY>
<!ATTLIST CIVIL_FINGER_PRINTS
    FINGER_PRINTS_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    FINGER_PRINTS_FILE CDATA #REQUIRED
    FINGER_PRINTS_TYPE_ID CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CIVIL_INITIAL_RAP_SHEET EMPTY>
<!ATTLIST CIVIL_INITIAL_RAP_SHEET
    CIVIL_RAPSHEET_ID CDATA #REQUIRED
    CIVIL_INITIAL_RESULT_ID CDATA #REQUIRED
    RAP_SHEET CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CIVIL_INITIAL_RESULTS EMPTY>
<!ATTLIST CIVIL_INITIAL_RESULTS
    CIVIL_INITIAL_RESULT_ID CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CRIMINAL_INITIAL_RESULTS EMPTY>
<!ATTLIST CRIMINAL_INITIAL_RESULTS
    CRIMINAL_INITIAL_RESULT_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT DEPARTMENT EMPTY>
<!ATTLIST DEPARTMENT
    DEPARTMENT_ID CDATA #REQUIRED
    DEPARTMENT_NAME CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
>

<!ELEMENT FBI_RAP_BACK_SUBSCRIPTION EMPTY>
<!ATTLIST FBI_RAP_BACK_SUBSCRIPTION
    FBI_SUBSCRIPTION_ID CDATA #REQUIRED
    RAP_BACK_EXPIRATION_DATE CDATA #REQUIRED
    RAP_BACK_START_DATE CDATA #REQUIRED
    RAP_BACK_TERM_DATE CDATA #IMPLIED
    RAP_BACK_OPT_OUT_IN_STATE_INDICATOR CDATA #REQUIRED
    UCN CDATA #REQUIRED
    RAP_BACK_CATEGORY_CODE CDATA #REQUIRED
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_CODE CDATA #REQUIRED
    RAP_BACK_SUBSCRIPTION_TERM_CODE CDATA #IMPLIED
    EVENT_IDENTIFIER CDATA #IMPLIED
    SUBSCRIPTION_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT FINGER_PRINTS_TYPE EMPTY>
<!ATTLIST FINGER_PRINTS_TYPE
    FINGER_PRINTS_TYPE_ID CDATA #REQUIRED
    FINGER_PRINTS_TYPE CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATION_CATEGORY EMPTY>
<!ATTLIST IDENTIFICATION_CATEGORY
    IDENTIFICATION_CATEGORY_ID CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_CODE CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_DESCRIPTION CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_TYPE CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATION_SUBJECT EMPTY>
<!ATTLIST IDENTIFICATION_SUBJECT
    SUBJECT_ID CDATA #REQUIRED
    UCN CDATA #IMPLIED
    CRIMINAL_SID CDATA #IMPLIED
    CIVIL_SID CDATA #IMPLIED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    MIDDLE_INITIAL CDATA #IMPLIED
    SEX_CODE CDATA #IMPLIED
    DOB CDATA #IMPLIED
>

<!ELEMENT IDENTIFICATION_TRANSACTION EMPTY>
<!ATTLIST IDENTIFICATION_TRANSACTION
    TRANSACTION_NUMBER CDATA #REQUIRED
    SUBJECT_ID CDATA #REQUIRED
    OTN CDATA #REQUIRED
    OWNER_ORI CDATA #REQUIRED
    OWNER_PROGRAM_OCA CDATA #REQUIRED
    IDENTIFICATION_CATEGORY CDATA #REQUIRED
    FBI_SUBSCRIPTION_STATUS CDATA #IMPLIED
    ARCHIVED CDATA #REQUIRED
    SUBSCRIPTION_ID CDATA #IMPLIED
    AVAILABLE_FOR_SUBSCRIPTION_START_DATE CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT JOB_TITLE EMPTY>
<!ATTLIST JOB_TITLE
    JOB_TITLE_ID CDATA #REQUIRED
    DEPARTMENT_ID CDATA #REQUIRED
    TITLE_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT JOB_TITLE_PRIVILEGE EMPTY>
<!ATTLIST JOB_TITLE_PRIVILEGE
    JOB_TITLE_PRIVILEGE_ID CDATA #REQUIRED
    JOB_TITLE_ID CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT NOTIFICATION_MECHANISM EMPTY>
<!ATTLIST NOTIFICATION_MECHANISM
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    NOTIFICATIONMECHANISMTYPE CDATA #REQUIRED
    NOTIFICATIONADDRESS CDATA #REQUIRED
>

<!ELEMENT NSOR_DEMOGRAPHICS EMPTY>
<!ATTLIST NSOR_DEMOGRAPHICS
    NSOR_DEMOGRAPHICS_ID CDATA #REQUIRED
    DEMOGRAPHICS_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT NSOR_FIVE_YEAR_CHECK EMPTY>
<!ATTLIST NSOR_FIVE_YEAR_CHECK
    NSOR_FIVE_YEAR_CHECK_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    FIVE_YEAR_CHECK_FILE CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT NSOR_SEARCH_RESULT EMPTY>
<!ATTLIST NSOR_SEARCH_RESULT
    NSOR_SEARCH_RESULT_ID CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT OJBC_USER EMPTY>
<!ATTLIST OJBC_USER
    OJBC_USER_ID CDATA #REQUIRED
    FEDERATION_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    SUPER_USER_INDICATOR CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT EMPTY>
<!ATTLIST RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_CODE CDATA #REQUIRED
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_DESC CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_CATEGORY EMPTY>
<!ATTLIST RAP_BACK_CATEGORY
    RAP_BACK_CATEGORY_CODE CDATA #REQUIRED
    RAP_BACK_CATEGORY_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_SUBSCRIPTION_TERM EMPTY>
<!ATTLIST RAP_BACK_SUBSCRIPTION_TERM
    RAP_BACK_SUBSCRIPTION_TERM_CODE CDATA #REQUIRED
    RAP_BACK_SUBSCRIPTION_TERM_DESC CDATA #REQUIRED
>

<!ELEMENT RESULTS_SENDER EMPTY>
<!ATTLIST RESULTS_SENDER
    RESULTS_SENDER_ID CDATA #REQUIRED
    RESULTS_SENDER CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION EMPTY>
<!ATTLIST SUBSCRIPTION
    ID CDATA #REQUIRED
    TOPIC CDATA #REQUIRED
    STATE CDATA #IMPLIED
    STARTDATE CDATA #REQUIRED
    ENDDATE CDATA #IMPLIED
    CREATIONDATE CDATA #REQUIRED
    LASTVALIDATIONDATE CDATA #IMPLIED
    VALIDATIONDUEDATE CDATA #IMPLIED
    SUBSCRIBINGSYSTEMIDENTIFIER CDATA #REQUIRED
    SUBJECTNAME CDATA #REQUIRED
    AGENCY_CASE_NUMBER CDATA #IMPLIED
    ACTIVE CDATA #REQUIRED
    SUBSCRIPTION_CATEGORY_CODE CDATA #IMPLIED
    SUBSCRIPTION_OWNER_ID CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_CATEGORY EMPTY>
<!ATTLIST SUBSCRIPTION_CATEGORY
    SUBSCRIPTION_CATEGORY_CODE CDATA #REQUIRED
    SUBSCRIPTION_CATEGORY_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_OWNER EMPTY>
<!ATTLIST SUBSCRIPTION_OWNER
    SUBSCRIPTION_OWNER_ID CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    EMAIL_ADDRESS CDATA #REQUIRED
    FEDERATION_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_PROPERTIES EMPTY>
<!ATTLIST SUBSCRIPTION_PROPERTIES
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    PROPERTYNAME CDATA #REQUIRED
    PROPERTYVALUE CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_SUBJECT_IDENTIFIER EMPTY>
<!ATTLIST SUBSCRIPTION_SUBJECT_IDENTIFIER
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    IDENTIFIERNAME CDATA #REQUIRED
    IDENTIFIERVALUE CDATA #REQUIRED
>

<!ELEMENT SUBSEQUENT_RESULTS EMPTY>
<!ATTLIST SUBSEQUENT_RESULTS
    SUBSEQUENT_RESULT_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RAP_SHEET CDATA #REQUIRED
    CIVIL_SID CDATA #IMPLIED
    UCN CDATA #IMPLIED
    RESULTS_SENDER_ID CDATA #REQUIRED
    NOTIFICATION_INDICATOR CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT TRIGGERING_EVENT EMPTY>
<!ATTLIST TRIGGERING_EVENT
    TRIGGERING_EVENT_ID CDATA #REQUIRED
    TRIGGERING_EVENT_CODE CDATA #REQUIRED
    TRIGGERING_EVENT_DESC CDATA #REQUIRED
>

