intermediaries/subscription-notification-service-intermediary/src/test/resources/xmlInstances/dbUnit/rapback.dtd

<!ELEMENT dataset (
   (CONSTANTS|
    ENUM_VALUES|
    INDEXES|
    INDEX_COLUMNS|
    INFORMATION_SCHEMA_CATALOG_NAME|
    IN_DOUBT|
    LOCKS|
    QUERY_STATISTICS|
    RIGHTS|
    ROLES|
    SESSIONS|
    SESSION_STATE|
    SETTINGS|
    SYNONYMS|
    USERS|
    AGENCY_CONTACT_EMAIL|
    AGENCY_CONTACT_EMAIL_JOINER|
    AGENCY_EMAIL_CATEGORY|
    AGENCY_PROFILE|
    AGENCY_SUPER_USER|
    AGENCY_TRIGGERING_EVENT|
    CIVIL_FINGER_PRINTS|
    CIVIL_INITIAL_RAP_SHEET|
    CIVIL_INITIAL_RESULTS|
    CRIMINAL_INITIAL_RESULTS|
    DEPARTMENT|
    FBI_RAP_BACK_SUBSCRIPTION|
    FINGER_PRINTS_TYPE|
    IDENTIFICATION_CATEGORY|
    IDENTIFICATION_SUBJECT|
    IDENTIFICATION_TRANSACTION|
    JOB_TITLE|
    JOB_TITLE_PRIVILEGE|
    NOTIFICATION_MECHANISM|
    NSOR_DEMOGRAPHICS|
    NSOR_FIVE_YEAR_CHECK|
    NSOR_SEARCH_RESULT|
    OJBC_USER|
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT|
    RAP_BACK_CATEGORY|
    RAP_BACK_SUBSCRIPTION_TERM|
    RESULTS_SENDER|
    SUBSCRIPTION|
    SUBSCRIPTION_CATEGORY|
    SUBSCRIPTION_OWNER|
    SUBSCRIPTION_PROPERTIES|
    SUBSCRIPTION_SUBJECT_IDENTIFIER|
    SUBSEQUENT_RESULTS|
    TOTP_USER|
    TRIGGERING_EVENT)*)>

<!ELEMENT CONSTANTS EMPTY>
<!ATTLIST CONSTANTS
    CONSTANT_CATALOG CDATA #IMPLIED
    CONSTANT_SCHEMA CDATA #IMPLIED
    CONSTANT_NAME CDATA #IMPLIED
    VALUE_DEFINITION CDATA #IMPLIED
    DATA_TYPE CDATA #IMPLIED
    CHARACTER_MAXIMUM_LENGTH CDATA #IMPLIED
    CHARACTER_OCTET_LENGTH CDATA #IMPLIED
    CHARACTER_SET_CATALOG CDATA #IMPLIED
    CHARACTER_SET_SCHEMA CDATA #IMPLIED
    CHARACTER_SET_NAME CDATA #IMPLIED
    COLLATION_CATALOG CDATA #IMPLIED
    COLLATION_SCHEMA CDATA #IMPLIED
    COLLATION_NAME CDATA #IMPLIED
    NUMERIC_PRECISION CDATA #IMPLIED
    NUMERIC_PRECISION_RADIX CDATA #IMPLIED
    NUMERIC_SCALE CDATA #IMPLIED
    DATETIME_PRECISION CDATA #IMPLIED
    INTERVAL_TYPE CDATA #IMPLIED
    INTERVAL_PRECISION CDATA #IMPLIED
    MAXIMUM_CARDINALITY CDATA #IMPLIED
    DTD_IDENTIFIER CDATA #IMPLIED
    DECLARED_DATA_TYPE CDATA #IMPLIED
    DECLARED_NUMERIC_PRECISION CDATA #IMPLIED
    DECLARED_NUMERIC_SCALE CDATA #IMPLIED
    GEOMETRY_TYPE CDATA #IMPLIED
    GEOMETRY_SRID CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT ENUM_VALUES EMPTY>
<!ATTLIST ENUM_VALUES
    OBJECT_CATALOG CDATA #IMPLIED
    OBJECT_SCHEMA CDATA #IMPLIED
    OBJECT_NAME CDATA #IMPLIED
    OBJECT_TYPE CDATA #IMPLIED
    ENUM_IDENTIFIER CDATA #IMPLIED
    VALUE_NAME CDATA #IMPLIED
    VALUE_ORDINAL CDATA #IMPLIED
>

<!ELEMENT INDEXES EMPTY>
<!ATTLIST INDEXES
    INDEX_CATALOG CDATA #IMPLIED
    INDEX_SCHEMA CDATA #IMPLIED
    INDEX_NAME CDATA #IMPLIED
    TABLE_CATALOG CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    INDEX_TYPE_NAME CDATA #IMPLIED
    IS_GENERATED CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
    INDEX_CLASS CDATA #IMPLIED
>

<!ELEMENT INDEX_COLUMNS EMPTY>
<!ATTLIST INDEX_COLUMNS
    INDEX_CATALOG CDATA #IMPLIED
    INDEX_SCHEMA CDATA #IMPLIED
    INDEX_NAME CDATA #IMPLIED
    TABLE_CATALOG CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    COLUMN_NAME CDATA #IMPLIED
    ORDINAL_POSITION CDATA #IMPLIED
    ORDERING_SPECIFICATION CDATA #IMPLIED
    NULL_ORDERING CDATA #IMPLIED
    IS_UNIQUE CDATA #IMPLIED
>

<!ELEMENT INFORMATION_SCHEMA_CATALOG_NAME EMPTY>
<!ATTLIST INFORMATION_SCHEMA_CATALOG_NAME
    CATALOG_NAME CDATA #IMPLIED
>

<!ELEMENT IN_DOUBT EMPTY>
<!ATTLIST IN_DOUBT
    TRANSACTION_NAME CDATA #IMPLIED
    TRANSACTION_STATE CDATA #IMPLIED
>

<!ELEMENT LOCKS EMPTY>
<!ATTLIST LOCKS
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    SESSION_ID CDATA #IMPLIED
    LOCK_TYPE CDATA #IMPLIED
>

<!ELEMENT QUERY_STATISTICS EMPTY>
<!ATTLIST QUERY_STATISTICS
    SQL_STATEMENT CDATA #IMPLIED
    EXECUTION_COUNT CDATA #IMPLIED
    MIN_EXECUTION_TIME CDATA #IMPLIED
    MAX_EXECUTION_TIME CDATA #IMPLIED
    CUMULATIVE_EXECUTION_TIME CDATA #IMPLIED
    AVERAGE_EXECUTION_TIME CDATA #IMPLIED
    STD_DEV_EXECUTION_TIME CDATA #IMPLIED
    MIN_ROW_COUNT CDATA #IMPLIED
    MAX_ROW_COUNT CDATA #IMPLIED
    CUMULATIVE_ROW_COUNT CDATA #IMPLIED
    AVERAGE_ROW_COUNT CDATA #IMPLIED
    STD_DEV_ROW_COUNT CDATA #IMPLIED
>

<!ELEMENT RIGHTS EMPTY>
<!ATTLIST RIGHTS
    GRANTEE CDATA #IMPLIED
    GRANTEETYPE CDATA #IMPLIED
    GRANTEDROLE CDATA #IMPLIED
    RIGHTS CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
>

<!ELEMENT ROLES EMPTY>
<!ATTLIST ROLES
    ROLE_NAME CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT SESSIONS EMPTY>
<!ATTLIST SESSIONS
    SESSION_ID CDATA #IMPLIED
    USER_NAME CDATA #IMPLIED
    SERVER CDATA #IMPLIED
    CLIENT_ADDR CDATA #IMPLIED
    CLIENT_INFO CDATA #IMPLIED
    ISOLATION_LEVEL CDATA #IMPLIED
    EXECUTING_STATEMENT CDATA #IMPLIED
    CONTAINS_UNCOMMITTED CDATA #IMPLIED
    SESSION_STATE CDATA #IMPLIED
    BLOCKER_ID CDATA #IMPLIED
>

<!ELEMENT SESSION_STATE EMPTY>
<!ATTLIST SESSION_STATE
    STATE_KEY CDATA #IMPLIED
    STATE_COMMAND CDATA #IMPLIED
>

<!ELEMENT SETTINGS EMPTY>
<!ATTLIST SETTINGS
    SETTING_NAME CDATA #IMPLIED
    SETTING_VALUE CDATA #IMPLIED
>

<!ELEMENT SYNONYMS EMPTY>
<!ATTLIST SYNONYMS
    SYNONYM_CATALOG CDATA #IMPLIED
    SYNONYM_SCHEMA CDATA #IMPLIED
    SYNONYM_NAME CDATA #IMPLIED
    SYNONYM_FOR CDATA #IMPLIED
    SYNONYM_FOR_SCHEMA CDATA #IMPLIED
    TYPE_NAME CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    USER_NAME CDATA #IMPLIED
    IS_ADMIN CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT AGENCY_CONTACT_EMAIL EMPTY>
<!ATTLIST AGENCY_CONTACT_EMAIL
    AGENCY_CONTACT_EMAIL_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    AGENCY_EMAIL CDATA #REQUIRED
>

<!ELEMENT AGENCY_CONTACT_EMAIL_JOINER EMPTY>
<!ATTLIST AGENCY_CONTACT_EMAIL_JOINER
    AGENCY_CONTACT_EMAIL_JOINER_ID CDATA #REQUIRED
    AGENCY_CONTACT_EMAIL_ID CDATA #REQUIRED
    AGENCY_EMAIL_CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT AGENCY_EMAIL_CATEGORY EMPTY>
<!ATTLIST AGENCY_EMAIL_CATEGORY
    AGENCY_EMAIL_CATEGORY_ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT AGENCY_PROFILE EMPTY>
<!ATTLIST AGENCY_PROFILE
    AGENCY_ID CDATA #REQUIRED
    AGENCY_ORI CDATA #REQUIRED
    AGENCY_NAME CDATA #REQUIRED
    FBI_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    STATE_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    FIREARMS_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    CJ_EMPLOYMENT_SUBSCRIPTION_QUALIFICATION CDATA #REQUIRED
    CIVIL_AGENCY_INDICATOR CDATA #REQUIRED
>

<!ELEMENT AGENCY_SUPER_USER EMPTY>
<!ATTLIST AGENCY_SUPER_USER
    AGENCY_SUPER_USER_ID CDATA #REQUIRED
    SUPERVISED_AGENCY CDATA #REQUIRED
    OJBC_USER_ID CDATA #REQUIRED
>

<!ELEMENT AGENCY_TRIGGERING_EVENT EMPTY>
<!ATTLIST AGENCY_TRIGGERING_EVENT
    AGENCY_TRIGGERING_EVENT_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    TRIGGERING_EVENT_ID CDATA #REQUIRED
>

<!ELEMENT CIVIL_FINGER_PRINTS EMPTY>
<!ATTLIST CIVIL_FINGER_PRINTS
    FINGER_PRINTS_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    FINGER_PRINTS_FILE CDATA #REQUIRED
    FINGER_PRINTS_TYPE_ID CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CIVIL_INITIAL_RAP_SHEET EMPTY>
<!ATTLIST CIVIL_INITIAL_RAP_SHEET
    CIVIL_RAPSHEET_ID CDATA #REQUIRED
    CIVIL_INITIAL_RESULT_ID CDATA #REQUIRED
    RAP_SHEET CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CIVIL_INITIAL_RESULTS EMPTY>
<!ATTLIST CIVIL_INITIAL_RESULTS
    CIVIL_INITIAL_RESULT_ID CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT CRIMINAL_INITIAL_RESULTS EMPTY>
<!ATTLIST CRIMINAL_INITIAL_RESULTS
    CRIMINAL_INITIAL_RESULT_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT DEPARTMENT EMPTY>
<!ATTLIST DEPARTMENT
    DEPARTMENT_ID CDATA #REQUIRED
    DEPARTMENT_NAME CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
>

<!ELEMENT FBI_RAP_BACK_SUBSCRIPTION EMPTY>
<!ATTLIST FBI_RAP_BACK_SUBSCRIPTION
    FBI_SUBSCRIPTION_ID CDATA #REQUIRED
    RAP_BACK_EXPIRATION_DATE CDATA #REQUIRED
    RAP_BACK_START_DATE CDATA #REQUIRED
    RAP_BACK_TERM_DATE CDATA #IMPLIED
    RAP_BACK_OPT_OUT_IN_STATE_INDICATOR CDATA #REQUIRED
    UCN CDATA #REQUIRED
    RAP_BACK_CATEGORY_CODE CDATA #REQUIRED
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_CODE CDATA #REQUIRED
    RAP_BACK_SUBSCRIPTION_TERM_CODE CDATA #IMPLIED
    EVENT_IDENTIFIER CDATA #IMPLIED
    SUBSCRIPTION_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT FINGER_PRINTS_TYPE EMPTY>
<!ATTLIST FINGER_PRINTS_TYPE
    FINGER_PRINTS_TYPE_ID CDATA #REQUIRED
    FINGER_PRINTS_TYPE CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATION_CATEGORY EMPTY>
<!ATTLIST IDENTIFICATION_CATEGORY
    IDENTIFICATION_CATEGORY_ID CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_CODE CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_DESCRIPTION CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_TYPE CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATION_SUBJECT EMPTY>
<!ATTLIST IDENTIFICATION_SUBJECT
    SUBJECT_ID CDATA #REQUIRED
    UCN CDATA #IMPLIED
    CRIMINAL_SID CDATA #IMPLIED
    CIVIL_SID CDATA #IMPLIED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    MIDDLE_INITIAL CDATA #IMPLIED
    SEX_CODE CDATA #IMPLIED
    DOB CDATA #IMPLIED
>

<!ELEMENT IDENTIFICATION_TRANSACTION EMPTY>
<!ATTLIST IDENTIFICATION_TRANSACTION
    TRANSACTION_NUMBER CDATA #REQUIRED
    SUBJECT_ID CDATA #REQUIRED
    OTN CDATA #REQUIRED
    OWNER_ORI CDATA #REQUIRED
    OWNER_PROGRAM_OCA CDATA #REQUIRED
    IDENTIFICATION_CATEGORY CDATA #REQUIRED
    FBI_SUBSCRIPTION_STATUS CDATA #IMPLIED
    ARCHIVED CDATA #REQUIRED
    SUBSCRIPTION_ID CDATA #IMPLIED
    AVAILABLE_FOR_SUBSCRIPTION_START_DATE CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT JOB_TITLE EMPTY>
<!ATTLIST JOB_TITLE
    JOB_TITLE_ID CDATA #REQUIRED
    DEPARTMENT_ID CDATA #REQUIRED
    TITLE_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT JOB_TITLE_PRIVILEGE EMPTY>
<!ATTLIST JOB_TITLE_PRIVILEGE
    JOB_TITLE_PRIVILEGE_ID CDATA #REQUIRED
    JOB_TITLE_ID CDATA #REQUIRED
    IDENTIFICATION_CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT NOTIFICATION_MECHANISM EMPTY>
<!ATTLIST NOTIFICATION_MECHANISM
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    NOTIFICATIONMECHANISMTYPE CDATA #REQUIRED
    NOTIFICATIONADDRESS CDATA #REQUIRED
>

<!ELEMENT NSOR_DEMOGRAPHICS EMPTY>
<!ATTLIST NSOR_DEMOGRAPHICS
    NSOR_DEMOGRAPHICS_ID CDATA #REQUIRED
    DEMOGRAPHICS_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT NSOR_FIVE_YEAR_CHECK EMPTY>
<!ATTLIST NSOR_FIVE_YEAR_CHECK
    NSOR_FIVE_YEAR_CHECK_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    FIVE_YEAR_CHECK_FILE CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT NSOR_SEARCH_RESULT EMPTY>
<!ATTLIST NSOR_SEARCH_RESULT
    NSOR_SEARCH_RESULT_ID CDATA #REQUIRED
    SEARCH_RESULT_FILE CDATA #IMPLIED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RESULTS_SENDER_ID CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT OJBC_USER EMPTY>
<!ATTLIST OJBC_USER
    OJBC_USER_ID CDATA #REQUIRED
    FEDERATION_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
    SUPER_USER_INDICATOR CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT EMPTY>
<!ATTLIST RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_CODE CDATA #REQUIRED
    RAP_BACK_ACTIVITY_NOTIFICATION_FORMAT_DESC CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_CATEGORY EMPTY>
<!ATTLIST RAP_BACK_CATEGORY
    RAP_BACK_CATEGORY_CODE CDATA #REQUIRED
    RAP_BACK_CATEGORY_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT RAP_BACK_SUBSCRIPTION_TERM EMPTY>
<!ATTLIST RAP_BACK_SUBSCRIPTION_TERM
    RAP_BACK_SUBSCRIPTION_TERM_CODE CDATA #REQUIRED
    RAP_BACK_SUBSCRIPTION_TERM_DESC CDATA #REQUIRED
>

<!ELEMENT RESULTS_SENDER EMPTY>
<!ATTLIST RESULTS_SENDER
    RESULTS_SENDER_ID CDATA #REQUIRED
    RESULTS_SENDER CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION EMPTY>
<!ATTLIST SUBSCRIPTION
    ID CDATA #REQUIRED
    TOPIC CDATA #REQUIRED
    STATE CDATA #IMPLIED
    STARTDATE CDATA #REQUIRED
    ENDDATE CDATA #IMPLIED
    CREATIONDATE CDATA #REQUIRED
    LASTVALIDATIONDATE CDATA #IMPLIED
    VALIDATIONDUEDATE CDATA #IMPLIED
    SUBSCRIBINGSYSTEMIDENTIFIER CDATA #REQUIRED
    SUBJECTNAME CDATA #REQUIRED
    AGENCY_CASE_NUMBER CDATA #IMPLIED
    ACTIVE CDATA #REQUIRED
    SUBSCRIPTION_CATEGORY_CODE CDATA #IMPLIED
    SUBSCRIPTION_OWNER_ID CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_CATEGORY EMPTY>
<!ATTLIST SUBSCRIPTION_CATEGORY
    SUBSCRIPTION_CATEGORY_CODE CDATA #REQUIRED
    SUBSCRIPTION_CATEGORY_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_OWNER EMPTY>
<!ATTLIST SUBSCRIPTION_OWNER
    SUBSCRIPTION_OWNER_ID CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    EMAIL_ADDRESS CDATA #REQUIRED
    FEDERATION_ID CDATA #REQUIRED
    AGENCY_ID CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_PROPERTIES EMPTY>
<!ATTLIST SUBSCRIPTION_PROPERTIES
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    PROPERTYNAME CDATA #REQUIRED
    PROPERTYVALUE CDATA #REQUIRED
>

<!ELEMENT SUBSCRIPTION_SUBJECT_IDENTIFIER EMPTY>
<!ATTLIST SUBSCRIPTION_SUBJECT_IDENTIFIER
    ID CDATA #REQUIRED
    SUBSCRIPTIONID CDATA #REQUIRED
    IDENTIFIERNAME CDATA #REQUIRED
    IDENTIFIERVALUE CDATA #REQUIRED
>

<!ELEMENT SUBSEQUENT_RESULTS EMPTY>
<!ATTLIST SUBSEQUENT_RESULTS
    SUBSEQUENT_RESULT_ID CDATA #REQUIRED
    TRANSACTION_NUMBER CDATA #REQUIRED
    RAP_SHEET CDATA #REQUIRED
    CIVIL_SID CDATA #IMPLIED
    UCN CDATA #IMPLIED
    RESULTS_SENDER_ID CDATA #REQUIRED
    NOTIFICATION_INDICATOR CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    REPORT_TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT TOTP_USER EMPTY>
<!ATTLIST TOTP_USER
    ID CDATA #REQUIRED
    USER_NAME CDATA #IMPLIED
    SECRET_KEY CDATA #IMPLIED
    VALIDATION_CODE CDATA #IMPLIED
    SCRATCH_CODES CDATA #IMPLIED
    DATE_CREATED CDATA #REQUIRED
>

<!ELEMENT TRIGGERING_EVENT EMPTY>
<!ATTLIST TRIGGERING_EVENT
    TRIGGERING_EVENT_ID CDATA #REQUIRED
    TRIGGERING_EVENT_CODE CDATA #REQUIRED
    TRIGGERING_EVENT_DESC CDATA #REQUIRED
>

