shared/ojb-resources-common/src/main/resources/ssp/Subscription_Notification/WSDL/wsn/brw-2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<wsdl:definitions name="WS-BrokeredNotification"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2" 
    xmlns:wsn-brw="http://docs.oasis-open.org/wsn/brw-2"
    xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2"
    xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2"
    xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"   
    xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" 
    targetNamespace="http://docs.oasis-open.org/wsn/brw-2">
    
    <!-- ========================== Imports =========================== -->
    <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2" 
        location="../wsrf/rw-2.wsdl"/>
    
    <wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" 
        location="bw-2.wsdl"/>
    
    <!-- ===================== Types Definitions ====================== -->
    <wsdl:types>
        <xsd:schema>
            <xsd:import
                namespace="http://docs.oasis-open.org/wsn/br-2" 
                schemaLocation="br-2.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <!-- ========== NotificationBroker::RegisterPublisher =============
        RegisterPublisher(PublisherReference, TopicExpression* ,
        [Demand], [InitialTerminationTime])
        returns: WS-Resource qualified EPR to a PublisherRegistration --> 
    <wsdl:message name="RegisterPublisherRequest">
        <wsdl:part name="RegisterPublisherRequest" 
            element="wsn-br:RegisterPublisher"/>
    </wsdl:message>
    
    <wsdl:message name="RegisterPublisherResponse">
        <wsdl:part name="RegisterPublisherResponse" 
            element="wsn-br:RegisterPublisherResponse"/>
    </wsdl:message>
    
    <wsdl:message name="PublisherRegistrationRejectedFault">
        <wsdl:part name="PublisherRegistrationRejectedFault"             
            element="wsn-br:PublisherRegistrationRejectedFault"/>
    </wsdl:message> 
    
    <wsdl:message name="PublisherRegistrationFailedFault">
        <wsdl:part name="PublisherRegistrationFailedFault"
            element="wsn-br:PublisherRegistrationFailedFault"/>
    </wsdl:message> 
    
    <wsdl:message name="DestroyRegistrationRequest">
        <wsdl:part name="DestroyRegistrationRequest" 
            element="wsn-br:DestroyRegistration"/>
    </wsdl:message>
    
    <wsdl:message name="DestroyRegistrationResponse">
        <wsdl:part name="DestroyRegistrationResponse"
            element="wsn-br:DestroyRegistrationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ResourceNotDestroyedFault">
        <wsdl:part name="ResourceNotDestroyedFault"
            element="wsn-br:ResourceNotDestroyedFault"/>
    </wsdl:message> 
    
    <!-- =================== PortType Definitions ===================== -->
    
    <!-- ========== RegisterPublisher ============ -->
    <wsdl:portType name="RegisterPublisher">
        <wsdl:operation name="RegisterPublisher">
            <wsdl:input  message="wsn-brw:RegisterPublisherRequest"/>
            <wsdl:output message="wsn-brw:RegisterPublisherResponse"/>
            <wsdl:fault  name="ResourceUnknownFault"
                message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                message="wsn-bw:InvalidTopicExpressionFault"/>
            <wsdl:fault  name="TopicNotSupportedFault" 
                message="wsn-bw:TopicNotSupportedFault"/>
            <wsdl:fault  name="PublisherRegistrationRejectedFault" 
                message="wsn-brw:PublisherRegistrationRejectedFault"/>
            <wsdl:fault  name="PublisherRegistrationFailedFault" 
                message="wsn-brw:PublisherRegistrationFailedFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault" 
                message="wsn-bw:UnacceptableInitialTerminationTimeFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- ========== NotificationBroker PortType Definition ============ -->
    <wsdl:portType name="NotificationBroker">
        <!-- ============= extends NotificationConsumer ============= -->
        <wsdl:operation name="Notify">
            <wsdl:input message="wsn-bw:Notify" />
        </wsdl:operation>
        
        <!-- ============= extends NotificationProducer ============= -->
        <wsdl:operation name="Subscribe">
            <wsdl:input  message="wsn-bw:SubscribeRequest" />
            <wsdl:output message="wsn-bw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault" 
                message="wsn-bw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault" 
                message="wsn-bw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                message="wsn-bw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault" 
                message="wsn-bw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault" 
                message="wsn-bw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault" 
                message="wsn-bw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault" 
                message="wsn-bw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault" 
                message="wsn-bw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault" 
                message="wsn-bw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault" 
                message="wsn-bw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault" 
                message="wsn-bw:SubscribeCreationFailedFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetCurrentMessage">
            <wsdl:input  message="wsn-bw:GetCurrentMessageRequest"/>
            <wsdl:output message="wsn-bw:GetCurrentMessageResponse"/>
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault" 
                message="wsn-bw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                message="wsn-bw:InvalidTopicExpressionFault"/>
            <wsdl:fault  name="TopicNotSupportedFault" 
                message="wsn-bw:TopicNotSupportedFault"/>
            <wsdl:fault  name="NoCurrentMessageOnTopicFault" 
                message="wsn-bw:NoCurrentMessageOnTopicFault"/>
            <wsdl:fault  name="MultipleTopicsSpecifiedFault" 
                message="wsn-bw:MultipleTopicsSpecifiedFault"/>
        </wsdl:operation>
        
        <!-- ========= extends RegisterPublisher ======= -->      
        <wsdl:operation name="RegisterPublisher">
            <wsdl:input  message="wsn-brw:RegisterPublisherRequest"/>
            <wsdl:output message="wsn-brw:RegisterPublisherResponse"/>
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                message="wsn-bw:InvalidTopicExpressionFault"/>
            <wsdl:fault  name="TopicNotSupportedFault" 
                message="wsn-bw:TopicNotSupportedFault"/>
            <wsdl:fault  name="PublisherRegistrationRejectedFault" 
                message="wsn-brw:PublisherRegistrationRejectedFault"/>
            <wsdl:fault  name="PublisherRegistrationFailedFault" 
                message="wsn-brw:PublisherRegistrationFailedFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault" 
                message="wsn-bw:UnacceptableInitialTerminationTimeFault"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <!-- ===== PublisherRegistrationManager PortType Definition ====== -->
    <wsdl:portType name="PublisherRegistrationManager">
        
        <!--===DestroyRegistration:ImmediateResourceTermination==========-->
        <wsdl:operation name="DestroyRegistration">
            <wsdl:input  name="DestroyRegistrationRequest" 
                message="wsn-brw:DestroyRegistrationRequest" />
            <wsdl:output name="DestroyRegistrationResponse" 
                message="wsn-brw:DestroyRegistrationResponse" />
            <wsdl:fault name="ResourceUnknownFault"
                message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="ResourceNotDestroyedFault" 
                message="wsn-brw:ResourceNotDestroyedFault" />
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>