shared/ojb-resources-common/src/main/resources/ssp/Pretrial_Service_Enrollment_Reporting/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/cyfs/3.0/cyfs.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/cyfs/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Children, Youth, and Family Services</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../jxdm/5.0/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/5.0/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ContactActivityType">
    <xs:annotation>
      <xs:documentation>A data type for recording a contact with an individual.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="cyfs:ContactActivityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EducationType">
    <xs:annotation>
      <xs:documentation>A data type for describing the educational issues related to the court report and service plan of any participant  in the case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cyfs:EducationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonCaseAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between a person and a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubstanceAbuseDetailsType">
    <xs:annotation>
      <xs:documentation>A data type for the details about a person's substance abuse.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="cyfs:DrugUseFrequency" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssessmentCaseAssociation" type="j:ActivityCaseAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an assessment and a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactActivity" type="cyfs:ContactActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A contact with an individual.  The contact can be initiated by law enforcement, probation, human services, school, and others.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactActivityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ContactActivityType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrugUseFrequency" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for expressing how often a person uses drugs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrugUseFrequencyDescriptionText" type="nc:TextType" substitutionGroup="cyfs:DrugUseFrequency">
    <xs:annotation>
      <xs:documentation>A description of how often a person uses drugs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Education" type="cyfs:EducationType">
    <xs:annotation>
      <xs:documentation>A description of the educational issues related to the court report and service plan of any participant in the case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EducationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for EducationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCaseAssociation" type="cyfs:PersonCaseAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A relationship between a person and a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PreferredDrugName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of the substance identified as the primary drug of choice used by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
