shared/ojb-resources-common/src/main/resources/service-specifications/Probation_Event_Handler_Service/artifacts/service_model/information_model/Probation_Case-IEPD/xsd/NIEM_2.1/domains/jxdm/4.1/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.1/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.1"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="CaseAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a case.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:CaseCharge" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:CaseCourt" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:CaseType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="CaseType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:CaseType">
        <xsd:sequence>
          <xsd:element ref="j:CaseAugmentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeDispositionType">
    <xsd:annotation>
      <xsd:documentation>A data type for the results or processing of a charge.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DispositionType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DispositionType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeDisposition" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:ChargeStatute" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person involved in the enforcement of law.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element ref="j:PersonAugmentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeIdentification" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who is involved or suspected of being involved in an incident or criminal activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SupervisionAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a supervision.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:SupervisionAssignedTerm" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:SupervisionLevel" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SupervisionType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:SupervisionType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="SupervisionType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:SupervisionType">
        <xsd:sequence>
          <xsd:element ref="j:SupervisionAugmentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TermType">
    <xsd:annotation>
      <xsd:documentation>A data type for a duration length either in specific terms or as a range.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:TermDuration" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Case" type="j:CaseType" substitutionGroup="nc:Case" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Applied augmentation for type nc:CaseType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a case.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="CaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A charge or accusation a person is being tried for in a court of law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A court of law in which the case is being tried.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about the results or processing of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a unit of a court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DNACollectionStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>The status on the DNA collection from a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DNACollectionStatusText" type="nc:TextType" substitutionGroup="j:DNACollectionStatus" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status on the DNA collection from a subject.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DNACollectionStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person involved in the enforcement of law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to refer to an enforcement official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="j:PersonType" substitutionGroup="nc:Person">
    <xsd:annotation>
      <xsd:documentation>Applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Person"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRegisteredOffenderIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is required to register as an offender; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier assigned to a person by a state identification bureau, generally based on submission of the person's fingerprints to the state's Automated Fingerprint Identification System (AFIS).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a set of laws for a particular jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionAssignedTerm" type="j:TermType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about the duration of time a person has been assigned to be under supervision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionAugmentation" type="j:SupervisionAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a supervision.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="SupervisionType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionLevel" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A level of supervision required by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionLevelText" type="nc:TextType" substitutionGroup="j:SupervisionLevel" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A level of supervision required by a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="SupervisionLevel"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TermDuration" type="niem-xsd:duration" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific range or duration of a term.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
