shared/ojb-resources-common/src/main/resources/service-specifications/Criminal_Record_Recording_Service/schemas/SIP_WS_1.3/Criminal_Record_Recording_Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cr="http://ojbc.org/IEPD/CriminalRecord/1.0" xmlns:tns="http://ojbc.org/Services/WSDL/CriminalRecordRecordingService/1.0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ojbc.org/Services/WSDL/CriminalRecordRecordingService/1.0">
	<wsdl:import namespace="http://ojbc.org/PolicyAssertions/WSDL/GFIPM_SecurityPolicy/1.0/" location="../../../../policy-assertions/GFIPMSystemToSystem.wsdl"/>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://ojbc.org/IEPD/CriminalRecord/1.0" schemaLocation="../../artifacts/service_model/information_model/Criminal_Record_IEPD/xsd/CriminalRecord.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ArrestRecord">
		<wsdl:part name="ArrestRecord" element="cr:ArrestRecord"/>
	</wsdl:message>
	<wsdl:message name="ChargeRecord">
		<wsdl:part name="ChargeRecord" element="cr:ChargeRecord"/>
	</wsdl:message>
	<wsdl:message name="ChargeDispositionRecord">
		<wsdl:part name="ChargeDispositionRecord" element="cr:ChargeDispositionRecord"/>
	</wsdl:message>
	<wsdl:portType name="Criminal-Record-Recording-Service">
		<wsdl:operation name="RecordArrest">
			<wsdl:input name="RecordArrest" message="tns:ArrestRecord"/>
		</wsdl:operation>
		<wsdl:operation name="RecordCharge">
			<wsdl:input name="RecordCharge" message="tns:ChargeRecord"/>
		</wsdl:operation>
		<wsdl:operation name="RecordChargeDisposition">
			<wsdl:input name="RecordChargeDisposition" message="tns:ChargeDispositionRecord"/>
		</wsdl:operation>
	</wsdl:portType>
	<!-- Secure, GFIPM-conforming binding -->
	<wsdl:binding name="Criminal-Record-Recording-Secure-ServiceSOAPBinding" type="tns:Criminal-Record-Recording-Service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#GFIPMSystemToSystem"/>
		<wsdl:operation name="RecordArrest">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/CriminalRecordRecordingService/1.0/RecordArrest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="RecordCharge">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/CriminalRecordRecordingService/1.0/RecordCharge" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="RecordChargeDisposition">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/CriminalRecordRecordingService/1.0/RecordChargeDisposition" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Criminal-Record-Recording-ServiceService">
		<wsdl:port name="Criminal-Record-Recording-Secure-Service" binding="tns:Criminal-Record-Recording-Secure-ServiceSOAPBinding">
			<soap:address location="http://localhost"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
