shared/ojb-resources-common/src/main/resources/ssp/Firearm_Registration_Query_Results_Service/artifacts/service_model/information_model/Firearm_Registration_Query_Results_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:s="http://niem.gov/niem/structures/2.0" 
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" 
	xmlns:firearm-ext="http://ojbc.org/IEPD/Extensions/FirearmRegistrationQueryResults/1.0" 
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" 
	xmlns:qrer="http://ojbc.org/IEPD/Extensions/QueryRequestErrorReporting/1.0" 
	xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
	xmlns:FirearmTypeCodes="http://ojbc.org/IEPD/Extensions/FirearmTypeCodes/1.0" 
	xmlns:firearms-hi="http://ojbc.org/IEPD/Extensions/Hawaii/FirearmCodes/1.0"
	xmlns:srm="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0" 
	targetNamespace="http://ojbc.org/IEPD/Extensions/FirearmRegistrationQueryResults/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="Subset/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/FirearmTypeCodes/1.0" schemaLocation="firearm_type_codes.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0" schemaLocation="query-results-metadata.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="Subset/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/QueryRequestErrorReporting/1.0" schemaLocation="query-request-error-reporting.xsd"/>
	<xsd:element name="FirearmRegistrationQueryResults" type="firearm-ext:FirearmRegistrationQueryResultsType">
		<xsd:annotation>
			<xsd:documentation>A set of details that can be used to search for a Firearm Registration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FirearmRegistrationQueryResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for set of details associated with a Firearm Registration.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:Person" minOccurs="0"/>
					<xsd:element ref="firearm-ext:Firearm" minOccurs="0"/>
					<xsd:element ref="firearm-ext:FirearmRegistrant" minOccurs="0"/>
					<xsd:element ref="firearm-ext:ItemRegistration" minOccurs="0"/>
					<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PropertyRegistrationAssociation" minOccurs="0"/>
					<xsd:element ref="nc:ResidenceAssociation" minOccurs="0"/>
					<xsd:element ref="nc:PersonContactInformationAssociation" minOccurs="0"/>
					<xsd:element ref="nc:PersonEmploymentAssociation" minOccurs="0"/>
					<xsd:element ref="nc:EmployeeContactInformationAssociation" minOccurs="0"/>
					<xsd:element ref="srm:QueryResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonFirearmRegistrationQueryResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for set of details associated with a Firearm Registration.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:Person" minOccurs="0"/>
					<xsd:element ref="firearm-ext:Firearm" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="firearm-ext:FirearmRegistrant" minOccurs="0"/>
					<xsd:element ref="firearm-ext:ItemRegistration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PropertyRegistrationAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ResidenceAssociation" minOccurs="0"/>
					<xsd:element ref="nc:PersonContactInformationAssociation" minOccurs="0"/>
					<xsd:element ref="nc:PersonEmploymentAssociation" minOccurs="0"/>
					<xsd:element ref="nc:EmployeeContactInformationAssociation" minOccurs="0"/>
					<xsd:element ref="srm:QueryResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FirearmType">
		<xsd:complexContent>
			<xsd:extension base="nc:FirearmType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:FirearmMakeRepresentation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="firearm-ext:FirearmReceivedDate" minOccurs="0"/>
					<xsd:element ref="firearm-ext:FirearmImporter" minOccurs="0"/>
					<xsd:element ref="firearm-ext:FirearmAcquisition" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="firearm-ext:FirearmStatus" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FirearmStatusType">
		<xsd:complexContent>
			<xsd:extension base="nc:StatusType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:FirearmStatusRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FirearmStatus" type="firearm-ext:FirearmStatusType">
		<xsd:annotation>
			<xsd:documentation>The state or disposition of a firearm.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmStatusRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A head element for ways to represent the status of a firearm.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Firearm" type="firearm-ext:FirearmType">
		<xsd:annotation>
			<xsd:documentation>
				Firearm.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmAcquisition" type="firearm-ext:FirearmAcquisitionType"/>
	<xsd:complexType name="FirearmAcquisitionType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:FirearmAcquisitionSourceDescriptionText" minOccurs="0"/>
					<xsd:element ref="firearm-ext:FirearmAcquisitionLocationAddress" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FirearmReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmAcquisitionLocationAddress" type="nc:AddressType">
		<xsd:annotation>
			<xsd:documentation>The address where from where a specific firearm was acquired.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmAcquisitionSourceDescriptionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the source of the firearm for the specific acquisition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegistrationFingerprintDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>
				The date the person was finger printed for the specific registration
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ItemRegistrationType">
		<xsd:complexContent>
			<xsd:extension base="nc:ItemRegistrationType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:AgeAtRegistration" minOccurs="0"/>
					<xsd:element ref="firearm-ext:RegistrationFingerprintDate" minOccurs="0"/>
					<xsd:element ref="firearm-ext:PermitNumber" minOccurs="0"/>
					<xsd:element ref="firearm-ext:PermitDate" minOccurs="0"/>
					<xsd:element ref="firearm-ext:RegistrationStatus" minOccurs="0"/>
					<xsd:element ref="firearm-ext:RegistrationNotesText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
		<xsd:element name="RegistrationStatus" type="firearm-ext:RegistrationStatusType">
		<xsd:annotation>
			<xsd:documentation>The state or disposition of a registration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RegistrationStatusType">
		<xsd:complexContent>
			<xsd:extension base="nc:StatusType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:FirearmRegistrationStatusRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FirearmRegistrationStatusRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A head element for ways to represent the status of a firearm registration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemRegistration" type="firearm-ext:ItemRegistrationType">
		<xsd:annotation>
			<xsd:documentation>
				Item Registration.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmReceivedDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The data the person received the firearm.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmImporter" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>ADD DESCRIPTION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmTypeCode" type="FirearmTypeCodes:FirearmTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>Firearm types..
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmAction" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>ADD DESCRIPTION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AgeAtRegistration" type="nc:TimeMeasureType">
		<xsd:annotation>
			<xsd:documentation>ADD DESCRIPTION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>ADD DESCRIPTION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegistrationNotesText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Registration notes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date the permit was issued to the registrant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that is to be queried. Absence of this element indicates that all known systems shall be queried.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FirearmRegistrantType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="firearm-ext:FirearmRegistrantCommentsText" minOccurs="0"/>
					<xsd:element ref="firearm-ext:FirearmRegistrantLawEnforcementOfficersSafetyActIndicator" minOccurs="0"/> 
					<xsd:element ref="nc:RoleOfPersonReference" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FirearmRegistrant" type="firearm-ext:FirearmRegistrantType">
		<xsd:annotation>
			<xsd:documentation>A person to whom a firearm is registered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmRegistrantCommentsText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A comment or comments about the registrant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmRegistrantLawEnforcementOfficersSafetyActIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the registrant is covered by the Law Enforcement Officers Safety Act (LEOSA), false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmMakeRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A placeholder for the make of a firearm. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmMakeText" type="nc:TextType" substitutionGroup="firearm-ext:FirearmMakeRepresentation">
		<xsd:annotation>
			<xsd:documentation>A text representation of a make of a firearm. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmStatusText" type="nc:TextType" substitutionGroup="firearm-ext:FirearmStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>
				Status of the firearm (stolen, lost, etc).
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmRegistrationStatusText" type="nc:TextType" substitutionGroup="firearm-ext:FirearmRegistrationStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>The status of a firearm registration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
