shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Query_Request/artifacts/service_model/information_model/IEPD/xsd/FBI_Query_Request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:fqr-doc="http://ojbc.org/IEPD/Exchange/FBIQueryRequest/1.0"
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Exchange/FBIQueryRequest/1.0">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="NIEM_2.1/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="NIEM_2.1/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:complexType name="FBIRecordRequestType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" ref="fqr-doc:PersonRecordRequestIdentification" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="j:Person" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="fqr-doc:RapBackSubscriptionIdentification" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="fqr-doc:RapBackActivityNotificationIdentification" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PersonRecordRequestIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identification of a person record request.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FBIRecordRequest" type="fqr-doc:FBIRecordRequestType">
		<xsd:annotation>
			<xsd:documentation>A request for a person record from the FBI.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackSubscriptionIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>Unique identification assigned by NGI that identifies a rap back subscription as a whole.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackActivityNotificationIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identification for future reported event matches for rap back.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>