shared/ojb-resources-common/src/main/resources/ssp/Access_Control_Request/artifacts/service_model/information_model/IEPD/xsd/extension-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ojbc.org/IEPD/Extensions/AccessControlRequestExtension/1.0" 
	xmlns:acreq-ext="http://ojbc.org/IEPD/Extensions/AccessControlRequestExtension/1.0" 
	xmlns:nc30="http://release.niem.gov/niem/niem-core/3.0/"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" 
	elementFormDefault="qualified">
	<xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/" schemaLocation="Subset/niem/domains/jxdm/5.0/jxdm.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xs:complexType name="IdentityType">
		<xs:complexContent>
			<xs:extension base="nc30:IdentityType">
				<xs:sequence>
					<xs:element ref="acreq-ext:FederatedQueryUserIndicator" minOccurs="0"/>
					<xs:element ref="nc30:ContactInformationAssociation" minOccurs="0"/>
					<xs:element ref="nc30:PersonEmploymentAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentityBasedAccessControlRequestType">
		<xs:complexContent>
			<xs:extension base="nc30:IdentityType">
				<xs:sequence>
					<xs:element ref="acreq-ext:PersonIdentity" />
					<xs:element ref="acreq-ext:RequestedResourceRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PersonIdentity" type="acreq-ext:IdentityType"/>
		<xs:element name="IdentityIdentification" type="nc30:IdentificationType" substitutionGroup="nc30:IdentityAugmentationPoint">
		<xs:annotation>
			<xs:documentation>A unique identifier assigned to an identity.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CriminalJusticeOrganizationIndicator" type="niem-xs:boolean" substitutionGroup="nc30:OrganizationAugmentationPoint">
		<xs:annotation>
			<xs:documentation>True if the agency is a court or a government agency or any subunit thereof which performs the administration of criminal justice persuant a statue or executive order, and which allocates a substantial part of it's annual budget to the administration of criminal justice; False otherwise .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LawEnforcementOrganizationIndicator" type="niem-xs:boolean" substitutionGroup="nc30:OrganizationAugmentationPoint">
		<xs:annotation>
			<xs:documentation>True if the agency is a government agency responsible for enforcing the law; False otherwise.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FederatedQueryUserIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>True if the person is authorized to access federated query capabilities, false otherwise.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RequestedResourceRepresentation" abstract="true">
		<xs:annotation>
			<xs:documentation>A place holder for a resource for which access is being requested</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RequestedResourceURI" type="nc30:TextType" substitutionGroup="acreq-ext:RequestedResourceRepresentation">
		<xs:annotation>
			<xs:documentation>A URI assigned to a resource for which access is being requested.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RequestedResourceFullyQualifiedServiceOperationNameText" type="nc30:TextType" substitutionGroup="acreq-ext:RequestedResourceRepresentation">
		<xs:annotation>
			<xs:documentation>A fully qualified name of a service operation for which access is being requested.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>