shared/ojb-resources-common/src/main/resources/ssp/Identification_Reporting/schemas/SIP_WS_1.3/Identification_Reporting_Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:pidreq="http://ojbc.org/IEPD/Exchange/PersonIdentificationRequest/1.0" 
	xmlns:pidres-doc="http://ojbc.org/IEPD/Exchange/PersonIdentificationResults/1.0" 
	xmlns:tns="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0" 
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
	xmlns:wsoma="http://www.w3.org/2007/08/soap12-mtom-policy" 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	targetNamespace="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0">

	<wsp:Policy wsu:Id="MTOMPolicy" 
		xmlns:mtom="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" >
	    <mtom:OptimizedMimeSerialization wsp:Optional="true"/>
	</wsp:Policy>

	<wsdl:import namespace="http://ojbc.org/PolicyAssertions/WSDL/GFIPM_SecurityPolicy/1.0/" location="../../../../policy-assertions/GFIPMSystemToSystem.wsdl"/>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://ojbc.org/IEPD/Exchange/PersonIdentificationRequest/1.0" schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/person_identification_request_schema.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://ojbc.org/IEPD/Exchange/PersonIdentificationResults/1.0" schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/person_identification_results_schema.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PersonStateIdentificationRequest">
		<wsdl:part name="PersonStateIdentificationRequest" element="pidreq:PersonStateIdentificationRequest"/>
	</wsdl:message>
	<wsdl:message name="PersonStateIdentificationResults">
		<wsdl:part name="PersonStateIdentificationResults" element="pidres-doc:PersonStateIdentificationResults"/>
	</wsdl:message>
	<wsdl:message name="PersonFederalIdentificationRequest">
		<wsdl:part name="PersonFederalIdentificationRequest" element="pidreq:PersonFederalIdentificationRequest"/>
	</wsdl:message>
	<wsdl:message name="PersonFederalIdentificationResults">
		<wsdl:part name="PersonFederalIdentificationResults" element="pidres-doc:PersonFederalIdentificationResults"/>
	</wsdl:message>
	<wsdl:portType name="Identification-Reporting-Service">
		<wsdl:operation name="ReportPersonStateIdentificationRequest">
			<wsdl:input name="PersonStateIdentificationRequest" message="tns:PersonStateIdentificationRequest"/>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonStateIdentificationResults">
			<wsdl:input name="PersonStateIdentificationResults" message="tns:PersonStateIdentificationResults"/>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonFederalIdentificationRequest">
			<wsdl:input name="PersonFederalIdentificationRequest" message="tns:PersonFederalIdentificationRequest"/>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonFederalIdentificationResults">
			<wsdl:input name="PersonFederalIdentificationResults" message="tns:PersonFederalIdentificationResults"/>
		</wsdl:operation>
	</wsdl:portType>
	<!-- Secure, GFIPM-conforming binding -->
	<wsdl:binding name="Identification-Reporting-Secure-ServiceSOAPBinding" type="tns:Identification-Reporting-Service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#GFIPMSystemToSystem"/>
		<wsp:PolicyReference URI="#MTOMPolicy" wsdl:required="true"/>
		<wsdl:operation name="ReportPersonStateIdentificationRequest">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0/ReportPersonStateIdentificationRequest" style="document"/>
			<wsdl:input name="PersonStateIdentificationRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonStateIdentificationResults">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0/ReportPersonStateIdentificationResults" style="document"/>
			<wsdl:input name="PersonStateIdentificationResults">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonFederalIdentificationRequest">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0/ReportPersonFederalIdentificationRequest" style="document"/>
			<wsdl:input name="PersonFederalIdentificationRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ReportPersonFederalIdentificationResults">
			<soap:operation soapAction="http://ojbc.org/Services/WSDL/IdentificationReportingService/1.0/ReportPersonFederalIdentificationResults" style="document"/>
			<wsdl:input name="PersonFederalIdentificationResults">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Identification-Reporting-ServiceService">
		<wsdl:port name="Identification-Reporting-Secure-Service" binding="tns:Identification-Reporting-Secure-ServiceSOAPBinding">
			<soap:address location="http://localhost"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
