shared/ojb-resources-common/src/main/resources/service-specifications/Criminal_History_Update_Reporting_Service/artifacts/service_model/information_model/Criminal_History_Update_Report-IEPD/xsd/Subset/niem/codes/fbi_ncic/3.0/fbi_ncic.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>FBI code lists for the National Crime and Information Center (NCIC-2000).
Source: FBI Crminal Justice Information Systems (CJIS) Division; 
Publication: leo.gov database; 
https://www.leo.gov</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:simpleType name="EYECodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Eye Color.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BLK">
        <xs:annotation>
          <xs:documentation>Black</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLU">
        <xs:annotation>
          <xs:documentation>Blue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRO">
        <xs:annotation>
          <xs:documentation>Brown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRN">
        <xs:annotation>
          <xs:documentation>Green</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRY">
        <xs:annotation>
          <xs:documentation>Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HAZ">
        <xs:annotation>
          <xs:documentation>Hazel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MAR">
        <xs:annotation>
          <xs:documentation>Maroon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MUL">
        <xs:annotation>
          <xs:documentation>Multicolored</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNK">
        <xs:annotation>
          <xs:documentation>Pink</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXX">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EYECodeType">
    <xs:annotation>
      <xs:documentation>A data type for Eye Color.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:EYECodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="HAICodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Hair Color.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BLD">
        <xs:annotation>
          <xs:documentation>Bald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLK">
        <xs:annotation>
          <xs:documentation>Black</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLN">
        <xs:annotation>
          <xs:documentation>Blond or Strawberry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLU">
        <xs:annotation>
          <xs:documentation>Blue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRO">
        <xs:annotation>
          <xs:documentation>Brown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRN">
        <xs:annotation>
          <xs:documentation>Green</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRY">
        <xs:annotation>
          <xs:documentation>Gray or Partially Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ONG">
        <xs:annotation>
          <xs:documentation>Orange</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PLE">
        <xs:annotation>
          <xs:documentation>Purple</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNK">
        <xs:annotation>
          <xs:documentation>Pink</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RED">
        <xs:annotation>
          <xs:documentation>Red or Auburn</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SDY">
        <xs:annotation>
          <xs:documentation>Sandy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WHI">
        <xs:annotation>
          <xs:documentation>White</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXX">
        <xs:annotation>
          <xs:documentation>Unknown or Completely Bald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HAICodeType">
    <xs:annotation>
      <xs:documentation>A data type for Hair Color.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:HAICodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="RACCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Race.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>Asian or Pacific Islander - a person having origins in any of the original peoples of the Far East, Southeast Asia, the Indian subcontinent or the Pacific Islands.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:documentation>Black - a person having origins in any of the black racial groups of Africa.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:documentation>American Indian or Alaskan Native - a person having origins in any of the original peoples of the Americas and maintaining cultural identification through tribal affiliations or community recognition.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:documentation>White - a person having origins in any of the original peoples of Europe, North Africa, or Middle East.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RACCodeType">
    <xs:annotation>
      <xs:documentation>A data type for Race.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:RACCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SEXCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Sex.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown - For Unidentified Only</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SEXCodeType">
    <xs:annotation>
      <xs:documentation>A data type for Sex.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:SEXCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
