shared/ojb-resources-common/src/main/resources/service-specifications/Court_Case_Query_Results_Service/artifacts/service_model/information_model/Court_Case_Query_Results-IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" 
xmlns:structures="http://release.niem.gov/niem/structures/3.0/" 
xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" 
xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" 
xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" 
xmlns:biom="http://release.niem.gov/niem/domains/biometrics/3.1/"
xmlns:scr="http://release.niem.gov/niem/domains/screening/3.0/" 
xmlns:ccq-res-ext="http://ojbc.org/IEPD/Extensions/CourtCaseQueryResultsExtension/1.0" 
xmlns:qrer="http://ojbc.org/IEPD/Extensions/QueryResultsErrorReporting/1.0" 
xmlns:srm="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0" 
 targetNamespace="http://ojbc.org/IEPD/Extensions/CourtCaseQueryResultsExtension/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.1/" schemaLocation="./Subset/niem/domains/jxdm/5.1/jxdm.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/biometrics/3.1/" schemaLocation="./Subset/niem/domains/biometrics/3.1/biom.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="./Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0" schemaLocation="query-results-metadata.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/QueryResultsErrorReporting/1.0" schemaLocation="query-results-error-reporting.xsd"/>
	<xsd:complexType name="CourtCaseQueryResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for set of details associated with query results from a court.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<!--  xsd:element ref="ccq-res-ext:SourceSystemNameText" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="ccq-res-ext:Defendant" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:ContactPersonLocation" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:Citation" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:CaseCourtEvent" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:CaseHearing" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="nc:Supervision" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:BailBond" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:Warrant" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="ccq-res-ext:Payment" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="nc:Vehicle" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/> 
					<xsd:element ref="j:Victim" minOccurs="0" maxOccurs="unbounded"/-->
					<xsd:element ref="srm:QueryResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
<!-- Extension -->
	<xsd:complexType name="CaseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:CourtCaseSealedIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:RemandDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:UnderAdvisementDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:JuryRequestedIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:JuryVerdictIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:CourtCase"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:DefendantCaseFinancials" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:SupervisionCustodyStatus" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:Attorney" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:CaseJudge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:DefendantCase"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:Defendant"  minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtCaseType">
	
	<!-- Use nc:CourtCaseAugmentationPoint -->
	
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a court case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:FirstAppearanceDate" />
					<xsd:element ref="ccq-res-ext:TrialByText" />
					<xsd:element ref="ccq-res-ext:SpeedyTrialText" />
					<xsd:element ref="ccq-res-ext:FTPHoldIndefiniteIndicator" />
					<xsd:element ref="ccq-res-ext:FTAHoldDate" />
					<xsd:element ref="ccq-res-ext:FTPHoldDate" />
					<xsd:element ref="ccq-res-ext:FTCHoldDate" />
					<xsd:element ref="ccq-res-ext:FTPVHoldDate" />
					<xsd:element ref="ccq-res-ext:FPCNumberText"/>
					<xsd:element ref="j:CaseCourtEvent" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefendantCaseFinancialType">
		<xsd:annotation>
			<xsd:documentation>A data type for a defendant's financial information within a court case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AmountType">
				<xsd:sequence>
					<xsd:element ref="j:FinancialAccountPresentBalanceAmount" />
					<xsd:element ref="ccq-res-ext:BalanceDueDate" />
					<xsd:element ref="ccq-res-ext:BalanceExtensionDate" />
					<xsd:element ref="ccq-res-ext:DoNotAllowEPaymentIndicator" />
					<xsd:element ref="ccq-res-ext:InterestStartDate" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefendantCaseType">
		<xsd:annotation>
			<xsd:documentation>A data type for a defendant's financial information within a court case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CourtActivityType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" />
					<xsd:element ref="nc:CaseTrackingID" />
					<xsd:element ref="nc:PersonDescriptionText" />
					<xsd:element ref="j:CaseJudge" />
					<xsd:element ref="nc:DispositionDate" />
					<xsd:element ref="j:Violation" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefendantType">
		<xsd:annotation>
			<xsd:documentation>A data type for a defendant that is related to a court case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:SubjectType">
			
			<!--  Many of the properties below are properties on nc:person -->
			
			<!--  A number of the properties below are not consistent with a defendant or person properties -->
			
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" />
					<xsd:element ref="nc:PersonName" />
					<xsd:element ref="nc:Organization" />
					<xsd:element ref="nc:SupervisionCustodyStatus" />
					<xsd:element ref="j:DriverLicense" />
					<xsd:element ref="ccq-res-ext:JuvenileIDText" />
					<xsd:element ref="ccq-res-ext:InmateIDText" />
					<xsd:element ref="nc:PersonOtherIdentification" />
					<xsd:element ref="biom:PhysicalFeatureDescriptionDetail" />
					<xsd:element ref="ccq-res-ext:DefendantCommentText" />
					<xsd:element ref="ccq-res-ext:ClerkCommentText" />
					<xsd:element ref="nc:PersonAliasIdentityAssociation" />
					<xsd:element ref="nc:LocationAddressAbstract" />
					<xsd:element ref="j:ContactPersonTelephoneNumber" />
					<xsd:element ref="nc:ElectronicAddress" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocationAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:AddressIDText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicAddressAugmentationType">
	
	<!-- Where is the element for this type declared ? -->
	
		<xsd:annotation>
			<xsd:documentation>A data type for additional information related to an electronic address.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:ElectronicContactIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ElectronicContactTypeText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CitationAugmentationType">
	
	<!--  Where is the element for this type declared ? -->
	
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a citation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:CitationIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:CourtAppearanceDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:DrivingIncidentLegalSpeedRateMeasure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:DrivingIncidentRecordedSpeedRateMeasure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:PoundsOverMeasure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:IncidentLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:MustAppearIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:IncidentTrafficAccidentInvolvedIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:IncidentTrafficInjuryIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:IncidentSchoolZoneIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:MotorCarrierHazMatTransportationIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:NuclearMaterialIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:CaseDomesticViolenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:DriverLicenseSurrenderedIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:IncidentTrafficFatalIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:IncidentConstructionZoneIndicator" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtEventAugmentationType">
	
		<!--  Where is the element for this type declared ? -->
	
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a court event.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:JSICommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:HearingCategoryText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:HearingDecisionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:MinuteOrderDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChargeAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a charge.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="j:ArrestProbableCauseText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:EnforcementUnitName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:PointNumberText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:PointsReducesNumberText"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:PersonBloodAlcoholContentNumberText"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:PersonBloodAlcoholContentTestRefusedIndicator"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:Violation"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ArrestAgencyRecordIdentification"  minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ChargePlea" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BailBondAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a bond.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:BondNumberText" minOccurs="0" maxOccurs="unbounded"/>					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WarrantAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a court warrant.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:WarrantIDText" minOccurs="0" maxOccurs="unbounded"/>	
					<xsd:element ref="nc:ActivityDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>				
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	<xsd:complexType name="PaymentType">
		<xsd:annotation>
			<xsd:documentation>A data type for payment information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:PaymentIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:BankruptIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:BadCheckIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:BadCheckPaidIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:BadAddressIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:PaymentLastPaidDate" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a vehicle.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:VehicleIDText" minOccurs="0" maxOccurs="unbounded"/>	
					<xsd:element ref="j:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ConveyanceColorPrimaryCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ItemDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:VehicleCMVIndicator" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:VehicleStyleCode" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SentenceAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a sentence.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:SentenceIDText" minOccurs="0" maxOccurs="unbounded"/>	
					<xsd:element ref="ccq-res-ext:DispositionIDText" minOccurs="0" maxOccurs="unbounded"/>	
					<xsd:element ref="ccq-res-ext:SentenceDeferredDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:SentenceConfinementComment" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:FacilityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:OtherSentence" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:Probation"	minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OtherSentenceType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a Sentence.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:OtherSentenceIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:DispositionIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:ProgramTitleText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ProgramCondition" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConditionAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a program condition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:ConditionDaysToCompleteText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ConditionCompleteInText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ConditionHoursAssignedText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ConditionModificationDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ConditionOtherHoursCompleteText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ConditionOtherTermsText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProgramCostPerHourAmount" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SupervisionAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about probation and supervision.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:DispositionIDText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProbationMinYearsText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProbationMinMonthsText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProbationMinDaysText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProbationActualDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ProbationCompleteByDate" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PoundsOverMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a citation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AddressAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a citation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:StreetTypeText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:ApartmentNumberText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VictimAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a citation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ccq-res-ext:VictimRestitutionAdjustmentAmount" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:VictimRestitutionPaidAmount" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:VictimRestitutionAvailableAmount" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:VictimRestitutionBalanceAmount" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ccq-res-ext:VictimRestitutionHoldDate" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Extension Elements -->
	<xsd:element name="CourtCaseSealedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the case is sealed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RemandDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date person held in custody.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnderAdvisementDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of a court taking a case under advisement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuryRequestedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if jury trial requested.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuryVerdictIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if jury reached a verdict.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtCase" type="ccq-res-ext:CourtCaseType">
		<xsd:annotation>
			<xsd:documentation>A complex data element for additional information about a court case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstAppearanceDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of a first appearance by a subject for a court case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrialByText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>description of the trial (by jury, judge, etc.).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpeedyTrialText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>description of how a trial is/was speedy.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FTPHoldIndefiniteIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>true if indefinite hold on FTP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FTAHoldDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date for FTA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FTPHoldDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date for FTPH.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FTCHoldDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date for FTC.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FTPVHoldDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date for FTPV.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FPCNumberText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>number for FPC.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DefendantCaseFinancials" type="ccq-res-ext:DefendantCaseFinancialType">
		<xsd:annotation>
			<xsd:documentation>date for FTAH.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BalanceDueDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date of final payment on balance due.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BalanceExtensionDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date that final payment due is extended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DoNotAllowEPaymentIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>do not allow subject to pay via electronic means.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InterestStartDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date interest will begin accuring on balance due</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Defendant" type="ccq-res-ext:DefendantType">
		<xsd:annotation>
			<xsd:documentation>information related to the defendant</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DefendantCase" type="ccq-res-ext:DefendantCaseType">
		<xsd:annotation>
			<xsd:documentation>the defendants case information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>ID of juvenile defendant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InmateIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>ID of inmate who is the defendant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DefendantCommentText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>comments for the defendant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClerkCommentText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>comments for the clerk.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>address identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicContactIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>identification for electronic contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PoundsOverMeasure" type="ccq-res-ext:PoundsOverMeasureType">
		<xsd:annotation>
			<xsd:documentation>pounds over description.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicContactTypeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>type of electronic contact i.e. email address, facebook id, twitter id, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitationIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>citation id.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StreetTypeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>type of street where an incident occured (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ApartmentNumberText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>apartment number where an incident occured (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MustAppearIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if required to appear in court (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentTrafficInjuryIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if injury accident (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentSchoolZoneIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if occurred in school zone (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NuclearMaterialIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if Nuclear material involved (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DriverLicenseSurrenderedIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if driver surrendered license (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentTrafficFatalIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if fatality as result of traffic incident (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentConstructionZoneIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if occurred in a construction zone (citation).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JSICommentText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>JSI Comment related to court event</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MinuteOrderDescriptionText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>minute orders from a hearing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PointNumberText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>driving points</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PointsReducesNumberText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>driving points to reduce</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBloodAlcoholContentTestRefusedIndicator" type="xsd:boolean" >
		<xsd:annotation>
			<xsd:documentation>defendant refused the BAC test</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BondNumberText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>bond tracking number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WarrantIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>warrant ID tracking number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Payment" type="ccq-res-ext:PaymentType" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaymentIDText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BankruptIndicator" type="xsd:boolean" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BadCheckIndicator" type="xsd:boolean" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BadCheckPaidIndicator" type="xsd:boolean" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BadAddressIndicator" type="xsd:boolean" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaymentLastPaidDate" type="nc:DateType" >
		<xsd:annotation>
			<xsd:documentation>court case payment information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>vehicle identification text string</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>disposition identification text string</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ModifySentenceDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date sentence was modified</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>sentence identification text string</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceDeferredDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date sentence was defeered</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceConfinementComment" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>confinement comments related to a sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WorkReleaseIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>true if sentence includes work release</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherSentence" type="ccq-res-ext:OtherSentenceType">
		<xsd:annotation>
			<xsd:documentation>additional and other sentence information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherSentenceIDText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>sentence identification text string for other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionDaysToCompleteText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>days to complete program as part of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionCompleteInText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>days to complete program as part of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionHoursAssignedText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>hours assigned to other program as part of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionModificationDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>date other sentence condition modified</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionOtherHoursCompleteText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>hours to complete program as part of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionOtherTermsText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>terms of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProgramCostPerHourAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>cost of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationMinYearsText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>minimum years to stay on probation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationMinMonthsText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>minimum months to stay on probation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationMinDaysText" type="nc:TextType" >
		<xsd:annotation>
			<xsd:documentation>minimum days to stay on probation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationActualDate" type="nc:DateType" >
		<xsd:annotation>
			<xsd:documentation>actual date of probation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationCompleteByDate" type="nc:DateType" >
		<xsd:annotation>
			<xsd:documentation>date to complete probation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionAdjustmentAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>cost of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionPaidAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>cost of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionAvailableAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>cost of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionBalanceAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>cost of other sentence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionHoldDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date to hold restitution</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search result. 
			This can be used to retrieve additional information about the person and/or court case in the search result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
