shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Filing/artifacts/service_model/information_model/IEPD/xsd/message/ECF-4.0-CaseListQueryMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseListQueryMessage-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseListQueryMessage-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>CaseListQueryMessage</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" schemaLocation="../common/ECF-4.0-CommonTypes.xsd"/>
	<xsd:complexType name="CaseListQueryMessageType">
		<xsd:annotation>
			<xsd:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ecf:QueryMessageType">
				<xsd:sequence>
					<xsd:element ref="CaseListQueryCase" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseListQueryTimeRange" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseListQueryCaseParticipant" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseParticipantType">
		<xsd:annotation>
			<xsd:documentation>Placeholder for all case participants, i.e. persons or organizations playing a role in a case. This is where all actor details are expressed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="ecf:CaseParticipant"/>
						<xsd:element ref="FilingSubmissionSubmitterID"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseListQueryCase" type="nc:CaseType">
		<xsd:annotation>
			<xsd:documentation>Structure for general information about a case used in a query.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseListQueryMessage" type="CaseListQueryMessageType">
		<xsd:annotation>
			<xsd:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseListQueryTimeRange" type="nc:DateRangeType">
		<xsd:annotation>
			<xsd:documentation>The beginning and ending filing dates/times of cases about which information is sought in this query.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseListQueryCaseParticipant" type="CaseParticipantType">
		<xsd:annotation>
			<xsd:documentation>Information describing a participant when a query seeks information about the cases in which the person or organization is a participant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingSubmissionSubmitterID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier assigned by the filing assembly MDE for the person who is managing the interface between the filer and the filing assembly MDE. This person will receive secondary service on behalf of the filer. This is also the serviceRecipientID for subsequent filings in this case, and asynchronous responses to this filing.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
