adapters/fbi-electronic-biometric-transmission-specification-adapter/src/main/resources/ebts-10.0-ws-specification/Inc4_External_Service_Contracts_v1.1/external/xsd/ebts/10.0/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xsd:schema [<!ENTITY fbi_ebts SYSTEM "../../../fbi_ebts/10.0/fbi_ebts.xsd">
<!ENTITY fbi_ebts SYSTEM "../../../fbi_ebts/10.0/fbi_ebts.xsd">
]>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" 
  xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" 
  xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0"
  xmlns:ebts="http://cjis.fbi.gov/fbi_ebts/10.0">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../fbi_ebts/10.0/fbi_ebts.xsd" namespace="http://cjis.fbi.gov/fbi_ebts/10.0"/>
 
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Constraint -->
          <!-- Address -->
          <!--xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>-->
          <xsd:choice>
              <xsd:element ref="nc:StructuredAddress"/>
            <xsd:element ref="nc:AddressFullText"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Constraint -->
  <xsd:element name="AddressFullText" type="nc:TextType"> <!--substitutionGroup="nc:AddressRepresentation" nillable="true">-->
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:simpleType name="AngularMinuteSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxExclusive value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularMinuteType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularMinuteSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AngularSecondSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxExclusive value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularSecondType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularSecondSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:BinaryAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BiometricType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:BiometricImage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConditionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:ConditionSetDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <!--<xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>-->
          <xsd:element ref="nc:ContactTelephoneNumber" minOccurs="0" maxOccurs="1"/>
          <!-- Research -->
          <!--<xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DNAType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DNAImage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Constraint -->
          <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <!-- Constraint --><!-- Address -->
        <!--<xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>-->
        <xsd:choice>
          <xsd:element ref="nc:DateTime"/>
          <xsd:element ref="nc:Date"/>
          <xsd:element ref="nc:Year"/>
          <xsd:element ref="nc:YearMonth"/>           
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Constraint -->
          <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicElevationMeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <!-- Research -->
          <!--<xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="BinaryType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LatitudeDegreeValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LatitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="90"/>
      <xsd:minInclusive value="-90"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LatitudeDegreeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LatitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationGeographicElevation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationUTMCoordinate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LongitudeDegreeValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LongitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxExclusive value="180"/>
      <xsd:minInclusive value="-180"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LongitudeDegreeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LongitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureRangeValueType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:RangeMinimumValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:RangeMaximumValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Constraint --><!-- Address -->
         <!-- <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>-->
          <xsd:choice>
            <xsd:element ref="nc:MeasurePointValue"/>
            <xsd:element ref="nc:MeasureRangeValue"/>
          </xsd:choice>
          <xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="NonNegativeDecimalSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NonNegativeDecimalType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:NonNegativeDecimalSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationOtherIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PercentageSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PercentageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:PercentageSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Constraint -->
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="10"/>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="5"/>
          <xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="10"/>
          <xsd:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="4"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="4"/>
          <xsd:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="1000"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="10"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ReleaseType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <!-- Research -->
          <!--<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>-->
          <xsd:element ref="nc:FullTelephoneNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeMeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TwoDimensionalGeographicCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:GeographicCoordinateLatitude" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:GeographicCoordinateLongitude" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UTMCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:UTMEastingValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:UTMGridZoneID" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:UTMNorthingValue" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true"/>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true"/>
  <xsd:element name="AddressDeliveryPoint" abstract="true"/>
  <xsd:element name="AddressRepresentation" abstract="true"/>
  <xsd:element name="BinaryAvailableIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="BinaryObject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="BinaryObject" abstract="true"/>
  <xsd:element name="BiometricCaptureDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="BiometricImage" type="nc:ImageType" nillable="true"/>
  <xsd:element name="BiometricRepositoryOrganization" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="CaseTitleText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CaseTrackingID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="CaveatText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ConditionSetDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true"/>
  <!-- Research -->
  <!--<xsd:element name="ContactMeans" abstract="true"/>-->
  <!-- Research -->
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType"> <!--substitutionGroup="nc:ContactMeans">-->
    <!--<xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>-->
  </xsd:element>
  <xsd:element name="DNAImage" type="nc:ImageType" nillable="true"/>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRange" type="nc:DateRangeType" nillable="true"/>
  <xsd:element name="DateRepresentation" abstract="true"/>
  <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <!-- Constraint --><!-- Address -->
  <!--<xsd:element name="DispositionDate" type="nc:DateType" nillable="true"/>-->
  <xsd:element name="DispositionDate" type="ebts:YMDDateType" nillable="true"/>
  <xsd:element name="DispositionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="EmployeeOccupation" abstract="true"/>
  <xsd:element name="EmployeeOccupationText" type="nc:TextType" substitutionGroup="nc:EmployeeOccupation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Employer" type="nc:EntityType" nillable="true"/>
  <xsd:element name="EmploymentLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true"/>
  <!-- Research -->
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType"> <!--substitutionGroup="nc:TelephoneNumberRepresentation">-->
    <!--<xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>-->
  </xsd:element>
  <xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true"/>
  <xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true"/>
  <xsd:element name="IdentificationCategory" abstract="true"/>
  <xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true"/>
  <xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
  <xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true"/>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true"/>
  <xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="LocationGeographicElevation" type="nc:GeographicElevationMeasureType" nillable="true"/>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="LocationState" abstract="true"/>
  <xsd:element name="LocationStateNCICLSTACode" type="fbi:LSTACodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
  <xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true"/>
  <xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true"/>
  <xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
  <xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
  <!-- Constraint -->
  <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType"><!-- substitutionGroup="nc:MeasureValue" nillable="true">-->
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <!-- Constraint -->
  <xsd:element name="MeasureRangeValue" type="nc:MeasureRangeValueType"> <!--substitutionGroup="nc:MeasureValue" nillable="true"> -->
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureUnitText" type="nc:TextType" nillable="true"/>
  <xsd:element name="MeasureValue" abstract="true"/>
  <xsd:element name="Organization" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationOtherIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true"/>
  <xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true"/>
  <xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true"/>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="PersonCitizenship" abstract="true"/>
  <xsd:element name="PersonEyeColor" abstract="true"/>
  <xsd:element name="PersonEyeColorCode" type="fbi:EYECodeType" substitutionGroup="nc:PersonEyeColor" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PersonEyeColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonHairColor" abstract="true"/>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true"/>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true"/>
  <!-- Constraint --><!-- Address -->
  <!--<xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true"/>-->
  <xsd:element name="PersonOtherIdentification" type="ebts:PersonOtherIdentificationType" nillable="true"/>
  
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true"/>
  <xsd:element name="PersonRace" abstract="true"/>
  <xsd:element name="PersonRaceCode" type="fbi:RACCodeType" substitutionGroup="nc:PersonRace" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonSex" abstract="true"/>
  <xsd:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true"/>
  <xsd:element name="PhysicalFeatureCategory" abstract="true"/>
  <xsd:element name="PhysicalFeatureCategoryCode" type="fbi:SMTCodeType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RangeMaximumValue" type="niem-xsd:decimal" nillable="true"/>
  <xsd:element name="RangeMinimumValue" type="niem-xsd:decimal" nillable="true"/>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true"/>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true"/>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true"/>
  <!-- Constraint -->
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType"> <!--substitutionGroup="nc:AddressRepresentation" nillable="true">-->
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true"/>
  <!-- Research -->
<!--  <xsd:element name="TelephoneNumberRepresentation" abstract="true"/>-->
  <xsd:element name="UTMDatumID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="UTMEastingValue" type="niem-xsd:nonNegativeInteger" nillable="true"/>
  <xsd:element name="UTMGridZoneID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="UTMGridZoneSquareID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="UTMNorthingValue" type="niem-xsd:nonNegativeInteger" nillable="true"/>
  <xsd:element name="Year" type="niem-xsd:gYear" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="YearMonth" type="niem-xsd:gYearMonth" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
