shared/ojb-resources-common/src/main/resources/service-specifications/Court_Case_Query_Results_Service/artifacts/service_model/information_model/Court_Case_Query_Results_IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:usps="http://release.niem.gov/niem/codes/usps_states/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../codes/usps_states/3.0/usps_states.xsd" namespace="http://release.niem.gov/niem/codes/usps_states/3.0/"/>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:AddressFullText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressPrivateMailboxText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressSecondaryUnitText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressRecipientName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressUrbanizationName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A data type for an amount of money.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Amount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Currency" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AmountAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AreaType">
    <xs:annotation>
      <xs:documentation>A data type for a location identified by geographic boundaries.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseType">
    <xs:annotation>
      <xs:documentation>A data type for an aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:CaseTitleText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:CaseTrackingID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:CaseAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommentType">
    <xs:annotation>
      <xs:documentation>A data type for a comment, note, or remark providing additional information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:CommentText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConditionType">
    <xs:annotation>
      <xs:documentation>A data type for a requirement or stipulation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:ConditionSetDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ConditionDisciplinaryAction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ConditionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactInformationType">
    <xs:annotation>
      <xs:documentation>A data type for how to contact a person or an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceType">
    <xs:annotation>
      <xs:documentation>A data type for a means of transport from place to place.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrossStreetType">
    <xs:annotation>
      <xs:documentation>A data type for a location identified by two or more streets which intersect.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DisciplinaryActionType">
    <xs:annotation>
      <xs:documentation>A data type for an activity assigned to a person for the purpose of self-improvement, punishment, or restitution.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:DisciplinaryActionProgram" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DispositionType">
    <xs:annotation>
      <xs:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DispositionCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionReportedAuthorityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionInstrument" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>A data type for a paper or electronic document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentReceivedDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectronicAddressType">
    <xs:annotation>
      <xs:documentation>A data type for an Internet Protocol (IP) address or Uniform Resource Locator (URL) that uniquely identifies a specific site on the Internet or another network.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ElectronicAddressDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ElectronicAddressAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FacilityType">
    <xs:annotation>
      <xs:documentation>A data type for a building, place, or structure that provides a particular service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:FacilityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:FacilityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FullTelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a full telephone number.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentityType">
    <xs:annotation>
      <xs:documentation>A data type for a set of known aspects or characteristics by which a person is defined or recognized.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentType">
    <xs:annotation>
      <xs:documentation>A data type for an occurrence or an event that may require a response.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:IncidentLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentJurisdictionalOrganization" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentObservationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentReportedNarrative" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentDayPeriodText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JurisdictionType">
    <xs:annotation>
      <xs:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocaleType">
    <xs:annotation>
      <xs:documentation>A data type for a geopolitical area.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationAddressAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationArea" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationGeospatialCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationLandmarkText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationLocale" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationMapLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationRangeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationRelativeLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationSurroundingAreaDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationHeight" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MapLocationType">
    <xs:annotation>
      <xs:documentation>A data type for a location identified by map or grid coordinates.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:MeasureUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObligationType">
    <xs:annotation>
      <xs:documentation>A data type for something that is owed to an entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentityAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Identity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentityStolenIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonIdentityAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonLanguageType">
    <xs:annotation>
      <xs:documentation>A data type for a language capability of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Language" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNameCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNameSalutationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonOfficialGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPreferredName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNameAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="nc:personNameCommentText" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProgramType">
    <xs:annotation>
      <xs:documentation>A data type for a set of projects, activities, or services intended to meet a need.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:ProgramFacility" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RelativeLocationType">
    <xs:annotation>
      <xs:documentation>A data type for a location identified by its proximity to another location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScheduleDayType">
    <xs:annotation>
      <xs:documentation>A data type for a plan or agenda for the activities of a day.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ScheduleActivityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleDayRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleDayStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleTimeRange" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:SchedulePerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleDayStartTime" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleDayEndTime" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ScheduleDayAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation>A data type for a state of something or someone.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusDesignator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusIssuerIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusIssuerText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:StatusAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionType">
    <xs:annotation>
      <xs:documentation>A data type for an act of officially overseeing, supervising, or keeping track in some capacity of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:SupervisionFacility" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:SupervisionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a telephone number for a telecommunication device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:TelephoneNumberCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:TelephoneNumberAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeRangeType">
    <xs:annotation>
      <xs:documentation>A data type for a start and end time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a conveyance designed to carry an operator, passengers and/or cargo, over land.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ConveyanceType">
        <xs:sequence>
          <xs:element ref="nc:VehicleIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleMake" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleModel" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="personNameCommentText" type="xs:string">
    <xs:annotation>
      <xs:documentation>A comment about a kind of name for a person.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="ActivityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ActivityType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDisposition" type="nc:DispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or outcome of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason for an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract">
    <xs:annotation>
      <xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AddressType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressCrossStreet" type="nc:CrossStreetType" substitutionGroup="nc:LocationAddressAbstract">
    <xs:annotation>
      <xs:documentation>A location identified by two or more streets which intersect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressPrivateMailboxText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A private mailbox within a company.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressRecipientName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a person, organization, or other recipient to whom physical mail may be sent.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressSecondaryUnitText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A particular unit within a larger unit or grouping at a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressUrbanizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An urbanization denotes an area, sector, or residential development within a geographic area. Commonly used in Puerto Rican urban areas, it is an important part of the addressing format, as it describes the location of a specific street whose name may occur multiple times within the same ZIP Code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Amount" type="niem-xs:decimal" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AmountAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AmountType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case" type="nc:CaseType">
    <xs:annotation>
      <xs:documentation>An aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseFiling" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>A document or other piece of information filed by someone or something involved in a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseGeneralCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A broadly defined kind of case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTitleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official name of a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTrackingID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier used to track a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Comment" type="nc:CommentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment, note, or remark.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment, note, or remark providing additional information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConditionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ConditionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConditionDisciplinaryAction" type="nc:DisciplinaryActionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A corrective action that is specified as part of a condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConditionSetDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a condition was set.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Conveyance" type="nc:ConveyanceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of transport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Currency" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of money or exchange.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DisciplinaryActionProgram" type="nc:ProgramType" nillable="true">
    <xs:annotation>
      <xs:documentation>A recommendation or requirement for a person to attend a program as a disciplinary action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DispositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a disposition occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency responsible for making a disposition decision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionInstrument" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official document filed to formally document the disposition of a specific charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason for a disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionReportedAuthorityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an authority to which a disposition was reported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or outcome of a disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a document was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentReceivedDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a transmitted document was received.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ElectronicAddress" type="nc:ElectronicAddressType">
    <xs:annotation>
      <xs:documentation>An Internet Protocol (IP) address or Uniform Resource Locator (URL) that uniquely identifies a specific site on the Internet or another network.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ElectronicAddressAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ElectronicAddressType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ElectronicAddressDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a network address, such as what the site is used for or a name of an online forum or group that is reached at the address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>A person capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Facility" type="nc:FacilityType">
    <xs:annotation>
      <xs:documentation>A building, place, or structure that provides a particular service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FacilityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a facility.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FacilityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a facility.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Fee" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money charged.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation">
    <xs:annotation>
      <xs:documentation>A full telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IdentificationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a kind of identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory">
    <xs:annotation>
      <xs:documentation>A kind of identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date an identification takes effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which an identification is no longer valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area, region, or unit where a unique identification is issued.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or locale which issues an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identity" type="nc:IdentityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of known aspects, identifiers, and/or characteristics by which a person is defined or recognized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentityStolenIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the identity of the associated person is known to have been used by someone else (not the rightful identity holder) for the purpose of committing fraud; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IncidentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentDayPeriodText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A general time of day during which an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentEvent" type="nc:ActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An action or occurrence associated with an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentJurisdictionalOrganization" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization or agency who has jurisdiction over an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentObservationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A remark about something noticed with regards to an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentReportedNarrative" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document containing an account of the events that transpired in an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemModelYearDate" type="niem-xs:gYear" nillable="true">
    <xs:annotation>
      <xs:documentation>A year in which an item was manufactured or produced.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemStyle" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a style of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Language" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a system of words or symbols used for communication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LanguageName" type="nc:TextType" substitutionGroup="nc:Language">
    <xs:annotation>
      <xs:documentation>A name of a system of words or symbols used for communication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAddressAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationArea" type="nc:AreaType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location identified by geographic boundaries.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for LocationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind or functional description of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a city or town.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationContactInformation" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of contact information for a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCountry" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCounty" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a county, parish, vicinage, or other such geopolitical subdivision of a state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty">
    <xs:annotation>
      <xs:documentation>A name of a county, parish, vicinage, or other such geopolitical subdivision of a state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeospatialCoordinate" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationHeight" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measure of the height of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a Location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationLandmarkText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A distinguishing physical feature at a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationLocale" type="nc:LocaleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A geopolitical area.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationMapLocation" type="nc:MapLocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location identified by map or grid coordinates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalExtensionCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationRangeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the boundary or range of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationRelativeLocation" type="nc:RelativeLocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location identified by its proximity to another location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState">
    <xs:annotation>
      <xs:documentation>A name of a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" substitutionGroup="nc:LocationState">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationSurroundingAreaDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the immediate area around a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnitText" type="nc:TextType" substitutionGroup="nc:MeasureUnit">
    <xs:annotation>
      <xs:documentation>A unit that qualifies the measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueText" type="nc:TextType" substitutionGroup="nc:MeasureValue">
    <xs:annotation>
      <xs:documentation>A textual description of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization" type="nc:OrganizationType">
    <xs:annotation>
      <xs:documentation>A unit which conducts some sort of business or operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAliasIdentityAssociation" type="nc:PersonIdentityAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a person and an alias identity used by that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicity" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicityText" type="nc:TextType" substitutionGroup="nc:PersonEthnicity" nillable="true">
    <xs:annotation>
      <xs:documentation>A cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the eyes of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the height of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonIdentityAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IdentityAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An original last name or surname of a person before changed by marriage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonNameType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of person name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNamePrefixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A title or honorific used by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameSalutationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal sign or expression of greeting that is appropriate for this person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A term appended after the family name that qualifies the name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOfficialGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name, out of possibly multiple given names, that a person selects to use as his or her official given name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>An identification with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPreferredName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name by which this person prefers to be known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSex" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a person based on a state-issued ID card.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurNamePrefixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A prefix that precedes this person's family name such as Van, Von.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonWeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the weight of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Program" type="nc:ProgramType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of projects, activities, or services intended to meet a need.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramCondition" type="nc:ConditionType">
    <xs:annotation>
      <xs:documentation>A condition that must be met in order for a person to remain in a program.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramFacility" type="nc:FacilityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A place where a program is located.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOf" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleActivityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An activity planned to occur on a certain date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleDayAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ScheduleDayType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleDayEndTime" type="niem-xs:time" nillable="true">
    <xs:annotation>
      <xs:documentation>A time at which an activity is scheduled to end.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleDayRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a day or days with the given schedule information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleDayStartTime" type="niem-xs:time" nillable="true">
    <xs:annotation>
      <xs:documentation>A time at which an activity is scheduled to begin.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleDayStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A schedule status for a particular day.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SchedulePerson" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person for whom an activity is scheduled.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ScheduleTimeRange" type="nc:TimeRangeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A time range for the schedule.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatusType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusCommentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment regarding a status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date a status is given.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a status or condition of something or someone.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusDesignator" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status or condition of something or someone.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusIssuerIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a person or organization which assigns a status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatusIssuerText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name, identifier, or other reference of a person or organization which assigns a status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Supervision" type="nc:SupervisionType">
    <xs:annotation>
      <xs:documentation>A process of overseeing, supervising, or keeping track in some capacity of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SupervisionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionCustodyStatus" type="nc:StatusType">
    <xs:annotation>
      <xs:documentation>A status of the custody of a person under supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionFacility" type="nc:FacilityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A facility at which a subject is being supervised.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumber" type="nc:TelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A telephone number for a telecommunication device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for TelephoneNumberType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberCategoryText" type="nc:TextType" substitutionGroup="nc:TelephoneNumberCategory">
    <xs:annotation>
      <xs:documentation>A kind of telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberFullID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vehicle" type="nc:VehicleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A conveyance designed to carry an operator, passengers and/or cargo, over land.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleCMVIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a vehicle is a commercial motor vehicle; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification for a specific vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMake" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModel" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
