adapters/fbi-electronic-biometric-transmission-specification-adapter/src/main/resources/ebts-10.0-ws-specification/Inc4_External_Service_Contracts_v1.1/external/wsdl/ngi/native-ebts-service/NativeEBTSResponseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<definitions name="NativeEBTSService" targetNamespace="http://ws.cjis.gov/2014/08/01/ngi/nativeEBTSService" xmlns:tns="http://ws.cjis.gov/2014/08/01/ngi/nativeEBTSService" xmlns:ngi-core="http://ws.cjis.gov/2014/08/01/ngi/core/xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>Service for passing native EBTS from NGI to CSA via	SOAP and HTTP</wsdl:documentation>
	<types>
		<xsd:schema targetNamespace="http://ws.cjis.gov/2014/08/01/ngi/core/xsd">
			<xsd:element name="NativeEBTSMessage" type="xsd:base64Binary"/>
			<xsd:simpleType name="VOIDType">
				<xsd:annotation>
					<xsd:documentation>VOID type</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:element name="VOID" type="ngi-core:VOIDType"/>

			<xsd:simpleType name="DSFaultErrorCode">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="SERVICE_NOT_AVAILABLE"/>
					<xsd:enumeration value="INVALID_MESSAGE"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="FaultType">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="NGI_SERVICE_ERROR"/>
					<xsd:enumeration value="CSA_ERROR"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="DeliveryServicesFaultType">
				<xsd:annotation>
					<xsd:documentation>All NGI delivery (response/unsolicited notification) services operations will throw a DeliveryServicesFault as SOAP fault to 
				signal a problem with the operation. A detailed message will be included in fault.</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultMessage" type="xsd:string"/>
					<xsd:element name="faultErrorCode" type="ngi-core:DSFaultErrorCode"/>
					<xsd:element name="faultType" type="ngi-core:FaultType"/>
					<xsd:any namespace="##any" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="DeliveryServicesFault" type="ngi-core:DeliveryServicesFaultType"/>
		</xsd:schema>
	</types>
	<message name="NativeEBTSResponseInput">
		<part name="NativeEBTSResponseInput" element="ngi-core:NativeEBTSMessage"></part>
	</message>
	<message name="NGIResponseOutput">
		<part name="VOID" element="ngi-core:VOID"></part>
	</message>
	<message name="NGIResponseFault">
		<part name="NGIResponseFault" element="ngi-core:DeliveryServicesFault"></part>
	</message>

	<portType name="NativeEBTSServicePortType">
		<operation name="receiveResponse">
			<input name="NativeEBTSResponseInput" message="tns:NativeEBTSResponseInput"/>
			<output name="NGIResponseOutput" message="tns:NGIResponseOutput"/>
			<fault name="NGIResponseFault" message="tns:NGIResponseFault"></fault>
		</operation>
	</portType>

	<binding name="NativeEBTSServiceBinding" type="tns:NativeEBTSServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="receiveResponse">
			<soap:operation soapAction="receiveResponse"/>
			<input name="NativeEBTSResponseInput">
				<soap:body use="literal"/>
			</input>
			<output name="NGIResponseOutput">
				<soap:body use="literal"/>
			</output>
			<fault name="NGIResponseFault">
				<soap:fault name="NGIResponseFault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="NativeEBTSResponseService">
		<port binding="tns:NativeEBTSServiceBinding" name="NativeEBTSServicePort">
			<soap:address location="address"/>
		</port>
	</service>
</definitions>