shared/ojb-resources-common/src/main/resources/ssp/Vehicle_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/fbi/2.0/fbi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/fbi/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>FBI code lists for National Crime and Information Center (NCIC-2000), National Incident-Based Reporting System (NIBRS), and National Law Enforcement Data Exchange (N-DEx).</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:simpleType name="LITCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for License Type.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="AM">
        <xsd:annotation>
          <xsd:documentation>Ambulance</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AP">
        <xsd:annotation>
          <xsd:documentation>ApportionedThe word &amp;quot;APPORTIONED&amp;quot; must appearon the plate.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AQ">
        <xsd:annotation>
          <xsd:documentation>AntiqueIncludes classic, historic, streetrod, pioneer, horseless carriage,vintage, or collector seri</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AR">
        <xsd:annotation>
          <xsd:documentation>Amateur Radio or Citizen&amp;apos;s BandRadio OperatorAlso called &amp;quot;HAM Radio Operator&amp;quot;.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AT">
        <xsd:annotation>
          <xsd:documentation>All-terrain vehiclesIn instances where a license platehas been issued.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BU">
        <xsd:annotation>
          <xsd:documentation>BusChurch, scouting franchise, school,public/private carrier, etc.  SeeSchool Vehicle for school bus</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CC">
        <xsd:annotation>
          <xsd:documentation>Consular Corps</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CI">
        <xsd:annotation>
          <xsd:documentation>City-Owned or Municipal Vehicle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CL">
        <xsd:annotation>
          <xsd:documentation>CollegiateIncludes colleges and universities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CM">
        <xsd:annotation>
          <xsd:documentation>CommemorativeIncludes bicentennials, centennials,Pearl Harbor Survivor, andstatehood anniversaries.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CN">
        <xsd:annotation>
          <xsd:documentation>ConservationIncludes highway beautification,soil conservation, and wildlife(wild life includes birds</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CO">
        <xsd:annotation>
          <xsd:documentation>Commercial</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CU">
        <xsd:annotation>
          <xsd:documentation>County-Owned Vehicle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DA">
        <xsd:annotation>
          <xsd:documentation>Drive-Away</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DB">
        <xsd:annotation>
          <xsd:documentation>Dune Buggy</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DD">
        <xsd:annotation>
          <xsd:documentation>Dentist</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DL">
        <xsd:annotation>
          <xsd:documentation>DealerDoes not apply to motorcycle dealer.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DP">
        <xsd:annotation>
          <xsd:documentation>DiplomaticIncludes diplomat and diplomatic.staff</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DU">
        <xsd:annotation>
          <xsd:documentation>Duplicate, Reissue, or ReplacementOnly if this is so indicated on theplate.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DV">
        <xsd:annotation>
          <xsd:documentation>Disabled Veteran</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DX">
        <xsd:annotation>
          <xsd:documentation>Disabled PersonEntitles person to certain parkingprivileges. Also see HandicappedPerson.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="EX">
        <xsd:annotation>
          <xsd:documentation>ExemptAll types of vehicles can displayan exempt plate.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FD">
        <xsd:annotation>
          <xsd:documentation>Fire DepartmentFor volunteer fire dept. andprivately operated fire dept.plates. See City-Owned for c</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FG">
        <xsd:annotation>
          <xsd:documentation>Foreign Government</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FM">
        <xsd:annotation>
          <xsd:documentation>Farm Vehicleincludes farm and agriculture plates</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HI">
        <xsd:annotation>
          <xsd:documentation>Hearing Impaired</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IP">
        <xsd:annotation>
          <xsd:documentation>International Plate</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IT">
        <xsd:annotation>
          <xsd:documentation>In-TransitType of temporary plate.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="JJ">
        <xsd:annotation>
          <xsd:documentation>Judge or Justice</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LE">
        <xsd:annotation>
          <xsd:documentation>Legislative, U. S.Member of U.S. Congress.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LF">
        <xsd:annotation>
          <xsd:documentation>Law EnforcementPolice department, state police,sheriff, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LS">
        <xsd:annotation>
          <xsd:documentation>Legislative, StateSenator, Representative,assembly-man, delegate, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MC">
        <xsd:annotation>
          <xsd:documentation>MotorcycleMotorized bikes &amp;amp; motorscooters areregistered as motorcycles in somestates.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MD">
        <xsd:annotation>
          <xsd:documentation>Motorcycle Dealer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MF">
        <xsd:annotation>
          <xsd:documentation>Manufacturer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ML">
        <xsd:annotation>
          <xsd:documentation>Military Vehicle, Canadian</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MP">
        <xsd:annotation>
          <xsd:documentation>Moped</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MR">
        <xsd:annotation>
          <xsd:documentation>Armed Forces ReservistPersonally owned vehicle plates.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MV">
        <xsd:annotation>
          <xsd:documentation>Military Vehicle, U. S.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MY">
        <xsd:annotation>
          <xsd:documentation>MilitaryAny type of military aircraftregardless of design or primaryuse.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NG">
        <xsd:annotation>
          <xsd:documentation>National Guard MemberPersonally owned vehicle plates.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NP">
        <xsd:annotation>
          <xsd:documentation>Civilian, NonpassengerIncludes all civilian aircraftdesigned and/or used for purposesother than tran</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="OB">
        <xsd:annotation>
          <xsd:documentation>Omnibus&amp;quot;OMNIBUS&amp;quot; must appear on the plate.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="OR">
        <xsd:annotation>
          <xsd:documentation>OrganizationIncludes Girl Scouts, Kiwanis,Knights of Columbus, LadiesAuxiliary, and Masons.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PC">
        <xsd:annotation>
          <xsd:documentation>Regular Passenger Automobile Plates</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PE">
        <xsd:annotation>
          <xsd:documentation>Personalized/CustomizedAll types of vehicles.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PF">
        <xsd:annotation>
          <xsd:documentation>ProfessionsIncludes architects, chiropractors,educators, engineers, nurses,visiting nurses. DO NOT u</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PH">
        <xsd:annotation>
          <xsd:documentation>Doctor</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PP">
        <xsd:annotation>
          <xsd:documentation>Civilian, PassengerIncludes all civilian aircraftdesigned and/or used primarilyfor transporting pass</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PR">
        <xsd:annotation>
          <xsd:documentation>PressIncludes news media/televison andnews photographers.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PS">
        <xsd:annotation>
          <xsd:documentation>Professional Sports Team</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PX">
        <xsd:annotation>
          <xsd:documentation>Pharmacist</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RE">
        <xsd:annotation>
          <xsd:documentation>Reciprocal (or Reciprocity)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RV">
        <xsd:annotation>
          <xsd:documentation>Rented Vehicle or TrailerIncludes Livery.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SC">
        <xsd:annotation>
          <xsd:documentation>Special Purpose Commercial VehicleStreet cleaners, welding trucks,etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SN">
        <xsd:annotation>
          <xsd:documentation>SnowmolileIn instances where a license platehas been issued.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ST">
        <xsd:annotation>
          <xsd:documentation>State-Owned VehicleIncludes highway department,department of public safety, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SV">
        <xsd:annotation>
          <xsd:documentation>School VehicleIncludes school bus &amp;amp; drivereducation car.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TK">
        <xsd:annotation>
          <xsd:documentation>Truck</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TL">
        <xsd:annotation>
          <xsd:documentation>TrailerBoat, camper, cargo, travel, house,mobile home, semi, utility, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TM">
        <xsd:annotation>
          <xsd:documentation>Temporary</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TP">
        <xsd:annotation>
          <xsd:documentation>Transporter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TR">
        <xsd:annotation>
          <xsd:documentation>Semitruck</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TX">
        <xsd:annotation>
          <xsd:documentation>Cab</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="US">
        <xsd:annotation>
          <xsd:documentation>U. S. Government Vehicles</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VF">
        <xsd:annotation>
          <xsd:documentation>Medal of Honor</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZZ">
        <xsd:annotation>
          <xsd:documentation>All-terrain vehicles and snowmobilesFor all-terrain vehicles andsnowmobiles displaying aregistration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LITCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for License Type.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="fbi:LITCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="VCOCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for Vehicle Color.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="AME">
        <xsd:annotation>
          <xsd:documentation>AMETHYST</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BGE">
        <xsd:annotation>
          <xsd:documentation>BEIGE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BLK">
        <xsd:annotation>
          <xsd:documentation>BLACK</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BLU">
        <xsd:annotation>
          <xsd:documentation>BLUE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BRO">
        <xsd:annotation>
          <xsd:documentation>BROWN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BRZ">
        <xsd:annotation>
          <xsd:documentation>BRONZE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CAM">
        <xsd:annotation>
          <xsd:documentation>CAMOUFLAGE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="COM">
        <xsd:annotation>
          <xsd:documentation>CHROME, STAINLESS STEEL</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CPR">
        <xsd:annotation>
          <xsd:documentation>COPPER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CRM">
        <xsd:annotation>
          <xsd:documentation>CREAM, IVORY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DBL">
        <xsd:annotation>
          <xsd:documentation>BLUE, DARK</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DGR">
        <xsd:annotation>
          <xsd:documentation>GREEN, DARK</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GLD">
        <xsd:annotation>
          <xsd:documentation>GOLD</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRN">
        <xsd:annotation>
          <xsd:documentation>GREEN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRY">
        <xsd:annotation>
          <xsd:documentation>GRAY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LAV">
        <xsd:annotation>
          <xsd:documentation>LAVENDER (PURPLE)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LBL">
        <xsd:annotation>
          <xsd:documentation>BLUE, LIGHT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LGR">
        <xsd:annotation>
          <xsd:documentation>GREEN, LIGHT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MAR">
        <xsd:annotation>
          <xsd:documentation>MAROON, BURGUNDY (PURPLE)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MUL/COL">
        <xsd:annotation>
          <xsd:documentation>MULTICOLORED</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MVE">
        <xsd:annotation>
          <xsd:documentation>MAUVE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ONG">
        <xsd:annotation>
          <xsd:documentation>ORANGE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PLE">
        <xsd:annotation>
          <xsd:documentation>PURPLE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PNK">
        <xsd:annotation>
          <xsd:documentation>PINK</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RED">
        <xsd:annotation>
          <xsd:documentation>RED</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SIL">
        <xsd:annotation>
          <xsd:documentation>SILVER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TAN">
        <xsd:annotation>
          <xsd:documentation>TAN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TEA">
        <xsd:annotation>
          <xsd:documentation>TEAL</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TPE">
        <xsd:annotation>
          <xsd:documentation>TAUPE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TRQ">
        <xsd:annotation>
          <xsd:documentation>TURQUOISE (BLUE)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WHI">
        <xsd:annotation>
          <xsd:documentation>WHITE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YEL">
        <xsd:annotation>
          <xsd:documentation>YELLOW</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VCOCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for Vehicle Color.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="fbi:VCOCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="VMACodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for Vehicle Make.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token"/>
  </xsd:simpleType>
  <xsd:complexType name="VMACodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for Vehicle Make.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="fbi:VMACodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
