shared/ojb-resources-common/src/main/resources/service-specifications/Court_Case_Filing_Service/artifacts/service_model/information_model/Court_Case_Filing-IEPD/xsd/common/ECF-4.0-CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:filingstatus="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:FilingStatusCode-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" version="4.0">
	<xsd:annotation>
		<xsd:documentation>CommonTypes</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../constraint/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" schemaLocation="../common/ECF-4.0-AppInfo.xsd"/>
	<xsd:complexType name="AliasType">
		<xsd:annotation>
			<xsd:documentation>A name other than an official name used by a person or organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="AliasAlternateName"/>
					<xsd:element ref="AliasAlternateNameTypeCode" maxOccurs="unbounded"/>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="nc:EntityReference"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseFilingType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A document or other piece of information filed by someone or something involved in a case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<!--  OJB Change -->
					<!-- xsd:element ref="SendingMDELocationID"/>
					<xsd:element ref="SendingMDEProfileCode"/-->
					<xsd:element ref="SendingMDELocationID" minOccurs="0"/>
					<xsd:element ref="SendingMDEProfileCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseOfficialType">
		<xsd:annotation>
			<xsd:documentation>The role played by an attorney in this case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CaseOfficialType">
				<xsd:sequence>
					<xsd:element ref="CaseRepresentedPartyReference" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A reference to a person organization or property represented by an attorney.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseParticipantType">
		<xsd:annotation>
			<xsd:documentation>Information about a case participant.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:EntityType">
				<xsd:sequence>
					<xsd:element ref="CaseParticipantRoleCode"/>
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information needed to initiate a court case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:Language" minOccurs="0"/>
					<xsd:element ref="Alias" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseOfficial" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseOtherEntityAttorney" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseParticipant" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CaseShortTitleText" minOccurs="0"/>
					<xsd:element ref="OrganizationAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PersonAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PersonOrganizationAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="RelatedCaseAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtEventActorType">
		<xsd:annotation>
			<xsd:documentation>The actor who performed the action as set forth in the docket entry. E.g. the person who filed the document. Does not include the name of the court clerk composing the docket entry.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:RoleOf"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtEventOnBehalfOfActorType">
		<xsd:annotation>
			<xsd:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry..</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:RoleOf"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtEventDocumentType">
		<xsd:annotation>
			<xsd:documentation>Document descriptors (title, type description, etc.) for the Document. This is meant to include all the information about the document that is needed to index it into the Case Management System and enter it into the Document Management System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DocumentType">
				<xsd:sequence>
					<xsd:element ref="ConnectedDocument" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtEventType">
		<xsd:annotation>
			<xsd:documentation>Details about an event on the court calendar.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CourtEventType">
				<xsd:sequence>
					<xsd:element ref="ChildDocketReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="CourtEventEnteredOnDocketDate"/>
					<xsd:element ref="CourtEventTypeCode"/>
					<xsd:element ref="CourtEventDocument" minOccurs="0"/>
					<xsd:element ref="CourtEventActor" minOccurs="0"/>
					<xsd:element ref="CourtEventOnBehalfOfActor" minOccurs="0"/>
					<xsd:element ref="CourtEventLocationCode" minOccurs="0"/>
					<xsd:element ref="CourtEventLocationText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Information describing an attachment included within an ECF 4.0 base message. An attachment can be a binary file representing the document to be filed, an XML document, a digital signature, or other MIME file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BinaryType">
				<xsd:sequence>
					<xsd:element ref="AttachmentSequenceID" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentRenditionMetadataType">
		<xsd:annotation>
			<xsd:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="DocumentAttachment" maxOccurs="unbounded"/>
					<xsd:element ref="ColorRelevantIndicator" minOccurs="0"/>
					<xsd:element ref="RedactedIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentRenditionType">
		<xsd:annotation>
			<xsd:documentation>A rendition or version of a Document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="DocumentSignature" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DocumentRenditionMetadata"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentSignatureType">
		<xsd:annotation>
			<xsd:documentation>Information describing or constituting the signature on a document submitted to a court for filing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="SignatureProfileID"/>
					<xsd:element ref="Signature" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentMetadataType">
		<xsd:annotation>
			<xsd:documentation>Document descriptors (title, type description, etc.) for the Document. This is meant to include all the information about the document that is needed to index it into the Case Management System and enter it into the Document Management System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:MetadataType">
				<xsd:sequence>
					<xsd:element ref="j:RegisterActionDescriptionText"/>
					<xsd:element ref="ParentDocumentReference" minOccurs="0"/>
					<xsd:element ref="PriorRelatedDocumentID" minOccurs="0"/>
					<xsd:element ref="FilingAttorneyID"/>
					<xsd:element ref="FilingPartyID" maxOccurs="unbounded"/>
					<xsd:element ref="SpecialHandlingInstructions" minOccurs="0"/>
					<xsd:element ref="RedactionRequiredIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>A Lead document that is the pleading, motion or order that is the main document in a Filing or a Connected Document. A Lead Document may have Connected Documents, which are "appendices" or "exhibits" that are intended for filing only in the context of the Lead Document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="DocumentMetadata"/>
					<xsd:element ref="DocumentRendition" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicFilingCallbackMessageType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>The asynchronous message returned by the Filing Review MDE to the filing assembly MDE conveying information on the court's actions on the documents submitted for filing in the FilingReviewMessage.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CaseFilingType">
				<xsd:sequence>
					<xsd:element ref="nc:Case"/>
					<xsd:element ref="FilingCompletionDate" minOccurs="0"/>
					<xsd:element ref="FilingStatus"/>
					<xsd:element ref="ReviewedLeadDocument"/>
					<xsd:element ref="ReviewedConnectedDocument" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicFilingMessageType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>The base message for an electronic filing using ECF 4.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CaseFilingType">
				<xsd:sequence>
					<xsd:element ref="ElectronicServiceInformation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicServiceInformationType">
		<xsd:annotation>
			<xsd:documentation>The structure for the information needed to electronically serve other parties to the case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="ServiceRecipientID"/>
					<xsd:element ref="ReceivingMDELocationID"/>
					<xsd:element ref="ReceivingMDEProfileCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:annotation>
			<xsd:documentation>Representation of an error that occured when synchronously processing the message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="ErrorCode"/>
					<xsd:element ref="ErrorText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FilingStatusType">
		<xsd:annotation>
			<xsd:documentation>Status of the filing as determined by the system sending the callback.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:StatusType">
				<xsd:sequence>
					<xsd:element ref="FilingStatusCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InsuranceType">
		<xsd:annotation>
			<xsd:documentation>Details about a coverage by contract whereby one party agrees to indemnify or guarantee another against loss by a specified contingent event or peril. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:InsuranceType">
				<xsd:sequence>
					<xsd:element ref="InsuranceProofIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationAssociationType">
		<xsd:annotation>
			<xsd:documentation>The relationship between two organizations.  Example: subsidiary corporation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:OrganizationAssociationType">
				<xsd:sequence>
					<xsd:element ref="EntityAssociationTypeCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information about an organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="ElectronicServiceInformation" minOccurs="0"/>
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationContactInformationAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>Additional information about an organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:OrganizationType">
				<xsd:sequence>
					<xsd:element ref="j:OrganizationAugmentation" minOccurs="0"/>
					<xsd:element ref="OrganizationAugmentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonAssociationType">
		<xsd:annotation>
			<xsd:documentation>A code for the type of relationship between two persons, between two organizations, or between a person and an organization in a case.  Allowable values are set forth in Court Policy.  Examples include parent/child, subsidiary corporation, and chief executive officer.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonAssociationType">
				<xsd:sequence>
					<xsd:element ref="EntityAssociationTypeCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information about a person.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="PersonDriverLicense" minOccurs="0"/>
					<xsd:element ref="PersonInsurance" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ElectronicServiceInformation" minOccurs="0"/>
					<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonContactInformationAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonOrganizationAssociationType">
		<xsd:annotation>
			<xsd:documentation>A code for the type of relationship between two persons, between two organizations, or between a person and an organization in a case.  Allowable values are set forth in Court Policy.  Examples include parent/child, subsidiary corporation, and chief executive officer.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonOrganizationAssociationType">
				<xsd:sequence>
					<xsd:element ref="EntityAssociationTypeCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>Additional information about a person.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonType">
				<xsd:sequence>
					<xsd:element ref="PersonAugmentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="QueryMessageType">
		<xsd:annotation>
			<xsd:documentation>A message returned synchronously as a response to a query.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="SendingMDELocationID"/>
					<xsd:element ref="SendingMDEProfileCode"/>
					<xsd:element ref="QuerySubmitter"/>
					<xsd:element ref="j:CaseCourt"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="QueryResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>A message returned synchronously as a response to a query.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="SendingMDELocationID"/>
					<xsd:element ref="SendingMDEProfileCode"/>
					<xsd:element ref="j:CaseCourt"/>
					<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RelatedCaseAssociationType">
		<xsd:annotation>
			<xsd:documentation>Case or cases sharing characteristics, such as common parties or events, with this case.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:RelatedActivityAssociationType">
				<xsd:sequence>
					<xsd:element ref="CaseAssociationTypeCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReviewedDocumentType">
		<xsd:annotation>
			<xsd:documentation>A document that has been reviewed through the clerk review process, and that potentially has been or will be reocrded in the court record system.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DocumentType">
				<xsd:sequence>
					<xsd:element ref="DocumentHashText" minOccurs="0"/>
					<xsd:element ref="DocumentDocketID" minOccurs="0"/>
					<xsd:element ref="SealDocumentIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SignatureType">
		<xsd:annotation>
			<xsd:documentation>A container for the data or information representating a signature.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:any/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubjectType">
		<xsd:annotation>
			<xsd:documentation>Additional information about a subject.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:SubjectType">
				<xsd:sequence>
					<xsd:element ref="PersonAugmentation" minOccurs="0"/>
					<xsd:element ref="SubjectICEIdentification" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Alias" type="AliasType">
		<xsd:annotation>
			<xsd:documentation>A name other than an official name used by a person or organization in this case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AliasAlternateName" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An alternative name by which this person or organization is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AliasAlternateNameTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the type of the alternate name. Allowable values set forth in Court Policy. Examples: doing business as, formerly known as, also known as.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:AliasAlternateNameTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:AliasAlternateNameTypeCode-4.0" a:LocationURI="../../gc/ECF-4.0-AliasAlternateNameTypeCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentSequenceID" type="niem-xsd:string">
		<xsd:annotation>
			<xsd:documentation>An identifier that determines the attachment order in a set of related attachments.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseAssociationTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Nature of the relationship between the current case and the related case.  Allowable values to be set forth in Court Policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:CaseAssociationTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:CaseAssociationTypeCode-4.0" a:LocationURI="../../gc/ECF-4.0-CaseAssociationTypeCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseAugmentation" type="CaseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information needed to initiate a court case. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseCourtEvent" type="CourtEventType" substitutionGroup="j:CaseCourtEvent">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/domains/jxdm/4.0" i:name="CaseCourtEvent"/>
			</xsd:appinfo>
			<xsd:documentation>An entry in the docket or register of actions for this case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseShortTitleText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The abbreviated name of a case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The classification used by a court to denote the type of case for purposes of statistical categorization, court record keeping, or case assignment. Allowable values set forth in Court Policy. </xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseOfficial" type="CaseOfficialType">
		<xsd:annotation>
			<xsd:documentation>The role played by an attorney in this case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseOtherEntityAttorney" type="CaseOfficialType">
		<xsd:annotation>
			<xsd:documentation>Attorney representing a "other party" in this case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseParticipant" type="CaseParticipantType">
		<xsd:annotation>
			<xsd:documentation>Information about a case participant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseParticipantRoleCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code that describes the role played by a person or organization in a case. Allowed values are set forth in Court Policy. Examples: Lead attorney, guardian ad litem, friend of court, court appointed special advocate (CASA), caseworker, probation officer, bail bondsman, interested person, interested party, intervenor, heir, trustee or beneficiary (e.g., of a trust).</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:CaseParticipantRoleCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:CaseParticipantRoleCode-4.0" a:LocationURI="../../gc/ECF-4.0-CaseParticipantRoleCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseRepresentedPartyReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A reference to a person or organization represented by an attorney.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="EntityType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CauseOfActionCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The legal ground on which the request for relief is based. Allowed values set forth in court policy. Example: the basis(es) for relief in a civil case; the grounds for divorce in a state that does not recognize no-fault divorce; grounds for entry of an order of protection in a domestic violence case.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChildDocketReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A reference to an entry on the docket or register of actions that is a child of the current docket entry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ColorRelevantIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether color is or is not relevant for the presentation of the document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConnectedDocument" type="nc:DocumentType">
		<xsd:annotation>
			<xsd:documentation>A document included in a Filing that supports the lead Document. This document is not separately entered on the docket or register of actions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventActor" type="CourtEventActorType">
		<xsd:annotation>
			<xsd:documentation>The actor who performed the action as set forth in the docket entry. E.g. the person who filed the document. Does not include the name of the court clerk composing the docket entry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventDocument" type="CourtEventDocumentType">
		<xsd:annotation>
			<xsd:documentation>The pleading, motion or order that is the subject of this docket entry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventEnteredOnDocketDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of entry into the court record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventLocationCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code referring to the location in a court of the calendar event. Allowable values set forth in court policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventLocationText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A textual description of the location in a court of the calendar event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventOnBehalfOfActor" type="CourtEventOnBehalfOfActorType">
		<xsd:annotation>
			<xsd:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtEventTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Code to categorize the docket entry. E.g. motion, hearing, complaint. Allowable values set forth in court policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Document" type="DocumentType">
		<xsd:annotation>
			<xsd:documentation>A Lead document that is the pleading, motion or order that is the main document in a Filing or a Connected Document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentAttachment" type="DocumentAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Information describing an attachment included within an ECF 4.0 base message. An attachment can be a binary file representing the document to be filed, an XML document, a digital signature, or other MIME file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentDocketID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>The identifier from the court record system used to identify the document. This attribute is populated by the MDE/process that is authorized to create docket identifiers; the attribute will not be present before that creation takes place. For example, if the clerk review process creates docket identifiers, then this attribute will be present in the RecordDocketingMessage that goes to the court record MDE. However, if the court record process creates docket identifiers, then this attribute will not be present in the RecordDocketingMessage, but will be present in subsequent callbacks. This attribute will be absent in callbacks when the ReviewedDocument was rejected, either by clerk review or the court record system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentHashText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A hash of the document as it appears in the court record. This attribute will be populated by either the clerk review process or the court record system. If the latter, then it will be absent in the RecordDocketingMessage. It will also be absent in callbacks for rejected documents.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentMetadata" type="DocumentMetadataType">
		<xsd:annotation>
			<xsd:documentation>Document descriptors (title, type description, etc.) for the Document. This is meant to include all the information about the document that is needed to index it into the Case Management System and enter it into the Document Management System.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentRenditionMetadata" type="DocumentRenditionMetadataType">
		<xsd:annotation>
			<xsd:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentRendition" type="DocumentRenditionType">
		<xsd:annotation>
			<xsd:documentation>A rendition or version of a document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSignature" type="DocumentSignatureType">
		<xsd:annotation>
			<xsd:documentation>Information describing or constituting the signature on a document submitted to a court for filing.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicServiceInformation" type="ElectronicServiceInformationType">
		<xsd:annotation>
			<xsd:documentation>Information provided by the filing assembly MDE to the court identifying a person or organization for purposes of being served electronically with a copy of a document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityAssociationTypeCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code for the type of relationship between two persons, between two organizations, or between a person and an organization in a case.  Allowable values are set forth in Court Policy.  Examples include parent/child, subsidiary corporation, and chief executive officer.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityItem" type="nc:ItemType" substitutionGroup="nc:EntityRepresentation">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="EntityRepresentation"/>
			</xsd:appinfo>
			<xsd:documentation>A property capable of bearing legal rights and responsibilities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityItemReference" type="s:ReferenceType" substitutionGroup="nc:EntityRepresentation">
		<xsd:annotation>
			<xsd:documentation>A property capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ItemType"/>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityOrganization" type="OrganizationType" substitutionGroup="nc:EntityRepresentation">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="EntityRepresentation"/>
			</xsd:appinfo>
			<xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityPerson" type="PersonType" substitutionGroup="nc:EntityRepresentation">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="EntityRepresentation"/>
			</xsd:appinfo>
			<xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Error" type="ErrorType">
		<xsd:annotation>
			<xsd:documentation>Representation of an error that occured when synchronously processing the message.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorCode" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code that uniquely identifies an error. A value of '0' indicates no error.  Other allowable values set forth in court policy.</xsd:documentation>
			<xsd:appinfo>
				<a:CourtPolicyDefinedCodeIndicator>true</a:CourtPolicyDefinedCodeIndicator>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:ErrorCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:ErrorCode-4.0" a:LocationURI="../../gc/ECF-4.0-ErrorCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A more "user friendly" description of the error.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingAttorneyID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>ID recognized by the court as being unique within this case,and used to identify the attorney who is filing this document. Not present for pro se litigants.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingCompletionDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date and time on which the Court Record MDE filing process was completed following the acceptance by the Filing Review MDE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingPartyID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>ID recognized by the court as being unique within this case,and used to identify the party on whose behalf this document is being filed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingStatus" type="FilingStatusType">
		<xsd:annotation>
			<xsd:documentation>Status of the filing as determined by the system sending the callback.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilingStatusCode" type="xsd:normalizedString">
		<xsd:annotation>
			<xsd:documentation>Status of the filing as determined by the system sending the callback. Allowable values defined in ECF-4.0-FilingStatusCode.gc.</xsd:documentation>
			<xsd:appinfo>
				<a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:FilingStatusCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:FilingStatusCode-4.0" a:LocationURI="../../gc/ECF-4.0-FilingStatusCode.gc"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuranceProofIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the respondent has demonstrated a proof of insurance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationAssociation" type="OrganizationAssociationType">
		<xsd:annotation>
			<xsd:documentation>The relationship between two organizations.  Example: subsidiary corporation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationAugmentation" type="OrganizationAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information about an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParentDocumentReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>Only present for supporting documents; indicates the identifier of the corresponding lead document.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DocumentType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonAssociation" type="PersonAssociationType">
		<xsd:annotation>
			<xsd:documentation>The relationship of a person to another person in a case.  Allowable values set forth in Court Policy..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonAugmentation" type="PersonAugmentationType">
		<xsd:annotation>
			<xsd:documentation>Additional information about a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonDriverLicense" type="nc:DriverLicenseType">
		<xsd:annotation>
			<xsd:documentation>Information about a license issued by a state or federal entity authorizing operation of a motor vehicle on public streets and highways.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonInsurance" type="InsuranceType">
		<xsd:annotation>
			<xsd:documentation>Details about a coverage by contract whereby one party agrees to indemnify or guarantee another against loss by a specified contingent event or peril.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonOrganizationAssociation" type="PersonOrganizationAssociationType">
		<xsd:annotation>
			<xsd:documentation>The relationship between two organizations.  Example: subsidiary corporation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonTitleText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Person's organizational position or title.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PriorRelatedDocumentID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identifier of a related document that was previously filed in this case. For instance, the document to which this document is a response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuerySubmitter" type="nc:EntityType">
		<xsd:annotation>
			<xsd:documentation>An entity that submits a query.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RedactionRequiredIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicator by the filer that the document must be redacted by the court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RedactedIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>An indicator that sensitive information has been removed from this rendition of the document.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RelatedCaseAssociation" type="RelatedCaseAssociationType">
		<xsd:annotation>
			<xsd:documentation>Case or cases sharing characteristics, such as common parties or events, with this case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceivingMDELocationID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>Location for the MDE to which service messages can be sent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceivingMDEProfileCode" type="xsd:normalizedString">
		<xsd:annotation>
			<xsd:documentation>Code identifying the service interaction profile being used by the MDE receiving service.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReviewedLeadDocument" type="ReviewedDocumentType">
		<xsd:annotation>
			<xsd:documentation>This association will be present for a lead document that is reviewed by clerk review. For documents that were rejected by the clerk review process or the court record system, only the documentStatusCode, originalDocumentID, and (optionally) the documentStatusReasonDescription will be present. For documents that were accepted and recorded, all attributes will be present, except for documentStatusReasonDescription, which may or may not be present.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReviewedConnectedDocument" type="ReviewedDocumentType">
		<xsd:annotation>
			<xsd:documentation>This association will be present for each connected document that is reviewed by clerk review. For documents that were rejected by the clerk review process or the court record system, only the documentStatusCode, originalDocumentID, and (optionally) the documentStatusReasonDescription will be present. For documents that were accepted and recorded, all attributes will be present, except for documentStatusReasonDescription, which may or may not be present.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SealDocumentIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Clerk's instruction to court record system to seal this document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendingMDELocationID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>Location for the MDE to which asynchronous and service messages can be sent. This unique location is self-assigned by the MDE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendingMDEProfileCode" type="xsd:normalizedString">
		<xsd:annotation>
			<xsd:documentation>Code identifying the service interaction profile being used by the sending filing assembly MDE. This list should be extensible to accommodate future messaging profiles. Each code value is specified within the message profile approved for use with ECF 4.0.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRecipientID" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier assigned by the filing assembly MDE for the person who is managing the interface between the filer and the filing assembly MDE. This person will receive secondary service on behalf of the filer. This is also the submitterID for filings in this case, and asynchronous responses to filings.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Signature" type="SignatureType">
		<xsd:annotation>
			<xsd:documentation>The data or information representing this signature. It must be valid according to the profile identified by the associated signatureProfileID.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SignatureProfileID" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An identifier from the Court Filing specification that indicates the Signature Profile governing the structure of this signature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialHandlingInstructions" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Any additional instructions for printing of a document (such as printing on front and back of the same page or printing on a particular color paper). </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectICEIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>ID assigned by the Immigration and Customs Enforcement Bureau of the U.S. Department of Homeland Security.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
