shared/ojb-resources-common/src/main/resources/ssp/Case_Filing_Decision_Reporting/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/cyfs/3.1/cyfs.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/cyfs/3.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Children, Youth, and Family Services</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="AssociatedPersonChildAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between a person and the child.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="cyfs:Child" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:PersonAssociationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:AssociatedPersonChildAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseworkerType">
    <xs:annotation>
      <xs:documentation>A data type for information about the caseworker.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:CaseworkerAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChildType">
    <xs:annotation>
      <xs:documentation>A data type for information about a person who has not yet reached the age of legal majority (i.e., adulthood).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenileCaseType">
    <xs:annotation>
      <xs:documentation>A data type for a juvenile case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:CaseType">
        <xs:sequence>
          <xs:element ref="cyfs:Caseworker" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:Juvenile" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:JuvenileCaseAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenileType">
    <xs:annotation>
      <xs:documentation>A data type for a juvenile.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:JuvenileAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ParentChildAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="cyfs:Child" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:Parent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:ParentChildKinshipCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonOtherKinAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship that is a kinship or other close personal association between the source object and the target object. The relationship between a parent and a child should be captured using the ParentChildAssociation</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="cyfs:SourcePerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:TargetPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:FamilyIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:HouseholdMemberIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:PersonOtherKinAssociationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cyfs:PersonOtherKinAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssociatedPersonChildAssociation" type="cyfs:AssociatedPersonChildAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AssociatedPersonChildAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AssociatedPersonChildAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Caseworker" type="cyfs:CaseworkerType" nillable="true">
    <xs:annotation>
      <xs:documentation>A caseworker for the child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseworkerAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseworkerType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Child" type="cyfs:ChildType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who was an unmarried minor at the time of his or her involvement in a judicial proceeding or non-judicial program.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FamilyIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a family for the purposes of discovering and connecting related records.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HouseholdMemberIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the associated person is a household member; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Juvenile" type="cyfs:JuvenileType" nillable="true">
    <xs:annotation>
      <xs:documentation>A role of a juvenile, played by a person defined as a juvenile rather than an adult under the law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for JuvenileType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileCase" type="cyfs:JuvenileCaseType">
    <xs:annotation>
      <xs:documentation>An aggregation of information about a set of related activities and events pertaining to a juvenile. This can be, but is not necessarily, a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileCaseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for JuvenileCaseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Parent" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A father or mother of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParentChildAssociation" type="cyfs:ParentChildAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParentChildKinshipCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for describing the nature of the relationship from a parent to a child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParentChildKinshipCategoryText" type="nc:TextType" substitutionGroup="cyfs:ParentChildKinshipCategory" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of relationship from a parent to a child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAssociationCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of association between persons.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAssociationCategoryDescriptionText" type="nc:TextType" substitutionGroup="cyfs:PersonAssociationCategory" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a kind of association between persons.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociation" type="cyfs:PersonOtherKinAssociationType">
    <xs:annotation>
      <xs:documentation>A directed association that describes the kinship or other close personal relationship between the source object and the target object. The relationship between a parent and a child should be captured using the ParentChildAssociation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonOtherKinAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociationCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for describing the kinship or other close personal relationship that exists from the source person to the target person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SourcePerson" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person that is the start point of a directed association</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TargetPerson" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person that represents the end point of a directed association</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
