shared/ojb-resources-common/src/main/resources/service-specifications/Charge_Recommendation_Service/artifacts/service_model/information_model/Charge_Recommendation_IEPD/xsd/Structured_Payloads/maine/MaineIncidentReportStructuredPayload.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:Q1="http://niem.gov/niem/domains/jxdm/4.0" xmlns:Q2="http://niem.gov/niem/niem-core/2.0" xmlns:Q3="http://www.maine.gov/dps/msp/MaineIncidentReportNDEx" xmlns:Q4="http://usdoj.gov/leisp/lexs/library/3.1" xmlns:Q5="http://niem.gov/niem/proxy/xsd/2.0" xmlns:Q6="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.maine.gov/dps/msp/MaineIncidentReportNDEx">
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../NIEM_2.0/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../NIEM_2.0/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://usdoj.gov/leisp/lexs/library/3.1" schemaLocation="../../lexs/library/3.1/library.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../NIEM_2.0/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="../../NIEM_2.0/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Structure payload of the Maine incident report to be sent to N-DEx (LEXS structure uses &lt;xs:any&gt;)</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ChargeType">
		<xsd:annotation>
			<xsd:documentation>Maine-specific charge information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q1:ChargeType">
				<xsd:sequence>
					<xsd:element ref="Q3:OfficerInCharge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:ActualSpeedText" minOccurs="0"/>
					<xsd:element ref="Q3:SpeedLimitText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OfficerInCharge" type="Q3:IssuingOfficerType">
		<xsd:annotation>
			<xsd:documentation>an officer associated with a charge</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IssuingOfficerType">
		<xsd:annotation>
			<xsd:documentation>structure to define the officer(s) involved with the incident</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q1:EnforcementOfficialType">
				<xsd:sequence>
					<xsd:element ref="Q3:OfficerSignatureImage" minOccurs="0"/>
					<xsd:element ref="Q4:SameAsDigestReference">
						<xsd:annotation>
							<xsd:documentation>Reference to the object that is considered the same. Used to connect XML elements from the Structured Payload to XML elements in the Digest, when the Structured Payload builds upon the contents of the Digest.  Sometimes referred to as an up-pointing reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OfficerSignatureImage" type="Q2:ImageType"/>
	<xsd:element name="ActualSpeedText" type="Q2:TextType">
		<xsd:annotation>
			<xsd:documentation>Speed of subject's conveyance as recorded by the officer</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpeedLimitText" type="Q2:TextType">
		<xsd:annotation>
			<xsd:documentation>Posted not to exceed speed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IncidentReportType">
		<xsd:annotation>
			<xsd:documentation>identification of the citation form by revision number and date</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q2:DocumentType">
				<xsd:sequence>
					<xsd:element ref="Q3:FormRevisionDate" minOccurs="0"/>
					<xsd:element ref="Q3:Incident" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:DriverLicenseLocationAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:IncidentSubject" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:SummonsMailingLocationAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormRevisionDate" type="Q5:dateTime">
		<xsd:annotation>
			<xsd:documentation>date form was revised</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Incident" type="Q3:IncidentType"/>
	<xsd:complexType name="IncidentType">
		<xsd:annotation>
			<xsd:documentation>container for the incident - who was involved, when it occured, what occured, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q2:IncidentType">
				<xsd:sequence>
					<xsd:element ref="Q3:Charge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:PropertyEvidence" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:IncidentCase" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:Vehicle" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q3:Summons" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Charge" type="Q3:ChargeType">
		<xsd:annotation>
			<xsd:documentation>associated charge(s) from the incident</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PropertyEvidence" type="Q3:PropertyEvidenceType">
		<xsd:annotation>
			<xsd:documentation>property or evidence related to the incident</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PropertyEvidenceType">
		<xsd:annotation>
			<xsd:documentation>property or evidence involved with the incident</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q1:EvidenceType">
				<xsd:sequence>
					<xsd:element ref="Q3:EvidenceStatusText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Q4:SameAsPayloadReference">
						<xsd:annotation>
							<xsd:documentation>Reference to the object that is considered the same. Used to connect XML elements from one Structured Payload to XML elements in another Structured Payload, when one Structured Payload builds upon the contents of another Structured Payload.  Sometimes referred to as cross reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EvidenceStatusText" type="Q5:string">
		<xsd:annotation>
			<xsd:documentation>status of property or evidence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentCase" type="Q3:IncidentCaseType"/>
	<xsd:complexType name="IncidentCaseType">
		<xsd:annotation>
			<xsd:documentation>type of case resulting from the incident: gang related, hate, domistic violence</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q2:CaseType">
				<xsd:sequence>
					<xsd:element ref="Q3:DispositionWaiver" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DispositionWaiver" type="Q1:ChargeDispositionType">
		<xsd:annotation>
			<xsd:documentation>disposition waiver</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vehicle" type="Q3:VehicleType"/>
	<xsd:complexType name="VehicleType">
		<xsd:complexContent>
			<xsd:extension base="Q2:VehicleType">
				<xsd:sequence>
					<xsd:element ref="Q4:SameAsDigestReference">
						<xsd:annotation>
							<xsd:documentation>Reference to the object that is considered the same. Used to connect XML elements from the Structured Payload to XML elements in the Digest, when the Structured Payload builds upon the contents of the Digest.  Sometimes referred to as an up-pointing reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Q1:CommercialCarrierUSDOTNumber" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>US DOT Number (7 digits).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Summons" type="Q3:SummonsType"/>
	<xsd:complexType name="SummonsType">
		<xsd:complexContent>
			<xsd:extension base="Q1:CourtOrderType">
				<xsd:sequence>
					<xsd:element ref="Q1:CourtAppearanceDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A date on which a party must appear in court.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Q3:SubjectPromisedToAppearIndicator" minOccurs="0"/>
					<xsd:element ref="Q3:SubjectPromisedToAppearDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubjectPromisedToAppearIndicator" type="Q5:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the subject promised to appear in court, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectPromisedToAppearDate" type="Q5:date">
		<xsd:annotation>
			<xsd:documentation>The date the subject received the summons and made the promise to attend a court appearance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DriverLicenseLocationAssociation" type="Q3:DriverLicenseLocationAssociationType"/>
	<xsd:complexType name="DriverLicenseLocationAssociationType">
		<xsd:annotation>
			<xsd:documentation>A data type for an association between a driver license and an address on that license.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q2:AssociationType">
				<xsd:sequence>
					<xsd:element ref="Q2:LocationReference">
						<xsd:annotation>
							<xsd:documentation>Details about a physical location.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Q2:DriverLicenseReference">
						<xsd:annotation>
							<xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IncidentSubject" type="Q3:IncidentSubjectType"/>
	<xsd:complexType name="IncidentSubjectType">
		<xsd:complexContent>
			<xsd:extension base="Q1:SubjectType">
				<xsd:sequence>
					<xsd:element ref="Q4:SameAsDigestReference">
						<xsd:annotation>
							<xsd:documentation>Reference to the object that is considered the same. Used to connect XML elements from the Structured Payload to XML elements in the Digest, when the Structured Payload builds upon the contents of the Digest.  Sometimes referred to as an up-pointing reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="Q3:SubjectBloodAlcoholContentNumber" minOccurs="0"/>
					<xsd:element ref="Q3:SubjectIsOfInterestIndicator" minOccurs="0"/>
					<xsd:element ref="Q3:SubjectStatusDescriptionText" minOccurs="0"/>
					<xsd:element ref="Q3:SubjectViolatedProbationIndicator" minOccurs="0"/>
					<xsd:element ref="Q3:SubjectActiveArrestWarrantIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SubjectBloodAlcoholContentNumber" type="Q5:decimal"/>
	<xsd:element name="SubjectIsOfInterestIndicator" type="Q5:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the person is of interest, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectStatusDescriptionText" type="Q2:TextType">
		<xsd:annotation>
			<xsd:documentation>Status of a subject's custody.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectViolatedProbationIndicator" type="Q5:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the subject violated probation conditions during the incident, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectActiveArrestWarrantIndicator" type="Q5:boolean">
		<xsd:annotation>
			<xsd:documentation>True if there is an active warrant for the Subject's arrest, false otherwise.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SummonsMailingLocationAssociationType">
		<xsd:complexContent>
			<xsd:extension base="Q2:AssociationType">
				<xsd:sequence>
					<xsd:element ref="Q3:SummonsReference"/>
					<xsd:element ref="Q2:LocationReference">
						<xsd:annotation>
							<xsd:documentation>Details about a physical location.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SummonsReference" type="Q6:ReferenceType"/>
	<xsd:element name="IncidentReport" type="Q3:IncidentReportType"/>
	<xsd:element name="ConveyanceRegistrationJurisdictionCountryText" type="Q2:TextType" substitutionGroup="Q2:IdentificationJurisdiction"/>
	<xsd:element name="SummonsMailingLocationAssociation" type="Q3:SummonsMailingLocationAssociationType"/>
</xsd:schema>
