shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Modification_Request/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/jxdm/6.0/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/6.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="DMH" literal="Department of Mental Health"/>
      <appinfo:LocalTerm term="OCA" literal="Originating Case Agency"/>
      <appinfo:LocalTerm term="ACD" literal="AAMVA Code Dictionary"/>
      <appinfo:LocalTerm term="COMPAS" literal="Correctional Offender Management Profiling for Alternative Sanctions"/>
      <appinfo:LocalTerm term="MCMIS" literal="Motor Carrier Management Information System"/>
      <appinfo:LocalTerm term="MDO" literal="mentally disordered offender"/>
      <appinfo:LocalTerm term="TCN" literal="Transaction Control Number"/>
      <appinfo:LocalTerm term="GVWR" literal="gross vehicle weight rating"/>
      <appinfo:LocalTerm term="HRSO" literal="high risk sex offender"/>
      <appinfo:LocalTerm term="NCMEC" literal="National Center for Missing &amp; Exploited Children"/>
      <appinfo:LocalTerm term="MHSDS" literal="Mental Health Services Delivery System"/>
      <appinfo:LocalTerm term="CJIS" literal="Criminal Justice Information System"/>
      <appinfo:LocalTerm term="FCN" literal="file control number"/>
      <appinfo:LocalTerm term="TCD" literal="traffic control device"/>
      <appinfo:LocalTerm term="BPH" literal="Board of Parole Hearings"/>
      <appinfo:LocalTerm term="AAMVA" literal="The American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <appinfo:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <appinfo:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <appinfo:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <appinfo:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <appinfo:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <appinfo:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <appinfo:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <appinfo:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <appinfo:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <appinfo:LocalTerm term="XRay" literal="X-Ray"/>
      <appinfo:LocalTerm term="ISSN" literal="International Standard Serial Number"/>
      <appinfo:LocalTerm term="TYPA" literal="(Article) Type"/>
      <appinfo:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <appinfo:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <appinfo:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <appinfo:LocalTerm term="LIS" literal="License Plate State"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <appinfo:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <appinfo:LocalTerm term="Brady" literal="Brady Law"/>
      <appinfo:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <appinfo:LocalTerm term="Alpha" definition="Letter(s)"/>
      <appinfo:LocalTerm term="XRays" literal="X-Rays"/>
      <appinfo:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <appinfo:LocalTerm term="DOT" literal="Department of Transportation"/>
      <appinfo:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <appinfo:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <appinfo:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <appinfo:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <appinfo:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <appinfo:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="Multi" literal="Multiple"/>
      <appinfo:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <appinfo:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="REALID" definition="Public Law 109&#x2013;13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <appinfo:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <appinfo:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <appinfo:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <appinfo:LocalTerm term="LSTA" definition="State/Country Index"/>
      <appinfo:LocalTerm term="FFLID" literal="federal firearms license"/>
      <appinfo:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <appinfo:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <appinfo:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <appinfo:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <appinfo:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <appinfo:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <appinfo:LocalTerm term="RES" literal="Registration State"/>
      <appinfo:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <appinfo:LocalTerm term="MO" literal="Modus Operandi"/>
      <appinfo:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <appinfo:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <appinfo:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <appinfo:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/fbi_ncic/4.0/" schemaLocation="../../../codes/fbi_ncic/4.0/fbi_ncic.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../../../niem-core/4.0/niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../../../proxy/xsd/4.0/xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../../../utility/structures/4.0/structures.xsd"/>
  <xs:complexType name="ActivityArrestAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and an arrest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an activity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ActivityComment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityCaseAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityObligationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and an obligation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Obligation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivitySubjectAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a subject.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestType">
    <xs:annotation>
      <xs:documentation>A data type for the apprehension of a subject by a peace official.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:ArrestAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestSubject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeDispositionType">
    <xs:annotation>
      <xs:documentation>A data type for the results or processing of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DispositionType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeNarrative" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeverityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObligationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a Obligation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ObligationSuspendedAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceDeferredTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceSuspendedTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtCostAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionFineAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteEnactmentDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteRepealDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SubjectIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>A data type for a duration length either in specific terms or as a range.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:TermDuration" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityArrestAssociation" type="j:ActivityArrestAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityAugmentation" type="j:ActivityAugmentationType" substitutionGroup="nc:ActivityAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityCaseAssociation" type="j:ActivityCaseAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityComment" type="nc:CommentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment about the activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityObligationAssociation" type="j:ActivityObligationAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and an obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrest" type="j:ArrestType" nillable="true">
    <xs:annotation>
      <xs:documentation>An apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency which employs the arresting official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A records management system identification of the originating case agency for an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ArrestType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation of a violation of a statute and/or ordinance in association with an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is arrested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestSubjectAssociation" type="j:ActivitySubjectAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A relationship between an arrest activity and a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeNarrative" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document associated with a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A level of severity of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCostAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of expenses of prosecuting the case that a convicted subject may be ordered to pay as reimbursement.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationAugmentation" type="j:ObligationAugmentationType" substitutionGroup="nc:ObligationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a Obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationSuspendedAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of an obligation which has been suspended.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique nine character NCIC identification (ORI) assigned to a justice-related organization by the FBI CJIS Division.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceCode" type="ncic:RACECodeType" substitutionGroup="nc:PersonRaceAbstract">
    <xs:annotation>
      <xs:documentation>A classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexCode" type="ncic:SEXCodeType" substitutionGroup="nc:PersonSexAbstract">
    <xs:annotation>
      <xs:documentation>A gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Restitution" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount that a subject owes in restitution.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SentenceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDeferredTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A deferred term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceSuspendedTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A suspended term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of a sentence. Specified as either a specific term in days-months-years or as a minimum - maximum range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Statute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatuteType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number of a set of laws for a particular jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a section or category within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteEnactmentDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a statute was enacted and came into effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteRepealDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a statute was repealed and no longer applied.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is involved or suspected of being involved in an incident or criminal activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An assigned identification that identifies a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionFineAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A pecuniary criminal punishment or penalty payable to the public treasury</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific range or duration of a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
