shared/ojb-resources-common/src/main/resources/service-specifications/Subscription_Notification_Service/information_model/Notification_Message-IEPD/xsd/CriminalHistoryUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistoryUpdate/1.0"
	xmlns:chu="http://ojbc.org/IEPD/Extensions/CriminalHistoryUpdate/1.0"
	elementFormDefault="qualified"
	xmlns:i="http://niem.gov/niem/appinfo/2.0" 
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" 
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" 
	xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" 
	xmlns:s="http://niem.gov/niem/structures/2.0">
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../Subset/niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../Subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../../Subset/niem/domains/jxdm/4.1/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../Subset/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:complexType name="CycleTrackingIdentifierAssignmentType">
		<xsd:annotation>
			<xsd:documentation>A data type for an assignment of a tracking identifier.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="chu:CycleTrackingIdentification"/>
					<xsd:element ref="chu:OriginatorOrganizationReference"/>
					<xsd:element ref="chu:ProsecutionAttorneyOrganizationReference" minOccurs="0"/>
					<xsd:element ref="nc:Case" minOccurs="0"/>
					<xsd:element ref="j:Charge" maxOccurs="unbounded"/>
					<xsd:element ref="j:Arrest" minOccurs="0"/>
					<xsd:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:OffenseChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	

	<xsd:element name="ChargeEnhancingFactor" type="chu:ChargeEnhancingFactorType" substitutionGroup="j:ChargeEnhancingFactor"/>
	
	<xsd:complexType name="ChargeEnhancingFactorType">
		<xsd:complexContent>
			<xsd:extension base="j:ChargeEnhancingFactorType">
				<xsd:sequence>
					<xsd:element ref="chu:ChargeEnhancingFactorCodeRepresentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="CycleTrackingIdentifierAssignment" type="chu:CycleTrackingIdentifierAssignmentType">
		<xsd:annotation>
			<xsd:documentation>An assignment of a tracking identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CycleTrackingIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identifier issued for the purpose of tracking criminal activity and can be used to link this activity to a criminal history.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ProsecutionAttorneyOrganizationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>An agency that institutes legal proceedings.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ChargeEnhancingFactorCodeRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A code for a factor that modifies the charge.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="OriginatorOrganizationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>The organization that originated the criminal history update.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
</xsd:schema>