shared/ojb-resources-common/src/main/resources/ssp/Custody_Status_Change_Reporting/artifacts/service_model/information_model/IEPD/xsd/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.1/"
	xmlns:hs="http://release.niem.gov/niem/domains/humanServices/3.1/"
	xmlns:intel="http://release.niem.gov/niem/domains/intelligence/3.1/"
	xmlns:cscr-ext="http://ojbc.org/IEPD/Extensions/CustodyStatusChangeReportExtension/1.0"
	xmlns:ac-bkg-codes="http://ojbc.org/IEPD/Extensions/AdamsCounty/BookingCodes/1.0"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CustodyStatusChangeReportExtension/1.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
		schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.1/"
		schemaLocation="./Subset/niem/domains/jxdm/5.1/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"
		schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="./Subset/niem/structures/3.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/intelligence/3.1/"
		schemaLocation="./Subset/niem/domains/intelligence/3.1/intelligence.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/cyfs/3.1/"
		schemaLocation="./Subset/niem/domains/cyfs/3.1/cyfs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/humanServices/3.1/"
		schemaLocation="./Subset/niem/domains/humanServices/3.1/hs.xsd" />
	<xsd:complexType name="CustodyStatusChangeReportType">
		<xsd:annotation>
			<xsd:documentation>A data type for set of details associated with
				custody release
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="intel:SystemIdentification"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cscr-ext:Custody" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustodyType">
		<xsd:annotation>
			<xsd:documentation>A data type for custody information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:Booking" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Detention" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Release" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:BailBond" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:PersonCriminalHistorySummary"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cyfs:NextCourtEvent" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Identity" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ContactInformation" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityCaseAssociation"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityChargeAssociation"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:BailBondChargeAssociation"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:PersonAliasIdentityAssociation"
						minOccurs="0" />
					<xsd:element ref="nc:ContactInformationAssociation"
						minOccurs="0" />
					<xsd:element ref="nc:ActivityPersonAssociation"
						minOccurs="0" />
					<xsd:element ref="cscr-ext:BehavioralHealthInformation"
						minOccurs="0" />
					<xsd:element ref="cscr-ext:CareEpisode" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BehavioralHealthInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for information about a person's
				behavioral health.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="cscr-ext:BehavioralHealthStatusRepresentation"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Evaluation" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="nc:Treatment" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="cscr-ext:PrescribedMedication"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="hs:MedicaidIndicator" minOccurs="0" />
					<xsd:element
						ref="cscr-ext:RegionalBehavioralHealthAuthorityAssignmentText"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CareEpisodeType">
		<xsd:annotation>
			<xsd:documentation>A data type for all clinically related services or
				treatments for a patient for a discrete diagnostic condition from
				the onset of symptoms until treatment is complete. Commonly referred
				to as an Episode of Care.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search
				result.
				This can be used to retrieve additional information about the
				person
				and/or court case in the search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Custody" type="cscr-ext:CustodyType">
		<xsd:annotation>
			<xsd:documentation>Imprisonment or legal constraint.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HoldForAgency" type="nc:OrganizationType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An agency for whom a subject is being held.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DetentiontImmigrationHoldIndicator"
		type="niem-xs:boolean" substitutionGroup="nc:SupervisionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a subject is being held for an immigration
				violation; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InmateWorkReleaseIndicator" type="niem-xs:boolean"
		substitutionGroup="nc:SupervisionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if an inmate is on work release; false
				otherwise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InmateWorkerIndicator" type="niem-xs:boolean"
		substitutionGroup="nc:SupervisionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if an inmate is a worker in the facility;
				false otherwise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSocioEconomicStatusDescriptionText"
		type="nc:TextType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A description of a person's income level.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupervisorCategoryText" type="nc:TextType"
		substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A type of supervisor. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupervisorStatus" type="nc:StatusType"
		substitutionGroup="nc:EntityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A state or position of a supervisor.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllowAccountDepositIndicator" type="niem-xs:boolean"
		substitutionGroup="nc:SupervisionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a person in detention is allowed to make
				commissary deposits; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CareEpisode" type="cscr-ext:CareEpisodeType">
		<xsd:annotation>
			<xsd:documentation>A collection of all clinically related services or
				treatments for a patient for a discrete diagnostic condition from
				the onset of symptoms until treatment is complete. Commonly referred
				to as an Episode of Care.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BehavioralHealthStatusRepresentation"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a person's behavioral health
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrescribedMedication" type="cyfs:MedicationUseType">
		<xsd:annotation>
			<xsd:documentation>A medicine that a person is authorized to use by a
				qualified medical practitioner.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BehavioralHealthInformation"
		type="cscr-ext:BehavioralHealthInformationType">
		<xsd:annotation>
			<xsd:documentation>A collection of details about an individual's
				behavioral health.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonPersistentIdentification" type="nc:IdentificationType"
		substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A unique and timeless identifier assigned to an
				individual and always belongs to that individual. This allows for
				identifying activities and information that belong to a person
				without always needing to share PII about that individual.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SeriousMentalIllnessIndicator" type="niem-xs:boolean"
		substitutionGroup="cscr-ext:BehavioralHealthStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>True if the person is diagnosed with a serious
				mental illness (SMI), false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HighRiskNeedsIndicator" type="niem-xs:boolean"
		substitutionGroup="cscr-ext:BehavioralHealthStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>True if a provider determines a person to be high
				risk of needing services, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TreatmentCourtOrderedIndicator" type="niem-xs:boolean"
		substitutionGroup="nc:TreatmentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if court has ordered a person to undergo the
				treatment, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TreatmentActiveIndicator" type="niem-xs:boolean"
		substitutionGroup="nc:TreatmentAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if the treatment is currently active, false
				otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubstanceAbuseIndicator" type="niem-xs:boolean"
		substitutionGroup="cscr-ext:BehavioralHealthStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>True if the person is believed to have abused a
				controlled substance, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeneralMentalHealthConditionIndicator"
		type="niem-xs:boolean" substitutionGroup="cscr-ext:BehavioralHealthStatusRepresentation">
		<xsd:annotation>
			<xsd:documentation>True if the person is categorized as having a
				general mental health condition, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegionalBehavioralHealthAuthorityAssignmentText"
		type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A regional behavioral health authority (RBHA) to
				which an individual is assigned. A RBHA assignment can designate
				whether a member is integrated meaning they receive both physical
				and behavioral health services or non-integrated meaning they only
				receive behavioral health services.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MedicationGeneralProductIdentification"
		type="nc:IdentificationType" substitutionGroup="nc:DrugAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A hierarchical classification system that
				identifies drugs from their primary therapeutic use down to the
				unique interchangeable product regardless of manufacturer or package
				size. Commonly referred to a GPI.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBehavioralHealthInformation"
		type="cscr-ext:BehavioralHealthInformationType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonCareEpisode" type="cscr-ext:CareEpisodeType"
		substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
