shared/ojb-resources-common/src/main/resources/service-specifications/Person_Query_Results_Handler_Service_-_Warrants/artifacts/service-model/information-model/Person_Query_Results_-_Warrants-IEPD/xsd/NIEM_2.1/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd" namespace="http://niem.gov/niem/unece_rec20-misc/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation>A data type for an amount of money.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an aggregation of information about a set of related activities and events.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:CaseDocketID" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseBaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization issued to a driver granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a license issued to a person granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseBaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DriverLicenseBaseType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JurisdictionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:JurisdictionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:LengthUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure point value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonLicenseIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PhysicalFeatureDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PhysicalFeatureLocationText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:WeightUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityDateRange" type="nc:DateRangeType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A period of time over which an activity occurs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Case" type="nc:CaseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An aggregation of information about a set of related activities and events.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseDocketID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to reference a case docket.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicense" type="nc:DriverLicenseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a driver license identifier or driver license permit identifier, including the number and state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or locale which issues an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JurisdictionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area in which an organization or person has some kind of authoritative capacity or responsibility over.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of a length value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Location" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalExtensionCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateNCICLSTACode" type="fbi:LSTACodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateNCICRESCode" type="fbi:RESCodeType" substitutionGroup="nc:LocationState">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue">
    <xsd:annotation>
      <xsd:documentation>A specific measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the age of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEthnicity" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A cultural lineage of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEthnicityCode" type="fbi:EthnicityCodeType" substitutionGroup="nc:PersonEthnicity" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A cultural lineage of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEthnicity"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEthnicityText" type="nc:TextType" substitutionGroup="nc:PersonEthnicity" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A cultural lineage of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEthnicity"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references a license certification or registration of a person for some purpose.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of  a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRace" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRaceCode" type="fbi:RACCodeType" substitutionGroup="nc:PersonRace">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategoryText" type="nc:TextType" substitutionGroup="nc:PhysicalFeatureCategory">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureLocationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of a physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOf" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A property of a role object. This specifies the base object, of which the role object is a function.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
    <xsd:annotation>
      <xsd:documentation>A person of whom the role object is a function.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
        <i:Base i:name="RoleOf"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WeightUnitCode" type="unece:MassCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of the weight value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
