shared/ojb-resources-common/src/main/resources/service-specifications/Incident_Search_Results_Service/artifacts/service_model/information_model/Incident_Search_Results_IEPD/xsd/exchange_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Exchange/IncidentSearchResults/1.0"
	elementFormDefault="qualified" 
	xmlns:exchange="http://ojbc.org/IEPD/Exchange/IncidentSearchResults/1.0"
	xmlns:ext="http://ojbc.org/IEPD/Extensions/IncidentSearchResults/1.0"
	xmlns:s="http://niem.gov/niem/structures/2.0"
	xmlns:nc="http://niem.gov/niem/niem-core/2.0">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/IncidentSearchResults/1.0"
		schemaLocation="extension_schema.xsd" />
		<!-- Root element for incident results -->
		<xsd:element name="IncidentSearchResults" type="ext:IncidentSearchResultsType"/>
		<!-- Root element for incident search results based on an incident person -->
		<xsd:element name="IncidentPersonSearchResults" type="ext:IncidentPersonSearchResultsType"/>
		<!-- Root element for incident search results based on an incident vehicle -->
		<xsd:element name="IncidentVehicleSearchResults" type="ext:IncidentVehicleSearchResultsType"/>
</xsd:schema>