shared/ojb-resources-common/src/main/resources/ssp/Incident_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../usps_states/2.0/usps_states.xsd" namespace="http://niem.gov/niem/usps_states/2.0"/>
  <xsd:complexType name="ActivityOrganizationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an a association between an activity and an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="ActivityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRange" type="nc:DateRangeType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A period of time over which an activity occurs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityReportingOrganizationAssociation" type="nc:ActivityOrganizationAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between an activity and an organization that responded to that organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressSecondaryUnitText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A particular unit within a larger unit or grouping at a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date and time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Incident" type="nc:IncidentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An occurrence or an event that may require a response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Location" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Organization" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which something begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
