shared/ojb-resources-common/src/main/resources/service-specifications/Parole_Event_Handler_Service/artifacts/service_model/information_model/Parole_Case-IEPD/xsd/NIEM_2.1/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a building, place, or structure that provides a particular service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:FacilityName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentityAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:IdentityReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of the characteristics of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentityPersonRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:ContactInformationReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType">
        <xsd:attribute ref="nc:personNameInitialIndicator" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ReleaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a freeing or discharge of someone or something from an activity, supervision, or obligation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SupervisionType">
    <xsd:annotation>
      <xsd:documentation>A data type for an act of officially overseeing, supervising, or keeping track in some capacity of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:SupervisionFacility" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SupervisionRelease" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SupervisionPerson" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:SupervisionSupervisor" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:attribute name="personNameInitialIndicator" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if value represents the first letter or initials of a persons name; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An electronic mailing address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ContactInformationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacilityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a facility.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A representation of the characteristics of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="IdentityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityPersonRepresentation" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A set of person characteristics used as an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAliasIdentityAssociation" type="nc:IdentityAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and an alias identity used by that person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonContactInformationAssociation" type="nc:PersonContactInformationAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of  a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a person based on a state-issued ID card.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategoryText" type="nc:TextType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Supervision" type="nc:SupervisionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A process of overseeing, supervising, or keeping track in some capacity of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionFacility" type="nc:FacilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A facility at which a subject is being supervised.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionPerson" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is being supervised.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionRelease" type="nc:ReleaseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete and unrestricted release of a subject from a supervision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionSupervisor" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity which supervises a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
