shared/ojb-resources-common/src/main/resources/ssp/Subscription_Search_Request/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/jxdm/4.1/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.1/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.1"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ActivityContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between an activity and contact information for that activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactInformationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:OrganizationType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:OrganizationAugmentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element ref="j:PersonAugmentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Organization" type="j:OrganizationType" substitutionGroup="nc:Organization" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Applied augmentation for type nc:OrganizationType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Organization"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique identifier assigned to a justice-related organization by the federal government.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier assigned to a person by a state identification bureau, generally based on submission of the person's fingerprints to the state's Automated Fingerprint Identification System (AFIS).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
