adapters/fbi-electronic-biometric-transmission-specification-adapter/src/main/resources/ebts-10.0-ws-specification/Inc4_External_Service_Contracts_v1.1/external/xsd/ebts/10.0/itl/2011/itl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:itl="http://biometrics.nist.gov/standard/2011"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:s="http://niem.gov/niem/structures/2.0"
            xmlns:biom="http://niem.gov/niem/biometrics/1.0"
            xmlns:ebts="http://cjis.fbi.gov/fbi_ebts/10.0" 
            xmlns:i="http://niem.gov/niem/appinfo/2.0"
            xmlns:nc="http://niem.gov/niem/niem-core/2.0"
            xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
            targetNamespace="http://biometrics.nist.gov/standard/2011" version="2011Constraint">
   
   <xsd:annotation>
      <xsd:documentation>ANSI/NIST-ITL 2011 Biometric Information Exchange Package</xsd:documentation>
      <xsd:appinfo>
         <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:import schemaLocation="../../niem/appinfo/2.0/appinfo.xsd"
               namespace="http://niem.gov/niem/appinfo/2.0"/>
   <xsd:import schemaLocation="../../niem/domains/biometrics/1.0/biometrics.xsd"
               namespace="http://niem.gov/niem/biometrics/1.0"/>
   <xsd:import schemaLocation="../../fbi_ebts/10.0/fbi_ebts.xsd" 
      namespace="http://cjis.fbi.gov/fbi_ebts/10.0"/>
   <xsd:import schemaLocation="../../niem/niem-core/2.0/niem-core.xsd"
               namespace="http://niem.gov/niem/niem-core/2.0"/>
   <xsd:import schemaLocation="../../niem/proxy/xsd/2.0/xsd.xsd"
               namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
   <xsd:import schemaLocation="../../niem/structures/2.0/structures.xsd"
               namespace="http://niem.gov/niem/structures/2.0"/>
   
   <xsd:element name="NISTBiometricInformationExchangePackage"
                type="itl:NISTBiometricInformationExchangePackageType">
      <xsd:annotation>
         <xsd:documentation>A biometric information exchange package representing one biometric transaction</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="NISTBiometricInformationExchangePackageType">
      <xsd:annotation>
         <xsd:documentation>A data type for a biometric information exchange package representing one biometric transaction</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element ref="itl:PackageInformationRecord"/>
               <!--Constraint -->
               <!--<xsd:element ref="itl:PackageDescriptiveTextRecord" minOccurs="0" maxOccurs="unbounded"/>-->
               <xsd:element ref="itl:PackageDescriptiveTextRecord" minOccurs="0" maxOccurs="2"/>
               <!-- Constraint -->
               <!--<xsd:element ref="itl:PackageDataRecord" minOccurs="0" maxOccurs="unbounded"/>-->
               <!-- Constraint -->
               <xsd:choice minOccurs="0" maxOccurs="unbounded">
                  <xsd:element ref="itl:PackageHighResolutionGrayscaleImageRecord"/>
                  <xsd:element ref="itl:PackageUserDefinedImageRecord"/>
                  <xsd:element ref="itl:PackageSignatureImageRecord"/>
                  <xsd:element ref="itl:PackageMinutiaeRecord"/>
                  <xsd:element ref="itl:PackageFacialAndSMTImageRecord"/>
                  <xsd:element ref="itl:PackageLatentImageRecord"/>
                  <xsd:element ref="itl:PackageFingerprintImageRecord"/>
                  <xsd:element ref="itl:PackagePalmprintImageRecord"/>
                  <xsd:element ref="itl:PackageUserDefinedTestingImageRecord"/>
                  <xsd:element ref="itl:PackageIrisImageRecord"/>
                  <xsd:element ref="itl:PackageDNARecord"/>
                  <xsd:element ref="itl:PackagePlantarImageRecord"/>             
                  <xsd:element ref="itl:PackageSourceRepresentationRecord"/>
                  <xsd:element ref="itl:PackageAssociatedContextRecord"/>
                  <xsd:element ref="itl:PackageInformationAssuranceRecord"/>
                  <xsd:element ref="itl:PackageCBEFFBiometricDataRecord"/>                  
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="PackageInformationRecord" type="itl:PackageInformationRecordType">
      <xsd:annotation>
         <xsd:documentation>A Type-1 transactional information record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageInformationRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a Type-1 transactional information record</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element ref="biom:RecordCategoryCode"/>
               <xsd:element ref="biom:Transaction"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="PackageDescriptiveTextRecord" type="itl:PackageDescriptiveTextRecordType">
      <xsd:annotation>
         <xsd:documentation>A Type-2 descriptive record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageDescriptiveTextRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a Type-2 descriptive record</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:PackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="itl:UserDefinedDescriptiveDetail" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
  <!-- <xsd:element name="PackageDataRecord" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A data concept for a biometric record; base element for record types 4 through 99</xsd:documentation>
      </xsd:annotation>
   </xsd:element>-->
   <xsd:complexType name="PackageDataRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a biometric record; base type for record types 4, 7, 8 and 98</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element ref="biom:RecordCategoryCode"/>
               <xsd:element ref="biom:ImageReferenceIdentification"/>
               <xsd:element ref="itl:UserDefinedFields" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ExtendedPackageDataRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for an extended biometric record; base type for record types 9 through 21 and 99</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:PackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:ProcessAnnotation" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element ref="biom:AssociatedContext" minOccurs="0" maxOccurs="255"/>
               <xsd:element ref="biom:ImageHashValue" minOccurs="0"/>
               <xsd:element ref="biom:SourceRepresentation" minOccurs="0" maxOccurs="255"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageHighResolutionGrayscaleImageRecord" type="itl:PackageFingerprintImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord" -->
      <xsd:annotation>
         <xsd:documentation>A Type-4 high-resolution grayscale fingerprint image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageFingerprintImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a fingerprint image record (Type-4)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:PackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:FingerprintImage"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageUserDefinedImageRecord"  type="itl:PackageUserDefinedImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-7 user-defined image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <!-- Research -->
   <xsd:complexType name="PackageUserDefinedImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a user-defined image record (Type-7)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:PackageDataRecordType">
            <!-- Constraint -->
            <!--<xsd:sequence>
              <xsd:element ref="biom:BiometricImage" minOccurs="0"/>
              </xsd:sequence>-->
            <xsd:choice minOccurs="0">
               <xsd:element ref="biom:CBEFFImage"/>
               <xsd:element ref="biom:ContextImage"/>
               <xsd:element ref="biom:DNAElectropherogramScreenshotImage"/>
               <xsd:element ref="biom:FaceImage"/>
               <xsd:element ref="itl:FaceImage"/>
               <xsd:element ref="biom:FingerImpressionImage"/>
               <xsd:element ref="itl:FingerprintImage"/>
               <xsd:element ref="biom:FingerprintImage"/>
               <xsd:element ref="biom:FrictionRidgeImage"/>
               <xsd:element ref="biom:IrisImage"/>
               <xsd:element ref="biom:PalmprintImage"/>
               <xsd:element ref="itl:PalmprintImage"/>
               <xsd:element ref="biom:PhysicalFeatureImage"/>
               <xsd:element ref="biom:PlantarImage"/>
               <xsd:element ref="biom:SignatureImage"/>
               <xsd:element ref="biom:SourceImage"/>
               <xsd:element ref="biom:TestImage"/>                              
               <xsd:element ref="itl:TestImage"/>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageSignatureImageRecord"  type="itl:PackageSignatureImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-8 signature image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageSignatureImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a signature image record (Type-8)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:PackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:SignatureImage"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageMinutiaeRecord"  type="itl:PackageMinutiaeRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-9 minutiae data record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageMinutiaeRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a minutiae data record (Type-9)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:sequence>
               <!-- Constraint -->
               <!--<xsd:element ref="biom:MinutiaeImpressionCaptureCategory"/>-->
               <!-- Constraint -->
               <xsd:element ref="biom:MinutiaeImpressionCaptureCategoryCode"/>
               <xsd:element ref="biom:MinutiaeFormatNISTStandardIndicator"/>
               <xsd:element ref="biom:MinutiaeUniversalLatentWorkstationAnnotationText" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element ref="biom:BiometricCaptureDetail" minOccurs="0"/>
               <!-- Constraint -->
              <!-- <xsd:element ref="biom:RecordMinutiae" maxOccurs="unbounded"/>-->
               <!-- Constraint -->
               <xsd:choice maxOccurs="unbounded">
                   <xsd:element ref="ebts:Minutiae"/>
                  <xsd:element ref="biom:ExtendedFeatureSetMinutiae"/>
                  <xsd:element ref="biom:INCITSMinutiae"/>
                 <xsd:element ref="biom:OtherMinutiae"/> 
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageFacialAndSMTImageRecord"  type="itl:PackageFacialAndSMTImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-10 facial or SMT image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageFacialAndSMTImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a facial or SMT image record (Type-10)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:choice>
               <xsd:element ref="biom:FaceImage"/>
               <xsd:element ref="itl:FaceImage"/>
               <xsd:element ref="biom:PhysicalFeatureImage"/>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageLatentImageRecord" type="itl:PackageLatentImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord" -->
      <xsd:annotation>
         <xsd:documentation>A Type-13 variable-resolution latent image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageLatentImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a variable-resolution latent image record (Type-13)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:choice>
               <xsd:element ref="biom:FingerImpressionImage"/>
               <!-- Constraint -->
               <xsd:element ref="itl:FingerprintImage"/>
               <xsd:element ref="biom:PalmprintImage"/>
               <!-- Constraint -->
               <xsd:element ref="itl:PalmprintImage"/>               
               <xsd:element ref="biom:PlantarImage"/>
               <xsd:element ref="biom:FrictionRidgeImage"/>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageFingerprintImageRecord"  type="itl:PackageFingerImpressionImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-14 variable-resolution fingerprint image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageFingerImpressionImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a fingerprint image record (Type-14)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <!-- Constraint -->
          <!--<xsd:extension base="itl:ExtendedPackageDataRecordType">          
                  <xsd:sequence>
                     <xsd:element ref="biom:FingerImpressionImage"/>
                  </xsd:sequence>-->
            <!-- Constraint -->
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element ref="biom:RecordCategoryCode"/>
               <xsd:element ref="biom:ImageReferenceIdentification"/>
               <xsd:element ref="ebts:Type14UserDefinedFields" minOccurs="0"/>
               <xsd:element ref="biom:ProcessAnnotation" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element ref="biom:AssociatedContext" minOccurs="0" maxOccurs="255"/>
               <xsd:element ref="biom:ImageHashValue" minOccurs="0"/>
               <xsd:element ref="biom:SourceRepresentation" minOccurs="0" maxOccurs="255"/>               
               <!-- Constraint -->
               <xsd:choice>
                  <xsd:element ref="biom:FingerImpressionImage"/>
                  <xsd:element ref="itl:FingerprintImage"/>
               </xsd:choice> 
            </xsd:sequence>           
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackagePalmprintImageRecord"  type="itl:PackagePalmprintImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-15 variable-resolution palmprint image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackagePalmprintImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a Type-15 variable-resolution palmprint image record (Type-15)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>         
            <!-- Constraint -->
         <!-- <xsd:extension base="itl:ExtendedPackageDataRecordType">
                  <xsd:sequence>
                        <xsd:element ref="biom:PalmprintImage"/>
                  </xsd:sequence>-->
            <!-- Constraint -->
            <xsd:extension base="s:ComplexObjectType">
               <xsd:sequence>
                  <xsd:element ref="biom:RecordCategoryCode"/>
                  <xsd:element ref="biom:ImageReferenceIdentification"/>
                  <xsd:element ref="ebts:Type15UserDefinedFields" minOccurs="0"/>
                  <xsd:element ref="biom:ProcessAnnotation" minOccurs="0" maxOccurs="unbounded"/>
                  <xsd:element ref="biom:AssociatedContext" minOccurs="0" maxOccurs="255"/>
                  <xsd:element ref="biom:ImageHashValue" minOccurs="0"/>
                  <xsd:element ref="biom:SourceRepresentation" minOccurs="0" maxOccurs="255"/>      
            <!-- Constraint -->
            <xsd:choice>
               <xsd:element ref="biom:PalmprintImage"/>
               <xsd:element ref="itl:PalmprintImage"/>
            </xsd:choice>
           </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageUserDefinedTestingImageRecord"  type="itl:PackageTestImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-16 user-defined variable-resolution testing image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageTestImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a user-defined variable-resolution testing image record (Type-16)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
           <!-- Constraint -->
            <!--<xsd:sequence>
               <xsd:element ref="biom:TestImage"/>
               </xsd:sequence>-->
            <!-- Constraint -->
            <xsd:choice>
              <xsd:element ref="biom:TestImage"/>
              <xsd:element ref="itl:TestImage"/>
           </xsd:choice>            
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageIrisImageRecord"  type="itl:PackageIrisImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-17 iris image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageIrisImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for an iris image record (Type-17)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:IrisImage"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageDNARecord"  type="itl:PackageDNARecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-18 DNA record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
    <xsd:complexType name="PackageDNARecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a DNA record (Type-18)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
        <xsd:extension base="itl:ExtendedPackageDataRecordType">
          <xsd:sequence>
            <xsd:element ref="biom:DNASample"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackagePlantarImageRecord"  type="itl:PackagePlantarImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->
      <xsd:annotation>
         <xsd:documentation>A Type-19 plantar image record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackagePlantarImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a plantar image record (Type-19)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:PlantarImage"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!-- Constraint -->
  <xsd:element name="PackageSourceRepresentationRecord" type="itl:PackageSourceRepresentationRecordType"> <!--substitutionGroup="itl:PackageDataRecord">-->
    <xsd:annotation>
      <xsd:documentation>A Type-20 source representation data record</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PackageSourceRepresentationRecordType">
    <xsd:annotation>
      <xsd:documentation>A data type for a source representation data record (Type-20)</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="itl:ExtendedPackageDataRecordType">
        <xsd:sequence>
          <xsd:element ref="biom:SourceRecordCardinalityCode"/>
          <xsd:element ref="biom:SourceAcquisition" maxOccurs="9"/>
          <xsd:element ref="biom:SourceFileFormat"/>
          <xsd:element ref="biom:SourceCommentText" minOccurs="0"/>
          <xsd:element ref="biom:SourceIdentification"/>
          <xsd:element ref="biom:SourceExternalFileReferenceText" minOccurs="0"/>
          <xsd:choice>
            <xsd:element ref="biom:SourceImage"/>
            <xsd:element ref="biom:SourceAudio"/>
            <xsd:element ref="biom:SourceVideo"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   <!-- Constraint -->
  <xsd:element name="PackageAssociatedContextRecord" type="itl:PackageAssociatedContextRecordType"> <!--substitutionGroup="itl:PackageDataRecord">-->
    <xsd:annotation>
      <xsd:documentation>A Type-21 associated context data record</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PackageAssociatedContextRecordType">
    <xsd:annotation>
      <xsd:documentation>A data type for an associated context data record (Type-21)</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="itl:ExtendedPackageDataRecordType">
        <xsd:sequence>
          <xsd:element ref="biom:ContextFileFormat"/>
          <xsd:element ref="biom:ContextCommentText" minOccurs="0"/>
          <xsd:element ref="biom:ContextIdentification"/>
          <xsd:element ref="biom:ContextExternalFileReferenceText" minOccurs="0"/>
          <xsd:choice>
            <xsd:element ref="biom:ContextImage"/>
            <xsd:element ref="biom:ContextAudio"/>
            <xsd:element ref="biom:ContextVideo"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   <!-- Constraint -->
  <xsd:element name="PackageInformationAssuranceRecord" type="itl:PackageInformationAssuranceRecordType"> <!--substitutionGroup="itl:PackageDataRecord">-->
    <xsd:annotation>
      <xsd:documentation>A Type-98 information assurance data record</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PackageInformationAssuranceRecordType">
    <xsd:annotation>
      <xsd:documentation>A data type for an information assurance data record (Type-98)</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="itl:PackageDataRecordType">
        <xsd:sequence>
          <xsd:element ref="biom:AssuranceFormatOwnerIdentification"/>
          <xsd:element ref="biom:AssuranceOrganization"/>
          <xsd:element ref="biom:AssuranceFormatIdentification"/>
          <xsd:element ref="biom:AssuranceDateTime"/>
          <xsd:element ref="biom:AssuranceLogEntry" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="biom:AssuranceAuditRevisionIdentification" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   <!-- Constraint -->
   <xsd:element name="PackageCBEFFBiometricDataRecord" type="itl:PackageCBEFFImageRecordType"> <!--substitutionGroup="itl:PackageDataRecord"-->                
      <xsd:annotation>
         <xsd:documentation>A Type-99 CBEFF Biometric data record</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PackageCBEFFImageRecordType">
      <xsd:annotation>
         <xsd:documentation>A data type for a CBEFF Biometric data record (Type-99)</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="itl:ExtendedPackageDataRecordType">
            <xsd:sequence>
               <xsd:element ref="biom:CBEFFImage"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="UserDefinedDescriptiveDetailType">
      <xsd:annotation>
         <xsd:documentation>A data type for a set of domain-defined descriptive information to be included in a Type-2 descriptive record; intended to be substituted by a domain-defined extension element</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element ref="itl:DomainDefinedDescriptiveDetail"/>
               <xsd:element ref="itl:OtherDescriptiveDetail" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="DomainDefinedDescriptiveDetail" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A data concept for a set of domain-defined descriptive information to be included in a Type-2 descriptive record; intended to be substituted by a domain-defined extension element</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="OtherDescriptiveDetail" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A data concept for a set of domain-defined descriptive information to be included in a Type-2 descriptive record; intended to be substituted by a domain-defined extension element</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="UserDefinedDescriptiveDetail" type="itl:UserDefinedDescriptiveDetailType">
      <xsd:annotation>
         <xsd:documentation>A set of user-defined descriptive information about the transaction</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="UserDefinedFields" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A data concept for a set of user-defined fields; intended to be substituted by a domain-defined extension element</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <!-- Constraint -->
  <!-- <xsd:element name="UserDefinedImage" abstract="true" substitutionGroup="biom:BiometricImage">
      <xsd:annotation>
         <xsd:documentation>A data concept for a user-defined image; intended to be substituted by a domain-defined extension element</xsd:documentation>
      </xsd:annotation>
      </xsd:element>-->
   <!-- Constraint -->
  <xsd:element name="CaptureSourceDescriptionText" type="nc:TextType"> <!--substitutionGroup="biom:CaptureSourceDescriptionText">-->
      <xsd:annotation>
         <xsd:documentation>A description of a vendor-specified source of an image. Deprecated in favor of biom:CaptureSourceDescriptionText.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FaceImage" type="biom:FaceImageType"> <!--substitutionGroup="biom:FaceImage">-->
      <xsd:annotation>
         <xsd:documentation>An image of a face. Deprecated in favor of biom:FaceImage.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FaceImageAcquisitionSource" type="biom:ImageAcquisitionSourceType"> <!--substitutionGroup="biom:FaceImageAcquisitionSource">-->
      <xsd:annotation>
         <xsd:documentation>A source of an image. Deprecated in favor of biom:FaceImageAcquisitionSource.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerMissingCode" type="biom:FrictionRidgeImageMissingAreaReasonCodeType"> <!--substitutionGroup="biom:FingerMissingCode">-->
      <xsd:annotation>
         <xsd:documentation>A reason for a missing finger from a fingerprint image. Deprecated in favor of biom:FingerMissingCode.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerprintImage" type="biom:FingerImpressionImageType"> <!--substitutionGroup="biom:FingerImpressionImage">-->
      <xsd:annotation>
         <xsd:documentation>An image of a fingerprint. Deprecated in favor of biom:FingerImpressionImage.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerprintImageSegmentPositionSquare" type="biom:FingerprintImageSegmentPositionSquareType"> <!--substitutionGroup="biom:FingerprintImageSegmentPositionSquare">-->
      <xsd:annotation>
         <xsd:documentation>A square segment position for a particular fingerprint. Deprecated in favor of biom:FingerprintImageSegmentPositionSquare.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerprintImageSegmentPositionPolygon" type="biom:FingerprintImageSegmentPositionPolygonType"> <!--substitutionGroup="biom:FingerprintImageSegmentPositionPolygon"-->
      <xsd:annotation>
         <xsd:documentation>A polygon segment position for a particular fingerprint. Deprecated in favor of biom:FingerprintImageSegmentPositionPolygon.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerprintImageFingerMissing" type="biom:FingerprintImageFingerMissingType"> <!--substitutionGroup="biom:FingerprintImageFingerMissing">-->
      <xsd:annotation>
         <xsd:documentation>A missing finger in a fingerprint image. Deprecated in favor of biom:FingerprintImageFingerMissing.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="FingerprintImageQuality" type="biom:FingerprintImageQualityType"> <!--substitutionGroup="biom:FingerprintImageQuality">-->
      <xsd:annotation>
         <xsd:documentation>A quality measure of a fingerprint. Deprecated in favor of biom:FingerprintImageQuality.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Research -->
  <!--<xsd:element name="IrisDiameterPixelQuantity" type="niem-xsd:nonNegativeInteger" substitutionGroup="biom:IrisDiameterPixelQuantity">
      <xsd:annotation>
         <xsd:documentation>A number of pixels in the diameter of an iris. Deprecated in favor of biom:IrisDiameterPixelQuantity.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>-->
   <!-- Constraint -->
 <!-- <xsd:element name="IrisImage" type="biom:IrisImageType" substitutionGroup="biom:IrisImage">
      <xsd:annotation>
         <xsd:documentation>An image of an iris. Deprecated in favor of biom:IrisImage.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
      </xsd:element>-->
   <!-- Research --> 
  <!--<xsd:element name="Minutiae" substitutionGroup="biom:RecordMinutiae" type="itl:MinutiaeType">
      <xsd:annotation>
         <xsd:documentation>An outdated NIST standard minutiae record element. Deprecated in favor of biom:ExtendedFeatureSetMinutiae, biom:INCITSMinutiae or a user-defined substitute.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>-->
   <!-- Research --> 
  <!--<xsd:complexType name="MinutiaeType">
      <xsd:annotation>
         <xsd:documentation>A data type for an outdated NIST standard minutiae record element. Deprecated in favor of biom:ExtendedFeatureSetMinutiaeType, biom:INCITSMinutiaeType or a user-defined substitute.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="itl:MinutiaeNISTStandard"/>
          <xsd:element ref="biom:MinutiaeFingerCorePosition" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="biom:MinutiaeFingerDeltaPosition" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="itl:MinutiaeFingerPatternDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="biom:MinutiaeFingerPositionCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="biom:MinutiaePalmPositionCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>-->
   <!-- Research --> 
  <!--<xsd:element name="MinutiaeNISTStandard" type="itl:MinutiaeNISTStandardType">
      <xsd:annotation>
         <xsd:documentation>An outdated NIST standard minutiae element. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
      </xsd:element> -->
   <!-- Research --> 
   <!--<xsd:complexType name="MinutiaeNISTStandardType">
      <xsd:annotation>
         <xsd:documentation>A data type for an outdated NIST standard minutiae element. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="itl:MinutiaDetail" maxOccurs="unbounded"/>
          <xsd:element ref="biom:MinutiaeQuantity"/>
          <xsd:element ref="biom:MinutiaeReadingSystem" minOccurs="0"/>
          <xsd:element ref="biom:MinutiaeRidgeCountIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>-->
  <xsd:element name="MinutiaDetail" type="itl:MinutiaType">
      <xsd:annotation>
         <xsd:documentation>An outdated NIST standard minutia element. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
  <xsd:complexType name="MinutiaType">
      <xsd:annotation>
         <xsd:documentation>A data type for an outdated NIST standard minutia element. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="biom:PositionHorizontalCoordinateValue"/>
          <xsd:element ref="biom:PositionVerticalCoordinateValue"/>
          <xsd:element ref="biom:MinutiaIdentification"/>
          <xsd:element ref="biom:PositionThetaAngleMeasure"/>
          <xsd:element ref="biom:MinutiaQualityValue" minOccurs="0"/>
          <xsd:element ref="biom:MinutiaCategoryCode" minOccurs="0"/>
          <xsd:element ref="biom:MinutiaRidgeCount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   <!-- Research -->
 <!-- <xsd:element name="MinutiaeFingerPatternDetail" type="itl:MinutiaeFingerPatternType">
      <xsd:annotation>
         <xsd:documentation>An outdated NIST standard minutia finger pattern. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>-->
   <!-- Research -->
 <!-- <xsd:complexType name="MinutiaeFingerPatternType">
      <xsd:annotation>
         <xsd:documentation>A data type for an outdated NIST standard minutia finger pattern. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="itl:FingerPatternCodeSourceCode"/>
          <xsd:element ref="biom:FingerPattern" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>-->
  <xsd:element name="FingerPatternCodeSourceCode" type="itl:PCSCodeType">
      <xsd:annotation>
         <xsd:documentation>An outdated NIST standard minutia finger pattern code. Deprecated.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
  <xsd:simpleType name="PCSCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for an outdated NIST standard minutia finger pattern code. Deprecated.</xsd:documentation>
      <xsd:appinfo>
        <i:Deprecated i:value="true"/>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="T">
        <xsd:annotation>
          <xsd:documentation>Pattern codes from Table 16 of ANSI-NIST/ITL 2007</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="U">
        <xsd:annotation>
          <xsd:documentation>User-defined pattern codes</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PCSCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for an outdated NIST standard minutia finger pattern code. Deprecated.</xsd:documentation>
      <xsd:appinfo>
        <i:Deprecated i:value="true"/>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="itl:PCSCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
   <!-- Constraint -->
  <xsd:element name="PalmprintImage" type="biom:PalmprintImageType"> <!--substitutionGroup="biom:PalmprintImage"> -->
      <xsd:annotation>
         <xsd:documentation>An image of a palmprint. Deprecated in favor of biom:PalmprintImage.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="PalmprintImageQuality" type="biom:PalmprintImageQualityType"> <!--substitutionGroup="biom:PalmprintImageQuality">-->
      <xsd:annotation>
         <xsd:documentation>A quality measure of a palm print. Deprecated in favor of biom:PalmprintImageQuality.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="PositionPolygonVertex" type="biom:VertexType"> <!--substitutionGroup="biom:PositionPolygonVertex">-->
      <xsd:annotation>
         <xsd:documentation>A vertex in a position polygon. Deprecated in favor of biom:PositionPolygonVertex.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="PositionPolygonVertexQuantity" type="niem-xsd:nonNegativeInteger"> <!--substitutionGroup="biom:PositionPolygonVertexQuantity">-->
      <xsd:annotation>
         <xsd:documentation>A number of vertices in a position polygon. Deprecated in favor of biom:PositionPolygonVertexQuantity.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
  </xsd:element>
   <!-- Constraint -->
  <xsd:element name="TestImage" type="biom:ImageType"> <!--substitutionGroup="biom:TestImage">-->
      <xsd:annotation>
         <xsd:documentation>An image of a test. Deprecated in favor of biom:TestImage.</xsd:documentation>
         <xsd:appinfo><i:Deprecated i:value="true"/></xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>