shared/ojb-resources-common/src/main/resources/ssp/Vehicle_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ConveyanceRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a conveyance with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemRegistrationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemRegistrationType">
        <xsd:sequence>
          <xsd:element ref="nc:ConveyanceRegistrationPlateCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyanceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a property item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemModelName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType">
        <xsd:sequence>
          <xsd:element ref="nc:VehicleDoorQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:VehicleIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:VehicleMakeCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ConveyanceRegistration" type="nc:ConveyanceRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A registration of a conveyance with an authority.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateCategoryCode" type="fbi:LITCodeType" substitutionGroup="nc:ConveyanceRegistrationPlateCategory">
    <xsd:annotation>
      <xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceRegistrationPlateCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateCategoryText" type="nc:TextType" substitutionGroup="nc:ConveyanceRegistrationPlateCategory">
    <xsd:annotation>
      <xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceRegistrationPlateCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification on a metal plate fixed to a conveyance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemCategoryText" type="nc:TextType" substitutionGroup="nc:ItemCategory">
    <xsd:annotation>
      <xsd:documentation>A kind of property item.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemModelName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a specific design or kind of item made by a manufacturer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemModelYearDate" type="niem-xsd:gYear" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year in which an item was manufactured or produced.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleColorPrimaryCode" type="fbi:VCOCodeType" substitutionGroup="nc:ItemColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A single, upper-most, front-most, or majority color of a vehicle.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleDoorQuantity" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number of doors on a vehicle.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique combination of alphanumeric characters that identifies a specific vehicle.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleMakeCode" type="fbi:VMACodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A manufacturer of a vehicle.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
