shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Modification_Request/schema/SIP_WS_1.2/Criminal_History_Modification_Request_Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:chm-req-doc="http://ojbc.org/IEPD/Exchange/CriminalHistoryModificationRequest/1.0"
	xmlns:chm-req-ext="http://ojbc.org/IEPD/Extensions/CriminalHistoryModificationRequest/1.0"
	name="Criminal_History_Modification_Request_Service"
	targetNamespace="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
	<wsdl:import namespace="http://ojbc.org/PolicyAssertions/WSDL/GFIPM_SecurityPolicy/1.0/"
		location="../../../../policy-assertions/GFIPMSystemToSystem.wsdl" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0">
			<xsd:import namespace="http://ojbc.org/IEPD/Exchange/CriminalHistoryModificationRequest/1.0"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/criminal_history_modification_request.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Arrest-Add-Request">
		<wsdl:part element="chm-req-ext:ArrestAddRequest" name="Arrest-Add-Request" />
	</wsdl:message>
	<wsdl:message name="Arrest-Modify-Request">
		<wsdl:part element="chm-req-ext:ArrestModifyRequest" name="Arrest-Modify-Request" />
	</wsdl:message>
	<wsdl:message name="Arrest-Hide-Request">
		<wsdl:part element="chm-req-ext:ArrestHideRequest" name="Arrest-Hide-Request" />
	</wsdl:message>
	<wsdl:message name="Disposition-Add-Request">
		<wsdl:part element="chm-req-ext:DispositionAddRequest" name="Disposition-Add-Request" />
	</wsdl:message>
	<wsdl:message name="Disposition-Hide-Request">
		<wsdl:part element="chm-req-ext:DispositionHideRequest" name="Disposition-Hide-Request" />
	</wsdl:message>
	<wsdl:message name="Disposition-Modify-Request">
		<wsdl:part element="chm-req-ext:DispositionModifyRequest" name="Disposition-Modify-Request" />
	</wsdl:message>
	<wsdl:portType name="Criminal_History_Modification_Request_Service">
		<wsdl:operation name="AddArrestRequest">
			<wsdl:input message="tns:Arrest-Add-Request" name="Arrest-Add-Request" />
		</wsdl:operation>
		<wsdl:operation name="ModifyArrestRequest">
			<wsdl:input message="tns:Arrest-Modify-Request" name="Arrest-Modify-Request" />
		</wsdl:operation>
		<wsdl:operation name="HideArrestRequest">
			<wsdl:input message="tns:Arrest-Hide-Request" name="Arrest-Hide-Request" />
		</wsdl:operation>
		<wsdl:operation name="AddDispositionRequest">
			<wsdl:input message="tns:Disposition-Add-Request" name="Disposition-Add-Request" />
		</wsdl:operation>
		<wsdl:operation name="HideDispositionRequest">
			<wsdl:input message="tns:Disposition-Hide-Request" name="Disposition-Hide-Request" />
		</wsdl:operation>
		<wsdl:operation name="ModifyDispositionRequest">
			<wsdl:input message="tns:Disposition-Modify-Request" name="Disposition-Modify-Request" />
		</wsdl:operation>
	</wsdl:portType>
	<!-- This is an unsecured binding and should only be used for testing purposes -->
	<wsdl:binding name="Criminal_History_Modification_Request_ServiceSOAPBinding"
		type="tns:Criminal_History_Modification_Request_Service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsaw:UsingAddressing wsdl:required="true" />
		<wsdl:operation name="AddArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/AddArrestRequest" />
			<wsdl:input name="Arrest-Add-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ModifyArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/ModifyArrestRequest" />
			<wsdl:input name="Arrest-Modify-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="HideArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/HideArrestRequest" />
			<wsdl:input name="Arrest-Hide-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="AddDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/AddDispositionRequest" />
			<wsdl:input name="Disposition-Add-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="HideDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/HideDispositionRequest" />
			<wsdl:input name="Disposition-Hide-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ModifyDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/ModifyDispositionRequest" />
			<wsdl:input name="Disposition-Modify-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<!-- Secure, GFIPM-conformant binding -->
	<wsdl:binding name="Criminal_History_Modification_Request_Secure_ServiceSOAPBinding"
		type="tns:Criminal_History_Modification_Request_Service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#GFIPMSystemToSystem" />
		<wsdl:operation name="AddArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/AddArrestRequest" />
			<wsdl:input name="Arrest-Add-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ModifyArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/ModifyArrestRequest" />
			<wsdl:input name="Arrest-Modify-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="HideArrestRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/HideArrestRequest" />
			<wsdl:input name="Arrest-Hide-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="AddDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/AddDispositionRequest" />
			<wsdl:input name="Disposition-Add-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="HideDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/HideDispositionRequest" />
			<wsdl:input name="Disposition-Hide-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ModifyDispositionRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/CriminalHistoryModificationRequestService/1.0/ModifyDispositionRequest" />
			<wsdl:input name="Disposition-Modify-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Criminal_History_Modification_Request_Service_Service">
		<wsdl:port binding="tns:Criminal_History_Modification_Request_ServiceSOAPBinding"
			name="Criminal_History_Modification_Request_Service">
			<soap:address location="http://localhost" />
		</wsdl:port>
		<wsdl:port binding="tns:Criminal_History_Modification_Request_Secure_ServiceSOAPBinding"
			name="Criminal_History_Modification_Request_Secure_Service">
			<soap:address location="http://localhost/secure" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>