shared/ojb-resources-common/src/main/resources/service-specifications/Arrest_Query_Results_Service/artifacts/service_model/information_model/Arrest_Report_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ext="http://ojbc.org/IEPD/Extensions/ArrestQueryResultsExtension/1.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Extensions/ArrestQueryResultsExtension/1.0">
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="Subset/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="Subset/niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="Subset/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:complexType name="ArrestQueryResultsType">
		<xsd:sequence>
			<xsd:element ref="ext:AttorneyGeneralCaseIndicator" minOccurs="0"/>
			<xsd:element ref="ext:RecordCategoryText" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="nc:PersonEmploymentAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An employment of a person.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:Court" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about a court or a unit of a court responsible for trying justice proceedings.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:Arrest">
				<xsd:annotation>
					<xsd:documentation>Details about the apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:PersonInvolvedInDrivingIncidentAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a person and a driving incident in which that person was involved.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about a physical location.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:DrivingIncident" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about an incident involving a vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:Organization" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An act or a course of action which may constitute a violation of a criminal statute, ordinance or rule that occurred during an incident.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:MessageIdentification" minOccurs="0"/>
			<xsd:element ref="ext:IncidentOffenseViolatedStatuteAssociation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="nc:MarriageAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between two persons who are legally married to each other.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:PersonChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ext:DomesticViolenceChildrenPresentIndicator" minOccurs="0"/>
			<xsd:element ref="ext:PreviousArrest" minOccurs="0"/>
			<xsd:element ref="nc:DriverLicenseAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a driver license and a person.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:PreviousDomesticViolenceArrestIndicator" minOccurs="0"/>
			<xsd:element ref="j:ActivityWitnessAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between an activity and a witness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:PersonOrganizationAffiliationAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a person and an organization.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An aggregation of information about a set of related activities and events.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:ResidenceAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a person and a location where that person lives.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:ActivityIncidentAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between an activity and an incident.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:ActivityCaseAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between an activity and a case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:Statute" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about a unique identifier of a law, rule, or ordinance within a jurisdiction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:Person" maxOccurs="unbounded"/>
			<xsd:element ref="j:Witness" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about a person who has observed an incident.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:PersonContactInformationAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a person and contact information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:TangibleItem" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A physical object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:Greenbox"/>
			<xsd:element ref="ext:DocumentRequester"/>
			<xsd:element ref="nc:DriverLicense" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="j:ActivityInformationReporterAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between an activity and a person who reports information about that activity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:PersonOwnsItemAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between a person and a property item that person owns.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Information that further qualifies primary data; data about data.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ext:DocumentCreatorSystem" minOccurs="0"/>
			<xsd:element ref="j:ActivityCourtAssociation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An association between an activity and a court.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AttorneyGeneralCaseIndicator" type="niem-xsd:string"/>
	<xsd:element name="RecordCategoryText" type="niem-xsd:string"/>
	<xsd:element name="MessageIdentification" type="nc:IdentificationType"/>
	<xsd:element name="IncidentOffenseViolatedStatuteAssociation" type="ext:IncidentOffenseViolatedStatuteAssociationType"/>
	<xsd:complexType name="IncidentOffenseViolatedStatuteAssociationType">
		<xsd:complexContent>
			<xsd:extension base="j:ViolatedStatuteAssociationType">
				<xsd:sequence>
					<xsd:element ref="ext:OffenseReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OffenseReference" type="s:ReferenceType"/>
	<xsd:element name="PersonChargeAssociation" type="ext:PersonChargeAssociationType"/>
	<xsd:complexType name="PersonChargeAssociationType">
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A human being.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="j:ChargeReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Details about a formal allegation that a specific person has committed a specific offense.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DomesticViolenceChildrenPresentIndicator" type="niem-xsd:string"/>
	<xsd:element name="PreviousArrest" type="niem-xsd:string"/>
	<xsd:element name="PreviousDomesticViolenceArrestIndicator" type="niem-xsd:string"/>
	<xsd:element name="Person" type="ext:PersonType"/>
	<xsd:complexType name="PersonType">
		<xsd:complexContent>
			<xsd:extension base="nc:PersonType">
				<xsd:sequence>
					<xsd:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>True if a person is required to register as an offender; false otherwise.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Greenbox" type="ext:GreenboxType"/>
	<xsd:complexType name="GreenboxType">
		<xsd:sequence>
			<xsd:element ref="ext:GreenboxIdentPCN" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentProcessControlFlag" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentOBTSActionCode" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentMasterOTN" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentReadOnly" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentRecordType" minOccurs="0"/>
			<xsd:element ref="ext:GreenboxIdentOBTSControlFlag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GreenboxIdentPCN" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentProcessControlFlag" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentOBTSActionCode" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentMasterOTN" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentReadOnly" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentRecordType" type="niem-xsd:string"/>
	<xsd:element name="GreenboxIdentOBTSControlFlag" type="niem-xsd:string"/>
	<xsd:element name="DocumentRequester" type="niem-xsd:string"/>
	<xsd:element name="DocumentCreatorSystem" type="niem-xsd:string"/>
	<xsd:complexType name="IncidentType">
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="ext:IncidentResponse" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IncidentResponse" type="ext:IncidentResponseType"/>
	<xsd:complexType name="IncidentResponseType">
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="j:IncidentReportingOfficial" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A peace official that submitted an incident report in an incident.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="j:IncidentAssistingOfficial" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A peace official that assisted in processing an incident.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BookingType">
		<xsd:complexContent>
			<xsd:extension base="j:BookingType">
				<xsd:sequence>
					<xsd:element ref="ext:BookingHoldRequestedOfficial" minOccurs="0"/>
					<xsd:element ref="ext:BookingSubject" minOccurs="0"/>
					<xsd:element ref="ext:BookingApprovingSupervisor" minOccurs="0"/>
					<xsd:element ref="ext:PrimaryOrganization" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ext:BookingHoldForInvestigation" minOccurs="0"/>
					<xsd:element ref="ext:BookingAssistingOfficial" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ext:BookingWarrantCheckIndicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BookingHoldRequestedOfficial" type="j:EnforcementOfficialType"/>
	<xsd:element name="BookingSubject" type="ext:BookingSubject"/>
	<xsd:complexType name="BookingSubject">
		<xsd:complexContent>
			<xsd:extension base="j:SubjectType">
				<xsd:sequence>
					<xsd:element ref="ext:BookingSubjectTimeInState" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BookingSubjectTimeInState" type="ext:TimeInStateType"/>
	<xsd:complexType name="TimeInStateType">
		<xsd:sequence>
			<xsd:element ref="ext:TimeInStateQualifier"/>
			<xsd:element ref="ext:TimeInStateValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TimeInStateQualifier" type="niem-xsd:string"/>
	<xsd:element name="TimeInStateValue" type="niem-xsd:decimal"/>
	<xsd:element name="BookingApprovingSupervisor" type="j:EnforcementOfficialType"/>
	<xsd:element name="PrimaryOrganization" type="ext:JusticeOrganizationType"/>
	<xsd:complexType name="JusticeOrganizationType">
		<xsd:complexContent>
			<xsd:extension base="nc:OrganizationType">
				<xsd:sequence>
					<xsd:element ref="j:OrganizationORIIdentification" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A unique identifier assigned to a justice-related organization by the federal government.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BookingHoldForInvestigation" type="niem-xsd:string"/>
	<xsd:element name="BookingAssistingOfficial" type="j:EnforcementOfficialType"/>
	<xsd:element name="BookingWarrantCheckIndicator" type="niem-xsd:boolean"/>
	<xsd:element name="Booking" type="ext:BookingType" substitutionGroup="j:Booking"/>
	<xsd:element name="ActivityResultTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation"/>
	<xsd:element name="ArrestAgency" type="ext:JusticeOrganizationType" substitutionGroup="j:ArrestAgency"/>
	<xsd:element name="ArrestDayOfTheWeek" type="niem-xsd:string" substitutionGroup="nc:DateRepresentation"/>
	<xsd:element name="OffenseDayOfTheWeek" type="niem-xsd:string" substitutionGroup="nc:DateRepresentation"/>
	<xsd:element name="Time" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation"/>
</xsd:schema>
