shared/ojb-resources-common/src/main/resources/ssp/Court_Case_Query_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/domains/jxdm/5.1/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:core_misc="http://release.niem.gov/niem/codes/core_misc/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/core_misc/3.0/core_misc.xsd" namespace="http://release.niem.gov/niem/codes/core_misc/3.0/"/>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.1/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.1/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityArrestAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and an arrest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityCaseAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityFeeAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a fee.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Fee" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityIncidentAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Incident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityVictimAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a victim.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Victim" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppellateCaseType">
    <xs:annotation>
      <xs:documentation>A data type for a single case heard by a court to determine if the original case was tried properly and the defendant received a fair trial.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:CaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestType">
    <xs:annotation>
      <xs:documentation>A data type for the apprehension of a subject by a peace official.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestProbableCauseText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BailBondType">
    <xs:annotation>
      <xs:documentation>A data type for an agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BailBondAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BailBondIssuerEntity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseAmendedCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourtEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefendantSelfRepresentationIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefendantParty" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDefenseAttorney" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseDomesticViolenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseHearing" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseLineageCase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProsecutionAttorney" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseTrial" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for an official's involvement in a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:JudicialOfficialType">
        <xs:sequence>
          <xs:element ref="j:CaseOfficialCaseIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseOfficialRoleText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeDispositionType">
    <xs:annotation>
      <xs:documentation>A data type for the results or processing of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DispositionType">
        <xs:sequence>
          <xs:element ref="j:ChargeDispositionOtherText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDispositionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargePlea" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CitationType">
    <xs:annotation>
      <xs:documentation>A data type for an official summons to appear in court or pay a fine.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CitationViolation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CitationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ModelYearRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:ItemRegistrationType">
        <xs:sequence>
          <xs:element ref="j:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtAppearanceType">
    <xs:annotation>
      <xs:documentation>A data type for an appearance required of a party in a court of law on a certain date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CourtAppearanceCase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAppearanceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtEventType">
    <xs:annotation>
      <xs:documentation>A data type for a court occurrence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtEventAppearance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtEventAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtOrderType">
    <xs:annotation>
      <xs:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtOrderIssuingDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtDivisionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseIssueDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCommercialClass" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseNonCommercialClassText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrivingIncidentType">
    <xs:annotation>
      <xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:IncidentType">
        <xs:sequence>
          <xs:element ref="j:DrivingIncidentRecordedSpeedRateMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DrivingIncidentCollisionIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DrivingIncidentLegalSpeedRateMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DrivingIncidentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:EnforcementOfficialUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementUnitType">
    <xs:annotation>
      <xs:documentation>A data type for a unit of an agency responsible for enforcing the law and maintaining peace.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:EnforcementUnitName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialAccountType">
    <xs:annotation>
      <xs:documentation>A data type for a financial account maintained by a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:FinancialAccountPresentBalanceAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:FinancialAccountAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a property item with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialBarMembershipType">
    <xs:annotation>
      <xs:documentation>A data type for a legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:JudicialOfficialBarIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in a judicial area of government.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialBarMembership" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JudicialOfficialCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObligationPersonAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an obligation and a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Obligation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonBloodAlcoholContentAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association that links a person to a Blood Alcohol Content (BAC) Test reading, measured due to a related activity such as an arrest or a driving incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:PersonBloodAlcoholContentNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PleaType">
    <xs:annotation>
      <xs:documentation>A data type for an answer which a defendant in an action at law makes to charges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:PleaDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaRecommendationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PleaCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionFineAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a supervision.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SupervisionReleaseDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionAssignedTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionCondition" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>A data type for a duration length either in specific terms or as a range.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:TermMaximumDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermMinimumDuration" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VictimSeeksRestitutionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WarrantType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:CourtOrderType">
        <xs:sequence>
          <xs:element ref="j:WarrantCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityArrestAssociation" type="j:ActivityArrestAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityCaseAssociation" type="j:ActivityCaseAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityFeeAssociation" type="j:ActivityFeeAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a fee.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityIncidentAssociation" type="j:ActivityIncidentAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityVictimAssociation" type="j:ActivityVictimAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a victim.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppellateCase" type="j:AppellateCaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A single case heard by the Court of Appeals (Intermediate Court of Appeal) or Supreme Court (The Court of Last Resort). This case does not retry the original case but determines whether the original case was tried properly and the defendant</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrest" type="j:ArrestType" nillable="true">
    <xs:annotation>
      <xs:documentation>An apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A records management system identification of the originating case agency for an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation of a violation of a statute and/or ordinance in association with an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where a subject was arrested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A peace official who makes an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestProbableCauseText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An observed or reported violation of a law or ordinance, which can be a sufficient cause to arrest a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBond" type="j:BailBondType">
    <xs:annotation>
      <xs:documentation>An agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions, including the payment of a certain amount of money and the reappearance of the subject</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondIssuerEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that issues a bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAmendedCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge different than the original charge a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge or accusation a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourtEvent" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court occurrence related to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantParty" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity being charged or sued in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantSelfRepresentationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a defendant waived the right to have a defense attorney and is representing him or her self; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefenseAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who defends a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDomesticViolenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the case involves domestic violence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseHearing" type="j:CourtEventType">
    <xs:annotation>
      <xs:documentation>An appearance before a judicial official conducted in person, by telephone, or by video. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseJudge" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judicial official assigned to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseLineageCase" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a case at a previous stage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficial" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A justice official's involvement in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialCaseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification a justice official uses to identify a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialRoleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A role a justice official played in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous entity involved in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous identification for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProsecutionAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who prosecutes a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseTrial" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of hearing during which the final disposition of a case is determined.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeDispositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionOtherText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An additional set of information beyond or separate from the outcome of a charge, such as the processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a charge was filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargePlea" type="j:PleaType">
    <xs:annotation>
      <xs:documentation>An answer which a defendant in an action at law makes in response to a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequentially assigned identifier for charge tracking purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Citation" type="j:CitationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official summons to appear in court or pay a fine given to a subject from a peace official due to a subjects violation or infraction of a law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CitationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CitationViolation" type="nc:IncidentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An activity that is a violation of a law or ordinance that results in a subject being given a citation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceAugmentation" type="j:ConveyanceAugmentationType" substitutionGroup="nc:ConveyanceAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceColorPrimaryCode" type="ncic:VCOCodeType" substitutionGroup="nc:ItemColor">
    <xs:annotation>
      <xs:documentation>A single, upper-most, front-most, or majority color of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistration" type="j:ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification on a metal plate fixed to a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtAppearanceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCase" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A case for which a party must appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of appearance a party is required to make in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court in which a party is required to appear.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which a party must appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAppearanceReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason a party is required to appear in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtDivisionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of case processing and the law governing specific types of matters before the court and governed by distinct court rule and processes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAppearance" type="j:CourtAppearanceType" nillable="true">
    <xs:annotation>
      <xs:documentation>An appearance in court required of a party</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtEventType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court in which a court event occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventJudge" type="j:JudicialOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judge associated with a court event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrderIssuingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a court order was issued by a judicial official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Detention" type="nc:SupervisionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A mandatory confined supervision of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClass" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClassText" type="nc:TextType" substitutionGroup="j:DriverLicenseCommercialClass">
    <xs:annotation>
      <xs:documentation>A kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which a driver license or driver license permit is no longer valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A driver license identification or driver license permit identification, including the number and state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseIssueDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date when a driver license or driver license permit is issued or renewed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseNonCommercialClassText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of non-commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncident" type="j:DrivingIncidentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An incident involving a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DrivingIncidentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentCollisionIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a driving incident involved a collision with another vehicle, person, or object; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentLegalSpeedRateMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legally designated speed limit in the area where an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentRecordedSpeedRateMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A speed a vehicle was moving at when an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialUnit" type="j:EnforcementUnitType" nillable="true">
    <xs:annotation>
      <xs:documentation>An enforcement unit to which an enforcement officer is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementUnitName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an enforcement unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinancialAccount" type="j:FinancialAccountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A financial account maintained by a financial institution.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinancialAccountAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for FinancialAccountType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinancialAccountPresentBalanceAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An account balance at the time of financial compilation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after meeting the requirement to practice law in a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarMembership" type="j:JudicialOfficialBarMembershipType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of judicial official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ModelYearRange" type="nc:DateRangeType" nillable="true">
    <xs:annotation>
      <xs:documentation>An model year range for an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationPersonAssociation" type="j:ObligationPersonAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an obligation and a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseDomesticViolenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if an offense involves the infliction of physical injury, or the creation of a reasonable fear that physical injury or harm will be inflicted, by a parent or member or former member of a child's household, against a child or against another member of the household; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of service or jurisdiction an organization has over a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodAlcoholContentNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A blood-alcohol percentage reading from a Blood Alcohol Test (BAC Test).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColorCode" type="ncic:EYECodeType" substitutionGroup="nc:PersonEyeColor">
    <xs:annotation>
      <xs:documentation>A color of the eyes of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairColorCode" type="ncic:HAICodeType" substitutionGroup="nc:PersonHairColor">
    <xs:annotation>
      <xs:documentation>A color of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceCode" type="ncic:RACCodeType" substitutionGroup="nc:PersonRace">
    <xs:annotation>
      <xs:documentation>A classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexCode" type="ncic:SEXCodeType" substitutionGroup="nc:PersonSex">
    <xs:annotation>
      <xs:documentation>A gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a person by a state identification bureau, generally based on submission of the person's fingerprints to the state's Automated Fingerprint Identification System (AFIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of plea.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaCategoryCode" type="core_misc:PleaCategoryCodeType" substitutionGroup="j:PleaCategory">
    <xs:annotation>
      <xs:documentation>A kind of plea.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a plea.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaRecommendationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A recommended plea agreement for violent, most serious, or armed offenses.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Probation" type="nc:SupervisionType">
    <xs:annotation>
      <xs:documentation>A judicial requirement that a person fulfill certain conditions of behavior in lieu of jail time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for SentenceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific charge in a court case resulting in a sentence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of a sentence. Specified as either a specific term in days-months-years or as a minimum - maximum range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number of a set of laws for a particular jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAssignedTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of time a person has been assigned to be under supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAugmentation" type="j:SupervisionAugmentationType" substitutionGroup="nc:SupervisionAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionCondition" type="nc:ConditionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A condition that must be met for a person to remain in supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionFineAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A pecuniary criminal punishment or penalty payable to the public treasury</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionReleaseDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date set at which a person under supervision is released.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMaximumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMinimumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A minimum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMakeCode" type="ncic:VMACodeType" substitutionGroup="nc:VehicleMake">
    <xs:annotation>
      <xs:documentation>A manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModelCode" type="ncic:VMOCodeType" substitutionGroup="nc:VehicleModel">
    <xs:annotation>
      <xs:documentation>A specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Victim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or other entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimSeeksRestitutionDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the restitution sought by a victim from a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Violation" type="nc:IncidentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A non-conformance with a rule, law, or condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Warrant" type="j:WarrantType" nillable="true">
    <xs:annotation>
      <xs:documentation>An authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of warrant.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
