shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Search_Request/artifacts/service_model/information_model/IEPD/xsd/criminal_history_search_request_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/4.0/"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/"
	xmlns:chsreq-ext="http://ojbc.org/IEPD/Extensions/CriminalHistorySearchRequestExtension/1.0"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistorySearchRequestExtension/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
		schemaLocation="./Subset/niem/niem-core/4.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/4.0/"
		schemaLocation="./Subset/niem/utility/structures/4.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/"
		schemaLocation="./Subset/niem/domains/jxdm/6.0/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="./Subset/niem/proxy/xsd/4.0/xs.xsd" />
	<xsd:complexType name="ArrestDetailSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit an Arrest Detail search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Case" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SourceSystemNameText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SearchMetadata" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MunicipalChargesSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit a Municiapl Charges search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chsreq-ext:IncludeOnlyAdminOwnedChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDrugCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeMentalHealthCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDeferredDispositionIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeFiledChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SourceSystemNameText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SearchMetadata" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DAChargesSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit a DA Charges search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chsreq-ext:IncludeOnlyAdminOwnedChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDrugCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeMentalHealthCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDeferredDispositionIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeFiledChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SourceSystemNameText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SearchMetadata" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MunicipalDeferredDispositionSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit a Municiapl Charges search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chsreq-ext:IncludeOnlyAdminOwnedChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDrugCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeMentalHealthCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDeferredDispositionIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeFiledChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SourceSystemNameText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SearchMetadata" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DADeferredDispositionSearchRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a message to submit a DA Charges search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chsreq-ext:IncludeOnlyAdminOwnedChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDrugCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeMentalHealthCourtIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeDeferredDispositionIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chsreq-ext:IncludeFiledChargesIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SourceSystemNameText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsreq-ext:SearchMetadata" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that is to be queried. Absence of this element indicates that all known systems shall be
				queried.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchMetadata" type="chsreq-ext:SearchMetadataType">
		<xsd:annotation>
			<xsd:documentation>Information that further qualifies the search.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchQualifierCode" type="chsreq-ext:SearchQualifierCodeType">
		<xsd:annotation>
			<xsd:documentation>Details about how to interpret the content of an element for the purpose of searching.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SearchMetadataType">
		<xsd:annotation>
			<xsd:documentation>A data type for information that further qualifies the search.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MetadataType">
				<xsd:choice>
					<xsd:element ref="chsreq-ext:SearchQualifierCode" minOccurs="0" />
					<xsd:sequence>
						<xsd:element ref="chsreq-ext:SearchRequestOnBehalfOfText" minOccurs="0" />
						<xsd:element ref="chsreq-ext:SearchPurposeText" minOccurs="0" />
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SearchPurposeText">
		<xsd:annotation>
			<xsd:documentation>The reason for executing the search.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchRequestOnBehalfOfText">
		<xsd:annotation>
			<xsd:documentation>An explanation of who the search is being submitted for in the case where a user is acting for someone else in
				submitting a search request.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeHiddenArrestIndicator" type="niem-xs:boolean" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if hidden arrests are to be included in the search; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargePrimarySystemIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A system identification for a charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeHasDispositionIndicator" type="niem-xs:boolean" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a charges has a disposition, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeOnlyAdminOwnedChargesIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a returned charge is owned by Admin; false otherwise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeDrugCourtIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a returned charge is includes Drug Court; false otherwise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeMentalHealthCourtIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a returned charge is includes Mental Health Court; false otherwise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeDeferredDispositionIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a returned charge is includes Deferred Disposition; false otherwise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeFiledChargesIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a returned charge is includes Filed Charges; false otherwise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SearchQualifierCodeType">
		<xsd:simpleContent>
			<xsd:extension base="chsreq-ext:SearchQualifierCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SearchQualifierCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="startsWith">
				<xsd:annotation>
					<xsd:documentation>Return search results that start with this criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="exact">
				<xsd:annotation>
					<xsd:documentation>Return search results that match exactly this criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>