shared/ojb-resources-common/src/main/resources/ssp/Person_Health_Information_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateRangeType">
    <xs:annotation>
      <xs:documentation>A data type for a range of dates.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StartDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrugType">
    <xs:annotation>
      <xs:documentation>A data type for a legal or illegal substance that can be used as a medicine or a narcotic.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:SubstanceType">
        <xs:sequence>
          <xs:element ref="nc:DrugAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubstanceType">
    <xs:annotation>
      <xs:documentation>A data type for the matter or substance of which something consists.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TreatmentType">
    <xs:annotation>
      <xs:documentation>A data type for a treatment of a person for a mental or physical condition.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:TreatmentText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:TreatmentProvider" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:TreatmentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityDateRange" type="nc:DateRangeType" substitutionGroup="nc:ActivityDateRepresentation">
    <xs:annotation>
      <xs:documentation>A period of time over which an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrugAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DrugType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>An end date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueText" type="nc:TextType" substitutionGroup="nc:MeasureValue">
    <xs:annotation>
      <xs:documentation>A textual description of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicity" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSex" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which something begins.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Treatment" type="nc:TreatmentType">
    <xs:annotation>
      <xs:documentation>A treatment of a person for a mental or physical condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TreatmentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for nc:TreatmentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TreatmentProvider" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that provides a treatment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TreatmentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A treatment that was provided or could be provisioned.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
