shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Update_Reporting/artifacts/service_model/information_model/IEPD/xsd/CriminalHistoryDemographicsUpdateReport-extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:chdu-report-ext="http://ojbc.org/IEPD/Extensions/CriminalHistoryDemographicsUpdateReport/Extension/1.0"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistoryDemographicsUpdateReport/Extension/1.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
		schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/"
		schemaLocation="./Subset/niem/domains/jxdm/5.0/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="./Subset/niem/structures/3.0/structures.xsd" />
	<xsd:complexType name="CriminalHistoryDemographicsUpdateReportType">
		<xsd:annotation>
			<xsd:documentation>A data type for the demographics update of a criminal history for a person.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chdu-report-ext:CriminalHistoryReportJurisdictionRepresentation" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chdu-report-ext:PreDemographicsUpdateDemographics" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chdu-report-ext:PostDemographicsUpdateDemographics" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DemographicsUpdateDemographicsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of person identifiers associated with the demographics update of a criminal history.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:Person" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PreDemographicsUpdateDemographics" type="chdu-report-ext:DemographicsUpdateDemographicsType">
		<xsd:annotation>
			<xsd:documentation>Pre Person demographics for the identifier update of a criminal history.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostDemographicsUpdateDemographics" type="chdu-report-ext:DemographicsUpdateDemographicsType">
		<xsd:annotation>
			<xsd:documentation>Post Person demographics for the identifier update of a criminal history.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalHistoryReportJurisdictionRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A data concept representing a report's jurisdiction.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalHistoryReportJurisdictionCode"
		type="chdu-report-ext:CriminalHistoryReportJurisdictionCodeType"
		substitutionGroup="chdu-report-ext:CriminalHistoryReportJurisdictionRepresentation">
		<xsd:annotation>
			<xsd:documentation>A code for a report jurisdiction.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CriminalHistoryReportJurisdictionCodeType">
		<xsd:annotation>
			<xsd:documentation>A code type for a report jurisdiction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="chdu-report-ext:CriminalHistoryReportJurisdictionCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CriminalHistoryReportJurisdictionCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>An enumeration set for a report jurisdiction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="State">
				<xsd:annotation>
					<xsd:documentation>A code value for a state report.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FBI">
				<xsd:annotation>
					<xsd:documentation>A code value for an FBI report.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>