shared/ojb-resources-common/src/main/resources/ssp/Person_Query_Results_Warrants/artifacts/service-model/information-model/IEPD/xsd/WarrantExtensions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:Q1="http://niem.gov/niem/structures/2.0"
	xmlns:Warrant-ext="http://ojbc.org/IEPD/Extensions/Warrants/1.0" xmlns:Q3="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:Q4="http://niem.gov/niem/niem-core/2.0"
	xmlns:qrm="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Extensions/Warrants/1.0">
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/QueryResultsMetadata/1.0"
		schemaLocation="query-result-metadata.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1"
		schemaLocation="NIEM_2.1/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="NIEM_2.1/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="NIEM_2.1/structures/2.0/structures.xsd" />
	<xsd:complexType name="eBWResultsExtensionType">
		<xsd:complexContent>
			<xsd:extension base="Q1:ComplexObjectType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="Q3:Person">
						<xsd:annotation>
							<xsd:documentation>Applied augmentation for type nc:PersonType
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" ref="Q4:Location">
						<xsd:annotation>
							<xsd:documentation>Details about a physical location.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Warrant-ext:eBWResult" />
					<xsd:element ref="qrm:QueryResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="eBWResultExtensionType">
		<xsd:complexContent>
			<xsd:extension base="Q1:ComplexObjectType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="Warrant-ext:NoteCategory" />
					<xsd:element maxOccurs="1" minOccurs="0" ref="Warrant-ext:Notes" />
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:CheckedIn-OutStatus" />
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:CheckedIn-OutByPersonName" />
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:CheckedIn-OutAgency" />
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:CheckedIn-OutByPhone" />
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:CheckedIn-OutDate" />
					<xsd:element maxOccurs="1" minOccurs="1" ref="Q3:Case">
						<xsd:annotation>
							<xsd:documentation>Applied augmentation for type nc:CaseType
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						ref="Warrant-ext:eBWWarrantStatus" />
					<xsd:element maxOccurs="1" minOccurs="0" ref="Q3:Bail">
						<xsd:annotation>
							<xsd:documentation>Details about a commitment made (and possibly
								secured by cash or property) to secure the release of a subject
								being held in custody and suspected of a crime.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" ref="Q3:Warrant">
						<xsd:annotation>
							<xsd:documentation>An authorization for an enforcement official
								to perform a specified action.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Notes" type="Q4:TextType" />
	<xsd:element name="CheckedIn-OutByPersonName" type="Q4:PersonNameTextType" />
	<xsd:element name="NoteCategory" type="Warrant-ext:eBWNoteType" />
	<xsd:simpleType name="eBWNoteType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="General" />
			<xsd:enumeration value="Recall Info" />
			<xsd:enumeration value="Service Attempt Info" />
			<xsd:enumeration value="Address Update" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CheckedIn-OutAgency" type="Q4:ProperNameTextType" />
	<xsd:element name="CheckedIn-OutByPhone" type="Q4:TextType" />
	<xsd:element name="CheckedIn-OutStatus" type="Q4:TextType" />
	<xsd:element name="CheckedIn-OutDate" type="Q4:TextType" />
	<xsd:element name="eBWWarrantStatus" type="Q4:TextType" />
	<xsd:complexType name="WarrantsType">
		<xsd:complexContent>
			<xsd:extension base="Q1:ComplexObjectType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Warrant-ext:eBWResults" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="eBWResults" type="Warrant-ext:eBWResultsExtensionType">
		<xsd:annotation>
			<xsd:documentation>A collection of warrants and related details.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="eBWResult" type="Warrant-ext:eBWResultExtensionType" />
</xsd:schema>
