shared/ojb-resources-common/src/main/resources/ssp/Vehicle_Crash_Query_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityDocumentAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Document" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityPersonAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommentType">
    <xs:annotation>
      <xs:documentation>A data type for a comment, note, or remark providing additional information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:CommentText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceType">
    <xs:annotation>
      <xs:documentation>A data type for a means of transport from place to place.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>A data type for a paper or electronic document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DocumentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HighwayType">
    <xs:annotation>
      <xs:documentation>A data type for a major public road.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:HighwayFullText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentType">
    <xs:annotation>
      <xs:documentation>A data type for an occurrence or an event that may require a response.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:IncidentLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentReportedNarrative" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:IncidentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InjuryType">
    <xs:annotation>
      <xs:documentation>A data type for a form of harm or damage sustained by a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:InjuryLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InsuranceType">
    <xs:annotation>
      <xs:documentation>A data type for coverage by a contract whereby one party agrees to indemnify or guarantee another against loss by a specified contingent event or peril.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:InsurancePolicyIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:InsuranceCarrierName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:InsuranceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemInsuranceAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an item and its insurance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Insurance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemOwner" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemMakeName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JurisdictionType">
    <xs:annotation>
      <xs:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LatitudeCoordinateType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Equator.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LatitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LatitudeDegreeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of latitude.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="90">
        <xs:annotation>
          <xs:documentation>The maximum value for a latitude degree.</xs:documentation>
        </xs:annotation>
      </xs:maxInclusive>
      <xs:minInclusive value="-90">
        <xs:annotation>
          <xs:documentation>The minimum value for a latitude degree.</xs:documentation>
        </xs:annotation>
      </xs:minInclusive>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LatitudeDegreeType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of latitude.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:LatitudeDegreeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Location2DGeospatialCoordinateType">
    <xs:annotation>
      <xs:documentation>A data type for a location identified by latitude and longitude.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:GeographicCoordinateLatitude" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:GeographicCoordinateLongitude" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationAddressAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationGeospatialCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LongitudeCoordinateType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Prime Meridian.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LongitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LongitudeDegreeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of longitude.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxExclusive value="180">
        <xs:annotation>
          <xs:documentation>The maximum value for a longitude degree.</xs:documentation>
        </xs:annotation>
      </xs:maxExclusive>
      <xs:minInclusive value="-180">
        <xs:annotation>
          <xs:documentation>The minimum value for a longitude degree.</xs:documentation>
        </xs:annotation>
      </xs:minInclusive>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LongitudeDegreeType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of longitude.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:LongitudeDegreeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:MeasureUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonConveyanceAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Conveyance" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonLocationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonResidenceAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a location where that person lives.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:PersonLocationAssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StreetType">
    <xs:annotation>
      <xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a conveyance designed to carry an operator, passengers and/or cargo, over land.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ConveyanceType">
        <xs:sequence>
          <xs:element ref="nc:VehicleIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleMake" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleModel" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleGrossLadenUnitWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Activity" type="nc:ActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ActivityType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDocumentAssociation" type="nc:ActivityDocumentAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityPersonAssociation" type="nc:ActivityPersonAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and an activity in which a person was or may have been involved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract">
    <xs:annotation>
      <xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AddressType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressHighway" type="nc:HighwayType" substitutionGroup="nc:LocationAddressAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A major public road.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment, note, or remark providing additional information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Conveyance" type="nc:ConveyanceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of transport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceColorPrimaryText" type="nc:TextType" substitutionGroup="nc:ItemColor" nillable="true">
    <xs:annotation>
      <xs:documentation>A single, upper-most, front-most, or majority color of a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Document" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A paper or electronic document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DocumentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a document was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Entity" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>A person capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the angular distance between a point on the Earth and the Equator.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the angular distance between a point on the Earth and the Prime Meridian.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HighwayFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete reference to a highway.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationJurisdiction" type="nc:JurisdictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area, region, or unit where a unique identification is issued.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IncidentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentEvent" type="nc:ActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An action or occurrence associated with an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentReportedNarrative" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document containing an account of the events that transpired in an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryLocation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a place on the body of a person where an injury occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Insurance" type="nc:InsuranceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A coverage by a contract whereby one party agrees to indemnify or guarantee another against loss by a specified contingent event or peril.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuranceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for InsuranceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsuranceCarrierName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a company which underwrites an insurance policy.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InsurancePolicyIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to an insurance policy by an insurance carrier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Item" type="nc:ItemType" nillable="true">
    <xs:annotation>
      <xs:documentation>An article or thing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ItemType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemInsuranceAssociation" type="nc:ItemInsuranceAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an item and its insurance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemMakeName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of the manufacturer that produced an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemModelYearDate" type="niem-xs:gYear" nillable="true">
    <xs:annotation>
      <xs:documentation>A year in which an item was manufactured or produced.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemOwner" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity which owns a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value that specifies the degree of a latitude. The value comes from a restricted range between -90 (inclusive) and +90 (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location2DGeospatialCoordinate" type="nc:Location2DGeospatialCoordinateType" substitutionGroup="nc:LocationGeospatialCoordinate" nillable="true">
    <xs:annotation>
      <xs:documentation>A location identified by a latitude and longitude.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAddressAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for LocationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind or functional description of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a city or town.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeospatialCoordinate" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint">
    <xs:annotation>
      <xs:documentation>A road, thoroughfare or highway.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value that specifies the degree of a longitude. The value comes from a restricted range between -180 (inclusive) and +180 (exclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnitText" type="nc:TextType" substitutionGroup="nc:MeasureUnit">
    <xs:annotation>
      <xs:documentation>A unit that qualifies the measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueText" type="nc:TextType" substitutionGroup="nc:MeasureValue">
    <xs:annotation>
      <xs:documentation>A textual description of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization" type="nc:OrganizationType">
    <xs:annotation>
      <xs:documentation>A unit which conducts some sort of business or operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonConveyanceAssociation" type="nc:PersonConveyanceAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a location where that person lives.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSex" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOf" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfItem" type="nc:ItemType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete reference for a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vehicle" type="nc:VehicleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A conveyance designed to carry an operator, passengers and/or cargo, over land.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for VehicleType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleGrossLadenSumWeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sum of values specified by the manufacturer(s) for a truck tractor or trailer for the units that make up a combination.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleGrossLadenUnitWeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value specified by the manufacturer for a single unit truck, truck tractor, or trailer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>A unique identification for a specific vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMake" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModel" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
