shared/ojb-resources-common/src/main/resources/ssp/Firearm_Search_Results/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FirearmType">
    <xsd:annotation>
      <xsd:documentation>A data type for a weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:FirearmCategoryCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:FirearmCategoryDescription" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:FirearmCaliber" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:FirearmGaugeText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a property item, a registration, and an entity to whom the registration is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemRegistrationReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ItemRegistrationHolderReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a registration of a property item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RegistrationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RegistrationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemSerialIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MetadataType">
    <xsd:annotation>
      <xsd:documentation>A data type for information that further qualifies primary data; data about data.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="MetadataType"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StatusDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemModelName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xsd:annotation>
      <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Firearm" type="nc:FirearmType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliber" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliberCode" type="fbi:CALCodeType" substitutionGroup="nc:FirearmCaliber" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCaliber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCaliberText" type="nc:TextType" substitutionGroup="nc:FirearmCaliber">
    <xsd:annotation>
      <xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCaliber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryCode" type="fbi:TYPCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryDescription" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A description of a kind of firearm.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmCategoryDescriptionCode" type="fbi:TYPDescriptionCodeType" substitutionGroup="nc:FirearmCategoryDescription" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a kind of firearm.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="FirearmCategoryDescription"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FirearmGaugeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A caliber or diameter of the inside of a barrel of a firearm, particularly a shotgun.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemModelName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a specific design or kind of item made by a manufacturer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistrationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A registration of an item with an authority.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ItemRegistrationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistration" type="nc:ItemRegistrationType">
    <xsd:annotation>
      <xsd:documentation>A registration of an item with an authority.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemRegistrationHolderReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An entity to whom a registration is issued for a property item.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="EntityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemSerialIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification inscribed on or attached to a part, collection of parts, or complete unit by the manufacturer. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PropertyRegistrationAssociation" type="nc:ItemRegistrationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a property and its registration information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RegistrationEffectiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date the current registration takes effect.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a registration certificate or document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a status was set, effected, or reported.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TangibleItem" type="nc:TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A physical object.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
