shared/ojb-resources-common/src/main/resources/service-specifications/Incident_Repository_Recording_Service/artifacts/service_model/information_model/Incident_Report_IEPD/xsd/NIEM_2.0/domains/jxdm/4.0/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.0" version="1" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:nonauth="http://niem.gov/niem/nonauthoritative-code/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:dea="http://niem.gov/niem/dea/2.0" xmlns:ucr="http://niem.gov/niem/ucr/2.0" xmlns:hazmat="http://niem.gov/niem/hazmat/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:itis="http://niem.gov/niem/itis/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../nonauthoritative-code/2.0/nonauthoritative-code.xsd" namespace="http://niem.gov/niem/nonauthoritative-code/2.0"/>
  <xsd:import schemaLocation="../../../itis/2.0/itis.xsd" namespace="http://niem.gov/niem/itis/2.0"/>
  <xsd:import schemaLocation="../../../ucr/2.0/ucr.xsd" namespace="http://niem.gov/niem/ucr/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../hazmat/2.0/hazmat.xsd" namespace="http://niem.gov/niem/hazmat/2.0"/>
  <xsd:import schemaLocation="../../../dea/2.0/dea.xsd" namespace="http://niem.gov/niem/dea/2.0"/>
  <xsd:complexType name="ActivityLocationAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrestType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ArrestArraignmentDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ArrestBloodAlcoholContentNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeDispositionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DispositionType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DispositionType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeDispositionCondition" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeDispositionOtherText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeDispositionSanction" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeAccidentRelatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeArrestReasonIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeFelonyIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeNarrative" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeNCICCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeSubject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeUCRCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeUCRCrimeCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CitationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CommercialCarrierUSDOTNumberSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="\d{7}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CommercialCarrierUSDOTNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="j:CommercialCarrierUSDOTNumberSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CourtOrderType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:CourtOrderCondition" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderDesignatedLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderDesignatedOrganization" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderDesignatedProperty" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderDesignatedSubject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderEnforcementAgency" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderIssuingCourt" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderIssuingDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderIssuingJudicialOfficial" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderJurisdiction" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderRecallDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderRecallReasonText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderRequestDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderRequestReasonText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderRequestEntity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceAttemptedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceCautionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceReceivedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceRestrictionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderServiceOfficial" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderSignatureMethodText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderSpecialInstructionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderSupervisingAgency" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CriminalOrganizationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfOrganizationReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalOrganizationCautionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalOrganizationNCICIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalOrganizationObjectiveText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalOrganizationTraitDetails" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CriminalTraitDetailsType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:CriminalTraitColorText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitCommunicationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitDressText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitModusOperandiText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitTattooDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CriminalTraitTurfText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustodyTransferType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentPersonAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:DocumentReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementOfficialType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialActivityCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:EnforcementOfficialAssignmentCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialUnit" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:LEOKACircumstanceCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementUnitType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementUnitBeatIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitNumberIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitSectionIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EvidenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:EvidenceAmount" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceCollector" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceCustodyTransfer" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceKit" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceObject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceNumberIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceOtherIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidencePreviousLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceQuantityText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceReceiptIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceReturnedIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceTakenLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceReturnRecipientEntity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EvidenceTakenFromEntity" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ForceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ForceCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:IncidentEvidenceHeldIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentExceptionalClearance" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentExceptionalClearanceDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentLightingCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentFactorType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:IncidentFactorValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JudicialOfficialType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JudicialOfficialFirm" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JudicialOfficialPanelIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JudicialOfficialRegistrationIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JudicialOfficialCategoryText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JurorType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorDismissedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorDismissedIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorDismissedReasonText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorForemanIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorPanelIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:JurorPrimaryIndicator" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LEOKACircumstanceCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LEOKACircumstanceCategoryCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="j:LEOKACircumstanceCategoryCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MissingPersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:MissingPersonCircumstance" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:MissingPersonDeclarationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:MissingPersonFoundDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:MissingPersonFoundIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:MissingPersonLastSeenDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassagePointType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:PassagePointMethod" minOccurs="0" maxOccurs="2"/>
          <xsd:element ref="j:PassagePointSecurityCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PassagePointText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:PersonConcealedFirearmPermitHolderIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonDentalXRayAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:attribute ref="j:personNameCategoryCode" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RegisteredOffenderType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderDescription" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderEndDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderEntryDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderReportingCriteriaText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderReportingProfessionName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderStartDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:RegisteredOffenderCategoryText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SanctionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:SanctionSetObligation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceCallType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ServiceCallClearanceText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ServiceCallDispatchedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ServiceCallMechanismText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectPersonAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:SubjectReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:RoleOfOrganizationReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:SubjectCautionInformationCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:SubjectCriminalTraitDetails" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:SubjectOffenderNoticeText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VictimType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:RoleOfOrganizationReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:RoleOfItemReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:VictimDispositionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:VictimInjury" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:VictimSeeksProsecutionIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:VictimCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:VictimJustifiableHomicideFactorCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WarrantType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:CourtOrderType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WitnessType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessAccountDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessLocationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessReportVerifiedIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessSpecialConditionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:WitnessWillTestifyIndicator" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="personNameCategoryCode" type="nonauth:PersonNameCategoryCodeSimpleType"/>
  <xsd:element name="AccompliceAssociation" type="j:SubjectPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityAssistingPersonAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityClearerPersonAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityDispatcherAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityEnforcementOfficialAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationAbstracterPersonAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationApproverAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationOwnerAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationReleaserAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationReporterAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityJudicialOfficialAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityLocationAssociation" type="j:ActivityLocationAssociationType" nillable="true"/>
  <xsd:element name="ActivityUnknownAffiliateAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="AppellateCaseDecisionIssuingJudge" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="AppellateCaseNoticeProsecutingAttorney" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="Arrest" type="j:ArrestType" nillable="true"/>
  <xsd:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ArrestArraignmentDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="ArrestBloodAlcoholContentNumberText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ArrestCategoryCode" type="fbi:ArrestCategoryCodeType" nillable="true"/>
  <xsd:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="ArrestSequenceID" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ArrestSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="ArrestSubjectCountCode" type="fbi:MultipleArresteeSegmentsCodeType" nillable="true"/>
  <xsd:element name="Attorney" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="BailSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="BookingEmployee" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingReleaseCorrectionsAnalyst" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingSearchOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="BookingTelephoneCallSupervisingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingTransportOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="CaseJuror" type="j:JurorType" nillable="true"/>
  <xsd:element name="CaseWitness" type="j:WitnessType" nillable="true"/>
  <xsd:element name="ChargeReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ChargeType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeAccidentRelatedIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="ChargeArrestReasonIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true"/>
  <xsd:element name="ChargeDispositionCondition" type="nc:ConditionType" nillable="true"/>
  <xsd:element name="ChargeDispositionOtherText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeDispositionSanction" type="j:SanctionType" nillable="true"/>
  <xsd:element name="ChargeFelonyIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ChargeNCICCode" type="fbi:OFFCodeType" nillable="true"/>
  <xsd:element name="ChargeNarrative" type="nc:DocumentType" nillable="true"/>
  <xsd:element name="ChargeSequenceID" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ChargeStatute" type="j:StatuteType" nillable="true"/>
  <xsd:element name="ChargeSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="ChargeText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeUCRCode" type="ucr:OffenseCodeType" nillable="true"/>
  <xsd:element name="ChargeUCRCrimeCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeVictim" type="j:VictimType" nillable="true"/>
  <xsd:element name="Citation" type="j:CitationType" nillable="true"/>
  <xsd:element name="CitationFineAmount" type="nc:AmountType" nillable="true"/>
  <xsd:element name="CitationIssuingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="CitationSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="CommercialCarrierUSDOTNumber" type="j:CommercialCarrierUSDOTNumberType" nillable="true"/>
  <xsd:element name="ConvictionSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="CourtAppearanceDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtEventJudge" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="CourtOrderCondition" type="nc:ConditionType" nillable="true"/>
  <xsd:element name="CourtOrderDesignatedLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="CourtOrderDesignatedOrganization" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="CourtOrderDesignatedProperty" type="nc:PropertyType" nillable="true"/>
  <xsd:element name="CourtOrderDesignatedSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="CourtOrderEnforcementAgency" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="CourtOrderIssuingCourt" type="j:CourtType" nillable="true"/>
  <xsd:element name="CourtOrderIssuingDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderIssuingJudicialOfficial" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="CourtOrderJurisdiction" type="nc:JurisdictionType" nillable="true"/>
  <xsd:element name="CourtOrderRecallDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderRecallReasonText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderRequestDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderRequestEntity" type="nc:EntityType" nillable="true"/>
  <xsd:element name="CourtOrderRequestReasonText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderServiceAttemptedDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderServiceCautionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderServiceDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderServiceDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderServiceOfficial" abstract="true"/>
  <xsd:element name="CourtOrderServiceOfficialEnforcement" type="j:EnforcementOfficialType" substitutionGroup="j:CourtOrderServiceOfficial" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderServiceOfficial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderServiceOfficialJudicial" type="j:JudicialOfficialType" substitutionGroup="j:CourtOrderServiceOfficial" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderServiceOfficial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderServiceReceivedDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="CourtOrderServiceRestrictionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderSignatureMethodText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderSpecialInstructionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CourtOrderStatus" type="nc:StatusType" nillable="true"/>
  <xsd:element name="CourtOrderSupervisingAgency" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="CriminalOrganization" type="j:CriminalOrganizationType" nillable="true"/>
  <xsd:element name="CriminalOrganizationCautionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalOrganizationNCICIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="CriminalOrganizationObjectiveText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalOrganizationTraitDetails" type="j:CriminalTraitDetailsType" nillable="true"/>
  <xsd:element name="CriminalTraitColorText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitCommunicationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitDressText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitModusOperandiText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitTattooDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CriminalTraitTurfText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CustodyTransferReceivingEnforcementOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="CustodyTransferReleasingEnforcementOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="CustodyTransferSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="DNACollectionStatus" abstract="true"/>
  <xsd:element name="DNACollectionStatusText" type="nc:TextType" substitutionGroup="j:DNACollectionStatus" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DNACollectionStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrugDEACode" type="dea:DrugCategoryCodeType" substitutionGroup="nc:SubstanceCode" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="SubstanceCode"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="EnforcementOfficialActivityCategory" abstract="true"/>
  <xsd:element name="EnforcementOfficialActivityCategoryText" type="nc:TextType" substitutionGroup="j:EnforcementOfficialActivityCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialActivityCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialAssignmentCategory" abstract="true"/>
  <xsd:element name="EnforcementOfficialAssignmentCategoryCode" type="fbi:LEOKAOfficerAssignmentCategoryCodeType" substitutionGroup="j:EnforcementOfficialAssignmentCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialAssignmentCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialAssignmentCategoryText" type="nc:TextType" substitutionGroup="j:EnforcementOfficialAssignmentCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialAssignmentCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EnforcementOfficialCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="EnforcementOfficialUnit" type="j:EnforcementUnitType" nillable="true"/>
  <xsd:element name="EnforcementUnit" type="j:EnforcementUnitType" nillable="true"/>
  <xsd:element name="EnforcementUnitBeatIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EnforcementUnitIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EnforcementUnitName" type="nc:TextType" nillable="true"/>
  <xsd:element name="EnforcementUnitNumberIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EnforcementUnitSectionIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EvidenceAmount" type="nc:AmountType" nillable="true"/>
  <xsd:element name="EvidenceCollector" type="nc:PersonType" nillable="true"/>
  <xsd:element name="EvidenceCustodyTransfer" type="j:CustodyTransferType" nillable="true"/>
  <xsd:element name="EvidenceKit" type="nc:KitType" nillable="true"/>
  <xsd:element name="EvidenceNumberIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EvidenceObject" abstract="true"/>
  <xsd:element name="EvidenceOtherIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EvidencePreviousLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="EvidenceQuantityText" type="nc:TextType" nillable="true"/>
  <xsd:element name="EvidenceReceiptIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EvidenceReturnRecipientEntity" type="nc:EntityType" nillable="true"/>
  <xsd:element name="EvidenceReturnedIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="EvidenceTakenFromEntity" type="nc:EntityType" nillable="true"/>
  <xsd:element name="EvidenceTakenLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="ForceCategory" abstract="true"/>
  <xsd:element name="ForceCategoryCode" type="fbi:ForceCategoryCodeType" substitutionGroup="j:ForceCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ForceCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ForceCategoryText" type="nc:TextType" substitutionGroup="j:ForceCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ForceCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ForceSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="ForceVictim" type="j:VictimType" nillable="true"/>
  <xsd:element name="HazardousMaterialCode" type="hazmat:HazmatUNCodeType" substitutionGroup="nc:SubstanceCode" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="SubstanceCode"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionNCICLISCode" type="fbi:LISCodeType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionNCICRESCode" type="fbi:RESCodeType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentArrestMadeIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="IncidentAssistingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentAugmentation" type="j:IncidentAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IncidentType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentCriminalIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="IncidentEvidenceHeldIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="IncidentExceptionalClearance" abstract="true"/>
  <xsd:element name="IncidentExceptionalClearanceCode" type="fbi:IncidentExceptionalClearanceCodeType" substitutionGroup="j:IncidentExceptionalClearance" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IncidentExceptionalClearance"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentExceptionalClearanceDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="IncidentFactor" type="j:IncidentFactorType" nillable="true"/>
  <xsd:element name="IncidentFactorCode" type="fbi:IncidentFactorCodeType" substitutionGroup="j:IncidentFactorValue" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IncidentFactorValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentFactorText" type="nc:TextType" substitutionGroup="j:IncidentFactorValue" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IncidentFactorValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentFactorValue" abstract="true"/>
  <xsd:element name="IncidentForce" type="j:ForceType" nillable="true"/>
  <xsd:element name="IncidentInformantAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="IncidentInvestigatorAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="IncidentItemObtainerAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="IncidentLightingCode" type="itis:LightingCodeType" nillable="true"/>
  <xsd:element name="IncidentReportingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentResponseOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentStructuresEnteredQuantity" type="nc:QuantityType" nillable="true"/>
  <xsd:element name="IncidentSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="IncidentSupervisingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentUnknownAssociationPersonAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="IncidentVictim" type="j:VictimType" nillable="true"/>
  <xsd:element name="IncidentWitness" type="j:WitnessType" nillable="true"/>
  <xsd:element name="Judge" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="JudicialOfficial" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="JudicialOfficialCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="JudicialOfficialFirm" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="JudicialOfficialPanelIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="JudicialOfficialRegistrationIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="Juror" type="j:JurorType" nillable="true"/>
  <xsd:element name="JurorDismissedDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="JurorDismissedIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="JurorDismissedReasonText" type="nc:TextType" nillable="true"/>
  <xsd:element name="JurorForemanIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="JurorIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="JurorPanelIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="JurorPrimaryIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="LEOKACircumstanceCategoryCode" type="j:LEOKACircumstanceCategoryCodeType" nillable="true"/>
  <xsd:element name="MissingPerson" type="j:MissingPersonType" nillable="true"/>
  <xsd:element name="MissingPersonCircumstance" abstract="true"/>
  <xsd:element name="MissingPersonCircumstanceCode" type="fbi:MPCCodeType" substitutionGroup="j:MissingPersonCircumstance" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MissingPersonCircumstance"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MissingPersonCircumstanceText" type="nc:TextType" substitutionGroup="j:MissingPersonCircumstance" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MissingPersonCircumstance"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MissingPersonDeclarationDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="MissingPersonFoundDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="MissingPersonFoundIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="MissingPersonLastSeenDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="MissingPersonLastSeenWitness" type="j:WitnessType" nillable="true"/>
  <xsd:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PassagePoint" type="j:PassagePointType" nillable="true"/>
  <xsd:element name="PassagePointMethod" abstract="true"/>
  <xsd:element name="PassagePointMethodCode" type="fbi:MethodOfEntryCodeType" substitutionGroup="j:PassagePointMethod" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PassagePointMethod"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePointMethodOfAccessCode" type="fbi:MethodOfAccessCodeType" substitutionGroup="j:PassagePointMethod" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PassagePointMethod"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePointSecurityCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="PassagePointText" type="nc:TextType" nillable="true"/>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonConcealedFirearmPermitHolderIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="PersonDentalXRayAvailableIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonIDCategoryCode" type="fbi:MNUCodeType" substitutionGroup="nc:IdentificationCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonNameAugmentation" type="j:PersonNameAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonNameType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRegisteredOffenderIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PropertySeizureSeizingEnforcementOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="RansomMoneyCode" type="fbi:RMICodeType" nillable="true"/>
  <xsd:element name="RegisteredOffender" type="j:RegisteredOffenderType" nillable="true"/>
  <xsd:element name="RegisteredOffenderCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="RegisteredOffenderDescription" type="nc:TextType" nillable="true"/>
  <xsd:element name="RegisteredOffenderEndDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="RegisteredOffenderEntryDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="RegisteredOffenderIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="RegisteredOffenderReportingCriteriaText" type="nc:TextType" nillable="true"/>
  <xsd:element name="RegisteredOffenderReportingProfessionName" type="nc:TextType" nillable="true"/>
  <xsd:element name="RegisteredOffenderStartDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="RegisteredSexOffender" type="j:RegisteredOffenderType" nillable="true"/>
  <xsd:element name="SanctionSetObligation" type="nc:ObligationType" nillable="true"/>
  <xsd:element name="SentenceSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="ServiceCall" type="j:ServiceCallType" nillable="true"/>
  <xsd:element name="ServiceCallClearanceText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ServiceCallDispatchedDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="ServiceCallDispatchedOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="ServiceCallMechanismText" type="nc:TextType" nillable="true"/>
  <xsd:element name="SeverityLevelAssignedJudge" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="Statute" type="j:StatuteType" nillable="true"/>
  <xsd:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="StatuteDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="SubjectReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SubjectType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Subject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="SubjectCautionInformationCode" type="fbi:CMCCodeType" nillable="true"/>
  <xsd:element name="SubjectCriminalOrganizationInvolvementCode" type="fbi:ECRCodeType" nillable="true"/>
  <xsd:element name="SubjectCriminalTraitDetails" type="j:CriminalTraitDetailsType" nillable="true"/>
  <xsd:element name="SubjectInvolvedPersonAssociation" type="j:SubjectPersonAssociationType" nillable="true"/>
  <xsd:element name="SubjectOffenderNoticeText" type="nc:TextType" nillable="true"/>
  <xsd:element name="Summons" type="j:CourtOrderType" nillable="true"/>
  <xsd:element name="Suspect" type="j:SubjectType" nillable="true"/>
  <xsd:element name="VerdictIssuingJudge" type="j:JudicialOfficialType" nillable="true"/>
  <xsd:element name="VerdictSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="Victim" type="j:VictimType" nillable="true"/>
  <xsd:element name="VictimAffectedProperty" type="nc:PropertyType" substitutionGroup="j:VictimEntity" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="VictimEntity"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimAggravatedAssaultHomicideFactorText" type="nc:TextType" nillable="true"/>
  <xsd:element name="VictimCategory" abstract="true"/>
  <xsd:element name="VictimCategoryCode" type="fbi:VictimCategoryCodeType" substitutionGroup="j:VictimCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="VictimCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimCategoryText" type="nc:TextType" substitutionGroup="j:VictimCategory" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="VictimCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimDispositionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="VictimEntity" abstract="true"/>
  <xsd:element name="VictimInjury" type="nc:InjuryType" nillable="true"/>
  <xsd:element name="VictimJustifiableHomicideFactorCode" type="fbi:JustifiableHomicideFactorsCodeType" nillable="true"/>
  <xsd:element name="VictimSeeksProsecutionIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="VisitationSupervisingOfficial" abstract="true"/>
  <xsd:element name="VisitationSupervisingOfficialEnforcement" type="j:EnforcementOfficialType" substitutionGroup="j:VisitationSupervisingOfficial" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="VisitationSupervisingOfficial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VisitationSupervisingOfficialJudicial" type="j:JudicialOfficialType" substitutionGroup="j:VisitationSupervisingOfficial" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="VisitationSupervisingOfficial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Witness" type="j:WitnessType" nillable="true"/>
  <xsd:element name="WitnessAccountDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="WitnessDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="WitnessIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="WitnessLocationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="WitnessReportVerifiedIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="WitnessSpecialConditionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="WitnessWillTestifyIndicator" type="niem-xsd:boolean" nillable="true"/>
</xsd:schema>
