shared/ojb-resources-common/src/main/resources/service-specifications/Person_Query_Results_Handler_Service_-_Criminal_History/artifacts/service_model/information_model/Criminal_History-IEPD/xsd/RapSheet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema 
	xmlns:Q1="http://niem.gov/niem/structures/2.0" 
	xmlns:Q2="http://ojbc.org/IEPD/Extensions/RapSheet/1.0" 
	xmlns:Q3="http://niem.gov/niem/niem-core/2.0" 
	xmlns:Q4="http://niem.gov/niem/proxy/xsd/2.0" 
	xmlns:Q5="http://nlets.org/niem2/rapsheet/1.0/codes" 
	xmlns:Q6="http://niem.gov/niem/domains/jxdm/4.0" 
	xmlns:Q7="http://niem.gov/niem/domains/screening/2.0" 
	xmlns:Q8="http://niem.gov/niem/ansi-nist/2.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ojbc.org/IEPD/Extensions/RapSheet/1.0">
  <xsd:import namespace="http://niem.gov/niem/ansi-nist/2.0" schemaLocation="NIEM_2.0/ansi-nist/2.0/ansi-nist.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/screening/2.0" schemaLocation="NIEM_2.0/domains/screening/2.0/screening.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="NIEM_2.0/domains/jxdm/4.0/jxdm.xsd"/>
  <xsd:import namespace="http://nlets.org/niem2/rapsheet/1.0/codes" schemaLocation="rap-code.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="NIEM_2.0/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="NIEM_2.0/niem-core/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="NIEM_2.0/structures/2.0/structures.xsd"/>
  <xsd:complexType name="RapSheetType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Q2:Metadata"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:Introduction"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:RapSheetPerson"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q3:PersonEmploymentAssociation">
            <xsd:annotation>
              <xsd:documentation>An employment of a person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:PersonBiometricsAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q3:Location">
            <xsd:annotation>
              <xsd:documentation>Details about a physical location.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Court"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Agency"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q3:ResidenceAssociation">
            <xsd:annotation>
              <xsd:documentation>An association between a person and a location where that person lives.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:RapSheetCycle"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:ArrestAgencyAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:BookingAgencyAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:CourtActionCourtAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:ProsecutionAgencyAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SentencingCourtAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SupervisionAgencyAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SexOffenderVehicleInformation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Order"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q3:Vehicle">
            <xsd:annotation>
              <xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Metadata" type="Q2:MetadataType"/>
  <xsd:complexType name="MetadataType">
    <xsd:complexContent>
      <xsd:extension base="Q3:MetadataType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:Version"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Version" type="Q3:TextType"/>
  <xsd:element name="Introduction" type="Q2:IntroductionType"/>
  <xsd:complexType name="IntroductionType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Caveat"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:RapSheetRequest"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:ControlData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Caveat" type="Q2:CaveatType"/>
  <xsd:complexType name="CaveatType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:CaveatText">
            <xsd:annotation>
              <xsd:documentation>A warning or caution.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:CaveatReferenceDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:CaveatIssuingAuthorityText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CaveatReferenceDate" type="Q4:date"/>
  <xsd:element name="CaveatIssuingAuthorityText" type="Q3:TextType"/>
  <xsd:element name="RapSheetRequest" type="Q2:RapSheetRequestType"/>
  <xsd:complexType name="RapSheetRequestType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:PurposeCode"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:Attention"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:RapSheetPerson"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PurposeCode" type="Q5:PurposeCodeSimpleType"/>
  <xsd:element name="Attention" type="Q3:TextType"/>
  <xsd:element name="RapSheetPerson" type="Q2:PersonType"/>
  <xsd:complexType name="PersonType">
    <xsd:complexContent>
      <xsd:extension base="Q3:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q6:PersonAugmentation">
            <xsd:annotation>
              <xsd:documentation>Additional information about a person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SubjectCautionInformationText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q6:SubjectOffenderNoticeText">
            <xsd:annotation>
              <xsd:documentation>Additional information associated with a subject.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:PersonMaritalStatusText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SubjectCautionInformationText" type="Q3:TextType"/>
  <xsd:element name="PersonMaritalStatusText" type="Q5:MaritalStatusCodeSimpleType"/>
  <xsd:element name="ControlData" type="Q3:IdentificationType"/>
  <xsd:element name="PersonBiometricsAssociation" type="Q2:PersonBiometricAssociationType"/>
  <xsd:complexType name="PersonBiometricAssociationType">
    <xsd:complexContent>
      <xsd:extension base="Q7:PersonBiometricAssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:PersonBiometrics"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PersonBiometrics" type="Q2:BiometricsType"/>
  <xsd:complexType name="BiometricsType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q3:PersonDigitalImage">
            <xsd:annotation>
              <xsd:documentation>A photograph or image of a person in a digital format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:PersonDNA"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:PersonFingerprintSet"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q6:PersonPalmPrint">
            <xsd:annotation>
              <xsd:documentation>A representation or an encoding of the identifying characteristics of a person's palm print.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PersonDNA" type="Q2:DNAType"/>
  <xsd:complexType name="DNAType">
    <xsd:complexContent>
      <xsd:extension base="Q3:BiometricType">
        <xsd:sequence>
          <xsd:element maxOccurs="14" minOccurs="0" ref="Q3:DNALocus">
            <xsd:annotation>
              <xsd:documentation>Location specific information regarding a person's DNA.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PersonFingerprintSet" type="Q2:FingerprintSetType"/>
  <xsd:complexType name="FingerprintSetType">
    <xsd:complexContent>
      <xsd:extension base="Q3:BiometricType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Fingerprint"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Fingerprint" type="Q2:FingerprintType"/>
  <xsd:complexType name="FingerprintType">
    <xsd:complexContent>
      <xsd:extension base="Q3:BiometricType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q8:FingerPositionCode">
            <xsd:annotation>
              <xsd:documentation>Set of possible finger position codes, most probable position first.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Court" type="Q2:CourtType"/>
  <xsd:complexType name="CourtType">
    <xsd:complexContent>
      <xsd:extension base="Q2:OrganizationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:complexContent>
      <xsd:extension base="Q3:OrganizationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q6:OrganizationAugmentation">
            <xsd:annotation>
              <xsd:documentation>Additional information about an organization.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Agency" type="Q2:OrganizationType"/>
  <xsd:element name="RapSheetCycle" type="Q2:RapSheetCycleType"/>
  <xsd:complexType name="RapSheetCycleType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:CycleEarliestDate"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:CycleTrackingIdentificationID"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Incident"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Arrest"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Booking"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Prosecution"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:CourtAction"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Sentencing"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Supervision"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CycleEarliestDate" type="Q3:DateType"/>
  <xsd:element name="CycleTrackingIdentificationID" type="Q4:string"/>
  <xsd:element name="Incident" type="Q2:IncidentType"/>
  <xsd:complexType name="IncidentType">
    <xsd:complexContent>
      <xsd:extension base="Q3:IncidentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:IncidentSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="IncidentSubject" type="Q2:SegmentSubjectType"/>
  <xsd:complexType name="SegmentSubjectType">
    <xsd:complexContent>
      <xsd:extension base="Q6:SubjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SubjectFullName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SubjectFullName" type="Q3:PersonNameTextType"/>
  <xsd:element name="Arrest" type="Q2:ArrestType"/>
  <xsd:complexType name="ArrestType">
    <xsd:complexContent>
      <xsd:extension base="Q6:ArrestType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ArrestSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArrestSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="Booking" type="Q2:BookingType"/>
  <xsd:complexType name="BookingType">
    <xsd:complexContent>
      <xsd:extension base="Q6:BookingType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:BookingSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BookingSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="Prosecution" type="Q2:ProsecutionType"/>
  <xsd:complexType name="ProsecutionType">
    <xsd:complexContent>
      <xsd:extension base="Q3:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Q6:ProsecutionCharge">
            <xsd:annotation>
              <xsd:documentation>A charge filed by a prosecuting attorney.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ProsecutionAgencyRecordIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ProsecutionSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProsecutionAgencyRecordIdentification" type="Q3:IdentificationType"/>
  <xsd:element name="ProsecutionSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="CourtAction" type="Q2:CourtActionType"/>
  <xsd:complexType name="CourtActionType">
    <xsd:complexContent>
      <xsd:extension base="Q3:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Q6:CourtCharge">
            <xsd:annotation>
              <xsd:documentation>A charge a person is tried for in court.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:CourtRecordIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:CourtActionSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CourtRecordIdentification" type="Q3:IdentificationType"/>
  <xsd:element name="CourtActionSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="Sentencing" type="Q2:SentencingType"/>
  <xsd:complexType name="SentencingType">
    <xsd:complexContent>
      <xsd:extension base="Q3:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Q6:Sentence">
            <xsd:annotation>
              <xsd:documentation>Details about a punishment resulting from conviction of charges in a court case.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:SentencingCourtRecordIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SentencingSubject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SentencingCourtRecordIdentification" type="Q3:IdentificationType"/>
  <xsd:element name="SentencingSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="Supervision" type="Q2:SupervisionType"/>
  <xsd:complexType name="SupervisionType">
    <xsd:complexContent>
      <xsd:extension base="Q3:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SupervisionCharge"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SupervisionAgencyRecordIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:SupervisionCourtRecordIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:SupervisionSubject"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Q3:SupervisionCustodyStatus">
            <xsd:annotation>
              <xsd:documentation>A status of the custody of a person under supervision.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q3:SupervisionRelease">
            <xsd:annotation>
              <xsd:documentation>A complete and unrestricted release of a subject from a supervision.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SupervisionCharge" type="Q6:ChargeType"/>
  <xsd:element name="SupervisionAgencyRecordIdentification" type="Q3:IdentificationType"/>
  <xsd:element name="SupervisionCourtRecordIdentification" type="Q3:IdentificationType"/>
  <xsd:element name="SupervisionSubject" type="Q2:SegmentSubjectType"/>
  <xsd:element name="ArrestAgencyAssociation" type="Q3:ActivityOrganizationAssociationType"/>
  <xsd:element name="BookingAgencyAssociation" type="Q3:ActivityOrganizationAssociationType"/>
  <xsd:element name="CourtActionCourtAssociation" type="Q6:ActivityCourtAssociationType"/>
  <xsd:element name="ProsecutionAgencyAssociation" type="Q2:ProsecutionAgencyAssociationType"/>
  <xsd:complexType name="ProsecutionAgencyAssociationType">
    <xsd:complexContent>
      <xsd:extension base="Q3:AssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:ProsecutionReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:OrganizationReference">
            <xsd:annotation>
              <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProsecutionReference" type="Q1:ReferenceType"/>
  <xsd:element name="SentencingCourtAssociation" type="Q6:ActivityCourtAssociationType"/>
  <xsd:element name="SupervisionAgencyAssociation" type="Q2:SupervisionAgencyAssociationType"/>
  <xsd:complexType name="SupervisionAgencyAssociationType">
    <xsd:complexContent>
      <xsd:extension base="Q3:AssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:SupervisionReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:OrganizationReference">
            <xsd:annotation>
              <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SupervisionReference" type="Q1:ReferenceType"/>
  <xsd:element name="SexOffenderVehicleInformation" type="Q2:VehicleOwnershipAssociationType"/>
  <xsd:complexType name="VehicleOwnershipAssociationType">
    <xsd:complexContent>
      <xsd:extension base="Q3:AssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:OwnerEntityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:VehicleReference">
            <xsd:annotation>
              <xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:OwnershipPeriodStartDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:OwnershipPeriodEndDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OwnerEntityReference" type="Q1:ReferenceType"/>
  <xsd:element name="OwnershipPeriodStartDate" type="Q4:date"/>
  <xsd:element name="OwnershipPeriodEndDate" type="Q4:date"/>
  <xsd:element name="Order" type="Q2:ProtectionOrderType"/>
  <xsd:complexType name="ProtectionOrderType">
    <xsd:complexContent>
      <xsd:extension base="Q6:CourtOrderType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Q2:Comment"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:CourtCase"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ProtectionOrderExpirationDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ProtectionOrderUpdateDateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ProtectionOrderSubjectOwnsOrPossessesFirearmsIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ServiceOfficialRemovedFirearmsIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="Q2:ServiceOfficialRemovedPermitsIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Comment" type="Q2:ProtectionOrderCommentType"/>
  <xsd:complexType name="ProtectionOrderCommentType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:CommentText"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q2:CommentDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CommentText" type="Q4:string"/>
  <xsd:element name="CommentDate" type="Q4:date"/>
  <xsd:element name="CourtCase" type="Q3:CaseType"/>
  <xsd:element name="ProtectionOrderExpirationDate" type="Q4:date"/>
  <xsd:element name="ProtectionOrderUpdateDateTime" type="Q4:dateTime"/>
  <xsd:element name="ProtectionOrderSubjectOwnsOrPossessesFirearmsIndicator" type="Q4:boolean"/>
  <xsd:element name="ServiceOfficialRemovedFirearmsIndicator" type="Q4:boolean"/>
  <xsd:element name="ServiceOfficialRemovedPermitsIndicator" type="Q4:boolean"/>
  <xsd:complexType name="SexOffenderInformationType">
    <xsd:complexContent>
      <xsd:extension base="Q1:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:ResidenceAssociation">
            <xsd:annotation>
              <xsd:documentation>An association between a person and a location where that person lives.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" ref="Q3:PersonEmploymentAssociation">
            <xsd:annotation>
              <xsd:documentation>An employment of a person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EntityOrganization" substitutionGroup="Q3:EntityRepresentation" type="Q2:OrganizationType"/>
  <xsd:element name="IdentificationCategoryText" substitutionGroup="Q3:IdentificationCategory" type="Q5:IdentificationCategoryCodeSimpleType"/>
  <xsd:element name="PersonBloodTypeText" substitutionGroup="Q3:PersonBloodType" type="Q5:BloodTypeCodeSimpleType"/>
  <xsd:element name="PersonEyeColorText" substitutionGroup="Q3:PersonEyeColor" type="Q5:EyeColorCodeSimpleType"/>
  <xsd:element name="PersonEthnicityText" substitutionGroup="Q3:PersonEthnicity" type="Q5:EthnicityCodeSimpleType"/>
  <xsd:element name="PersonHairColorText" substitutionGroup="Q3:PersonHairColor" type="Q5:HairColorCodeSimpleType"/>
  <xsd:element name="PersonRaceText" substitutionGroup="Q3:PersonRace" type="Q5:RaceCodeSimpleType"/>
  <xsd:element name="PersonSexText" substitutionGroup="Q3:PersonSex" type="Q5:SexCodeSimpleType"/>
  <xsd:element name="PersonSkinToneText" substitutionGroup="Q3:PersonSkinTone" type="Q5:SkinToneCodeSimpleType"/>
  <xsd:element name="RapSheet" type="Q2:RapSheetType"/>
</xsd:schema>
