shared/ojb-resources-common/src/main/resources/ssp/Subscription_Notification/information_model/Notification_Message-IEPD/xsd/notificationExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema xmlns:hawaii-ext="http://ojbc.org/IEPD/Extensions/Hawaii/1.0"
	xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:notfm-ext="http://ojbc.org/IEPD/Extensions/Notification/1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:chu="http://ojbc.org/IEPD/Extensions/CriminalHistoryUpdate/1.0"
	xmlns:cdu="http://ojbc.org/IEPD/Extensions/CourtDispositionUpdate/1.0"
	xmlns:pdu="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionUpdate/1.0"
	xmlns:ndexiacodes="http://fbi.gov/cjis/N-DEx/IncidentArrest/codes/2.1"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xop="http://www.w3.org/2004/08/xop/include"
	targetNamespace="http://ojbc.org/IEPD/Extensions/Notification/1.0"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	version="1">
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="../../Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0"
		schemaLocation="../../Subset/niem/proxy/xsd/2.0/xsd.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1"
		schemaLocation="../../Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/Hawaii/1.0"
		schemaLocation="impl/hawaii/HawaiiExtensions.xsd" />
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="../../Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/CriminalHistoryUpdate/1.0"
		schemaLocation="CriminalHistoryUpdate.xsd" />
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/CourtDispositionUpdate/1.0"
		schemaLocation="CourtDispositionUpdate.xsd" />
	<xsd:import
		namespace="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionUpdate/1.0"
		schemaLocation="ProsecutionDecisionUpdate.xsd" />
	<xsd:import namespace="http://fbi.gov/cjis/N-DEx/IncidentArrest/codes/2.1"
		schemaLocation="FBI_NDEx_Codes.xsd" />
	<xsd:import namespace="http://www.w3.org/2004/08/xop/include"
		schemaLocation="./include_schema.xsd" />
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime"
		schemaLocation="./xmime_schema.xsd" />
	<xsd:complexType name="NotifyingActivityType" abstract="true"
		mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="notfm-ext:NotifyingActivityExtensions"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:NotifyingActivityReportingOrganization"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:NotifyingActivityReportingSystemNameText"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:NotifyingActivityReportingSystemURI"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RelatedFBISubscription"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:CriminalHistoryDocumentRepresentation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyingActivityExtensions"
		type="notfm-ext:NotifyingActivityExtensionsType" abstract="false"
		nillable="false" />
	<xsd:complexType name="NotifyingActivityExtensionsType"
		abstract="false" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="hawaii-ext:AttorneyGeneralCaseDetails"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingArrestType" abstract="false"
		mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" />
					<xsd:element ref="j:Incident" minOccurs="0" />
					<xsd:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingIncidentType" abstract="false"
		mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence>
					<xsd:element ref="j:Incident" />
					<xsd:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingCriminalHistoryUpdateType"
		abstract="false" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence>
					<xsd:element ref="chu:CycleTrackingIdentifierAssignment" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingFederalCriminalHistoryUpdateType"
		abstract="false" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingCourtDispositionUpdateType"
		abstract="false" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence>
					<xsd:element ref="cdu:CourtDispositionUpdate" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotifyingProsecutionDecisionUpdateType"
		abstract="false" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="notfm-ext:NotifyingActivityType">
				<xsd:sequence>
					<xsd:element ref="pdu:ProsecutionDecisionUpdate" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RelatedFBISubscriptionType"
		abstract="false" mixed="false">
		<xsd:annotation>
			<xsd:documentation>A data type for additional details regarding an
				FBI subscription..
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="notfm-ext:RapBackExpirationDate"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackSubscriptionDate"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RecordRapBackSubscriptionIdentification"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackSubscriptionTermCode"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackTermDate" minOccurs="0" />
					<xsd:element ref="notfm-ext:SubscriptionQualifierIdentification"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackActivityNotificationIdentification"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackAttentionText"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackEventDate"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:TriggeringEvents"
						minOccurs="0" />
					<xsd:element ref="notfm-ext:RapBackEventText"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NotifyingCriminalHistoryUpdate"
		type="notfm-ext:NotifyingCriminalHistoryUpdateType" abstract="false"
		substitutionGroup="notfm-ext:NotifyingActivity" nillable="false">
		<xsd:annotation>
			<xsd:documentation>An incident that results in notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingFederalCriminalHistoryUpdate"
		type="notfm-ext:NotifyingFederalCriminalHistoryUpdateType" abstract="false"
		substitutionGroup="notfm-ext:NotifyingActivity" nillable="false">
		<xsd:annotation>
			<xsd:documentation>A federal incident that results in notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingCourtDispositionUpdate"
		type="notfm-ext:NotifyingCourtDispositionUpdateType" abstract="false"
		substitutionGroup="notfm-ext:NotifyingActivity" nillable="false">
		<xsd:annotation>
			<xsd:documentation>An incident that results in notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingProsecutionDecisionUpdate"
		type="notfm-ext:NotifyingProsecutionDecisionUpdateType" abstract="false"
		substitutionGroup="notfm-ext:NotifyingActivity" nillable="false">
		<xsd:annotation>
			<xsd:documentation>An incident that results in notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingIncident" type="notfm-ext:NotifyingIncidentType"
		abstract="false" substitutionGroup="notfm-ext:NotifyingActivity"
		nillable="false">
		<xsd:annotation>
			<xsd:documentation>An incident that results in notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingActivity" abstract="true"
		nillable="false">
		<xsd:annotation>
			<xsd:documentation>A data concept for a An activity that results in
				notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingArrest" type="notfm-ext:NotifyingArrestType"
		abstract="false" substitutionGroup="notfm-ext:NotifyingActivity"
		nillable="false">
		<xsd:annotation>
			<xsd:documentation>An arrest that results in notification
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingActivityReportingSystemNameText"
		type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of the system that reported the activity.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingActivityReportingSystemURI"
		type="xsd:anyURI">
		<xsd:annotation>
			<xsd:documentation>The name of the system that reported the activity.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OffenseFBINDEXCode" type="ndexiacodes:OffenseCodeType"
		substitutionGroup="j:OffenseCategory">
		<xsd:annotation>
			<xsd:documentation>An offense as defined by the FBI N-DEX program
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalHistoryRecordDocument" type="nc:DocumentType"
		substitutionGroup="notfm-ext:CriminalHistoryDocumentRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document that contains the person's criminal
				history. Sometimes this is referred to as a rap sheet.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CriminalHistoryDocumentRepresentation"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>A placeholder for a criminal history document.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RelatedFBISubscription" type="notfm-ext:RelatedFBISubscriptionType">
		<xsd:annotation>
			<xsd:documentation>Additional details regarding an FBI subscription.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyingActivityReportingOrganization"
		type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>The organization that originally reported an event
				which resulted in a notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Base64BinaryObject" substitutionGroup="nc:BinaryObject"
		type="niem-xsd:base64Binary" xmime:expectedContentType="text/plain" />
	<!-- Added 3/21/17 jd -->
	<xsd:element name="RapBackExpirationDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>A date a Rap Back Subscription expires under the
				Subscriber's Privacy Strategy.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackSubscriptionDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The Date a rap back subscription was created.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordRapBackSubscriptionIdentification"
		type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>An identification associated with a rap back
				subscription.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackSubscriptionTermCode" type="notfm-ext:RBSubscriptionTermCodeType">
		<xsd:annotation>
			<xsd:documentation>A representation of the length of a Rap Back
				Subscription Term.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RBSubscriptionTermCodeType">
		<xsd:annotation>
			<xsd:documentation>A data type for the code indicating the rap back
				subscription term length.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="notfm-ext:RBSubscriptionTermCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RBSubscriptionTermCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for an enumeration representation of
				code designations for a rap back subscription term.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Two year subscription term</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>Five year subscription term</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:documentation>Lifetime subscription term</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="RapBackTermDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>A date identifying the end of the fee paid by the
				Subscriber.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubscriptionQualifierIdentification"
		type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A subscription identifier provided by the
				subscriber.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackActivityNotificationIdentification"
		type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identification assigned to a rap back
				notification.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackAttentionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Attention information to link future Rap Back
				Activity Notifications to the right person or section within the
				subscribing entity.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RapBackEventDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>A date that a Rap Back Triggering Event occurred.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TriggeringEvents" type="notfm-ext:TriggeringEventsType">
		<xsd:annotation>
			<xsd:documentation>A rap back triggering event code.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TriggeringEventsType">
		<xsd:annotation>
			<xsd:documentation>One or more events that would trigger
				notifications related to a subscription.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="notfm-ext:TriggeringEventRepresentation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TriggeringEventRepresentation" abstract="true" />
	<xsd:element name="FederalTriggeringEventCode"
		substitutionGroup="notfm-ext:TriggeringEventRepresentation" type="notfm-ext:FederalTriggeringEventCodeSimpleType" />
	<xsd:complexType name="FederalTriggeringEventCodeType">
		<xsd:simpleContent>
			<xsd:extension base="notfm-ext:FederalTriggeringEventCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FederalTriggeringEventCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="ARREST">
				<xsd:annotation>
					<xsd:documentation>Arrests</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISPOSITION">
				<xsd:annotation>
					<xsd:documentation>Dispositions</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NCIC-WARRANT">
				<xsd:annotation>
					<xsd:documentation>NCIC Warrant Entry, Modification, Deletion
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NCIC-SOR">
				<xsd:annotation>
					<xsd:documentation>NCIC National Sex Offender Registry (NSOR)
						Entry, Modification, Deletion
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEATH">
				<xsd:annotation>
					<xsd:documentation>Death Notice</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="RapBackEventText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Information about a Rap Back Triggering Event.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>