shared/ojb-resources-common/src/main/resources/ssp/Subscription_Notification/information_model/Notification_Message-IEPD/xsd/VehicleCrash.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1"
	xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:vc="http://ojbc.org/IEPD/Extensions/VehicleCrash/1.0"
	targetNamespace="http://ojbc.org/IEPD/Extensions/VehicleCrash/1.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="../../Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0"
		schemaLocation="../../Subset/niem/proxy/xsd/2.0/xsd.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1"
		schemaLocation="../../Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="../../Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:complexType name="VehicleCrashType">
		<xsd:annotation>
			<xsd:documentation>A data type for information about a vehicle traffic accident.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CrashType">
				<xsd:sequence>
					<xsd:element ref="vc:CrashVehicleOccupant" minOccurs="1"
						maxOccurs="unbounded" />
					<xsd:element ref="vc:CrashReportingAgency" minOccurs="1"
						maxOccurs="unbounded" />
					<xsd:element ref="j:IncidentAugmentation" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="j:Citation" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CrashVehicleOccupantType">
		<xsd:annotation>
			<xsd:documentation>A data type for any vehicle occupant involved in a traffic accident..
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:CrashVehicleOccupantType">
				<xsd:sequence>
					<xsd:element ref="vc:OccupantCategoryCodeText"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleCrash" type="vc:VehicleCrashType">
		<xsd:annotation>
			<xsd:documentation>A vehicle traffic accident.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CrashVehicleOccupant" type="vc:CrashVehicleOccupantType">
		<xsd:annotation>
			<xsd:documentation>Common details about any vehicle occupant involved in a traffic accident.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OccupantCategoryCodeText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A code textthat describes the category of an occupant.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CrashReportingAgency" type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>The agency reporting a vehicle crash.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>