shared/ojb-resources-common/src/main/resources/service-specifications/Juvenile_History_Services/artifacts/service_model/information_model/Juvenile_History_IEPD/Offense/JuvenileOffenseHistoryExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->

<xsd:schema 
	xmlns:jh-offense="http://ojbc.org/IEPD/Extension/JuvenileHistory/JuvenileOffenseHistoryExtension/1.0" 
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/" 
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.0/" 
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" 
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" 
	xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" 
	xmlns:jh-ext="http://ojbc.org/IEPD/Extension/JuvenileHistory/JuvenileHistoryCommonExtension/1.0" 
	xmlns:jh-offense-codes="http://ojbc.org/IEPD/Extension/JuvenileHistory/JuvenileOffenseHistoryExtension/michigan/codes/1.0" 
	targetNamespace="http://ojbc.org/IEPD/Extension/JuvenileHistory/JuvenileOffenseHistoryExtension/1.0">
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/" schemaLocation="../Subset/niem/domains/jxdm/5.0/jxdm.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/cyfs/3.0/" schemaLocation="../Subset/niem/domains/cyfs/3.0/cyfs.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="../Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="../Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extension/JuvenileHistory/JuvenileHistoryCommonExtension/1.0" schemaLocation="../JuvenileHistoryCommonExtension.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<appinfo:ConformantIndicator>true</appinfo:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:complexType name="JuvenileOffenseHistoryType">
		<xsd:annotation>
			<xsd:documentation>A data type for the offense history of a juvenile.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="jh-ext:JuvenileHistoryType">
				<xsd:sequence>
					<xsd:element ref="j:OffenseChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:OffenseLocationAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SanctionAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for local extensions related to sanctions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="jh-offense:DispositionSanctionRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VerdictAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for local extensions related to a verdict.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="jh-offense:ChargeVerdictRepresentation" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OffenseAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for local extensions related to an offense.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:AugmentationType">
				<xsd:sequence>
					<xsd:element ref="jh-ext:JuvenileInformationRecordID" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="jh-ext:RelatedJuvenileHistoryRecords" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ChargeVerdictRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>An abstract placeholder for a charge verdict.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionSanctionRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>An abstract placeholder for a disposition sanction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileOffenseHistory" type="jh-offense:JuvenileOffenseHistoryType">
		<xsd:annotation>
			<xsd:documentation>The offense history of a juvenile.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="SanctionAugmentation" type="jh-offense:SanctionAugmentationType" substitutionGroup="j:SanctionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Local extensions related to a sanction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerdictAugmentation" type="jh-offense:VerdictAugmentationType" substitutionGroup="j:VerdictAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Local extensions related to a verdict.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OffenseAugmentation" type="jh-offense:OffenseAugmentationType" substitutionGroup="j:OffenseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Local extensions related to a verdict.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
