shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Search_Results/artifacts/service_model/information_model/IEPD/xsd/criminal_history_search_results_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/"
	xmlns:intel="http://release.niem.gov/niem/domains/intelligence/4.0/"
	xmlns:srm="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0"
	xmlns:chsres-ext="http://ojbc.org/IEPD/Extensions/CriminalHistorySearchResults/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistorySearchResults/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/4.0/"
		schemaLocation="Subset/niem/utility/appinfo/4.0/appinfo.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/4.0/"
		schemaLocation="Subset/niem/utility/structures/4.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="Subset/niem/proxy/xsd/4.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
		schemaLocation="Subset/niem/niem-core/4.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/"
		schemaLocation="Subset/niem/domains/jxdm/6.0/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/intelligence/4.0/"
		schemaLocation="Subset/niem/domains/intelligence/4.0/intelligence.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0"
		schemaLocation="search-results-metadata.xsd" />
	<xsd:complexType name="CriminalHistorySearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for criminal history search results.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chsres-ext:CriminalHistorySearchResult" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CriminalHistorySearchResultType">
		<xsd:annotation>
			<xsd:documentation>A data type for a summary of criminal history information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Restitution" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityObligationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsres-ext:DispositionSentenceAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="chsres-ext:SourceSystemNameText" minOccurs="0" />
					<xsd:element ref="intel:SystemIdentification" minOccurs="0" />
					<xsd:element ref="chsres-ext:SearchResultCategoryText" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DispositionSentenceAssociationType">
		<xsd:annotation>
			<xsd:documentation>A data type for an association between a disposition and a sentence.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Sentence" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CriminalHistorySearchResult" type="chsres-ext:CriminalHistorySearchResultType">
		<xsd:annotation>
			<xsd:documentation>A summary of criminal history information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionCodeText" type="nc:TextType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code text for a disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FiledCharge" type="j:ChargeType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The charge filed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmendedCharge" type="j:ChargeType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The amended charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionDismissalReasonText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The reason a disposition was dismissed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionDismissalReasonCodeText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code representing the the reason a disposition was dismissed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionProvisionText" type="nc:TextType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A disposition provision.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FineSuspendedAmount" type="nc:AmountType" substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The amount of a suspended fine.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentenceCodeText" type="nc:TextType" substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An alternate sentence code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActionCodeText" type="nc:TextType" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An action associated with a report (e.g., "A" - add "R" - replace).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeneralOffenseCategoryIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A type of general offense identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordCategoryIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A type of record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtCase" type="nc:CaseType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A disposition case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search result. This can be used to retrieve additional information
				about the person in the search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchResultCategoryText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of the kind of search result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestHideDate" type="nc:DateType" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The date an arrest record is hidden.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionSentenceAssociation" type="chsres-ext:DispositionSentenceAssociationType">
		<xsd:annotation>
			<xsd:documentation>An association between a disposition and a sentence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargePrimarySystemIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A system identification for a charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestPrimarySystemIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A system identification for an arrest.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionIdentification" type="nc:IdentificationType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An identification for a disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionCodeDescriptionText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code description for a disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentenceCodeDescriptionText" type="nc:TextType"
		substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code description for an alternate sentence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeMunicipalCodeText" type="nc:TextType" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code for a municipal charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeMunicipalCodeDescriptionText" type="nc:TextType" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code description for a municipal charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeDispositionSeverityCodeText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code text for the severity level of a charge disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestHiddenIndicator" type="niem-xs:boolean" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if arrest is hidden; false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionChargeCountQuantity" type="niem-xs:positiveInteger"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A number of disposition charges.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>			
	<xsd:element name="ChargeDispositionCategoryCode" type="chsres-ext:ChargeDispositionCategoryCodeType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code for a type of charge disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChargeDispositionCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>A code type for a type of charge disposition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="chsres-ext:ChargeDispositionCategoryCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ChargeDispositionCategoryCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>An enumeration set for a type of charge disposition.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="deferred">
				<xsd:annotation>
					<xsd:documentation>A code value for a deferred disposition.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>