shared/ojb-resources-common/src/main/resources/service-specifications/Prosecution_Case_Update_Service/artifacts/service_model/information_model/Disposition_Report_IEPD/xsd/Subset/niem/domains/cyfs/3.0/cyfs.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/cyfs/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Children, Youth, and Family Services</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../jxdm/5.0/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/5.0/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:element name="NextCourtEvent" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>An upcoming court occurrence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PreTrialSupervision" type="nc:SupervisionType">
    <xs:annotation>
      <xs:documentation>A set of pre-trial information for an individual.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubmittedDateTime" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date and time the document  was submitted.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
