shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Modification_Request/artifacts/service_model/information_model/IEPD/xsd/criminal_history_modification_request_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/"
	xmlns:chm-req-ext="http://ojbc.org/IEPD/Extensions/CriminalHistoryModificationRequest/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistoryModificationRequest/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/4.0/"
		schemaLocation="Subset/niem/utility/appinfo/4.0/appinfo.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/4.0/"
		schemaLocation="Subset/niem/utility/structures/4.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="Subset/niem/proxy/xsd/4.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
		schemaLocation="Subset/niem/niem-core/4.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/"
		schemaLocation="Subset/niem/domains/jxdm/6.0/jxdm.xsd" />
	<xsd:complexType name="CriminalHistoryModificationRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a criminal history modification request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="chm-req-ext:ArrestRecordRequestIdentification" minOccurs="0" maxOccurs="unbounded" />
					<xsd:choice>
						<xsd:element ref="chm-req-ext:ArrestAddRequest" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element ref="chm-req-ext:ArrestModifyRequest" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element ref="chm-req-ext:ArrestHideRequest" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element ref="chm-req-ext:ExpungeRequest" minOccurs="0" maxOccurs="unbounded" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestAddRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for an add arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Sentence" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Restitution" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestModifyRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a modify arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Sentence" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Restitution" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExpungeRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a expunge request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestHideRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a hide arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<!-- WE NEED TO ADD A "HIDE" FLAG ELEMENT TO THE DB -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ArrestAddRequest" type="chm-req-ext:ArrestAddRequestType">
		<xsd:annotation>
			<xsd:documentation>A request to add an arrest record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestModifyRequest" type="chm-req-ext:ArrestModifyRequestType">
		<xsd:annotation>
			<xsd:documentation>A request to modify (edit) an arrest record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestHideRequest" type="chm-req-ext:ArrestHideRequestType">
		<xsd:annotation>
			<xsd:documentation>A request to hide an arrest record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExpungeRequest" type="chm-req-ext:ExpungeRequestType">
		<xsd:annotation>
			<xsd:documentation>A request to expunge a record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestRecordRequestIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>The identification of an arrest record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionChargeText" type="nc:TextType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A disposition charge.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentenceText" type="nc:TextType" substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An alternate sentence.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>