shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Modification_Request/artifacts/service_model/information_model/IEPD/xsd/criminal_history_modification_request_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/"
	xmlns:chm-req-ext="http://ojbc.org/IEPD/Extensions/CriminalHistoryModificationRequest/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="http://ojbc.org/IEPD/Extensions/CriminalHistoryModificationRequest/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/4.0/"
		schemaLocation="Subset/niem/utility/appinfo/4.0/appinfo.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/4.0/"
		schemaLocation="Subset/niem/utility/structures/4.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="Subset/niem/proxy/xsd/4.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
		schemaLocation="Subset/niem/niem-core/4.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/"
		schemaLocation="Subset/niem/domains/jxdm/6.0/jxdm.xsd" />
	<xsd:complexType name="ArrestAddRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for an add arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Restitution" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ActivityObligationAssociation" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestModifyRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a modify arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Restitution" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:ActivityObligationAssociation" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExpungeRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a expunge request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestHideRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a hide arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrestUnhideRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for an unhide arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DistrictAttorneyArrestReferralRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a district attorney arrest referral request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chm-req-ext:ReferToAgency" minOccurs="0" maxOccurs="1" />					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DistrictAttorneyChargeReferralRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a district attorney charge referral request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chm-req-ext:ReferToAgency" minOccurs="0" maxOccurs="1" />					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	<xsd:complexType name="MunicipalProsecutorArrestReferralRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a municipal prosecutor arrest referral request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chm-req-ext:ReferToAgency" minOccurs="0" maxOccurs="1" />						
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MunicipalProsecutorChargeReferralRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a municipal prosecutor charge referral request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chm-req-ext:ReferToAgency" minOccurs="0" maxOccurs="1" />						
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	<xsd:complexType name="DeleteDispositionRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a delete disposition request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:Charge" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:Disposition" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FinalizeArrestRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a finalize arrest request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AlternateSentenceType">
		<xsd:annotation>
			<xsd:documentation>A data type for an alternate punishment resulting from conviction of charges in a court case.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="chm-req-ext:AlternateSentenceCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="chm-req-ext:AlternateSentenceCodeDescriptionText" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeclineChargeRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a decline charge request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:Arrest" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	<xsd:element name="CourtCase" type="nc:CaseType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A disposition case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionCodeText" type="nc:TextType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code text for a disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmendedCharge" type="j:ChargeType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The charge amended in a disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FiledCharge" type="j:ChargeType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The charge filed in disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FineSuspendedAmount" type="nc:AmountType" substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The amount of a suspended fine.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentence" type="chm-req-ext:AlternateSentenceType"
		substitutionGroup="j:SentenceAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An alternate punishment resulting from conviction of charges in a court case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentenceCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An alternate sentence code text.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateSentenceCodeDescriptionText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A code description for an alternate sentence.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionDismissalReasonText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The reason a disposition was dismissed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionDismissalReasonCodeText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code representing the the reason a disposition was dismissed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionProvisionText" type="nc:TextType" substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A disposition provision.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeMunicipalCodeText" type="nc:TextType" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code for a municipal charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeMunicipalCodeDescriptionText" type="nc:TextType" substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code description for a municipal charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeModificationDescriptionCodeText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A description of qualifying details that impact sentencing and severity of the charge.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionCodeDescriptionText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code description for a disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestHideDate" type="nc:DateType" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The date an arrest record is hidden.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestUnhideDate" type="nc:DateType" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The date an arrest record is unhidden.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestHideIndicator" type="niem-xs:boolean" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if an arrest record is hidden; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestUnhideIndicator" type="niem-xs:boolean" substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if an arrest record is to be un-hidden; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeStatusCode" type="chm-req-ext:ChargeStatusCodeType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code for the Charge Status.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargePrimarySystemIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A system identification for a charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestPrimarySystemIdentification" type="nc:IdentificationType"
		substitutionGroup="j:ArrestAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A system identification for an arrest.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionIdentification" type="nc:IdentificationType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>An identification for a disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeDispositionSeverityCodeText" type="nc:TextType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code text for the severity level of a charge disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionChargeCountQuantity" type="niem-xs:positiveInteger"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A number of disposition charges.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionStatusCode" type="chm-req-ext:DispositionStatusCodeType"
		substitutionGroup="nc:DispositionAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code for the Charge Status.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReferToAgency" type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>The agency on the receiving end of a referral.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChargeStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="chm-req-ext:StatusCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DispositionStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="chm-req-ext:StatusCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusCodeSimpleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="New">
				<xsd:annotation>
					<xsd:documentation>New</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Modified">
				<xsd:annotation>
					<xsd:documentation>Modified</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Unchanged">
				<xsd:annotation>
					<xsd:documentation>Unchanged</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>