shared/ojb-resources-common/src/main/resources/ssp/Incident_Search_Request/schema/SIP_WS_1.2/Incident_Search_Request_Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ojbc.org/Services/WSDL/IncidentSearchRequestService/1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:isr-doc="http://ojbc.org/IEPD/Exchange/IncidentSearchRequest/1.0"
	name="Incident_Search_Request_Service" targetNamespace="http://ojbc.org/Services/WSDL/IncidentSearchRequestService/1.0"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
	<wsdl:import
		namespace="http://ojbc.org/PolicyAssertions/WSDL/GFIPM_SAML_Token_SecurityPolicy/1.0/"
		location="../../../../policy-assertions/GFIPMUserSystemToSystem.wsdl" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://ojbc.org/Incident_Search_Request_Service/">
			<xsd:import namespace="http://ojbc.org/IEPD/Exchange/IncidentSearchRequest/1.0"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/exchange_schema.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Incident-Search-Request">
		<wsdl:part element="isr-doc:IncidentSearchRequest" name="Incident-Search-Request" />
	</wsdl:message>
	<wsdl:message name="Incident-Person-Search-Request">
		<wsdl:part element="isr-doc:IncidentPersonSearchRequest"
			name="Incident-Person-Search-Request" />
	</wsdl:message>
	<wsdl:message name="Incident-Vehicle-Search-Request">
		<wsdl:part element="isr-doc:IncidentVehicleSearchRequest"
			name="Incident-Vehicle-Search-Request" />
	</wsdl:message>
	<!-- Search for incidents using incident criteria or person criteria -->
	<wsdl:portType name="Incident_Search_Request_Service">
		<wsdl:operation name="SubmitIncidentSearchRequest">
			<wsdl:input message="tns:Incident-Search-Request" name="Incident-Search-Request"/>
		</wsdl:operation>
		<wsdl:operation name="SubmitIncidentPersonSearchRequest">
			<wsdl:input message="tns:Incident-Person-Search-Request" name="Incident-Person-Search-Request"/>
		</wsdl:operation>
		<wsdl:operation name="SubmitIncidentVehicleSearchRequest">
			<wsdl:input message="tns:Incident-Vehicle-Search-Request" name="Incident-Vehicle-Search-Request"/>
		</wsdl:operation>
	</wsdl:portType>
	<!--Secure, GFIPM-conformant binding -->
	<wsdl:binding name="Incident_Search_Request_Secure_ServiceSOAPBinding"
		type="tns:Incident_Search_Request_Service">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#GFIPMUserSystemToSystem" />
		<wsdl:operation name="SubmitIncidentSearchRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/IncidentSearchRequestService/1.0/SubmitIncidentSearchRequest" />
			<wsdl:input name="Incident-Search-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="SubmitIncidentPersonSearchRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/IncidentSearchRequestService/1.0/SubmitIncidentPersonSearchRequest" />
			<wsdl:input name="Incident-Person-Search-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="SubmitIncidentVehicleSearchRequest">
			<soap:operation
				soapAction="http://ojbc.org/Services/WSDL/IncidentSearchRequestService/1.0/SubmitIncidentVehicleSearchRequest" />
			<wsdl:input name="Incident-Vehicle-Search-Request">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<!-- This services provides the ability to search for specific incidents 
		based on incident information, related people or related vehicles -->
	<wsdl:service name="Incident_Search_Request_Service_Service">
		<wsdl:port binding="tns:Incident_Search_Request_Secure_ServiceSOAPBinding"
			name="Incident_Search_Request_Secure_Service">
			<soap:address location="http://localhost/secure" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
