shared/ojb-resources-common/src/main/resources/service-specifications/Identification_Recording_Service/artifacts/service_model/information_model/Identification_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" xmlns:intel="http://release.niem.gov/niem/domains/intelligence/3.0/" xmlns:ext="http://ojbc.org/IEPD/Extensions/IdentificationExtension/1.0" targetNamespace="http://ojbc.org/IEPD/Extensions/IdentificationExtension/1.0" elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/" schemaLocation="./Subset/niem/domains/jxdm/5.0/jxdm.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="./Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/intelligence/3.0/" schemaLocation="./Subset/niem/domains/intelligence/3.0/intelligence.xsd"/>
	<xsd:complexType name="PersonIdentificationRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details associated with a person identification request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="j:Subject"/>
					<xsd:element ref="ext:IdentificationApplicantOrganization"/>
					<xsd:element ref="ext:IdentificationRequestDocument" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonDocumentAssociation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonIdentificationResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details associated with a person identification result.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="j:Subject"/>
					<xsd:element ref="ext:IdentificationApplicantOrganization"/>
					<xsd:element ref="ext:IdentificationResultsDocument" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ext:LinkedSystems" minOccurs="0"/>
					<xsd:element ref="nc:PersonDocumentAssociation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationDocumentType">
		<xsd:annotation>
			<xsd:documentation>A data type for a document containing identification information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BinaryType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LinkedSystemType">
		<xsd:annotation>
			<xsd:documentation>A data type for system containing information about the offender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="intel:SystemIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IdentificationApplicantOrganization" type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>An organization providing the application and to be informed of identification results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationRequestDocument" type="ext:IdentificationDocumentType">
		<xsd:annotation>
			<xsd:documentation>An identification request document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationResultsDocument" type="ext:IdentificationDocumentType">
		<xsd:annotation>
			<xsd:documentation>An identification results document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentBinary" type="niem-xs:base64Binary" substitutionGroup="nc:BinaryObject" xmime:expectedContentTypes="image/jpeg, image/png">
		<xsd:annotation>
			<xsd:documentation>A binary representation of an identification document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LinkedSystems" type="ext:LinkedSystemType">
		<xsd:annotation>
			<xsd:documentation>Systems with information about the offender.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonTrackingIdentidication" type="nc:IdentificationType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A tracking Identification associated with a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
