shared/ojb-resources-common/src/main/resources/service-specifications/Identification_Recording_Service/artifacts/service_model/information_model/Identification_IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" 
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/" 
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
	xmlns:xop="http://www.w3.org/2004/08/xop/include" 
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" 
	xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" 
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/" 
	xmlns:intel="http://release.niem.gov/niem/domains/intelligence/3.0/" 
	xmlns:ident-ext="http://ojbc.org/IEPD/Extensions/IdentificationExtension/1.0" 
	targetNamespace="http://ojbc.org/IEPD/Extensions/IdentificationExtension/1.0" 
	elementFormDefault="qualified">
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="./Subset/niem/niem-core/3.0/niem-core.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.0/" schemaLocation="./Subset/niem/domains/jxdm/5.0/jxdm.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="./Subset/niem/proxy/xsd/3.0/xs.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="./Subset/niem/structures/3.0/structures.xsd"/>
	<xsd:import namespace="http://release.niem.gov/niem/domains/intelligence/3.0/" schemaLocation="./Subset/niem/domains/intelligence/3.0/intelligence.xsd"/>
	<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
	<xsd:complexType name="PersonIdentificationRequestType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details associated with a person identification request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="ident-ext:TransactionIdentification"/>
					<xsd:element ref="ident-ext:TransactionCategoryText"/>
					<xsd:element ref="j:Subject"/>
					<xsd:element ref="ident-ext:IdentificationApplicantOrganization"/>
					<xsd:element ref="ident-ext:IdentificationRequestRepresentation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonDocumentAssociation" minOccurs="0"/>
					<xsd:element ref="ident-ext:IdentificationReasonRepresentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonIdentificationResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details associated with a person identification result.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="ident-ext:TransactionIdentification"/>
					<xsd:element ref="ident-ext:TransactionCategoryText"/>
					<xsd:element ref="j:Subject"/>
					<xsd:element ref="ident-ext:IdentificationApplicantOrganization"/>
					<xsd:element ref="ident-ext:IdentificationResultsRepresentation" minOccurs="0"/>
					<xsd:element ref="ident-ext:LinkedSystems" minOccurs="0"/>
					<xsd:element ref="ident-ext:IdentificationReasonRepresentation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LinkedSystemType">
		<xsd:annotation>
			<xsd:documentation>A data type for system containing information about the offender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="intel:SystemIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IdentificationApplicantOrganization" type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>An organization providing the application and to be informed of identification results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationRequestRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A placeholder for an identification request document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateFingerprintBasedIdentificationRequestDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationRequestRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document used to request a person's identity, based on fingerprints, from the State.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FederalFingerprintBasedIdentificationRequestDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationRequestRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document used to request a person's identity, based on fingerprints, from the Federal Bureau of Investigation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationResultsRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A placeholder for an identification results document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FBIIdentityHistorySummaryDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationResultsRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document returned by the FBI that lists certain information taken from fingerprint submissions retained by the FBI in connection with arrests and, in some instances, employment, naturalization, or military service. Sometimes this is referred to as a federal rap sheet.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FBIIdentificationSearchResultDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationResultsRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document returned by the FBI, after doing a fingerprint search, that indicates whether the person has a criminal history. Sometimes this is referred to as a "match/no-match".</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateCriminalHistoryRecordDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationResultsRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document returned by a State's criminal history system that contains the person's criminal history. Sometimes this is referred to as a state rap sheet.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateIdentificationSearchResultDocument" type="nc:DocumentType" substitutionGroup="ident-ext:IdentificationResultsRepresentation">
		<xsd:annotation>
			<xsd:documentation>A document returned by the State, after doing a fingerprint search, that indicates whether the person has a criminal history in the state. Sometimes this is referred to as a "match/no-match".</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LinkedSystems" type="ident-ext:LinkedSystemType">
		<xsd:annotation>
			<xsd:documentation>Systems with information about the offender.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonTrackingIdentification" type="nc:IdentificationType" substitutionGroup="nc:PersonAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A biometric identifier assigned to a person for the purpose of correlating identification activities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestForCivilPurposeIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the identification request is being made for civil backgrounding purposes, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestForCriminalPurposeIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the identification request is being made as a result of a criminal activity such as an arrest, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationReasonRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a reason why someone is being identified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="TransactionIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A unique identification for transaction where a transaction could consist of multiple messages.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="TransactionCategoryText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An additional categorization of the transaction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CivilIdentificationReasonCode" type="ident-ext:CivilIdentificationReasonCodeType" substitutionGroup="ident-ext:IdentificationReasonRepresentation"/>
	
	<xsd:complexType name="CivilIdentificationReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ident-ext:CivilIdentificationReasonCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="CivilIdentificationReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Firearms</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Volunteer, Child Care/School Employee, Non-Criminal Justice Employee and Licensing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation>Criminal Justice Employee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>Security Clearance Information Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="CriminalIdentificationReasonCode" type="ident-ext:CriminalIdentificationReasonCodeType" substitutionGroup="ident-ext:IdentificationReasonRepresentation"/>
	
	<xsd:complexType name="CriminalIdentificationReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ident-ext:CriminalIdentificationReasonCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="CriminalIdentificationReasonCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CAR">
				<xsd:annotation>
					<xsd:documentation>Criminal Tenprint Submission</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SOR">
				<xsd:annotation>
					<xsd:documentation>Sex Offender Registry</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="FingerprintIdentificationIssuedForCivilPurposeIndicator" type="niem-xs:boolean" substitutionGroup="nc:IdentificationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a fingerprint-based identification number was assigned based on fingerprints submitted for a civil background check, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FingerprintIdentificationIssuedForCriminalPurposeIndicator" type="niem-xs:boolean" substitutionGroup="nc:IdentificationAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>True if a fingerprint-based identification number was assigned based on fingerprints submitted for an arrest, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Base64BinaryObject" substitutionGroup="nc:BinaryObject" type="niem-xs:base64Binary" xmime:expectedContentTypes="application/octet-stream, text/html"/>
</xsd:schema>
