shared/ojb-resources-common/src/main/resources/ssp/Probation_Event_Handler/artifacts/service_model/information_model/IEPD/xsd/NIEM_2.1/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:iso_639-3="http://niem.gov/niem/iso_639-3/2.0" xmlns:fips_5-2="http://niem.gov/niem/fips_5-2/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../fips_5-2/2.0/fips_5-2.xsd" namespace="http://niem.gov/niem/fips_5-2/2.0"/>
  <xsd:import schemaLocation="../../iso_639-3/2.0/iso_639-3.xsd" namespace="http://niem.gov/niem/iso_639-3/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd" namespace="http://niem.gov/niem/unece_rec20-misc/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an aggregation of information about a set of related activities and events.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:CaseDocketID" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StartDate" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DispositionDate" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseBaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization issued to a driver granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseIdentification" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a license issued to a person granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseBaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DriverLicenseBaseType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="1" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentityAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:IdentityReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of the characteristics of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentityPersonRepresentation" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:LengthUnitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure point value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MedicalConditionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of health, on-going or present.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MedicalConditionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MilitarySummaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a service of a person in a military.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MilitaryServiceActiveIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:MilitaryServiceTimeMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:MilitaryStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between an organization and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:ContactInformationReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:ContactInformationReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonEmploymentAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and an employment.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:EmployeeReference" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:Employer" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EmployeePositionName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EmployeeSupervisorReference" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonLanguageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a language capability of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:Language" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonReference" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:LocationReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonResidenceAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association between a person and a location where that person lives.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonLocationAssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonLocationAssociationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMaritalStatusText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMedicalCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonMilitarySummary" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonPhysicalDisabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:PhysicalFeatureDescriptionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ReleaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a freeing or discharge of someone or something from an activity, supervision, or obligation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SupervisionType">
    <xsd:annotation>
      <xsd:documentation>A data type for an act of officially overseeing, supervising, or keeping track in some capacity of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:SupervisionRelease" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SupervisionPersonStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:SupervisionSupervisor" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:TimeUnitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:WeightUnitCode" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRange" type="nc:DateRangeType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A period of time over which an activity occurs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Case" type="nc:CaseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An aggregation of information about a set of related activities and events.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseDocketID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to reference a case docket.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseTrackingID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to track a case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An electronic mailing address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ContactInformationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a disposition occurred.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicense" type="nc:DriverLicenseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a driver license identifier or driver license permit identifier, including the number and state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A person who works for a business or a person.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupationText" type="nc:TextType" substitutionGroup="nc:EmployeeOccupation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeePositionName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A job title of an employee.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeSupervisorReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A person who oversees and manages an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Employer" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A business or person which employs a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A representation of the characteristics of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="IdentityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityPersonRepresentation" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A set of person characteristics used as an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Language" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LanguageCode" type="iso_639-3:LanguageCodeType" substitutionGroup="nc:Language" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Language"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of a length value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Location" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a physical location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateFIPS5-2AlphaCode" type="fips_5-2:USStateCodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MedicalConditionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state of health, on-going or present.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryServiceActiveIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is currently serving in the military; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryServiceTimeMeasure" type="nc:TimeMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A quantity of time a person spent in military service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of military service of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationContactInformationAssociation" type="nc:OrganizationContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between an organization and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAliasIdentityAssociation" type="nc:IdentityAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and an alias identity used by that person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location where a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonContactInformationAssociation" type="nc:PersonContactInformationAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEmploymentAssociation" type="nc:PersonEmploymentAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An employment of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColorCode" type="fbi:EYECodeType" substitutionGroup="nc:PersonEyeColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEyeColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColorCode" type="fbi:HAICodeType" substitutionGroup="nc:PersonHairColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonHairColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMaritalStatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of marriage for a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMedicalCondition" type="nc:MedicalConditionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state of health for a person, on-going or present.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMilitarySummary" type="nc:MilitarySummaryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A service of a person in a military.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalDisabilityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A physical disability of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of  a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPrimaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A capacity of a person for a language with which that person has the strongest familiarity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRace" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRaceText" type="nc:TextType" substitutionGroup="nc:PersonRace" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategoryCode" type="fbi:SMTCodeType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association between a person and a location where that person lives.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOf" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A property of a role object. This specifies the base object, of which the role object is a function.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
    <xsd:annotation>
      <xsd:documentation>A person of whom the role object is a function.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType"/>
        <i:Base i:name="RoleOf"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which something begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionPersonStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of a person under supervision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionRelease" type="nc:ReleaseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete and unrestricted release of a subject from a supervision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SupervisionSupervisor" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity which supervises a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TimeUnitCode" type="unece:TimeCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of the time value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="WeightUnitCode" type="unece:MassCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measure of the weight value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
