shared/ojb-resources-common/src/main/resources/ssp/Incident_Search_Results/artifacts/service_model/information_model/IEPD/xsd/extension_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ojbc.org/IEPD/Extensions/IncidentSearchResults/1.0"
	elementFormDefault="qualified"
	xmlns:isres-ext="http://ojbc.org/IEPD/Extensions/IncidentSearchResults/1.0"
	xmlns:s="http://niem.gov/niem/structures/2.0" 
	xmlns:nc="http://niem.gov/niem/niem-core/2.0"
	xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" 
	xmlns:locationCodes="http://ojbc.org/IEPD/Extensions/VermontLocationCodes/1.0" 
	xmlns:iad="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" 
	xmlns:srer="http://ojbc.org/IEPD/Extensions/SearchRequestErrorReporting/1.0"
	xmlns:srm="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0"
	xmlns:intel="http://niem.gov/niem/domains/intelligence/2.1">
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
		schemaLocation="Subset/niem/niem-core/2.0/niem-core.xsd" />
	<xsd:import namespace="http://niem.gov/niem/structures/2.0"
		schemaLocation="Subset/niem/structures/2.0/structures.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1"
		schemaLocation="Subset/niem/domains/jxdm/4.1/jxdm.xsd" />
	<xsd:import namespace="http://niem.gov/niem/domains/intelligence/2.1"
		schemaLocation="Subset/niem/domains/intelligence/2.1/intelligence.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/SearchRequestErrorReporting/1.0" schemaLocation="search-request-error-reporting.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/InformationAccessDenial/1.0" schemaLocation="access-denial.xsd"/>
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/SearchResultsMetadata/1.0" schemaLocation="search-results-metadata.xsd"/>
	<xsd:complexType name="IncidentSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a collection of incidents.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:IncidentSearchResult" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentPersonSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a collection of incidents related
				to a specific person of interest.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:IncidentPersonSearchResult"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentVehicleSearchResultsType">
		<xsd:annotation>
			<xsd:documentation>A data type for a collection of incidents related
				to a specific person of interest.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:IncidentVehicleSearchResult"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="srm:SearchResultsMetadata" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IncidentSearchResult" type="isres-ext:IncidentSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A set of details about an
				incident.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentPersonSearchResult" type="isres-ext:IncidentPersonSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A set of details about an
				incident related to a
				specific person of interest..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentVehicleSearchResult" type="isres-ext:IncidentVehicleSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A set of details about an
				incident related to a
				specific vehicle of interest..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IncidentSearchResultType">
		<!-- Need to add incident role as well as nature -->
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details about an
				incident.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:Incident" />
					<xsd:element ref="nc:Location" minOccurs="0" />
					<xsd:element ref="nc:Organization" minOccurs="0" />
					<xsd:element ref="nc:ActivityReportingOrganizationAssociation"
						minOccurs="0" />
					<xsd:element ref="j:ActivityLocationAssociation"
						minOccurs="0" />
					<xsd:element ref="isres-ext:SourceSystemNameText" minOccurs="0"
						maxOccurs="1" />
					<xsd:element ref="intel:SystemIdentifier" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentPersonSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details about an
				incident related to a specific person of interest.
				</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="isres-ext:IncidentSearchResultType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:IncidentInvolvedPersonInvolvementDescriptionText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentVehicleSearchResultType">
		<xsd:annotation>
			<xsd:documentation>A data type for a set of details about an
				incident related to a specific vehicle of interest.
				</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="isres-ext:IncidentSearchResultType">
				<xsd:sequence>
					<xsd:element
						ref="isres-ext:IncidentInvolvedVehicleInvolvementDescriptionText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LocationCityTown" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A generic/abstract element for a city or town.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StructuredAddress" type="isres-ext:StructuredAddressType"
		substitutionGroup="nc:AddressRepresentation">
		<xsd:annotation>
			<xsd:documentation>A geophysical location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:documentation>A data type for a geophysical location.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:StructuredAddressType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:LocationCityTown" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentType">
		<xsd:annotation>
			<xsd:documentation>A data type for an occurrence or an event that
				may
				require a response.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="isres-ext:IncidentCategoryCode" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IncidentInvolvedPersonInvolvementDescriptionText"
		type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of a person's relationship to an
				incident.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentInvolvedVehicleInvolvementDescriptionText"
		type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A description of a vehicle's relationship to an
				incident.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Incident" type="isres-ext:IncidentType">
		<xsd:annotation>
			<xsd:documentation>An occurrence or an event that may require a
				response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemNameText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of a system that returned the search result.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncidentCategoryCode" type="isres-ext:IncidentCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>The kind of incident.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IncidentCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>A data type to specify the kind of incident.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="isres-ext:IncidentCategoryCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="IncidentCategoryCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type to specify the kind of incident.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Law">
				<xsd:annotation>
					<xsd:documentation>Law Incident</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Traffic">
				<xsd:annotation>
					<xsd:documentation>Traffic Incident</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Citation">
				<xsd:annotation>
					<xsd:documentation>Citation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Field_Interview">
				<xsd:annotation>
					<xsd:documentation>Field Interview</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>