shared/ojb-resources-common/src/main/resources/ssp/Prosecution_Decision_Reporting/artifacts/service_model/information_model/IEPD/xsd/impl/hawaii/hawaii_codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xsd:schema xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	xmlns:pd-hi-codes="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionReportCodes/Hawaii/1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:i="http://release.niem.gov/niem/appinfo/3.0/"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/"
	xmlns:pd-ext="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionReportExtension/1.0"
	targetNamespace="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionReportCodes/Hawaii/1.0" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Codes for Hawaii Prosecution Decision Report</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/3.0/"
		schemaLocation="../../Subset/niem/appinfo/3.0/appinfo.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="../../Subset/niem/structures/3.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
		schemaLocation="../../Subset/niem/niem-core/3.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.1/"
		schemaLocation="../../Subset/niem/domains/jxdm/5.1/jxdm.xsd" />
	<xsd:import namespace="http://ojbc.org/IEPD/Extensions/ProsecutionDecisionReportExtension/1.0"
		schemaLocation="../../ProsecutionDecisionReport_Ext.xsd" />
	<xsd:simpleType name="CaseStageCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>Case Stage code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="ABREF">
				<xsd:annotation>
					<xsd:documentation>Awaiting Briefing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ACHRG">
				<xsd:annotation>
					<xsd:documentation>Awaiting Formal Charging</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ACQUITTAL">
				<xsd:annotation>
					<xsd:documentation>Judgment of Acquittal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ADJUDICATE">
				<xsd:annotation>
					<xsd:documentation>ADJUDICATED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFAGPS">
				<xsd:annotation>
					<xsd:documentation>AG Proceedings Suspended - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFCOS">
				<xsd:annotation>
					<xsd:documentation>Confirmation of Service - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFDISM">
				<xsd:annotation>
					<xsd:documentation>Dismissed - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFFINAL">
				<xsd:annotation>
					<xsd:documentation>Final Order Filed - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFNA">
				<xsd:annotation>
					<xsd:documentation>No Action - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFPAGA">
				<xsd:annotation>
					<xsd:documentation>Pending AG Approval - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFPENDOD">
				<xsd:annotation>
					<xsd:documentation>Pending Final Order - AF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AG">
				<xsd:annotation>
					<xsd:documentation>Transfer To AG Office</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="APCOMP">
				<xsd:annotation>
					<xsd:documentation>Appeal Completed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="APPEAL">
				<xsd:annotation>
					<xsd:documentation>On Appeal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ARR">
				<xsd:annotation>
					<xsd:documentation>Arraignment And Plea</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BW">
				<xsd:annotation>
					<xsd:documentation>Pending Service of Warrant</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BWR">
				<xsd:annotation>
					<xsd:documentation>BW Recalled</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BWS">
				<xsd:annotation>
					<xsd:documentation>BW Served</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CIVIL">
				<xsd:annotation>
					<xsd:documentation>Civil Commit &amp; Trans to AG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLOSED">
				<xsd:annotation>
					<xsd:documentation>Case Closed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CONDISCH">
				<xsd:annotation>
					<xsd:documentation>Conditional Discharge</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CONDREL">
				<xsd:annotation>
					<xsd:documentation>Conditional Release</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CTOA">
				<xsd:annotation>
					<xsd:documentation>Case Transferred Other Agency</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAGP">
				<xsd:annotation>
					<xsd:documentation>Deferred Acceptance of Guilty</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DANCP">
				<xsd:annotation>
					<xsd:documentation>Deferred Acceptance of Nolo Co</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DECLINED">
				<xsd:annotation>
					<xsd:documentation>Case Declined</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISCDISM">
				<xsd:annotation>
					<xsd:documentation>Discharged &amp; Dismissed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISCHARGED">
				<xsd:annotation>
					<xsd:documentation>Discharged from Probation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISMISSCRT">
				<xsd:annotation>
					<xsd:documentation>Court Dismissed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISMISSED">
				<xsd:annotation>
					<xsd:documentation>Charges Dismissed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DRUG">
				<xsd:annotation>
					<xsd:documentation>Drug Court</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DRUGCRTGRD">
				<xsd:annotation>
					<xsd:documentation>Drug Court Graduate</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GJ">
				<xsd:annotation>
					<xsd:documentation>Grand Jury</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HSH">
				<xsd:annotation>
					<xsd:documentation>Hawaii State Hospital</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MENTAL">
				<xsd:annotation>
					<xsd:documentation>Mental Health Court</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MHCGRAD">
				<xsd:annotation>
					<xsd:documentation>Mental Health Court Graduate</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PCDPA">
				<xsd:annotation>
					<xsd:documentation>Pending Conferral by DPA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PENALSERV">
				<xsd:annotation>
					<xsd:documentation>Awaiting Serv of Penal Summons</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PENDSENT">
				<xsd:annotation>
					<xsd:documentation>Pending Sentencing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PRC">
				<xsd:annotation>
					<xsd:documentation>Pending Reconferral</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROBTERM">
				<xsd:annotation>
					<xsd:documentation>Probation Terminated</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESENT">
				<xsd:annotation>
					<xsd:documentation>Resentenced</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SCREEN">
				<xsd:annotation>
					<xsd:documentation>Screening</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SENT">
				<xsd:annotation>
					<xsd:documentation>Sentenced</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SUMMONS">
				<xsd:annotation>
					<xsd:documentation>Penal Summons</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TRIAL">
				<xsd:annotation>
					<xsd:documentation>TRIAL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CaseStageCodeType">
		<xsd:annotation>
			<xsd:documentation>Case Stage code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pd-hi-codes:CaseStageCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CaseStatusCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>Case Status code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="REVIEW">
				<xsd:annotation>
					<xsd:documentation>Closed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="REFUSED">
				<xsd:annotation>
					<xsd:documentation>Declined.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OPEN">
				<xsd:annotation>
					<xsd:documentation>Pendsent.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLOSED">
				<xsd:annotation>
					<xsd:documentation>Trial.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DISPOSED">
				<xsd:annotation>
					<xsd:documentation>Dismissed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROBATION">
				<xsd:annotation>
					<xsd:documentation>Screen.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CaseStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>Case Status code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pd-hi-codes:CaseStatusCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ChargeSeverityCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>Case Status code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:documentation>Misdemeanor.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Felony.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:documentation>Petty Misdemeanor.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="V">
				<xsd:annotation>
					<xsd:documentation>Infraction/Violation.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ChargeSeverityCodeType">
		<xsd:annotation>
			<xsd:documentation>Charge Severity code set</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pd-hi-codes:ChargeSeverityCodeSimpleType">
				<xsd:attributeGroup ref="structures:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CaseStageCode" type="pd-hi-codes:CaseStageCodeType" substitutionGroup="nc:CaseAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code that describes the stage of a case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseStatusCode" type="pd-hi-codes:CaseStatusCodeType" substitutionGroup="nc:StatusAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code that describes status of a case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeSeverityCode" type="pd-hi-codes:ChargeSeverityCodeType"
		substitutionGroup="j:ChargeAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>A code that describes status of a case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>