shared/ojb-resources-common/src/main/resources/service-specifications/Subscription_Creation_Reporting_Service/artifacts/service_model/information_model/Subscription_Creation_Reporting-IEPD/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AngularMinuteSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxExclusive value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularMinuteType">
    <xsd:annotation>
      <xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularMinuteSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AngularSecondSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0">
        <xsd:annotation>
          <xsd:documentation>The minimum value for an angular second.</xsd:documentation>
        </xsd:annotation>
      </xsd:minInclusive>
      <xsd:maxExclusive value="60">
        <xsd:annotation>
          <xsd:documentation>The maximum value for an angular second.</xsd:documentation>
        </xsd:annotation>
      </xsd:maxExclusive>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularSecondType">
    <xsd:annotation>
      <xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularSecondSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:BinaryAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BiometricType">
    <xsd:annotation>
      <xsd:documentation>A data type for a biological or behavioral characteristic which can reliably recognize the identity, or verify the claimed identity, of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:BiometricImage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConditionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a requirement or stipulation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:ConditionSetDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DNAType">
    <xsd:annotation>
      <xsd:documentation>A data type for DNA of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DNAImage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicElevationMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure of elevation at a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeCoordinateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Equator.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LatitudeDegreeValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LatitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="90">
        <xsd:annotation>
          <xsd:documentation>The maximum value for a latitude degree.</xsd:documentation>
        </xsd:annotation>
      </xsd:maxInclusive>
      <xsd:minInclusive value="-90">
        <xsd:annotation>
          <xsd:documentation>The minimum value for a latitude degree.</xsd:documentation>
        </xsd:annotation>
      </xsd:minInclusive>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LatitudeDegreeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LatitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationGeographicElevation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationUTMCoordinate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeCoordinateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LongitudeDegreeValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LongitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxExclusive value="180">
        <xsd:annotation>
          <xsd:documentation>The maximum value for a longitude degree.</xsd:documentation>
        </xsd:annotation>
      </xsd:maxExclusive>
      <xsd:minInclusive value="-180">
        <xsd:annotation>
          <xsd:documentation>The minimum value for a longitude degree.</xsd:documentation>
        </xsd:annotation>
      </xsd:minInclusive>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LongitudeDegreeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LongitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure point value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureRangeValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement range.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RangeMinimumValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RangeMaximumValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="NonNegativeDecimalSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NonNegativeDecimalType">
    <xsd:annotation>
      <xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:NonNegativeDecimalSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PercentageSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PercentageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:PercentageSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="10"/>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="5"/>
          <xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="10"/>
          <xsd:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="4"/>
          <xsd:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="4"/>
          <xsd:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="1000"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalFeatureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="10"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ReleaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a freeing or discharge of someone or something from an activity, supervision, or obligation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TwoDimensionalGeographicCoordinateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a location identified by latitude and longitude.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:GeographicCoordinateLatitude" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:GeographicCoordinateLongitude" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UTMCoordinateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:UTMEastingValue" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:UTMGridZoneID" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:UTMNorthingValue" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reason for an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryAvailableIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a binary is available; false if it is not.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A binary encoding of data.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryObject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a binary object.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryObject" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A binary encoding of data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BiometricCaptureDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a biometric sample was collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BiometricImage" type="nc:ImageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A picture of a biometric sample.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BiometricRepositoryOrganization" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization that is responsible for the storage of a biometric sample.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseTitleText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An official name of a case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseTrackingID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to track a case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaveatText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A warning or caution.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConditionSetDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a condition was set.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the methods available to contact a person or organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DNAImage" type="nc:ImageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An image of a DNA strand.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRange" type="nc:DateRangeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A time period measured by a starting and ending point.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date and time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a disposition occurred.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DispositionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A result or outcome of a disposition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmployeeOccupationText" type="nc:TextType" substitutionGroup="nc:EmployeeOccupation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A job of an employee.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EmployeeOccupation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Employer" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A business or person which employs a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmploymentLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location where a person works.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the angular distance between a point on the Earth and the Equator.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies the degree of a latitude. The value comes from a restricted range between -90 (inclusive) and +90 (inclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationGeographicElevation" type="nc:GeographicElevationMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measure of the distance of a point on the Earth from sea level.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateNCICLSTACode" type="fbi:LSTACodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location identified by a latitude and longitude.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies the degree of a longitude. The value comes from a restricted range between -180 (inclusive) and +180 (exclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureRangeValue" type="nc:MeasureRangeValueType" substitutionGroup="nc:MeasureValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement specified by a minimum and maximum value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureUnitText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit that qualifies the measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Organization" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification assigned to an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the age of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An alternate name used by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenship" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColorCode" type="fbi:EYECodeType" substitutionGroup="nc:PersonEyeColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEyeColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A prominent or easily identifiable aspect of  a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRace" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRaceCode" type="fbi:RACCodeType" substitutionGroup="nc:PersonRace" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a person based on a state-issued ID card.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PhysicalFeatureCategoryCode" type="fbi:SMTCodeType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific kind of physical feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RangeMaximumValue" type="niem-xsd:decimal" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A maximum value of a range.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RangeMinimumValue" type="niem-xsd:decimal" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A minimum value of a range.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which something begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UTMDatumID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a data standard for UTM coordinates.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UTMEastingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A distance east within a UTM zone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UTMGridZoneID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a UTM grid zone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UTMGridZoneSquareID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a specific 100,000 meter squared region within a UTM grid zone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UTMNorthingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A distance north within a UTM zone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Year" type="niem-xsd:gYear" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="YearMonth" type="niem-xsd:gYearMonth" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year and month.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
