shared/ojb-resources-common/src/main/resources/ssp/Uniform_Commitment_Order_Reporting/artifacts/service_model/information_model/IEPD/xsd/UniformCommitmentOrder_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
           xmlns:hs="http://release.niem.gov/niem/domains/humanServices/5.2/"
           xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.2/"
		   xmlns:uco-ext="http://ojbc.org/IEPD/Extensions/UniformCommitmentOrderExtension/1.0/"
           targetNamespace="http://ojbc.org/IEPD/Extensions/UniformCommitmentOrderExtension/1.0/" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="Subset/niem/xsd/niem-core.xsd" />
  <xs:import namespace="http://release.niem.gov/niem/domains/humanServices/5.2/" schemaLocation="Subset/niem/xsd/domains/hs.xsd" />
  <xs:import namespace="http://release.niem.gov/niem/domains/jxdm/7.2/" schemaLocation="Subset/niem/xsd/domains/jxdm.xsd" />

  <xs:complexType name="UniformCommitmentOrderType" abstract="false" mixed="false"> 
	  <xs:annotation>
		  <xs:documentation>A data type for the uniform commitment order document.</xs:documentation>
	  </xs:annotation>
	<xs:complexContent mixed="false">
		<xs:extension base="nc:DocumentType">
			<xs:sequence>
				<!-- Header Information -->
				<xs:element ref="uco-ext:UniformCommitmentOrderIdentification" minOccurs="0" maxOccurs="1" />
				<xs:element ref="j:OrganizationORIIdentification" minOccurs="0"/>
				<xs:element ref="nc:Organization" minOccurs="1"/>
				<xs:element ref="uco-ext:ParishCodeText" minOccurs="1"/>	
				<xs:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="1" />
				
				<!-- A. Defendant/Case Identifiers -->
				<xs:element ref="nc:Person" minOccurs="1" />
				<xs:element ref="j:PersonStateFingerprintIdentification" minOccurs="1" />
				
				<!-- B. SENTENCE -->
				<xs:element ref="uco-ext:OriginalSentenceIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:AmendedSentenceIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:RevocationSentenceIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:HabitualSentenceIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:HabitualSentenceDocketNumber" minOccurs="0" />
				<xs:element ref="uco-ext:HabitualSentenceChargeText" minOccurs="0" />
				
				<!-- Charge, counts, verdict, modifiers, sentence details, offense date, adjudication date, sentence date, habitual indicator, original sentence, revocation date for each charge -->
				<xs:element ref="uco-ext:UCOSentence" minOccurs="1" maxOccurs="unbounded" />
				
				
				<!-- D. Sentence Conditions -->
				<xs:element ref="uco-ext:UCOUniversalConcurrentIndicator" minOccurs="1" />
				<xs:element ref="uco-ext:UCOConcurrentIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConcurrentDocketNumbers" minOccurs="0"  />
				<xs:element ref="uco-ext:UCOConcurrentParishes" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConcurrentJudicialDistricts" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConsecutiveIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConsecutiveDocketNumbers" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConsecutiveParishes" minOccurs="0" />
				<xs:element ref="uco-ext:UCOConsecutiveJudicialDistricts" minOccurs="0" />
				<xs:element ref="j:SentenceConfinementCreditIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:MinimumSentenceWaivedIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:MultipleBillIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:ReentryIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:SentenceStartDate" minOccurs="0" />
				<xs:element ref="uco-ext:ProbationRequiredIndicator" minOccurs="0" />
				<xs:element ref="j:RegisteredSexualOffenderIndicator" minOccurs="0" />
				
				<!-- E. Referrals -->
				<xs:element ref="uco-ext:SubstanceUseScreeningIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:MentalHealthScreeningIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:IntensiveIncarcerationIndicator" minOccurs="0" />
				<xs:element ref="uco-ext:WorkProgramIndicator" minOccurs="0" />
				<xs:element ref="nc:CommentText" minOccurs="0" />
				
				<!-- F. Involved Parties -->
				<xs:element ref="j:CourtClerk" minOccurs="0" />
				<xs:element ref="j:CourtReporter" minOccurs="0" />
				<xs:element ref="j:CaseProsecutionAttorney" minOccurs="0" />
				<xs:element ref="uco-ext:ProsecutionLocationAddress" minOccurs="0" />
				<xs:element ref="j:CaseDefenseAttorney" minOccurs="0" />
				<xs:element ref="uco-ext:CaseDefenseAddress" minOccurs="0" />
				<xs:element ref="j:CaseJudge" minOccurs="1" />
				<xs:element ref="uco-ext:CaseJudgeAddress" minOccurs="0" />
				<xs:element ref="uco-ext:JudgeSignatureDate" minOccurs="0" />
				
				<!-- Attachments -->
				<xs:element ref="uco-ext:BillOfInformationAttachment" minOccurs="0" />
				<xs:element ref="uco-ext:UCOPDFAttachment" minOccurs="0" />
				<xs:element ref="uco-ext:AdditionalInformationAttachment" minOccurs="0" />
					
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
  </xs:complexType>
			
 <!-- Extension Data Elements -->
   <xs:element name="UniformCommitmentOrderReport" type="uco-ext:UniformCommitmentOrderType" >
  		<xs:annotation>
  			<xs:documentation>This is the Uniform Commitment Order Document. </xs:documentation>
  		</xs:annotation>
  	</xs:element>
   <xs:element name="UniformCommitmentOrderIdentification" type="nc:TextType">
  		<xs:annotation>
  			<xs:documentation>Unique Identification for the Uniform Commitment Order - text. </xs:documentation>
  		</xs:annotation>
  	</xs:element>
    <xs:element name="ParishCodeText" type="nc:TextType">
   		<xs:annotation>
   			<xs:documentation>Unique Identification for each Parish - text. </xs:documentation>
   		</xs:annotation>
    </xs:element>
    <xs:element name="OriginalSentenceIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if this is the original sentence </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="AmendedSentenceIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if this is an amended sentence </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="RevocationSentenceIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if is a sentence revocation </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="HabitualSentenceIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if habitual offender sentence </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="HabitualSentenceDocketNumber" type="nc:TextType">
  		<xs:annotation>
  			<xs:documentation>Unique Identification for the docket number associated with the previous sentence if indicated as a habitual offender - text. </xs:documentation>
  		</xs:annotation>
  	</xs:element>
	<xs:element name="HabitualSentenceChargeText" type="nc:TextType">
  		<xs:annotation>
  			<xs:documentation>Unique Identification for the charge associated with the previous sentence if indicated as a habitual offender - text. </xs:documentation>
  		</xs:annotation>
  	</xs:element>
    <xs:complexType name="UCOSentenceType">
     <xs:annotation>
			<xs:documentation>A data type for set of details associated with a sentence - includes charge and sentence details.</xs:documentation>
	 </xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SentenceType">
				<xs:sequence>
					<xs:element ref="j:Charge" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="j:Sentence" minOccurs="1"  maxOccurs="1"/>
					<xs:element ref="uco-ext:OffenseDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:DispositionDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="j:SentenceDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="uco-ext:HabitualOffenderIndicator" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="uco-ext:SentenceVacatedDate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="uco-ext:SentenceRevocationDate" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UCOSentence" type="uco-ext:UCOSentenceType">
		<xs:annotation>
			<xs:documentation>A set of details associated with a sentence - includes charge and sentence details.</xs:documentation>
	 </xs:annotation>
	</xs:element>
    <xs:element name="OffenseDate" type="nc:DateType">
    		<xs:annotation>
    			<xs:documentation>Date of Offense </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="HabitualOffenderIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if Adjudication as an habitual offender per R.S. 15:529.1 </xs:documentation>
    		</xs:annotation>
   	</xs:element>
    <xs:element name="SentenceVacatedDate" type="nc:DateType">
    		<xs:annotation>
    			<xs:documentation>Date Original Sentence Vacated </xs:documentation>
    		</xs:annotation>
   	</xs:element>
    <xs:element name="SentenceRevocationDate" type="nc:DateType">
    		<xs:annotation>
    			<xs:documentation>Date Sentence Revocation </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   		<xs:element name="UCOUniversalConcurrentIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates that this sentence shall be concurrent with any or every sentence the offender is now serving </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="UCOConcurrentIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if Sentence to be served concurrent </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="UCOConcurrentDocketNumbers" type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation>if UCOConncurrentIndicator = true then enter docket numbers of concurrent sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
	<xs:element name="UCOConcurrentParishes"  type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation>if UCOConncurrentIndicator = true then enter parish numbers of concurrent sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
	<xs:element name="UCOConcurrentJudicialDistricts"   type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation>if UCOConncurrentIndicator = true then enter judicial districts of concurrent sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
    	<xs:element name="UCOConsecutiveIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if Sentence to be served  consecutively </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="UCOConsecutiveDocketNumbers" type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation>enter docket numbers of consecutive sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
	<xs:element name="UCOConsecutiveParishes"  type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation>enter parish numbers of consecutive sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
	<xs:element name="UCOConsecutiveJudicialDistricts"   type="nc:TextType" >
    		<xs:annotation>
    			<xs:documentation> enter judicial districts of consecutive sentence cases </xs:documentation>
    		</xs:annotation>
    </xs:element>
    <xs:element name="MinimumSentenceWaivedIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if Minimum Sentence was Waived </xs:documentation>
    		</xs:annotation>
   	</xs:element>
    <xs:element name="MultipleBillIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if multiple bills are involved in sentence </xs:documentation>
    		</xs:annotation>
   	</xs:element>
    <xs:element name="ReentryIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject is reentering confinement </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="SentenceStartDate" type="nc:DateType">
    		<xs:annotation>
    			<xs:documentation>Date sentence to start </xs:documentation>
    		</xs:annotation>
   	</xs:element>
    <xs:element name="ProbationRequiredIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject is required to serve probation </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="SubstanceUseScreeningIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject requires substance use screening </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="MentalHealthScreeningIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject require mental health screening </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="IntensiveIncarcerationIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject requires intensive incarceration </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="WorkProgramIndicator" type="xs:boolean">
    		<xs:annotation>
    			<xs:documentation>Indicates if subject is eligible for work programs </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="ProsecutionLocationAddress" type="nc:AddressType" >
    		<xs:annotation>
    			<xs:documentation>Prosecution Attorney Address </xs:documentation>
    		</xs:annotation>
   	</xs:element>
	<xs:element name="CaseDefenseAddress" type="nc:AddressType" >
    		<xs:annotation>
    			<xs:documentation>Defense Attorney Address </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="CaseJudgeAddress" type="nc:AddressType" >
    		<xs:annotation>
    			<xs:documentation>Court Judge Address </xs:documentation>
    		</xs:annotation>
   	</xs:element>
   	<xs:element name="JudgeSignatureDate" type="nc:DateType">
		<xs:annotation>
			<xs:documentation>date judge signed UCO </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BillOfInformationAttachment" type="nc:BinaryType">
		<xs:annotation>
			<xs:documentation>Bill of information attachment </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UCOPDFAttachment" type="nc:BinaryType">
		<xs:annotation>
			<xs:documentation>PDF copy of the UCO </xs:documentation>
		</xs:annotation>
	</xs:element><xs:element name="AdditionalInformationAttachment" type="nc:BinaryType">
		<xs:annotation>
			<xs:documentation>PDF copy of the UCO </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
