shared/ojb-resources-common/src/main/resources/service-specifications/Juvenile_History_Services/artifacts/service_model/information_model/Juvenile_History_IEPD/Subset/niem/domains/cyfs/3.0/cyfs.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/cyfs/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Children, Youth, and Family Services</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="AssessmentRecommendationType">
    <xs:annotation>
      <xs:documentation>A data type for the recommendation of an assessment.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="cyfs:AssessmentRecommendedCourseOfAction" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssessmentRecommendedCourseOfActionType">
    <xs:annotation>
      <xs:documentation>A data type for an action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="cyfs:AssessmentRecommendedCourseOfActionAugmentationPoint" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChildType">
    <xs:annotation>
      <xs:documentation>A data type for information about a person who has not yet reached the age of legal majority (i.e., adulthood).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenileAssessmentType">
    <xs:annotation>
      <xs:documentation>A data type for a juvenile assessment.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssessmentType">
        <xs:sequence>
          <xs:element ref="cyfs:AssessmentRecommendation" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cyfs:Juvenile" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cyfs:JuvenileAssessmentAugmentationPoint" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenileIntakeAssessmentType">
    <xs:annotation>
      <xs:documentation>A data type for a juvenile intake assessment.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cyfs:JuvenileAssessmentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenilePlacementFacilityAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a juvenile and a facility where the juvenile is directed to reside (e.g., orphanage, detention center, etc.).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="cyfs:PlacedJuvenile" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cyfs:PlacementFacility" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenilePlacementType">
    <xs:annotation>
      <xs:documentation>A data type for information about where a juvenile is directed to reside during the pendency of a delinquency proceeding.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cyfs:PlacementType">
        <xs:sequence>
          <xs:element ref="cyfs:JuvenilePlacementAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuvenileType">
    <xs:annotation>
      <xs:documentation>A data type for a juvenile.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ParentChildAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="cyfs:Child" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cyfs:Parent" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PlacementType">
    <xs:annotation>
      <xs:documentation>A data type for the placement history of a child or youth.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="cyfs:PlacementCategory" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssessmentRecommendation" type="cyfs:AssessmentRecommendationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A recommendation of an assessment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AssessmentRecommendedCourseOfAction" type="cyfs:AssessmentRecommendedCourseOfActionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A recommended course of action arising from an assessment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AssessmentRecommendedCourseOfActionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AssessmentRecommendedCourseOfActionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Child" type="cyfs:ChildType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who was an unmarried minor at the time of his or her involvement in a judicial proceeding or non-judicial program.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCase" type="nc:CaseType">
    <xs:annotation>
      <xs:documentation>An element that contains the details of a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Juvenile" type="cyfs:JuvenileType" nillable="true">
    <xs:annotation>
      <xs:documentation>A role of a juvenile, played by a person defined as a juvenile rather than an adult under the law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileAssessmentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for JuvenileAssessmentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileIntakeAssessment" type="cyfs:JuvenileIntakeAssessmentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A juvenile intake assessment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenilePlacement" type="cyfs:JuvenilePlacementType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the placement where a juvenile is directed to reside during the pendency of the delinquency proceeding.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenilePlacementAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for JuvenilePlacementType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenilePlacementFacilityAssociation" type="cyfs:JuvenilePlacementFacilityAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a juvenile and a facility where the juvenile is directed to reside (e.g., orphanage, teen shelter, detention center, etc.).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Parent" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A father or mother of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParentChildAssociation" type="cyfs:ParentChildAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlacedJuvenile" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A juvenile who is directed to reside somewhere other than a parent's residence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlacementCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for describing a child or youth's placement.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlacementFacility" type="nc:FacilityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A facility where a juvenile is directed to reside.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
