shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Update_Reporting/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ActivityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ActivityAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A data type for an amount of money.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Amount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseType">
    <xs:annotation>
      <xs:documentation>A data type for an aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConditionType">
    <xs:annotation>
      <xs:documentation>A data type for a requirement or stipulation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:ConditionDisciplinaryAction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DisciplinaryActionType">
    <xs:annotation>
      <xs:documentation>A data type for an activity assigned to a person for the purpose of self-improvement, punishment, or restitution.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="nc:DisciplinaryActionFee" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DisciplinaryActionRestitution" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DispositionType">
    <xs:annotation>
      <xs:documentation>A data type for a result or outcome that is the product of handling, processing, or finalizing something.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DispositionCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:DispositionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationAddressAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:MeasureUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObligationType">
    <xs:annotation>
      <xs:documentation>A data type for something that is owed to an entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ObligationDue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:OrganizationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonLocationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonResidenceAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a location where that person lives.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:PersonLocationAssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonRace" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSex" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StreetType">
    <xs:annotation>
      <xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Activity" type="nc:ActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ActivityType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation">
    <xs:annotation>
      <xs:documentation>A date of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a date an activity occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Amount" type="niem-xs:decimal" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case" type="nc:CaseType">
    <xs:annotation>
      <xs:documentation>An aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConditionDisciplinaryAction" type="nc:DisciplinaryActionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A corrective action that is specified as part of a condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DisciplinaryActionFee" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary fine assigned to a person as a disciplinary action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DisciplinaryActionRestitution" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A requirement for a person to financially or otherwise compensate another person as  a disciplinary action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disposition" type="nc:DispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or outcome that is the product of handling, processing, or finalizing something.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DispositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionCategoryText" type="nc:TextType" substitutionGroup="nc:DispositionCategory">
    <xs:annotation>
      <xs:documentation>A kind of disposition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a disposition occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DispositionEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency responsible for making a disposition decision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAddressAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a city or town.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPostalExtensionCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>A road, thoroughfare or highway.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureUnitText" type="nc:TextType" substitutionGroup="nc:MeasureUnit">
    <xs:annotation>
      <xs:documentation>A unit that qualifies the measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MeasureValueText" type="nc:TextType" substitutionGroup="nc:MeasureValue">
    <xs:annotation>
      <xs:documentation>A textual description of a measurement value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationDue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an amount of money or quantity of time still required to be spent in order to fulfill an obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObligationDueAmount" type="nc:AmountType" substitutionGroup="nc:ObligationDue">
    <xs:annotation>
      <xs:documentation>An amount of a payment obligation that has not been made.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization" type="nc:OrganizationType">
    <xs:annotation>
      <xs:documentation>A unit which conducts some sort of business or operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OrganizationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the eyes of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the height of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a location where that person lives.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSex" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a person based on a state-issued ID card.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonWeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the weight of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOf" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete reference for a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
