shared/ojb-resources-common/src/main/resources/service-specifications/Court_Case_Filing_Service/artifacts/service_model/information_model/Court_Case_Filing_IEPD/xsd/Subset/niem/domains/jxdm/4.1/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:ansi_d20="http://niem.gov/niem/ansi_d20/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../ansi_d20/2.0/ansi_d20.xsd" namespace="http://niem.gov/niem/ansi_d20/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.1/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.1"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ArrestType">
    <xsd:annotation>
      <xsd:documentation>A data type for the apprehension of a subject by a peace official.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ArrestAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestProbableCauseText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a case.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseDefendantParty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseDomesticViolenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseInitiatingParty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseJudge" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CaseProsecutionAttorney" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for an official's involvement in a case.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="JudicialOfficialType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:JudicialOfficialType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:CaseType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="CaseType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:CaseType">
        <xsd:sequence>
          <xsd:element ref="j:CaseAugmentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeApplicabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeSeverityLevel" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeSeverityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CourtCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person involved in the enforcement of law.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JudicialOfficialBarMembershipType">
    <xsd:annotation>
      <xsd:documentation>A data type for a legal capacity in which a judicial official is able to practice law.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:JudicialOfficialBarIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JudicialOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person involved in a judicial area of government.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:JudicialOfficialBarMembership" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:JudicialOfficialCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element ref="j:PersonAugmentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SeverityLevelType">
    <xsd:annotation>
      <xsd:documentation>A data type for a sentencing guideline severity level assigned to a charge by a judge or supervising agency.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:SeverityLevelDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Arrest" type="j:ArrestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about the apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestAgency" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An agency which employs the arresting official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A records management system number of the originating case agency for an arrest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A peace official who makes an arrest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestProbableCauseText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An observed or reported violation of a law or ordinance, which can be a sufficient cause to arrest a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Case" type="j:CaseType" substitutionGroup="nc:Case" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Applied augmentation for type nc:CaseType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a case.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="CaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A charge or accusation a person is being tried for in a court of law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A court of law in which the case is being tried.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseDefendantParty" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity being charged or sued in a court of law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseDomesticViolenceIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if the case involves domestic violence; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseInitiatingParty" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity that brings charges or a suit against another in a court of law. Can be either a victim in a criminal case or a plaintiff in a civil case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseJudge" type="j:CaseOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A judicial official assigned to a case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseOfficial" type="j:CaseOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a justice official's involvement in a court case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseProsecutionAttorney" type="j:CaseOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An attorney who prosecutes a case.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeApplicabilityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A degree of involvement a person is being charged with committing in an offense.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a charge was filed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeSequenceID" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A sequentially assigned number for charge tracking purposes.. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeSeverityLevel" type="j:SeverityLevelType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A severity level of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeSeverityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A level of severity of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The text of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtCategoryCode" type="ansi_d20:CourtCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a unit of a court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier used to refer to an enforcement official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JudicialOfficial" type="j:JudicialOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person involved in a judicial area of government.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JudicialOfficialBarIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier assigned to a judicial official after meeting the requirement to practice law in a region.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JudicialOfficialBarMembership" type="j:JudicialOfficialBarMembershipType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a legal capacity in which a judicial official is able to practice law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JudicialOfficialCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of judicial official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="j:PersonType" substitutionGroup="nc:Person" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Person"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SeverityLevelDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A narrative account of a severity level assigned to a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a set of laws for a particular jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a section or category within a code book.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a statute.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
