shared/ojb-resources-common/src/main/resources/ssp/Criminal_History_Update_Reporting/artifacts/service_model/information_model/IEPD/xsd/Subset/niem/codes/fbi_ncic/3.0/fbi_ncic.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd http://release.niem.gov/niem/localTerminology/3.0/ ../../../localTerminology/3.0/localTerminology.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>FBI code lists for the National Crime and Information Center (NCIC-2000).\nSource: FBI Crminal Justice Information Systems (CJIS) Division; \nPublication: leo.gov database; \nhttps://www.leo.gov</xs:documentation>
    <xs:appinfo>
      <term:LocalTerm term="MNU" literal="(person identifier) Miscellaneous Number"/>
      <term:LocalTerm term="PCO" literal="Protection Order Condition"/>
      <term:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <term:LocalTerm term="BRA" literal="Boat Brand Name"/>
      <term:LocalTerm term="RMI" literal="Ransom Money Indicator"/>
      <term:LocalTerm term="CDA" literal="Manner and Cause of Death"/>
      <term:LocalTerm term="VMA" literal="Vehicle Make"/>
      <term:LocalTerm term="RES" literal="Registration State"/>
      <term:LocalTerm term="PCS" literal="(Fingerprint) Pattern Code Source"/>
      <term:LocalTerm term="BLT" literal="Blood Type"/>
      <term:LocalTerm term="EXL" literal="Extradition Limitation"/>
      <term:LocalTerm term="EPD" literal="(Boat) Engine Power or Displacement"/>
      <term:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <term:LocalTerm term="MPC" literal="Missing Person Circumstances"/>
      <term:LocalTerm term="CMC" literal="Caution and Medical Conditions"/>
      <term:LocalTerm term="PRO" literal="(Boat) Propulsion"/>
      <term:LocalTerm term="VCO" literal="Vehicle Color"/>
      <term:LocalTerm term="BXR" literal="Body X-Rays Available"/>
      <term:LocalTerm term="LIT" literal="License Plate Number"/>
      <term:LocalTerm term="ETN" literal="Ethnicity"/>
      <term:LocalTerm term="CTZ" literal="Citizenship"/>
      <term:LocalTerm term="ECR" literal="(Threat Group Member) Criteria for Entry"/>
      <term:LocalTerm term="PSC" literal="Physical Feature Sub Class"/>
      <term:LocalTerm term="LIS" literal="License Plate State"/>
      <term:LocalTerm term="VST" literal="Vehicle Style"/>
      <term:LocalTerm term="IFS" literal="Identification for Firearm Sales"/>
      <term:LocalTerm term="OLS" literal="Operator License State"/>
      <term:LocalTerm term="HAI" literal="Hair Color"/>
      <term:LocalTerm term="FPC" literal="Fingerprint Classification"/>
      <term:LocalTerm term="CAT" literal="(Vehicle/Boat Part) Category"/>
      <term:LocalTerm term="TYPA" literal="Article Type"/>
      <term:LocalTerm term="JWT" literal="Jewelry Type"/>
      <term:LocalTerm term="TYPD" literal="(Firearm) Type Description"/>
      <term:LocalTerm term="CAL" literal="(Firearm) Caliber"/>
      <term:LocalTerm term="SKN" literal="Skin Tone"/>
      <term:LocalTerm term="CRC" literal="Circumcision"/>
      <term:LocalTerm term="BCO" literal="Boat Color"/>
      <term:LocalTerm term="BPS" literal="Body Parts Status"/>
      <term:LocalTerm term="COL" literal="(Physical Feature) Color"/>
      <term:LocalTerm term="TYPS" literal="(Securities) Type"/>
      <term:LocalTerm term="MAK" literal="(Firearm) Make"/>
      <term:LocalTerm term="BTY" literal="Boat Type"/>
      <term:LocalTerm term="PCC" literal="Physical Feature Class"/>
      <term:LocalTerm term="RAC" literal="Race"/>
      <term:LocalTerm term="IMT" literal="Image Type"/>
      <term:LocalTerm term="HSP" literal="(Boat) Hull Shape"/>
      <term:LocalTerm term="EYE" literal="Eye Color"/>
      <term:LocalTerm term="FILE" literal="FILE fields"/>
      <term:LocalTerm term="BTMA" literal="Vehicle Make for Boat Trailer"/>
      <term:LocalTerm term="DCH" literal="Dental Characteristics"/>
      <term:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <term:LocalTerm term="SDT" literal="Security Date or Series Year"/>
      <term:LocalTerm term="HUL" literal="(Boat) Outer Hull Material"/>
      <term:LocalTerm term="MNP" literal="Missing Person"/>
      <term:LocalTerm term="POB" literal="Place of Birth"/>
      <term:LocalTerm term="BMA" literal="Boat Make"/>
      <term:LocalTerm term="SEX" literal="Gender"/>
      <term:LocalTerm term="DEN" literal="Denomination"/>
      <term:LocalTerm term="VMO" literal="Vehicle Model"/>
      <term:LocalTerm term="OFF" literal="Offense Code"/>
      <term:LocalTerm term="IDT" literal="Identity Theft Type"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../../../structures/3.0/structures.xsd"/>
  <xs:simpleType name="EYECodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Eye Color.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BLK">
        <xs:annotation>
          <xs:documentation>Black</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRN">
        <xs:annotation>
          <xs:documentation>Green</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRY">
        <xs:annotation>
          <xs:documentation>Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MUL">
        <xs:annotation>
          <xs:documentation>Multicolored</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNK">
        <xs:annotation>
          <xs:documentation>Pink</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLU">
        <xs:annotation>
          <xs:documentation>Blue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRO">
        <xs:annotation>
          <xs:documentation>Brown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HAZ">
        <xs:annotation>
          <xs:documentation>Hazel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MAR">
        <xs:annotation>
          <xs:documentation>Maroon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXX">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EYECodeType">
    <xs:annotation>
      <xs:documentation>A data type for Eye Color.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:EYECodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="HAICodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Hair Color.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BLK">
        <xs:annotation>
          <xs:documentation>Black</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRY">
        <xs:annotation>
          <xs:documentation>Gray or Partially Gray</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PLE">
        <xs:annotation>
          <xs:documentation>Purple</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXX">
        <xs:annotation>
          <xs:documentation>Unknown or Completely Bald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLN">
        <xs:annotation>
          <xs:documentation>Blond or Strawberry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRN">
        <xs:annotation>
          <xs:documentation>Green</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RED">
        <xs:annotation>
          <xs:documentation>Red or Auburn</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLU">
        <xs:annotation>
          <xs:documentation>Blue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ONG">
        <xs:annotation>
          <xs:documentation>Orange</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SDY">
        <xs:annotation>
          <xs:documentation>Sandy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLD">
        <xs:annotation>
          <xs:documentation>Bald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRO">
        <xs:annotation>
          <xs:documentation>Brown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNK">
        <xs:annotation>
          <xs:documentation>Pink</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WHI">
        <xs:annotation>
          <xs:documentation>White</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HAICodeType">
    <xs:annotation>
      <xs:documentation>A data type for Hair Color.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:HAICodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="RACCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Race.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:documentation>Black - a person having origins in any of the black racial groups of Africa.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>Asian or Pacific Islander - a person having origins in any of the original peoples of the Far East, Southeast Asia, the Indian subcontinent or the Pacific Islands.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:documentation>American Indian or Alaskan Native - a person having origins in any of the original peoples of the Americas and maintaining cultural identification through tribal affiliations or community recognition.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:documentation>White - a person having origins in any of the original peoples of Europe, North Africa, or Middle East.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RACCodeType">
    <xs:annotation>
      <xs:documentation>A data type for Race.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:RACCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SEXCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for Sex.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown - For Unidentified Only</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SEXCodeType">
    <xs:annotation>
      <xs:documentation>A data type for Sex.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ncic:SEXCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
