shared/ojb-resources-common/src/main/resources/service-specifications/Incident_Repository_Recording_Service/artifacts/service_model/information_model/Incident_Report_IEPD/xsd/ndexia/niem-constrained_backup/domains/jxdm/4.0/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2015 Open Justice Broker Consortium

-->
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.0" version="1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:nonauth="http://niem.gov/niem/nonauthoritative-code/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:ucr="http://niem.gov/niem/ucr/2.0" xmlns:itis="http://niem.gov/niem/itis/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../itis/2.0/itis.xsd" namespace="http://niem.gov/niem/itis/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../nonauthoritative-code/2.0/nonauthoritative-code.xsd" namespace="http://niem.gov/niem/nonauthoritative-code/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../ucr/2.0/ucr.xsd" namespace="http://niem.gov/niem/ucr/2.0"/>
  <xsd:complexType name="ArrestType">
    <xsd:annotation>
      <xsd:documentation>A data type for the apprehension of a subject by a peace official.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ArrestCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtOrderType">
    <xsd:annotation>
      <xsd:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person involved in the enforcement of law.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementOfficialActivityCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:EnforcementOfficialAssignmentCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:LEOKACircumstanceCategoryCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementUnitType">
    <xsd:annotation>
      <xsd:documentation>A data type for a unit of an agency responsible for enforcing the law and maintaining peace.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementUnitBeatIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitNumberIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitSectionIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ForceType">
    <xsd:annotation>
      <xsd:documentation>A data type for details of a force used, whether physical or aided by a tool or weapon.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ForceCategory" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:IncidentEvidenceHeldIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentExceptionalClearance" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentExceptionalClearanceDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:IncidentLightingCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentFactorType">
    <xsd:annotation>
      <xsd:documentation>A data type for a factor involved that has an effect on an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:IncidentFactorValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LEOKACircumstanceCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type that identifies the LEOKA (Law Enforcement Officer Killed or Assaulted) classification of an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Officer Killed feloniously</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Officer Killed - Accidentally/Negligently</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Officer assaulted - no injury</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Officer assaulted - minor injury</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Officer assaulted - serious injury</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LEOKACircumstanceCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type that identifies the LEOKA (Law Enforcement Officer Killed or Assaulted) classification of an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="j:LEOKACircumstanceCategoryCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassagePointType">
    <xsd:annotation>
      <xsd:documentation>A data type for a point of entry or a point of exit to a location or structure.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:PassagePointMethod" minOccurs="0" maxOccurs="2"/>
          <xsd:element ref="j:PassagePointSecurityCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PassagePointText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:PersonConcealedFirearmPermitHolderIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonDentalXRayAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a name of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:attribute ref="j:personNameCategoryCode" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RegisteredOffenderType">
    <xsd:annotation>
      <xsd:documentation>A data type for information about a person who is required to register information with a law enforcement agency due to having been convicted of a certain type of crime.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceCallType">
    <xsd:annotation>
      <xsd:documentation>A data type for a call for service received from a person alerting an authority of a situation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ServiceCallClearanceText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ServiceCallDispatchedDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ServiceCallMechanismText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who is involved or suspected of being involved in an incident or criminal activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VictimType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:VictimInjury" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:VictimCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:VictimJustifiableHomicideFactorCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WarrantType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:CourtOrderType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WitnessType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who has observed an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="personNameCategoryCode" type="nonauth:PersonNameCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A kind of name for a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:element name="Arrest" type="j:ArrestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about the apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestCategoryCode" type="fbi:ArrestCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of arrest that occurred.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestSequenceID" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A sequential number assigned to the arrest of a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is arrested.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestSubjectCountCode" type="fbi:MultipleArresteeSegmentsCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An indication of whether or not to count or score an arrested subject in a system to avoid duplicate counts in the event that the subject may be a part of multiple arrests.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BailSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is assigned bail.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BookingSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is booked.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person accused of committing a specific offense.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeUCRCode" type="ucr:OffenseCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An offense within the Uniform Crime Report (UCR) system.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CitationSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who violates a law and receives a citation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConvictionSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who was found guilty of a crime.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderDesignatedSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person to which a court order applies. The subject could be a Protected Party, the recipient of a Summons or Subpoena, the subject of a Warrant, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CustodyTransferSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is being transferred from one custody to another.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DNACollectionStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>The status on the DNA collection from a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:DNACollectionStatus" name="DNACollectionStatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status on the DNA collection from a subject.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DNACollectionStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person involved in the enforcement of law.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialActivityCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of activity or circumstance in which an enforcement official was engaged.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:EnforcementOfficialActivityCategory" name="EnforcementOfficialActivityCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The kind of activity or circumstance in which an enforcement official was engaged.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialActivityCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialAssignmentCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of assignment of an enforcement official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:EnforcementOfficialAssignmentCategory" name="EnforcementOfficialAssignmentCategoryCode" type="fbi:LEOKAOfficerAssignmentCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of assignment of an enforcement official.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialAssignmentCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:EnforcementOfficialAssignmentCategory" name="EnforcementOfficialAssignmentCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of assignment of an enforcement official.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EnforcementOfficialAssignmentCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementUnit" type="j:EnforcementUnitType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a unit of an agency responsible for enforcing the law and maintaining peace.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementUnitBeatIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A local area for which an enforcement unit is responsible.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementUnitIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of an enforcement unit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementUnitNumberIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies an enforcement unit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementUnitSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A section of an enforcement unit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EvidenceReceiptIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier for a receipt issued for collection, analysis, and movement of Evidence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ForceCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of force used, which may be physical or aided by a weapon or tool.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:ForceCategory" name="ForceCategoryCode" type="fbi:ForceCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of force used.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ForceCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:ForceCategory" name="ForceCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of force used, which may be physical or aided by a weapon or tool.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ForceCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ForceSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who used force against another.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionNCICLISCode" type="fbi:LISCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionNCICRESCode" type="fbi:RESCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentAugmentation" type="j:IncidentAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IncidentType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentEvidenceHeldIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if evidence was held due to this incident; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentExceptionalClearance" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A reason why an incident has been cleared exceptionally.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:IncidentExceptionalClearance" name="IncidentExceptionalClearanceCode" type="fbi:IncidentExceptionalClearanceCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reason why an incident has been cleared exceptionally.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IncidentExceptionalClearance"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentExceptionalClearanceDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date an incident was cleared exceptionally.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentFactor" type="j:IncidentFactorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a factor involved that has an effect on an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:IncidentFactorValue" name="IncidentFactorCode" type="fbi:IncidentFactorCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A circumstance of factor in an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IncidentFactorValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:IncidentFactorValue" name="IncidentFactorText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A circumstance or factor in an incident.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IncidentFactorValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentFactorValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A circumstance or factor in an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentForce" type="j:ForceType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a force used in an incident, whether physical or aided by a tool or weapon.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentLightingCode" type="itis:LightingCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An indication of the lighting conditions at the time of an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentStructuresEnteredQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number of structures or premises entered by the subject during an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person whose actions caused an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentVictim" type="j:VictimType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person that was negatively affected in an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentWitness" type="j:WitnessType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who observed or has knowledge of an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LEOKACircumstanceCategoryCode" type="j:LEOKACircumstanceCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A LEOKA (Law Enforcement Officer Killed or Assaulted) classification of an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique identifier assigned to a justice-related organization by the federal government.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePoint" type="j:PassagePointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a point of entry or exit to a location or structure.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePointMethod" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A method used to enter or exit through a passage point.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:PassagePointMethod" name="PassagePointMethodCode" type="fbi:MethodOfEntryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A method used to enter or exit through a passage point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PassagePointMethod"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:PassagePointMethod" name="PassagePointMethodOfAccessCode" type="fbi:MethodOfAccessCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A method used to enter or exit through a passage point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PassagePointMethod"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePointSecurityCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of security system or mechanism installed at a point of entry or exit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassagePointText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A point of entry or exit to a location or structure.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonConcealedFirearmPermitHolderIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person has a permit for a concealed firearm or gun; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonDentalXRayAvailableIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicates whether dental photos or models are available with a record.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A file control number (FCN) that is often used to link a NCIC record to a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameAugmentation" type="j:PersonNameAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a name of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonNameType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRegisteredOffenderIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is required to register as an offender; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RansomMoneyCode" type="fbi:RMICodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of ransom money.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RegisteredOffender" type="j:RegisteredOffenderType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a person that is required to register their residential information with a local law enforcement agency due to having been convicted of a certain kind of crime.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SentenceSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is being sentenced.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceCall" type="j:ServiceCallType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a call for service received from a person alerting an authority of a situation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceCallClearanceText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description that identifies the incident conditions or status when a response unit cleared or left the scene designated by a call for service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceCallDispatchedDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a service call was received by a dispatcher.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceCallMechanismText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A way in which a call for service is received.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Statute" type="j:StatuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a unique identifier of a law, rule, or ordinance within a jurisdiction. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a set of laws for a particular jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a statute.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Subject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who is involved or suspected of being involved in an incident or criminal activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectCautionInformationCode" type="fbi:CMCCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A piece of cautionary information about a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectCriminalOrganizationInvolvementCode" type="fbi:ECRCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A subject&apos;s involvement in a criminal organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Suspect" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person suspected of illegal activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VerdictSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who received a verdict.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimAggravatedAssaultHomicideFactorText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A circumstance of either an aggravated assault or homicide.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of victim an offense was committed against.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:VictimCategory" name="VictimCategoryCode" type="fbi:VictimCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of victim an offense was committed against.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="VictimCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="j:VictimCategory" name="VictimCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of victim an offense was committed against.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="VictimCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimEntity" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Details about an entity who suffers injury, loss, or death as a result of an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimInjury" type="nc:InjuryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about an injury received by a victim due to an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VictimJustifiableHomicideFactorCode" type="fbi:JustifiableHomicideFactorsCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A circumstance of a justifiable homicide.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Witness" type="j:WitnessType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a person who has observed an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
