shared/ojb-resources-common/src/main/resources/service-specifications/Arrest_Query_Results_Service/artifacts/service_model/information_model/Arrest_Report_IEPD/xsd/Subset/niem/domains/jxdm/4.0/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ActivityCaseAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ActivityCourtAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ActivityIncidentAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ActivityWitnessAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="j:WitnessReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrestType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ArrestAgency" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:ArrestCharge" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ArrestSubject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ArrestWarrant" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:Booking" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BailType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:BailPostedAmount" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:BailPostedBond" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:BailSetAmount" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:BailSetCourt" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BondType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:BondSuretyName" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BookingTelephoneCallType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:BookingTelephoneCallDate" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:BookingTelephoneCallSupervisingOfficial" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BookingType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:BookingDocumentControlIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingEmployee" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingRelease" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingSearchOfficial" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingSeizedProperty" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingSubjectCustodyTransfer" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingTelephoneCall" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:BookingTransportOfficial" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeDispositionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DispositionType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DispositionType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeApplicabilityText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeFilerEntity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeNarrative" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeSeverityText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeStatute" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:ChargeUCRCrimeCategoryText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtOrderType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtDivisionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustodyTransferType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:CustodyTransferProperty" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:CustodyTransferReceivingEnforcementOfficial" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrivingIncidentType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IncidentType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:IncidentType">
        <xsd:sequence>
          <xsd:element ref="j:DrivingIncidentCMV" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:DrivingIncidentHazMat" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementOfficialType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementOfficialUnit" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnforcementUnitType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:EnforcementUnitName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:EnforcementUnitSectionIdentification" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:IncidentAssistingOfficial" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:IncidentReportingOfficial" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeSectionIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:StatuteDescriptionText" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VictimType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ViolatedStatuteAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteReference" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WarrantType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:CourtOrderType">
        <xsd:sequence>
          <xsd:element ref="j:WarrantAppearanceBail" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WitnessType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityCaseAssociation" type="j:ActivityCaseAssociationType" nillable="true"/>
  <xsd:element name="ActivityCourtAssociation" type="j:ActivityCourtAssociationType" nillable="true"/>
  <xsd:element name="ActivityIncidentAssociation" type="j:ActivityIncidentAssociationType" nillable="true"/>
  <xsd:element name="ActivityInformationReporterAssociation" type="nc:ActivityPersonAssociationType" nillable="true"/>
  <xsd:element name="ActivityWitnessAssociation" type="j:ActivityWitnessAssociationType" nillable="true"/>
  <xsd:element name="Arrest" type="j:ArrestType" nillable="true"/>
  <xsd:element name="ArrestAgency" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="ArrestArraignmentDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="ArrestBloodAlcoholContentNumberText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ArrestCharge" type="j:ChargeType" nillable="true"/>
  <xsd:element name="ArrestLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="ArrestProbableCauseText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ArrestSubject" type="j:SubjectType" nillable="true"/>
  <xsd:element name="ArrestSummonsIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="ArrestWarrant" type="j:WarrantType" nillable="true"/>
  <xsd:element name="BailPostedAmount" type="nc:AmountType" nillable="true"/>
  <xsd:element name="BailPostedBond" type="j:BondType" nillable="true"/>
  <xsd:element name="BailSetAmount" type="nc:AmountType" nillable="true"/>
  <xsd:element name="BailSetCourt" type="j:CourtType" nillable="true"/>
  <xsd:element name="BondSuretyName" type="nc:TextType" nillable="true"/>
  <xsd:element name="Booking" type="j:BookingType" nillable="true"/>
  <xsd:element name="BookingDocumentControlIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="BookingEmployee" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingRelease" type="nc:ReleaseType" nillable="true"/>
  <xsd:element name="BookingSearchOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingSeizedProperty" type="nc:PropertyType" nillable="true"/>
  <xsd:element name="BookingSubjectCustodyTransfer" type="j:CustodyTransferType" nillable="true"/>
  <xsd:element name="BookingTelephoneCall" type="j:BookingTelephoneCallType" nillable="true"/>
  <xsd:element name="BookingTelephoneCallDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="BookingTelephoneCallSupervisingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="BookingTransportOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="ChargeReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ChargeType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeApplicabilityText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true"/>
  <xsd:element name="ChargeFilerEntity" type="nc:EntityType" nillable="true"/>
  <xsd:element name="ChargeFilingDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ChargeNarrative" type="nc:DocumentType" nillable="true"/>
  <xsd:element name="ChargeSequenceID" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ChargeSeverityText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeStatute" type="j:StatuteType" nillable="true"/>
  <xsd:element name="ChargeUCRCrimeCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ChargeVictim" type="j:VictimType" nillable="true"/>
  <xsd:element name="CourtReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="CourtType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Court" type="j:CourtType" nillable="true"/>
  <xsd:element name="CourtDivisionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CustodyTransferProperty" type="nc:PropertyType" nillable="true"/>
  <xsd:element name="CustodyTransferReceivingEnforcementOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="DrivingIncident" type="j:DrivingIncidentType" nillable="true"/>
  <xsd:element name="DrivingIncidentCMV" abstract="true"/>
  <xsd:element name="DrivingIncidentCMVText" type="nc:TextType" substitutionGroup="j:DrivingIncidentCMV" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DrivingIncidentCMV"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingIncidentHazMat" abstract="true"/>
  <xsd:element name="DrivingIncidentHazMatText" type="nc:TextType" substitutionGroup="j:DrivingIncidentHazMat" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DrivingIncidentHazMat"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="EnforcementOfficialUnit" type="j:EnforcementUnitType" nillable="true"/>
  <xsd:element name="EnforcementUnitName" type="nc:TextType" nillable="true"/>
  <xsd:element name="EnforcementUnitSectionIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="IncidentAssistingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentReportingOfficial" type="j:EnforcementOfficialType" nillable="true"/>
  <xsd:element name="IncidentViolatedStatuteAssociation" type="j:ViolatedStatuteAssociationType" nillable="true"/>
  <xsd:element name="Offense" type="nc:IncidentType" nillable="true"/>
  <xsd:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonAFISIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonRegisteredOffenderIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="StatuteReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="StatuteType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Statute" type="j:StatuteType" nillable="true"/>
  <xsd:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="StatuteDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="WarrantAppearanceBail" type="j:BailType" nillable="true"/>
  <xsd:element name="WitnessReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="WitnessType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Witness" type="j:WitnessType" nillable="true"/>
</xsd:schema>
